.betting-orders {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    &-title {
      font-size: 16px;
      color: #000;
    }
    .balance-info {
      border: 2px solid #fff;
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 12px;
    transition: ease-in-out 0.3s;
    padding: 8px 12px;
    &-item {
      flex: 1;
      text-align: center;
      line-height: 28px;
      height: 30px;
      background: #fff;
      border-radius: 100px;
      margin: 0 4px;
      border: 1px solid @primary-color;
      > span {
        font-size: 12px;
        color: @primary-color;
      }
      &.active {
        background: @primary-color;
        > span {
          color: #fff;
        }
      }
    }
  }
  .single-bet,
  .duplex-parlay {
    position: relative;
    flex: 1;
    overflow: auto;
    .bet-tools {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .delelt-all {
        width: 24px;
        height: 24px;
        > .svg-icon {
          fill: #a3a3a3;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .num-text {
    font-size: 10px;
    font-weight: 400;
    color: #bb3537;
    margin-left: 16px;
  }
  .duplex-parlay {
    &-select {
      display: flex;
      align-items: center;
      height: 28px;
      border: 1px solid #9a9a9a;
      border-radius: 100px;
      justify-content: space-between;
      padding: 0 16px;
      margin: 12px 16px;
      > span {
        font-size: 14px;
        color: #9a9a9a;
      }
      .pull-down-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  .bet-footer {
    background-color: #fff;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    .error-range {
      position: absolute;
      right: 16px;
      top: 40px;
      font-size: 10px;
      color: #bb3537;
    }
    .sj {
      display: flex;
      flex-direction: column;
      padding: 6px 16px 0 16px;
      background-color: #f2f2f2;
      span {
        font-size: 12px;
        color: #000;
      }
      .canwin-amount {
        color: #bb3537;
      }
    }
    .bet-button {
      width: 100%;
      padding: 8px 16px;
      background-color: #f2f2f2;
      > button {
        color: #fff;
        height: 45px;
        font-size: 16px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: @primary-color;
        border-radius: 6px;
        border: none;
        width: 100%;
        &.diabled {
          opacity: 0.4;
        }
      }
    }
  }
  .van-checkbox__icon {
    font-size: 14px;
    height: 14px;
  }
  .ticket-same .van-icon {
    background-color: #bb3537;
    border-color: #bb3537;
  }
}
