.shopping-cart {
  position: fixed;
  z-index: 9;
  bottom: 20px;
  right: 20px;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  background-color: @primary-color;
  background-image: url('../assets/cart.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  .order-count {
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: red;
    position: absolute;
    transition: ease-in-out 0.1s;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5px;
    > i {
      width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 100px;
      background-color: red;
    }
    &::before {
      background-color: rgb(255, 0, 0);
    }
    &::after,
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -8px;
      margin-top: -8px;
      border-radius: 200px;
      animation: warn 1.5s ease-out 0s infinite;
    }
  }
  @keyframes warn {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }

    30% {
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
