.page {
  padding: 16px 0 60px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    width: 343px;
    height: 100px;
    background: linear-gradient(360deg, #373737 0%, #3a3a3a 100%);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 12px 12px 20px;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
  }
  .headerItem {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .labelTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  .content {
    display: flex;
    align-items: center;
  }
  .contentBet {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
  .resultIcon {
    height: 18px;
    width: 18px;
  }
  .titleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 0 16px;
    border-bottom: 1px solid #f2f2f2;
  }
  .titleText {
    font-size: 16px;
    font-weight: 500;
  }
  .betText {
    font-size: 14px;
    color: #9a9a9a;
    line-height: 16px;
  }
  .betNum {
    margin: 0 2px;
  }
  .betBox {
    flex: 1;
    overflow: auto;
    background-color: #f2f2f2;
  }
  .betBoxInner {
    display: flex;
    flex-direction: column;
  }
  .betItemBox {
    display: flex;
    padding: 16px;
    background-color: #fff;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  .sportIcon {
    padding-top: 7px;
  }
  .betInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #000;
  }
  .betTop {
    display: flex;
    flex-direction: column;
  }
  .betTeam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    height: 32px;
    padding-left: 4px;
  }
  .odds {
    margin-left: 10px;
  }
  .type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
  }
  .oddTypeName {
    color: #9a9a9a;
  }
  .teamBox {
    margin-top: 4px;
  }
  .betBottom {
    margin-top: 20px;
  }
  .betAmountItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .betAmountLabel {
    font-size: 14px;
    line-height: 16px;
  }
  .betAmountText {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
  .betAmountDic {
    font-size: 12px;
    font-weight: 500;
    color: #9a9a9a;
  }
  .closeBtn {
    width: 343px;
    height: 48px;
    background: #009944;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    bottom: 18px;
    left: 16px;
  }
}
