.ticket-item {
  position: relative;
  border-bottom: 1px dashed #f2f2f2;
  &-info {
    flex: 1;
    display: flex;
    padding: 12px 16px 0 16px;
    .van-checkbox {
      align-items: flex-start;
    }
  }
  &-match {
    flex: 1;
    padding: 0 8px;
    .t-header {
      display: flex;
      align-items: center;
      .label {
        font-size: 14px;
        color: #000;
        font-weight: bold;
        padding: 0 8px;
        flex: 1;
      }
      .odd-val {
        font-size: 14px;
        color: #000;
        font-weight: bold;
        &.error {
          color: #bb3537;
        }
      }
    }
    .t-type,
    .t-teams {
      display: flex;
      padding: 8px 0;
      font-size: 12px;
    }
    .t-teams {
      .vs {
        font-size: 12px;
        margin: 0 8px;
        color: #9a9a9a;
        transform: scale(0.85);
      }
      .t-teams-home,
      .t-teams-away {
        font-size: 12px;
      }
    }
  }
  .sport-icon img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .delelt-it {
    width: 24px;
    height: 24px;
    > .svg-icon {
      fill: #a3a3a3;
      width: 24px;
      height: 24px;
    }
  }
}
