<template>
  <div class="msg-item" v-for="(item, index) in msgList" @click="onHandleReport(item)" :key="index + 'msg'">
    <!-- <span class="vip-label">
      <div>V{{ item.vip || '0' }}</div>
    </span> -->
    <template v-if="item.cmd === 'M04' || item.cmd === 'M02'">
      <div class="msg_header">
        <span class="msg_name">系统消息,</span>
        <span class="msg_time">{{ item.time }}</span>
      </div>
      <div>
        <span
          class="msg_msg"
          :class="{
            systemColor: item.msg.indexOf('您的发送频率太快了') !== -1 || item.msg.indexOf('才能发言') !== -1
          }"
          >{{ item.msg }}</span
        >
      </div>
    </template>
    <!-- 系统消息 禁言 -->
    <template v-if="item.cmd === 'R03'">
      <div class="msg_header">
        <span class="msg_name">系统消息,</span>
        <span class="msg_time">{{ toTime(item.time, 'HH:mm:ss') }}</span>
      </div>
      <div>
        <span class="msg_msg"> {{ secretNickname(item.nick) }}被禁言 </span>
        <!-- <span class="msg_msg" v-if="item.isMe"> 被禁言 </span>
        <span class="msg_msg" v-else>
          <span class="red-text">{{ secretNickname(item.nick) }}</span>
          被禁言
        </span> -->
      </div>
    </template>
    <!-- 普通消息 -->
    <template v-else-if="['M01', 'L03'].includes(item.cmd)">
      <div class="msg_header">
        <span class="msg_name">{{ secretNickname(item.nick) }},</span>
        <span class="msg_time">{{ toTime(item.createTimeL, 'HH:mm:ss') }}</span>
      </div>
      <div>
        <span class="msg_msg">{{ item.msg }}</span>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs, PropType } from 'vue';
import { MessageItem } from '@/hooks/useChat';
import { secretNickname } from '@/common/utils';
import { toTime } from '@/common/utils';

export default {
  name: 'MessageList',
  props: {
    msgList: {
      type: Array as PropType<MessageItem[]>,
      default: () => []
    }
  },
  emits: ['report'],
  setup(_props, { emit }) {
    const data = reactive({});
    const refData = toRefs(data);

    const onHandleReport = (item: MessageItem) => {
      if (item.cmd && ['M01', 'L03'].includes(item.cmd)) {
        emit('report', item);
      }
    };

    return {
      onHandleReport,
      secretNickname,
      toTime,
      ...refData
    };
  }
};
</script>
<style lang="less" scoped>
.msg-item {
  &.is-me {
    .msg_name,
    .msg_msg {
      color: #ff9400;
    }
  }
  .systemColor {
    color: #069b71 !important;
  }
  padding-bottom: 5px;
  .vip-label {
    vertical-align: top;
    > div {
      display: inline-block;
      font-size: 12px;
      line-height: normal;
      background: @gold;
      color: #fff;
      padding: 1px 4px;
      transform: scale(0.8);
      border-radius: 100px;
    }
  }
  .msg_header {
    padding: 5px 0;
    color: #666;
    font-size: 12px;
  }
  .msg_time {
    padding-left: 5px;
  }
  .msg_name {
    font-size: 12px;
  }
  .msg_msg {
    color: #666;
    border: 1px solid #dcdcdc;
    border-radius: 0 5px 5px 5px;
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 7px;
    font-size: 12px;
    display: inline-block;
    &.primary-text {
      color: #069b71;
    }
  }
}
.red-text {
  color: @red;
}
</style>
