<template>
  <div class="report-dialog">
    <h3>
      <span class="cancel" @click="cancel"><van-icon name="cross" class="close-btn" /></span>
      <span
        >举报 <span class="username"> {{ secretNickname(reportNick) }}</span></span
      >
      <span class="confirm" @click="confirm">确定</span>
    </h3>
    <div class="upSting_box">
      <div class="van-radio-group van-radio-group--vertical">
        <div class="van-cell-group">
          <div
            class="van-cell van-cell--borderless"
            :key="index + '+key_'"
            v-for="(item, index) in reportTypes"
            @click="setOptionType(item.code)"
          >
            <div class="van-cell__title">
              <span>{{ item.name }}</span>
            </div>
            <div role="radio" class="van-radio van-radio--vertical" tabindex="0" aria-checked="false">
              <div
                class="van-radio__icon van-radio__icon--round"
                :class="{ 'van-radio__icon--checked': checkedSetType === item.code }"
              >
                <i class="van-badge__wrapper van-icon van-icon-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs, PropType, onUnmounted } from 'vue';
import { ReportType } from '@/store/types';
import { secretNickname } from '@/common/utils';

export default {
  name: 'ReportDialog',
  props: {
    reportTypes: {
      type: Array as PropType<ReportType[]>,
      default: () => []
    },
    reportNick: {
      type: String,
      default: ''
    }
  },
  emits: ['type-change', 'cancel', 'confirm'],
  setup(_props, { emit }) {
    const data = reactive({
      checkedSetType: -1
    });
    const methods = {
      setOptionType: (v: number) => {
        if (data.checkedSetType === v) return;
        data.checkedSetType = v;
        emit('type-change', data.checkedSetType);
      },
      cancel: () => {
        emit('cancel');
      },
      confirm: () => {
        emit('confirm');
      }
    };
    const refData = toRefs(data);

    onUnmounted(() => {
      data.checkedSetType = -1;
    });

    return {
      secretNickname,
      ...refData,
      ...methods
    };
  }
};
</script>
<style lang="less" scoped>
.report-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    padding: 0 16px;
    font-size: @font-size-md;
    height: 46px;
    align-content: center;
    align-items: center;
    margin: 0;
    font-weight: normal;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: @primary-color;
    .username {
      padding-left: 3px;
      color: @red;
    }
    .cancel,
    .confirm {
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: left;
    }
    .confirm {
      text-align: right;
      color: @primary-color;
    }
  }
  span {
    color: @text-color;
    font-size: @font-size-md;
  }
  .van-cell-group {
    padding: 0 16px;
    .van-cell {
      height: 50px;
      padding-left: 0;
      padding-right: 0;
    }
    .van-cell--borderless {
      border-top: 1px solid @border-color;
    }
  }
}
</style>
