.EvetsStatistics {
  position: relative;
  display: flex;
  .EventVal {
    font-size: 12px;
    color: #9a9a9a;
    padding: 0 3px;
    font-family: 'number-font';
    font-weight: 100;
    &.Current {
      color: @red;
    }
  }
  .OtherSocerEvents {
    display: flex;
    align-items: center;
    :global {
      .svg-icon {
        width: 18px;
        height: 18px;
        fill: #000;
      }
    }
  }
}
