.related-match {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-header {
    position: sticky;
    top: 0px;
    z-index: 1; // flex失效
    padding: 8px 16px;
    background-color: #fff;
    > span {
      font-size: 16px;
      color: #000;
      display: block;
      text-align: center;
      padding: 8px 0;
    }
  }
  &-content {
    flex: 1;
    overflow: auto;
  }
}
