<template>
  <div class="home">
    <Header />
    <van-sticky :offset-top="0">
      <SportSort
        v-model:tabForm="data.marketPrams"
        @sort-change="sortChange"
        @shrink-all="onToggleExpand"
        :sportTypes="sportTypes"
      />
    </van-sticky>
    <van-pull-refresh class="game-bet-list" v-model="data.loading" @refresh="onRefresh" style="overflow: unset">
      <FinishedMatchList
        v-model:activeNames="activeMatchNames"
        v-if="data.marketPrams.isCompleted"
        :data="data.completedMatchs"
        :sportId="data.marketPrams.sportId"
      />
      <SportsBetList
        v-model:activeNames="activeMatchNames"
        :matchData="sportBetList"
        :periodId="data.marketPrams.periodId"
        :betType="data.marketPrams.betType"
        :isParlay="data.marketPrams.isParlay"
        @collect-match="collectMatch"
        v-else
      />
    </van-pull-refresh>
  </div>
</template>

<script lang="ts">
import {
  ref,
  computed,
  reactive,
  Ref,
  provide,
  onActivated,
  onDeactivated,
  onBeforeUnmount,
  watch,
  ComputedRef,
  defineAsyncComponent
} from 'vue';
import { useStore } from 'vuex';

import Header from './components/header/index.vue';
import SportSort from './components/sport-sort/index.vue';

import { pickValue, DATE_LIST } from '@/common/utils';
import { groupBy, intersection, isEmpty, union, map } from 'lodash-es';
import { FinishedMatchItem } from '@/services';
import { getShaBaResults } from '@/services/sb-api';
import { BetTypeList } from '@/common';

export default {
  name: 'HomePage',
  components: {
    Header,
    SportSort,
    SportsBetList: defineAsyncComponent(() => import('./components/sports-bet-item/index.vue')),
    FinishedMatchList: defineAsyncComponent(() => import('./components/sports-bet-item/finished-match-list.vue'))
  },
  setup() {
    const store = useStore();
    const data = reactive({
      marketPrams: {
        sportId: undefined,
        periodId: 3,
        selectDate: 0,
        switchTypeKey: 'league',
        leagueIds: '', // 联赛名集合
        eventIds: '', // 赛事ID集合
        isCompleted: false, // 是否完场数据
        betType: BetTypeList[0].value,
        isParlay: false, // 是否串关数据
        betTypeIds: '1,2,3,5,20,473,501'
      },
      loading: false,
      completedMatchs: new Array<{
        LeagueId: number;
        LeagueName: string;
        matches: FinishedMatchItem[];
      }>() // 已完比赛
    });

    const timerLit: Ref<any[]> = ref([]);

    // 投注赛事列表
    const sportBetList = computed(() => store.getters.sportMatchList);

    // 展开的列表
    const activeMatchNames: Ref<number[]> = ref([]);
    // 是否收起全部
    const isShrinkAll = ref(false);

    const sportTypes = computed(() => store.state.sports.sportInfo);

    const matchLeagueIds: ComputedRef<number[]> = computed(() => {
      const datas = data.marketPrams.isCompleted ? data.completedMatchs : sportBetList.value;
      return datas.map((d: { LeagueId: number }) => d.LeagueId);
    });
    watch(matchLeagueIds, newVal => {
      // 处理有展开的情况
      if (!isShrinkAll.value) {
        activeMatchNames.value = union(intersection(activeMatchNames.value, newVal), newVal);
      }
      // console.log(newVal, oldVal);
      // 联赛列表有变化
      // [1,2,3,4] --> [2,3,4,5] 剔除1
      // 交集
      // without(oldVal)
    });

    const methods = {
      collectMatch: () => {
        // 关注列表
        if (data.marketPrams.periodId === -1) {
          const curr = sportTypes.value.find(e => e.sportId === data.marketPrams.sportId);
          if (curr) {
            // setTimeout(() => {
            if (isEmpty(curr.followdEventIds)) {
              // sportBetList.value = [];
              store.commit('SET_SPORT_BET_LIST', []);
            } else {
              data.marketPrams.eventIds = curr.followdEventIds.join(',');
              methods.onRefresh();
            }
            // });
          }
        }
      },
      // 获取完场数据
      getCompletedMatchs: async () => {
        const [isSuccess, res] = await getShaBaResults({
          gameId: data.marketPrams.sportId, //sportTypes.value,
          startTime: DATE_LIST[0].value.startTime,
          endTime: DATE_LIST[0].value.endTime
        });
        if (isSuccess) {
          const formatData = groupBy(res.resultsInfo, 'leagueId');
          // 数据分组
          const newArray = map(formatData, (v: { leagueName: any }[], k: any) => {
            return {
              LeagueId: Number(k),
              LeagueName: v[0].leagueName,
              matches: v
            };
          });
          data.completedMatchs = newArray as any;
        }
      },
      // 下拉刷新
      onRefresh: async () => {
        try {
          await methods.onTabRefresh({ immediate: true });
          if (data.marketPrams.isCompleted) {
            data.loading = true;
            await methods.getCompletedMatchs();
          }
        } catch (error) {
          data.loading = false;
          throw error;
        }
        data.loading = false;
      },
      // sort参数切换刷新
      sortChange: async ({ isCompleted }: { isCompleted: boolean } = { isCompleted: false }) => {
        data.loading = true;
        await methods.onRefresh();
        await methods.onToggleExpand(isShrinkAll.value);
        if (isCompleted) {
          await methods.getCompletedMatchs();
        }
      },
      // tab更改刷新
      onTabRefresh: async ({ immediate }: { immediate: boolean } = { immediate: false }) => {
        const isLive = data.marketPrams.periodId === 3;
        const interval = isLive ? 6 * 1000 : 60 * 1000;
        try {
          await store.dispatch('GET_SPORT_BET_LIST', data.marketPrams);
        } catch (error) {
          console.error(error);
        }
        if (timerLit.value[0] || immediate) {
          clearTimeout(timerLit.value[0]);
          timerLit.value[0] = null;
        }
        timerLit.value[0] = setTimeout(() => {
          methods.onTabRefresh();
        }, interval);
      },
      // 刷新分类
      onRefreshCategory: async ({ immediate }: { immediate: boolean } = { immediate: false }) => {
        const timerObj = setTimeout(() => {
          methods.onRefreshCategory();
        }, 15 * 1000);
        if (immediate) {
          clearTimeout(timerLit.value[1]);
          timerLit.value[1] = null;
        }
        const list = await store.dispatch('GET_SPORTS_EVENT_SUMMARY');
        timerLit.value[1] = timerObj;
        return list;
      },
      /**
       * 展开/收起所有投注条目
       * @param shrink 是true否false收起全部
       */
      onToggleExpand: async (shrink: boolean) => {
        isShrinkAll.value = shrink;
        activeMatchNames.value = shrink ? [] : matchLeagueIds.value;
      },
      // 初始化页面
      initPage: async () => {
        const sportsCategorList = await methods.onRefreshCategory({ immediate: true });
        if (!data.marketPrams.sportId) {
          data.marketPrams.sportId = await pickValue(sportsCategorList[0], 'sportId');
        }
        // await methods.onTabRefresh({ immediate: true });
        // await methods.onToggleExpand(isShrinkAll.value);
        Promise.all([methods.onTabRefresh({ immediate: true }), methods.onToggleExpand(isShrinkAll.value)]);
      },
      // 清除定时器
      cleatTimer: () => {
        clearTimeout(timerLit.value[0]);
        clearTimeout(timerLit.value[1]);
        timerLit.value = [];
      }
    };

    // 缓存组件周期-激活
    onActivated(async () => {
      await methods.initPage();
      document.body.style.setProperty('height', 'auto');
    });

    onDeactivated(methods.cleatTimer);
    onBeforeUnmount(methods.cleatTimer);

    provide('marketPrams', data.marketPrams);

    return { sportTypes, isShrinkAll, sportBetList, data, ...methods, activeMatchNames };
  }
};
</script>

<style lang="less" scoped>
.home::-webkit-scrollbar {
  display: none;
}
.home {
  background-color: @background-color;
  font-size: 12px;
  padding-bottom: 50px;
  min-height: var(--100vh);
  box-sizing: border-box;
  .game-notice {
    font-size: 12px;
    height: 30px;
    &-text,
    &-icon {
      display: inline-block;
      vertical-align: middle;
    }
    &-text {
      font-size: 12px;
      padding-left: 2px;
    }
  }

  .game-bet-list {
    box-sizing: border-box;
    // min-height: calc(100vh);
  }
}
</style>
