<template>
  <div class="team-preview">
    <div class="team">
      <div class="team-name" :style="[textcolor ? 'color:#0d0d0d' : '']">
        <span style="text-align: right">{{ teamInfo.homeName || '--' }}</span>
        <div class="cards home-team" v-if="Number(teamInfo.sportType) === 1 && showEvent">
          <span class="card red" v-if="teamInfo.RedCardH">{{ teamInfo.RedCardH }}</span>
          <span class="card yellow" v-if="teamInfo.YellowCardH">{{ teamInfo.YellowCardH }}</span>
        </div>
      </div>
      <team-logo :sportId="teamInfo.sportType" size="xxl" :teamName="teamInfo.homeName" />
    </div>
    <div class="team-score" v-if="showScore">
      <span :class="{ 'is-hight': teamInfo.homeScore > teamInfo.guestScore }">{{ teamInfo.homeScore || '0' }}</span>
      -
      <span :class="{ 'is-hight': teamInfo.guestScore > teamInfo.homeScore }">{{ teamInfo.guestScore || '0' }}</span>
    </div>
    <span class="team-vs" v-else-if="!showScore && !textcolor">VS</span>
    <span class="team-vs-icon" v-else></span>
    <div class="team">
      <team-logo :sportId="teamInfo.sportType" size="xxl" :teamName="teamInfo.guestName" />
      <div class="team-name" :style="[textcolor ? 'color:#0d0d0d' : '']" style="text-align: left">
        <span>{{ teamInfo.guestName || '--' }}</span>
        <div class="cards away-team" v-if="Number(teamInfo.sportType) === 1 && showEvent">
          <span class="card red" v-if="teamInfo.RedCardA">{{ teamInfo.RedCardA }}</span>
          <span class="card yellow" v-if="teamInfo.YellowCardA">{{ teamInfo.YellowCardA }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType } from 'vue';
import { TeamInfoComp } from '@/services';

export default {
  name: '赛队信息',
  props: {
    textcolor: {
      type: Boolean,
      default: () => false
    },
    teamInfo: {
      type: Object as PropType<TeamInfoComp>,
      default: () => {}
    },
    showScore: {
      type: Boolean,
      default: false
    },
    showEvent: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="less" scoped>
.team-preview {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  .team-vs,
  .team-score {
    margin: 0 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #ffd7a2;
  }
  .team-vs-icon {
    width: 35px;
    height: 35px;
    margin: 0px 10px;
    background-image: url('~@/assets/real-time/duijue.png');
    background-size: 100% 100%;
  }
  .team-score {
    color: #fff;
    .is-hight {
      color: #885535 !important;
    }
  }
  .team {
    display: flex;
    font-family: 'PingFangSC-Medium';
    align-items: center;
    &-name {
      margin: 0 4px;
      width: 110px;
      position: relative;
      > span {
        font-weight: 600;
        font-size: @font-size-md;
        color: #fff;
        line-height: 1;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.cards {
  height: 14px;
  overflow: hidden;
  position: absolute;
  &.home-team {
    right: 0;
    top: 0;
    transform: translateY(20px);
  }
  &.away-team {
    left: 0;
    top: 0;
    transform: translateY(20px);
  }
  .card {
    height: 100%;
    overflow: hidden;
    line-height: 14px;
    padding: 0 2px;
    text-align: center;
    font-size: @font-size-xs;
    display: inline-block;
    margin: 0 2px;
    border-radius: 2px;
    // color: @white;
    color: #fff;
    &.red {
      background-color: @red;
    }
    &.yellow {
      background-color: #ebba40;
    }
  }
}
</style>

<style>
.sport-header .van-nav-bar__title {
  overflow: unset !important;
}
</style>
