<template>
  <div class="fnexi_box">
    <div class="top_table">
      <table width="100%" cellpadding="20" cellspacing="0" align="center">
        <tr class="table_top">
          <th width="100px" align="left">
            <span class="frist-color"
              ><prefix-text>{{ t('lang.sport_details_teamRanking') }}</prefix-text></span
            >
          </th>
          <th class="last-color">{{ t('lang.sport_common_race') }}</th>
          <th class="last-color">{{ t('lang.sport_common_winDrawLost') }}</th>
          <th class="last-color">{{ t('lang.sport_details_goals') }}/{{ t('lang.sport_details_loses') }}</th>
          <th class="last-color">{{ t('lang.sport_common_netShot') }}</th>
          <th class="last-color">{{ t('lang.sport_details_ranking') }}</th>
        </tr>
        <tr class="table_content" v-if="homeLeagueJF" align="center">
          <td class="table-content-logo">
            <AvatarCmt
              :nametitle="matchInfo.HomeName"
              :teamId="matchInfo.HomeID"
              :sportId="sportType"
              :dividerShow="false"
            />
          </td>
          <td>{{ homeLeagueJF.scheNum }}</td>
          <td>{{ homeLeagueJF.win }}/{{ homeLeagueJF.stand }}/{{ homeLeagueJF.fail }}</td>
          <td>{{ homeLeagueJF.score }}/{{ homeLeagueJF.loss }}</td>
          <td>{{ homeLeagueJF.clean }}</td>
          <td>{{ homeLeagueJF.order }}</td>
        </tr>
        <tr class="table_content" v-if="guestLeagueJF" align="center">
          <td class="table-content-logo">
            <AvatarCmt
              :nametitle="matchInfo.AwayName"
              :teamId="matchInfo.AwayID"
              :sportId="sportType"
              :dividerShow="false"
            />
          </td>
          <td>{{ guestLeagueJF.scheNum }}</td>
          <td>{{ guestLeagueJF.win }}/{{ guestLeagueJF.stand }}/{{ analylist.leagueJF?.guest.total.fail }}</td>
          <td>{{ guestLeagueJF.score }}/{{ guestLeagueJF.loss }}</td>
          <td>{{ guestLeagueJF.clean }}</td>
          <td>{{ guestLeagueJF.order }}</td>
        </tr>
      </table>
      <div v-if="isEmpty(homeLeagueJF) && isEmpty(guestLeagueJF)" class="Empty_box">
        {{ t('lang.sport_common_noRank') }}
      </div>
    </div>
    <div class="content_one">
      <h4>
        <prefix-text>{{ t('lang.sport_details_goalDistribution') }}</prefix-text>
      </h4>
      <div class="comme_box" v-if="!isEmpty(analylist.goalDist)">
        <div class="comme_top">
          <AvatarCmt :nametitle="matchInfo.HomeName" :teamId="matchInfo.HomeID" :sportId="sportType" />
          <AvatarCmt :nametitle="matchInfo.AwayName" :teamId="matchInfo.AwayID" :sportId="sportType" :flexRver="true" />
        </div>
        <ScoreCmt :goalDist="analylist.goalDist" />
      </div>
      <van-empty class="empty-box" v-else :description="t('lang.sport_common_noFormation')">
        <template #image>
          <svg-icon class="revenge" name="no_data" />
        </template>
      </van-empty>
    </div>
    <div class="content_one">
      <h4>
        <prefix-text>{{ t('lang.sport_details_historicalConfrontation') }}</prefix-text>
      </h4>
      <div class="comme_box" v-if="!isEmpty(analylist.hisMatch)">
        <div class="comme_top">
          <AvatarCmt
            :nametitle="matchInfo.HomeName"
            :teamId="matchInfo.HomeID"
            :sportId="sportType"
            :dividerShow="false"
          />
          <span class="comme_box-tongji">
            近{{ sumArr(scheduleInfo) }}场{{ scheduleInfo[0] }}{{ t('lang.sport_details_win') }}{{ scheduleInfo[2]
            }}{{ t('lang.sport_details_lost') }}{{ scheduleInfo[1] }}{{ t('lang.sport_details_draw') }}
          </span>
        </div>
        <div v-for="(item, index) in analylist.hisMatch.scheduleInfo" :key="index">
          <div class="comme_content" v-if="index <= 4">
            <div class="lishi_content">
              <span class="time_text">{{ item.match_time }}</span>
              <div class="core_box">
                <div class="div_text left">
                  <span class="team_name">{{ item.home_team }}</span>
                  <team-logo :sportId="sportType" :teamId="item.home_team_id" size="xxl" :teamName="item.home_team" />
                </div>
                <div class="core_content">
                  <span>{{ item.home_score }}-{{ item.guest_score }}</span>
                </div>
                <div class="div_text">
                  <team-logo :sportId="sportType" size="xxl" :teamId="item.guest_team_id" :teamName="item.guest_team" />
                  <span class="team_name">{{ item.guest_team }}</span>
                </div>
              </div>
              <span :class="['span_x', filterscore(homeTeamName, item.home_team, item.guest_team, item).color]">
                <!-- {{item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输'}} -->
                {{ filterscore(homeTeamName, item.home_team, item.guest_team, item).Str }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <van-empty class="empty-box" v-else :description="t('lang.sport_common_cross')">
        <template #image>
          <svg-icon class="revenge" name="no_score" />
        </template>
      </van-empty>
    </div>
    <div class="content_one">
      <h4>
        <prefix-text
          >{{ t('lang.sport_details_battleRecords') }}
          <small>({{ t('lang.sport_details_recent5') }})</small></prefix-text
        >
      </h4>
      <div class="comme_box" v-if="IsAnalylist">
        <div class="comme_top">
          <AvatarCmt :nametitle="matchInfo.HomeName" :teamId="matchInfo.HomeID" :sportId="sportType" />
          <AvatarCmt :nametitle="matchInfo.AwayName" :teamId="matchInfo.AwayID" :sportId="sportType" :flexRver="true" />
        </div>
        <div class="duizhan_content">
          <div class="Echt_box">
            <span style="margintop: 10px">
              {{ homeScheduleInfo[0] }}{{ t('lang.sport_details_win') }}{{ homeScheduleInfo[1]
              }}{{ t('lang.sport_details_lost') }}{{ homeScheduleInfo[2] }}{{ t('lang.sport_details_draw') }}
            </span>
            <p>
              <span
                :class="[its == '赢' ? 'red' : its == '输' ? 'green' : 'hui']"
                v-for="(its, idx) in HomeText"
                :key="idx"
                >{{ its }}</span
              >
            </p>
            <EchartCmt id="left" :arrlist="homeScheduleInfo" />
          </div>
          <div class="Echt_box">
            <span style="margintop: 10px"
              >{{ guestScheduleInfo[0] }}{{ t('lang.sport_details_lost') }}{{ guestScheduleInfo[1]
              }}{{ t('lang.sport_details_lost') }}{{ guestScheduleInfo[2] }}{{ t('lang.sport_details_draw') }}</span
            >
            <p>
              <span
                :class="[its == '赢' ? 'red' : its == '输' ? 'green' : 'hui']"
                v-for="(its, idx) in guestText"
                :key="idx"
                >{{ its }}</span
              >
            </p>
            <EchartCmt id="right" :arrlist="guestScheduleInfo" />
          </div>
        </div>
        <div>
          <van-divider dashed>{{ t('lang.sport_details_battleDetails') }}</van-divider>
          <div class="comme_box" v-if="IsAnalylist">
            <div class="comme_top">
              <AvatarCmt
                :nametitle="matchInfo.HomeName"
                :teamId="matchInfo.HomeID"
                :sportId="sportType"
                :dividerShow="false"
              />
            </div>
            <div
              class="comme_content"
              v-for="(item, index) in analylist.lastMatch.homeScheduleInfo"
              :key="index + '_home'"
            >
              <div class="lishi_content" v-if="index < 5">
                <span class="time_text">{{ item.match_time }}</span>
                <div class="core_box">
                  <div class="div_text left">
                    <span class="team_name">{{ item.home_team }}</span>
                    <team-logo :sportId="sportType" :teamId="item.home_team_id" size="xxl" :teamName="item.home_team" />
                  </div>
                  <div class="core_content">
                    <span>{{ item.home_score }}-{{ item.guest_score }}</span>
                  </div>
                  <div class="div_text">
                    <team-logo
                      :sportId="sportType"
                      :teamId="item.guest_team_id"
                      size="xxl"
                      :teamName="item.guest_team"
                    />
                    <span class="team_name">{{ item.guest_team }}</span>
                  </div>
                </div>
                <span :class="['span_x', filterscore(homeTeamName, item.home_team, item.guest_team, item).color]">
                  <!-- {{item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输'}} -->
                  {{ filterscore(homeTeamName, item.home_team, item.guest_team, item).Str }}
                </span>
              </div>
            </div>
          </div>
          <div class="comme_box" v-if="IsAnalylist">
            <div class="comme_top">
              <AvatarCmt
                :nametitle="matchInfo.AwayName"
                :teamId="matchInfo.AwayID"
                :sportId="sportType"
                :dividerShow="false"
              />
            </div>
            <div
              class="comme_content"
              v-for="(item, index) in analylist.lastMatch.guestScheduleInfo"
              :key="index + '_away'"
            >
              <div class="lishi_content" v-if="index < 5">
                <span class="time_text">{{ item.match_time }}</span>
                <div class="core_box">
                  <div class="div_text left">
                    <span class="team_name">{{ item.guest_team }}</span>
                    <team-logo
                      :sportId="sportType"
                      :teamId="item.guest_team_id"
                      size="xxl"
                      :teamName="item.guest_team"
                    />
                  </div>
                  <div class="core_content">
                    <span>{{ item.guest_score }}-{{ item.home_score }}</span>
                  </div>

                  <div class="div_text">
                    <team-logo :sportId="sportType" :teamId="item.home_team_id" size="xxl" :teamName="item.home_team" />
                    <span class="team_name">{{ item.home_team }}</span>
                  </div>
                </div>
                <span :class="['span_x', filterscore(guestTeamName, item.home_team, item.guest_team, item).color]">
                  <!-- {{ item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输' }} -->
                  {{ filterscore(guestTeamName, item.home_team, item.guest_team, item).Str }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <van-empty class="empty-box" v-else :description="t('lang.sport_common_reconciliation')">
        <template #image>
          <svg-icon class="revenge" name="no_score" />
        </template>
      </van-empty>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import { Empty, Divider } from 'vant';
import { TeamLogo } from 'kg-mobile/compoents';
import AvatarCmt from './smallCMT/AvatarCmt.vue';
import ScoreCmt from './smallCMT/ScoreCmt.vue';
import EchartCmt from './smallCMT/EchartCmt.vue';
import PrefixText from './prefix-text';
import { useRangeData } from '@/hooks/useDetailData';

export default defineComponent({
  name: 'JBBsportRangeData',
  components: {
    TeamLogo,
    AvatarCmt,
    ScoreCmt,
    EchartCmt,
    PrefixText,
    VanEmpty: Empty,
    VanDivider: Divider
  },
  props: {
    analylist: {
      type: Object,
      default: () => {}
    }
  },
  setup(props) {
    const res = useRangeData(props);
    const { t } = useI18n();
    return { ...res, t };
  }
});
</script>

<style lang="less" scoped>
@text-color: #000;
@border-color: #f2f2f2;
.Score_box {
  margin: 10px;
}

.red {
  color: #ff0000;
}

.green {
  color: #009944;
}

.hui {
  color: #989898;
}

.redgrund {
  background: #ff0000;
}

.greengrund {
  background: #009944;
}

.huigrund {
  background: #989898;
}

.fnexi_box {
  .top_table {
    background: @white;
    border-radius: 20px;
    margin-top: 5px;
  }

  .content_one {
    width: 100vw;
    margin-top: 10px;
    background: @white;
    border-radius: 20px;

    h4 {
      color: @text-color;
      margin: 0;
      padding: 12px 16px;
      font-size: @font-size-md;
      border-bottom: 1px solid @border-color;
      margin-bottom: 12px;

      > small {
        color: @gray-5;
      }
    }
  }

  .duizhan_content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;

    .Echt_box {
      display: flex;
      width: 49%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5px;
      background: @background-color;
      border-radius: 20px;

      > span {
        color: @text-color;
      }
    }

    p {
      margin: 0px;
      margin-bottom: 5px;

      span {
        width: 20px;
        line-height: 20px;
        text-align: center;
        height: 20px;
        font-size: 12px;
        border-radius: 100px;
        box-sizing: border-box;
        display: inline-block;
        margin-right: 2px;
        background: rgba(200, 200, 200, 0.1);
        border: 1px solid #fff;
      }
    }

    .echarts-box {
      width: 45%;
      height: 220px;
      background: #ededed;
      border-radius: 20px;
    }
  }

  .comme_box {
    margin-bottom: 10px;
    padding-bottom: 10px;

    .comme_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 10px;

      &-tongji {
        color: @text-color;
      }
    }

    .comme_content {
      display: flex;
      justify-content: center;

      .lishi_content {
        position: relative;
        width: 90vw;
        height: 88px;
        border-radius: 20px;
        background: @background-color;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .time_text {
          margin-bottom: 8px;
          color: #7f7f7f;
        }

        .core_box {
          display: flex;
          width: 90%;
          justify-content: center;
          align-items: center;
          height: 40px;

          .core_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;

            span {
              font-size: 16px;
              font-weight: 600;
            }
          }

          .div_text {
            height: 50px;
            display: flex;
            flex: 1;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            text-align: center;

            .team_name {
              margin: 0 4px;
              max-width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.left {
              justify-content: flex-end;
            }
          }
        }

        .span_x {
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          transform: scale(0.85);
          color: white;
          font-size: 12px;
        }
      }
    }
  }

  .Empty_box {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626262;
    font-size: 14px;
  }

  .empty-box {
    width: 100%;
    height: 150px;

    .svg-icon {
      width: 100%;
      height: 60px;
    }

    .revenge {
      transform: rotate(180deg);
    }

    :deep(.van-empty__description) {
      margin-top: -10px;
    }
  }
}

table,
tr,
th,
td {
  padding: 10px 2px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(1) {
  border-bottom: 1px solid @border-color;
}

.frist-color {
  padding-left: 10px;
  font-size: 14px;
}

.last-color {
  color: #626262;
  font-weight: 200;
}

.table_content td {
  vertical-align: middle;
}

.table_content td:not(:first-child) {
  color: #626262;
}

.table_content td:nth-child(1) {
  font-weight: 550;
}
.table-content-logo {
  padding-left: 16px;
  text-align: left;
}
</style>
