<template>
  <div class="filter-header">
    <kg-nav-bar @clickLeft="onHandleClose" :title="isParlay ? '联赛筛选' : '赛事筛选' + leagueListRSt" />
  </div>
  <data-empty v-if="isEmpty(leagueList)" class="nodata" description="暂无数据" />
  <div v-else class="filter-content">
    <div class="all-league">
      <div class="text-01">全部联赛A-Z</div>
      <van-index-bar class="index-bar" :index-list="letters" :sticky="false">
        <van-checkbox-group v-model="allLeagueChecked" :ref="checkboxGroup">
          <div style="height: 5px"></div>
          <div :key="index + '_EL_KEY'" v-for="(el, index) in letters">
            <van-index-anchor :index="el">{{ el }}</van-index-anchor>
            <div class="league-select" :key="i + '_LI_KEY'" v-for="(item, i) in leagueList[el]">
              <van-checkbox shape="round" :name="item.leagueId" class="league-check">
                <div class="league-info van-ellipsis">
                  <team-logo :sportId="item.sportId" :leagueName="item.leagueName" size="md" />
                  {{ item.leagueName }}
                </div>
              </van-checkbox>
            </div>
          </div>
        </van-checkbox-group>
      </van-index-bar>
    </div>
  </div>
  <div class="filter-footer">
    <div class="console-btn">
      <div
        @click="checkAll"
        :class="[
          'van-checkbox__icon van-checkbox__icon--round-corner league-check',
          !!isCheckedAll ? 'van-checkbox__icon--checked' : null
        ]"
        style="display: flex"
      >
        <div class="van-checkbox__icon">
          <i class="van-badge__wrapper van-icon van-icon-success"></i>
        </div>
        <span class="invert-checked">全选</span>
      </div>
      <span class="invert-checked" @click="toggleAll"> 反选 </span>
    </div>
    <van-button :disabled="isBtnDisabled" round class="confirm" @click="confirmChecked">
      确定({{ allLeagueCheckedlength }})
    </van-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref, computed, toRaw, watch, nextTick, onMounted, onBeforeUnmount } from 'vue';
import { useStore } from 'vuex';
import { isEmpty } from 'lodash-es';

export default defineComponent({
  name: 'LeagueFilter',
  props: {
    sportId: {
      type: Number,
      require: true
    },
    isParlay: {
      type: Boolean
    }
  },
  emits: ['confirm-checked', 'close'],
  setup(_props, { emit }) {
    const store = useStore();

    const allLeagueChecked = ref([]);
    const checkboxGroup: Ref<any> = ref(null);

    // 联赛列表(带头字母的)
    const leagueList = computed(() => toRaw(store.getters.leagueLetters));

    // 是否可以点击
    const isBtnDisabled = computed(() => isEmpty(allLeagueChecked.value));

    // 時候全選
    const isCheckedAll = ref(false);

    // 锁定滚动
    const lockScroll = () => {
      document.body.style.setProperty('height', '100%');
      document.documentElement.style.setProperty('height', '100%');
      document.body.classList.add('van-overflow-hidden');
    };

    // 解锁滚动
    const unlockScroll = () => {
      document.body.style.setProperty('height', 'auto');
      document.documentElement.style.removeProperty('height');
      document.body.classList.remove('van-overflow-hidden');
    };

    onMounted(lockScroll);
    onBeforeUnmount(unlockScroll);

    // 首字母
    const letters = computed(() => Object.keys(store.getters.leagueLetters) || []);
    watch(letters, val => {
      if (isEmpty(val)) return;
      nextTick(() => {
        checkAll();
      });
    });
    const allLeagueCheckedlength = computed(() => allLeagueChecked.value.length);
    watch(allLeagueCheckedlength, val => {
      isCheckedAll.value = leagueListRSt.value === val;
    });
    const leagueListRSt = computed(() => {
      let reulst = 0;
      letters.value.map((el: any) => {
        reulst += leagueList.value[el].length;
      });
      return reulst;
    });

    // 全选
    const checkAll = () => {
      const oldChecked = isCheckedAll.value;
      !!checkboxGroup.value && checkboxGroup.value.toggleAll(!oldChecked);
      isCheckedAll.value = !oldChecked;
    };

    // 反选
    const toggleAll = () => {
      // if (!isCheckedAll.value) return;
      // isCheckedAll.value = !isCheckedAll.value;
      isCheckedAll.value = allLeagueCheckedlength.value === 0;
      !!checkboxGroup.value && checkboxGroup.value.toggleAll();
    };

    // 关闭
    const onHandleClose = async () => emit('close');

    // 确认选中
    const confirmChecked = async () => {
      emit('confirm-checked', toRaw(allLeagueChecked.value));
      await onHandleClose();
    };

    return {
      confirmChecked,
      isBtnDisabled,
      toggleAll,
      letters,
      isEmpty,
      checkAll,
      checkboxGroup,
      leagueList,
      leagueListRSt,
      isCheckedAll,
      allLeagueChecked,
      allLeagueCheckedlength,
      onHandleClose
    };
  }
});
</script>

<style lang="less" scoped>
.clearfix {
  *zoom: 1;

  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: '';
  }

  &:after {
    clear: both;
  }
}

.filter-header {
  width: 100%;
  height: 45px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.filter-content {
  overflow-y: scroll;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  background-color: @background-color;

  .none {
    display: none;
  }

  .label {
    padding: 0 12px;
    color: #000;

    &.mt {
      margin-top: 10px;
    }
  }

  .all-league {
    .text-01 {
      font-size: @font-size-md;
      padding: 8px 15px 0;
      color: @text-color;
    }

    .league-select {
      margin-bottom: 12px;
      margin-right: 30px;
      font-size: 14px;
      display: flex;
      background-color: @white;
      padding: 10px 20px;
      border-radius: 20px;

      .leagueIcon {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        vertical-align: text-top;
      }
    }

    .league-info {
      width: 320px;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: #2b2b22;

      > .team-logo {
        margin-right: 5px;
      }
    }

    :deep(.van-index-bar__sidebar) {
      right: 5px;

      .van-index-bar__index {
        font-size: 14px;
        padding: 4px 5px;

        &.van-index-bar__index--active {
          // padding: 2px 0;
          border-radius: 50%;
          background: #f7b500;
          color: #000;
        }
      }
    }
  }
}

:deep(.van-checkbox) {
  .van-checkbox__icon {
    .van-icon {
      width: 16px;
      height: 16px;
      border: 2px solid #d1d1d1;
    }
  }

  .van-checkbox__icon--checked {
    .van-icon {
      background: #f7b500;
      border-color: #f7b500;
      position: relative;

      &::before {
        font-size: 12px;
        position: absolute;
        top: -2px;
        left: 0;
      }
    }
  }
}

:deep(.van-index-anchor--sticky) {
  background: #e5e5e5;
  color: #000;
}

.nodata {
  background: #f6f7f8;
  height: 100%;
}

.filter-footer {
  width: 100%;
  height: 92px;
  padding: 12px 16px 0 16px;
  padding-top: 14px;
  padding-bottom: 50px;
  background: @white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
  box-sizing: border-box;

  .console-btn {
    display: flex;
    align-items: center;
  }

  .invert-checked {
    font-size: 14px;
    color: #333;
    padding: 0 10px;
  }

  .confirm {
    height: 40px;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @primary-color;
  }
}
</style>
