<template>
  <!-- <router-view v-slot="{ Component }">
    <keep-alive include="JBBsportHome">
      <component :is="Component" />
    </keep-alive>
  </router-view> -->
  <router-view />
  <ShoppingCart />
  <div class="dev-tool" :class="{ isHidden: !isHidden }">
    <div class="close" @click.stop="isHidden = !isHidden">{{ !isHidden ? '+' : '-' }}</div>
    <div class="dev-tool-inner" v-show="isHidden">
      <span>*仅测试*</span>
      <hr />
      <router-link v-for="item in routes" :to="item.path" :key="item.path">{{ item.meta.title }}</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { onMounted, ref } from 'vue';
import { routes } from './router';
import { useStore } from 'vuex';
import { ShoppingCart } from 'kg-mobile/compoents';
import { useConfig } from '@/hooks/useConfig.hook';

export default {
  components: { ShoppingCart },
  setup() {
    const store = useStore();
    const { setDomain } = useConfig();
    const isHidden = ref(false);
    // 订阅赛事数据ws
    onMounted(async () => {
      document.title = 'KG Sport - Best Online Sports Betting | Sportsbet';
      // 检查登录状态
      setDomain();
      Promise.all([
        store.dispatch('CHECK_IS_LOGIN'),
        store.dispatch('SUBSCRIBE_SPORTS_TECH'),
        store.dispatch('GET_SPORT_MEDIA_DATA', { source: 'im' })
      ]);
    });
    return { routes, isHidden };
  }
};
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
</script>

<style lang="less" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.dev-tool {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  &.isHidden {
    .close {
      top: -18px;
      right: -18px;
    }
  }
  .close {
    width: 18px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -18px;
    right: 0;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
  }

  &-inner {
    overflow-x: scroll;
    word-break: break-word;
    text-align: center;
    color: #fff;
    padding: 5px;
    overflow: hidden;
    > a {
      display: block;
      padding: 5px;
      color: #fff;
    }
  }
}
</style>
