.detailHeader {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  padding: 0 8px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Left,
  &Right {
    width: 24px;
    height: 24px;
    :global {
      .svg-icon {
        width: 100%;
        height: 100%;
        fill: #000;
      }
    }
  }
  &Center {
    max-width: 300px;
    padding: 0 8px;
    position: relative;
    flex: 1;
    height: 100%;
  }
  &Nomal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .leagueName {
      position: relative;
      width: 100%;
      &.up {
        :global {
          .svg-icon {
            transform: rotate(0deg);
          }
        }
      }
      :global {
        .svg-icon {
          width: 24px;
          height: 24px;
          fill: #d8d8d8;
          transform: rotate(180deg);
          position: absolute;
          bottom: -25px;
          margin-left: -12px;
          transition: ease-in 0.3s;
          left: 50%;
          background-color: #fff;
          border-radius: 100px;
        }
      }
      span {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
  &Scroll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: ease-in 0.1s;
    .home,
    .away {
      width: 110px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .away {
      text-align: right;
    }
    .sorces {
      font-size: 16px;
      padding: 0 4px;
      font-family: 'number-font';
    }
    .timeLabel {
      padding: 2px 5px;
      font-size: 12px;
      background-color: @primary-color;
      color: #fff;
      border-radius: 100px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.noneBlock {
  height: 45px;
  width: 100%;
}
