<template>
  <van-nav-bar
    class="kg-nav-bar"
    :title="title"
    :right-text="rightText"
    :left-arrow="leftArrow"
    @click-left="onClickLeft"
    @click-right="onClickRight"
    :border="false"
    :fixed="fixed"
  >
    <template #title v-if="!title">
      <slot name="title"></slot>
    </template>
    <template #right>
      <slot name="right"></slot>
    </template>
  </van-nav-bar>
</template>

<script lang="ts">
export default {
  name: 'KgNavBar',
  props: {
    title: {
      type: String,
      default: ''
    },
    leftArrow: {
      type: Boolean,
      default: true
    },
    rightText: {
      type: String,
      default: ''
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  emits: ['click-left', 'click-right'],
  // @ts-ignore
  setup(props, { emit, slots }) {
    const onClickLeft = () => emit('click-left');
    const onClickRight = () => emit('click-right');
    return {
      slots,
      onClickLeft,
      onClickRight
    };
  }
};
</script>

<style lang="less" scoped>
.kg-nav-bar {
  background-color: @primary-color;
  overflow: hidden;
  height: @nav-bar-height;
  z-index: 9;
  &:deep(.van-nav-bar .van-icon) {
    color: #fff;
  }
  &:deep(.van-nav-bar__title) {
    color: #fff;
    font-weight: normal;
  }
  &:deep(.van-icon-arrow-left) {
    font-size: 20px;
    color: #fff;
  }
}
</style>
