@info-height: 210px;

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: @info-height;
  &.isVideoView {
    height: @info-height + 46px;
    .infoContainer {
      height: @info-height + 46px;
    }
  }
  .videoView {
    background-color: #000;
  }
  .videoView,
  .animateView {
    height: @info-height !important;
  }
  .animateView {
    > iframe {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  &::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    transform: scale(0.5);
  }
  .infoContainer {
    position: fixed;
    height: @info-height;
    width: 100%;
    background: #fff;
    overflow: hidden;
  }
}
.infoTop {
  width: 100%;
  height: @info-height - 43px - 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.leftTeam {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 12px;
}
.rightTeam {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  padding: 0 16px;
  .teamName {
    text-align: right;
  }
}
.teamName {
  width: 100%;
  font-size: 14px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.homeTeamIcon,
.awayTeamIcon {
  width: 62px !important;
  height: 62px !important;
  margin-top: 8px;
  border-radius: 1000px;
  border: 5px solid #f2f2f2;
}
.cards {
  display: flex;
  padding: 5px 15px 0 15px;
  .redCard {
    background-color: #ff0000;
  }
  .yellowCard {
    background-color: #ffc200;
  }
  .redCard,
  .yellowCard {
    font-size: 12px;
    color: #fff;
    padding: 2px 3px;
    line-height: 1;
    margin: 0 2px;
    border-radius: 3px;
  }
}

.arrowDownIcon {
  height: 24px;
  width: 24px;
  background-size: 100% 100%;
}
.centerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scoreText {
  font-size: 40px;
  color: #000;
  text-align: center;
  font-family: 'number-font', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.turn {
  font-size: 12px;
  color: #9a9a9a;
  white-space: nowrap;
}
.timeText {
  min-height: 20px;
  min-width: 40px;
  text-align: center;
  padding: 4px 12px;
  border-radius: 14px 14px 14px 14px;
  border: 1px solid #9a9a9a;
  border-radius: 100px;
  margin: 2px 0;
  font-size: 12px;
  color: #000;
  font-weight: 500;
}
.tech {
  font-size: 12px;
  line-height: 17px;
  margin-top: 8px;
}
.ht {
  color: #000;
}
.techText {
  color: #9a9a9a;
  margin-left: 2px;
}
.infoBg {
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 4px;
  > img {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 50px;
  }
}

.moreIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fff;
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.moreIconItem {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  &.active {
    :global {
      .svg-icon {
        fill: @red;
      }
    }
  }
  :global {
    .svg-icon {
      width: 100%;
      height: 100%;
      fill: #9a9a9a;
    }
  }
}
