<template>
  <div class="change-btn">
    <svg-icon name="expand" :class="[isExpandAll ? '' : 'down']" @click="changeExpand" />
  </div>
  <div class="odd-type">
    <div class="odd-type-container">
      <div class="odd-type-item" :class="{ active: active === -1 }" @click="tabChange(-1)">全部</div>
      <div
        class="odd-type-item"
        :class="{ active: active === tab.value }"
        @click="tabChange(tab.value)"
        v-for="(tab, index) in tabs"
        :key="index + '_OD_KEY'"
      >
        {{ tab.label }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ref, PropType, computed } from 'vue';
import { BetCategoryList } from '@/common/enums/sportsEnum';
import { filter, includes } from 'lodash-es';
import Expand from '@/assets/sport_ic_expand.png';

export default {
  name: 'HandicapTab',
  props: {
    filterTab: {
      type: Array as PropType<number[]>,
      default: () => []
    },
    isExpandAll: {
      type: Boolean
    }
  },
  emits: ['tab-change', 'change-expand'],
  setup(props, { emit }) {
    const active = ref(-1);

    const tabChange = (value: number) => {
      if (active.value === value) return;
      active.value = value;
      emit('tab-change', value);
    };

    const tabs = computed(() => {
      const list = filter(BetCategoryList, e => {
        return includes(props.filterTab, e.value);
      });
      return list;
    });

    const changeExpand = () => {
      emit('change-expand');
    };

    return { tabChange, changeExpand, active, tabs, Expand };
  }
};
</script>

<style lang="less" scoped>
.change-btn {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .svg-icon {
    width: 20px;
    height: 20px;
    transition: ease-in-out 0.3s;
    &.down {
      transform: rotate(180deg);
    }
  }
}
.odd-type {
  padding-left: 10px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100px;
  &-container {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 25px;
    color: #888;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    text-align: left;
    font-size: 0;
    padding: 8px 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-item {
    display: inline-block;
    min-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 100px;
    border: 1px solid @white;
    transition: ease-in-out 0.3s;
    &.active {
      background: @primary-color;
      border: 1px solid @primary-color;
      color: @white;
      border-radius: 20px;
    }
  }
}
</style>
