.currency-sheet {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-header {
    height: 56px;
    background: #f2f2f2;
    display: flex;
    padding: 0 16px;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
    > div:nth-child(1) {
      color: #9a9a9a;
    }
    &-title {
      font-size: 16px;
      color: #000;
    }
  }
  &-container {
    flex: 1;
    overflow: auto;
  }
  &-item {
    height: 64px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
    &.active {
      background: @primary-color;
      color: #fff;
    }
    &-icon {
      width: 36px;
      height: 36px;
      margin-right: 8px;
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &-name {
      font-size: 16px;
      flex: 1;
    }
    &-balance {
      font-size: 14px;
    }
  }
}
.to-wallet {
  border: 1px solid @primary-color;
  color: @primary-color;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  padding: 10px 0;
  margin: 16px 16px 30px 16px;
}
