<template>
  <div class="chat-room">
    <div class="chat-content" id="chat-msg-content" :class="{ report: visibleReport }">
      <div id="message-list-wrap">
        <div v-for="item in messageList" :key="item.id">
          <p
            v-if="['M02', 'M04'].indexOf(item.cmd) !== -1"
            :class="{
              systemColor: item.msg.indexOf('您的发送频率太快了') !== -1 || item.msg.indexOf('才能发言') !== -1
            }"
          >
            系统消息: {{ item.msg }}
          </p>
          <p v-else-if="item.cmd === 'R03'">系统消息: {{ secretNickname(item.nick) }} 被禁言</p>
          <p v-else>{{ item.nick || item.id }}: {{ item.msg }}</p>
        </div>
      </div>
    </div>
    <div class="action">
      <!-- 礼物，先注释-->
      <!-- <div class="gift"></div> -->
      <div class="send">
        <div class="input">
          <input v-model="text" placeholder="请输入聊天内容" />
          <span class="btn-send" @click="send"><i class="icon-send"></i> </span>
        </div>
        <small>*任何群及广告均为诈骗,违规者封号处理*</small>
      </div>
    </div>
    <!-- 举报 -->
    <div class="popup-report" v-if="visibleReport">
      <div class="header">举报 {{ '罗大胖' }}</div>
      <div class="body">
        <span class="active">滥发广告</span>
        <span>色情暴力</span>
        <span>恶意刷屏</span>
      </div>
      <div class="footer" @click="visibleReport = false">
        <div class="cancel">取消</div>
        <div class="confirm">确认</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, watch, watchEffect, reactive, toRefs, nextTick } from 'vue';
import { secretNickname } from '@/common/utils';
import { getTenant } from '@/common';
import { useChat } from '@/hooks/useChat';
import { debounce } from 'lodash-es';
import { useStore } from 'vuex';
import { useAnchorData } from 'h5/views/detail/hooks/anchor-data';
import { ElMessage } from 'element-plus';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'ChatRoomWeb',
  setup() {
    const store = useStore();
    const route = useRoute();
    const matchId = computed(() => Number(route.query.eventIds));
    let { sendMessage, messageList, subscribe, isConnected, initChat } = useChat({
      matchId: matchId.value
    });
    const data = reactive({
      text: '',
      visibleReport: false,
      isReadyInput: true,
      gameInfo: {} as any,
      userInfo: computed(() => store.state.user)
    });
    // 获取主播直播信息
    const { anchorInfo } = useAnchorData(matchId.value);
    // 初始化聊天
    watchEffect(async () => {
      const { username, nickName } = data.userInfo;
      const { liveRoomId } = anchorInfo && anchorInfo.value;
      if (!!isConnected.value && !!matchId.value && nickName && username) {
        const tenantCode = getTenant();
        // 订阅内容: 历史消息 聊天消息 消息频繁 用户进入聊天室
        const mid = liveRoomId ? matchId.value : (matchId.value as any);
        // 订阅 聊天消息
        subscribe({
          destination: `/topic/${tenantCode}.${mid}.${liveRoomId ? liveRoomId + '.' : ''}message`,
          options: {
            nick: nickName,
            chId: liveRoomId ? `${mid}|${liveRoomId}` : mid
          }
        });
        // 订阅内容: 历史消息
        subscribe({
          destination: `/topic/user.${tenantCode}.${username}.message`
        });
      }
    });
    watch(
      () => matchId.value,
      async () => {
        // console.log(123323);
        subscribe = useChat({ matchId: matchId.value }).subscribe;
        const { username, nickName } = data.userInfo;
        const { liveRoomId } = anchorInfo && anchorInfo.value;
        if (!!isConnected.value && !!matchId.value && nickName && username) {
          const tenantCode = getTenant();
          // 订阅内容: 历史消息 聊天消息 消息频繁 用户进入聊天室
          const mid = liveRoomId ? matchId.value : (matchId.value as any);
          // 订阅 聊天消息
          subscribe({
            destination: `/topic/${tenantCode}.${mid}.${liveRoomId ? liveRoomId + '.' : ''}message`,
            options: {
              nick: nickName,
              chId: liveRoomId ? `${mid}|${liveRoomId}` : mid
            }
          });
          // 订阅内容: 历史消息
          subscribe({
            destination: `/topic/user.${tenantCode}.${username}.message`
          });
        }
        // 关闭聊天
        // closeChat();
        // 初始化
        // initChat();
      }
    );
    watch(
      messageList,
      () => {
        debounce(
          async () => {
            await nextTick();
            const ChatWrap: HTMLElement = document.getElementById('chat-msg-content') as any;
            const ChatInner: HTMLElement = document.getElementById('message-list-wrap') as any;
            const ChatWrapHeight = ChatWrap.offsetHeight as number; // 外框固定
            const ChatInnerHeight = ChatInner.offsetHeight as number; // 聊天内容高度
            ChatWrap.scrollTop = ChatInnerHeight - ChatWrapHeight + 50;
          },
          200,
          { trailing: true }
        )();
      },
      { deep: true }
    );
    // 发送聊天信息
    const send = () => {
      if (!isConnected.value) {
        ElMessage.error('聊天服务器连接失败!');
        return;
      }
      if (data.isReadyInput) {
        sendMessage(data.text);
        data.text = '';
        data.isReadyInput = false;
      }
      // 防止重复点击
      setTimeout(() => {
        data.isReadyInput = true;
      }, 1000);
    };
    onMounted(() => {
      initChat();
    });
    return {
      ...toRefs(data),
      send,
      secretNickname,
      messageList
    };
  }
});
</script>

<style lang="less" scoped>
.chat-room {
  margin-top: 5px;
  list-style: none;
  position: relative;
  .chat-content {
    padding: 5px 20px;
    height: 140px;
    overflow: auto;
    border-bottom: 1px solid #eee;
    &.report {
      background: rgba(0, 0, 0, 0.7);
    }
    .systemColor {
      color: #069b71 !important;
    }
  }
  .action {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    .gift {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px 30px;
      background: url('~@/assets/web/live/gift.png') no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    .send {
      flex: 1;
      margin: 0 10px;
      display: inline-block;
    }
    .input {
      height: 32px;
      background: #ffffff;
      border: 1px solid #e6e8ef;
      border-radius: 4px;
      display: flex;
      input {
        flex: 1;
        border: none;
        padding: 0 10px;
      }
      .btn-send {
        display: inline-block;
        width: 59px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background: linear-gradient(-79deg, #50a6a5, #8add9a);
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        .icon-send {
          display: inline-block;
          width: 22px;
          height: 18px;
          background: url('~@/assets/web/live/send.png') no-repeat;
          background-size: contain;
          vertical-align: middle;
        }
      }
    }
    small {
      color: red;
      padding-left: 10px;
    }
  }
}
.popup-report {
  width: 272px;
  background: #ffffff;
  border-radius: 8px 8px 14px 23px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -136px;
  .header {
    color: #2c2b2b;
    padding: 5px 10px;
    font-weight: bold;
  }
  .body {
    margin: 5px 0 20px 0;
    span {
      display: inline-block;
      height: 25px;
      line-height: 25px;
      border-radius: 13px;
      color: #878787;
      background: #eef7f5;
      padding: 0 10px;
      margin-left: 14px;
      cursor: pointer;

      &.active {
        background: linear-gradient(-79deg, #50a6a5, #8add9a);
        color: #fff;
      }
    }
  }
  .footer {
    display: flex;
    div {
      height: 27px;
      line-height: 27px;
      flex: 1;
      text-align: center;
      color: #878787;
      background: #f8f8f8;
      border-radius: 0 0 0 8px;
      cursor: pointer;
      &.confirm {
        border-radius: 0 0 8px 0;
        color: #fff;
        background: linear-gradient(-79deg, #50a6a5, #8add9a);
      }
    }
  }
}
</style>
