<template>
  <div class="host-card" :class="{ streaming: isLive }">
    <div class="status">{{ isLive ? '直播中' : '未开播' }}</div>
    <div class="body">
      <div class="match">
        <div class="item"><img :src="require('@/assets/web/team/adlyjzls.png')" />澳大利亚甲组联赛</div>
        <div class="item"><img :src="require('@/assets/web/team/Brisbane_Roar_FC_Logo.png')" />布里斯班狮吼</div>
        <div class="item"><img :src="require('@/assets/web/team/Wellington_Phoenix_crest.png')" />威灵顿凤凰</div>
      </div>
      <div class="avatar">
        <img :src="require('@/assets/web/live/avatar.png')" />
        <span class="icon-status"></span>
      </div>
    </div>
    <div class="info">
      <span class="match"><span>上半场</span><span>02:20</span></span>
      <div class="host">罗神驾到</div>
    </div>
  </div>
</template>

<script>
import { defineComponent, reactive, toRefs } from 'vue';
export default defineComponent({
  name: 'HostCard',
  props: ['isLive'],
  setup() {
    const data = reactive({});
    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="less" scoped>
.host-card {
  margin: 0 4px 8px 4px;
  background: #ffffff;
  border: 1px solid #e6e8ef;
  border-radius: 4px;
  &.streaming {
    .status {
      color: red;
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background: #ff6c42;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        margin-left: 3px;
      }
    }
  }
}
.status {
  height: 25px;
  line-height: 26px;
  margin-left: 15px;
  color: #aeaeae;
}
.body {
  background: #eef7f5;
  border-radius: 4px;
  margin: 0 8px;
  height: 88px;
  padding: 8px;
  display: flex;
  .match {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #666;
    padding: 5px;
    .item {
      height: 18px;
      display: flex;
      img {
        height: 18px;
        margin-right: 5px;
      }
    }
  }
  .avatar {
    width: 147px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  .match {
    display: inline-block;
    color: @primary-color;
    margin-left: 15px;
    span {
      margin: 0 10px;
    }
  }
}
</style>
