<template>
  <div class="league-card">
    <div class="title">
      <team-logo :leagueId="leagueId" />
      <span>{{ match.info.leagueName }}</span>
    </div>
    <div class="match">
      <div class="item active">
        <div class="name">
          <p>{{ match.info.timeText.split(' ')[0] }}</p>
          <p v-if="!!match.info.timeText.split(' ')[1]">{{ match.info.timeText.split(' ')[1] || '' }}</p>
        </div>
        <div class="info">
          <div class="team">
            <div class="team-name">
              <team-logo :teamName="match.info.home" /><span>{{ match.info.home }}</span>
            </div>
            <div class="data" :title="match.info.IsLive ? '进行中' : '未开始'">
              {{ match.info.score[0] }}<i class="icon-video" :class="{ grey: !match.info.IsLive }"></i>
            </div>
          </div>
          <div class="team">
            <div class="team-name">
              <team-logo :teamName="match.info.away" /><span>{{ match.info.away }}</span>
            </div>
            <div class="data" :title="match.info.HasLive ? '可播放' : '无播放源'">
              {{ match.info.score[1] }}<i class="icon-field" :class="{ grey: !match.info.HasLive }"></i>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="item">-->
      <!--        <div class="name">-->
      <!--          <p>下半场</p>-->
      <!--          <p>12:23</p>-->
      <!--        </div>-->
      <!--        <div class="info">-->
      <!--          <div class="team">-->
      <!--            <div class="team-name"><team-logo /><span>安格斯</span></div>-->
      <!--            <div class="data">2<i class="icon-video"></i></div>-->
      <!--          </div>-->
      <!--          <div class="team">-->
      <!--            <div class="team-name"><team-logo /><span>安德莱联盟</span></div>-->
      <!--            <div class="data">3<i class="icon-field"></i></div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'LeagueCard',
  props: ['match', 'leagueId'],
  setup() {}
});
</script>

<style lang="less" scoped>
.league-card {
  background: #fff;
  padding: 0 10px 6px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  .title {
    height: 25px;
    background: #fff;
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
      color: #a2a2a2;
    }
  }
}
.match {
  margin: 0 auto;
  .item {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    margin-bottom: 4px;
    &.active {
      border: 1px solid #089b71;
      .name {
        background: linear-gradient(-79deg, #50a6a5, #6fc197);
        color: #fff;
      }
      .info {
        background: #fff;
      }
    }
    .name {
      width: 80px;
      background: #f0f0f0;
      border-radius: 4px 0 0 4px;
      color: #a2a2a2;
      padding-top: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }
    .info {
      flex: 1;
      background: #eef7f5;
      padding: 0 10px;
      .team {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0;
        .team-name {
          display: flex;
          align-items: center;
          span {
            margin-left: 10px;
          }
        }
        .data {
          color: #099c71;
          font-weight: bold;
          font-size: 14px;
        }
      }
      .data {
        i {
          display: inline-block;
          margin: 0 8px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .icon-video {
          background-image: url('~@/assets/web/record.png');
          width: 15px;
          height: 10px;
          &.grey {
            background-image: url('~@/assets/web/record_grey.png');
          }
        }
        .icon-field {
          background-image: url('~@/assets/web/field.png');
          width: 15px;
          height: 11px;
          &.grey {
            background-image: url('~@/assets/web/field_grey.png');
          }
        }
      }
    }
  }
}
</style>
