<template>
  <div class="live-video">
    <p class="league-name">{{ !match ? '- -' : match.info.leagueName }}</p>
    <div class="team-info">
      <div class="home">
        <div class="team"><team-logo :teamName="match.info.home" />{{ !match ? '- -' : match.info.home }}</div>
        <span>{{ !match ? '' : match.info.score[0] }}</span>
      </div>
      <div class="icon-vs"></div>
      <div class="away">
        <span>{{ !match ? '' : match.info.score[1] }}</span>
        <div class="team">{{ !match ? '- -' : match.info.away }}<team-logo :teamName="match.info.home" /></div>
      </div>
    </div>
    <div class="video" :class="{ wait: isWait }">
      <template v-if="isWait">
        <div class="wait-box">
          <div class="team">
            <team-logo :size="40" />
            <p>安格斯</p>
          </div>
          <div class="timer">
            <p>未开始</p>
            <p class="score">0 : 0</p>
          </div>
          <div class="team">
            <team-logo :size="40" />
            <p>安格斯</p>
          </div>
          <span class="time">2021-05-23 12:30</span>
        </div>
      </template>
      <template v-else>
        <div id="player" v-if="!noVideo" ref="videoEl"></div>
        <div class="no-data" v-else>{{ statusText }}</div>
      </template>
    </div>
    <div class="info" v-if="false">
      <template v-if="active === TAG.HOST">
        <img class="avatar" :src="require('@/assets/web/live/avatar.png')" />
        <span>萨拉波娃</span>
        <span class="status"></span>
        <span class="btn-enter">进入直播间</span>
      </template>
      <template v-if="active !== TAG.HOST">
        <span>切换线路：</span>
        <div class="switch-line"><span>线路一</span></div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, inject, nextTick, onBeforeUnmount, onMounted, reactive, ref, toRefs, watch } from 'vue';
import { getSportVideoByMatchID } from '@/services/sb-api';
import { useStore } from 'vuex';
import DPlayer from 'dplayer';

export default defineComponent({
  name: 'Player',
  props: ['match'],
  setup(props) {
    const store = useStore();
    let player: any = null;
    const videoEl = ref<HTMLVideoElement | null>(null);
    const data = reactive({
      active: inject('active'),
      noData: inject('noData'),
      noVideo: true,
      visibleSettings: true,
      visibleVolume: true,
      isWait: false,
      init: false,
      statusText: '暂无比赛'
    });
    const methods = {
      async init() {
        if (!window.Hls) window.Hls = (await import('hls.js')).default;
        if (props.match.info) {
          methods.getVideoSourceByMatchId(props.match.info.id);
        }
      },
      noLive() {
        player && player.pause();
        data.noVideo = true;
        data.statusText = '暂无比赛';
      },
      // 获取直播视频源
      async getVideoSourceByMatchId(id: number) {
        if (!id) return;
        data.statusText = '获取比赛直播中...';
        const keys = Object.keys(store.state.sports.videoAndAnimationData.video);
        const url = store.state.sports.videoAndAnimationData.video[keys[1]];
        data.noVideo = !url;
        if (!url) return methods.noLive();
        const [_res, _data] = await getSportVideoByMatchID(url);
        if (!_data.url) return methods.noLive();
        methods.playLiveVideo(_data.url);
      },
      // 播放直播
      playLiveVideo(url: string) {
        if (player) player.destroy();
        nextTick(() => {
          player = new DPlayer({
            container: videoEl.value,
            live: true,
            autoplay: true,
            video: {
              url,
              type: 'hls'
            }
          });
          player.play();
        });
      }
    };

    // 响应赛事切换播放源
    watch(
      () => props.match,
      v => {
        if (v.info) {
          methods.getVideoSourceByMatchId(v.info.id);
        }
      },
      { immediate: true }
    );

    const TAG = inject('TAG') as any;
    onBeforeUnmount(() => {
      player && player.destroy();
      player = null;
    });
    onMounted(() => {
      methods.init();
    });
    return {
      ...toRefs(data),
      TAG,
      videoEl
    };
  }
});
</script>

<style lang="less" scoped>
.live-video {
  .league-name {
    color: #878787;
    margin: 8px 0;
  }
  .team-info {
    height: 30px;
    line-height: 30px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    span {
      font-size: 16px;
      color: #a6acc3;
    }
    img {
      height: 24px;
      width: 24px;
    }
    .icon-vs {
      display: inline-block;
      background: url('~@/assets/web/live/vs.png') no-repeat;
      width: 24px;
      height: 13px;
      background-size: contain;
      position: absolute;
      left: 50%;
      margin-left: -12px;
      top: 8px;
    }
    .home,
    .away {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 180px;
    }
    .team {
      display: flex;
      align-items: center;
      :deep(.el-image) {
        margin: 0 5px;
      }
    }
  }
  .video {
    width: 100%;
    height: 244px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    :deep(.dplayer) {
      width: 100%;
      height: 100%;
    }
    &.wait {
      background: #808080;
    }
    video {
      width: 100%;
      height: 100%;
      background: #000000;
    }
    .wait-box {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 14px;
      position: relative;
      .timer {
        margin: 0 50px;
        text-align: center;
        line-height: 5px;
        p {
          font-size: 16px;
          &.score {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
      .time {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .no-data {
      display: flex;
      flex: 1;
      height: 100%;
      font-size: 18px;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #474646;
    }
  }
  .control {
    position: absolute;
    width: 100%;
    z-index: 9;
    color: #fff;
    padding: 0 30px;
    bottom: 0;

    .progress {
      width: 90%;
      height: 3px;
      background: #e8edea;
      border-radius: 1px 2px 2px 2px;
      margin: 5px auto;
      .played {
        width: 40%;
        height: 3px;
        background: #ffde00;
        border-radius: 1px 2px 2px 2px;
      }
    }
    .action {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      .left,
      .right {
        display: flex;
        align-items: center;
        padding: 10px 0;
      }
      span {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      .volume {
        width: 48px;
        height: 3px;
        background: rgba(248, 251, 243, 0.25);
        border-radius: 2px;
        margin-right: 15px;
        .value {
          width: 60%;
          height: 3px;
          background: #f8fbf3;
          border-radius: 2px;
          position: relative;
          &:after {
            content: '';
            width: 8px;
            height: 8px;
            background: #f8fbf3;
            border-radius: 50%;
            position: absolute;
            right: -4px;
            top: -3px;
          }
        }
      }
      .icon-play {
        background-image: url('~@/assets/web/player/play.png');
        width: 11px;
        height: 13px;
      }
      .icon-mute {
        background-image: url('~@/assets/web/player/mute.png');
        width: 14px;
        height: 12px;
      }
      .icon-settings {
        background-image: url('~@/assets/web/player/settings.png');
        width: 15px;
        height: 15px;
        position: relative;
      }
      .icon-full {
        background-image: url('~@/assets/web/player/full.png');
        width: 16px;
        height: 13px;
      }
    }
    .setting-panel {
      position: absolute;
      display: inline-block;
      background: #252525;
      bottom: 40px;
      right: 0;
      white-space: nowrap;
      text-align: center;
      z-index: 9;
      border-radius: 4px;
      margin-right: -100%;
      user-select: none;
      .header {
        border-bottom: 1px solid #383838;
        padding: 5px 20px;
      }
      .item {
        padding: 5px 20px;
        position: relative;
        &:hover {
          background: #1a1a1a;
        }
        &.selected {
          &:before {
            content: '';
            display: inline-block;
            width: 9px;
            height: 7px;
            background: url('~@/assets/web/player/checked.png') no-repeat;
            background-size: contain;
            position: absolute;
            margin-left: -15px;
            top: 10px;
          }
        }
      }
    }
  }
  .info {
    height: 30px;
    background: #fff;
    color: #878787;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 5px;
    .avatar {
      width: 26px;
      height: 26px;
      margin-right: 5px;
    }
    .status {
      display: inline-block;
      width: 25px;
      height: 12px;
      background-size: contain;
      margin-left: 5px;
    }
    .btn-enter {
      height: 21px;
      line-height: 21px;
      padding: 0 10px;
      color: #fff;
      background: linear-gradient(-79deg, #50a6a5, #8add9a);
      border-radius: 11px;
      margin-left: auto;
      margin-right: 5px;
      cursor: pointer;
    }
    .switch-line {
      span {
        cursor: pointer;
        margin: 0 5px;
      }
    }
  }
}
</style>
