<template>
  <div id="game-video-portal">
    <!-- 视频 动画 数据 挂载节点 -->
  </div>
  <div class="sport-detail" id="detail-page">
    <div class="menu-btn" v-if="isOpenDetail && barragetype !== 'data'">
      <svg-icon name="meun" @click.stop="openBetSlip" />
    </div>
    <kg-nav-bar
      class="font-header"
      :title="isEmpty(marketsListGroupByBettype) ? '' : gameInfo.LeagueName || ''"
      @click-left="onHandleBack"
      fixed
      style="background-color: rgba(0, 0, 0, 0)"
    >
      <template #right>
        <div class="mark-icon">
          <svg-icon name="meun" @click="openBetSlip" />
        </div>
      </template>
    </kg-nav-bar>
    <kg-nav-bar
      class="sport-header"
      id="sport-header"
      v-show="!isEmpty(marketsListGroupByBettype)"
      @click-left="onHandleBack"
      fixed
    >
      <template #title>
        <Team
          :showScore="isLive"
          class="top-team-info"
          :teamInfo="{
            guestName: matchInfo.AwayName,
            homeName: matchInfo.HomeName,
            sportType: sportType,
            ...moreMatchInfo
          }"
        />
      </template>
      <template #right>
        <div class="mark-icon is-show-top">
          <van-icon v-if="isNoTop && !!gameInfo.LeagueName" @click.prevent="mark" />
          <svg-icon name="meun" @click.stop="openBetSlip" />
        </div>
      </template>
    </kg-nav-bar>
    <!-- 时间进度条只有 篮球和足球 滚球显示 -->
    <TimeBar
      v-if="!isEmpty(marketsListGroupByBettype) && !isOpenDetail"
      :data="{
        timeText,
        sportType,
        LLP: !!moreMatchInfo.LLP ? moreMatchInfo.LLP : '0',
        runTime: matchInfo.RunTime,
        isLive
      }"
    />
    <GameInfo
      :matchInfo="{ ...matchInfo, ...moreMatchInfo }"
      :msgList="messageList"
      :sportType="sportType"
      :oddIsNotEmpty="!isEmpty(marketsListGroupByBettype)"
      @change-anchor-show="changeAnchorShow"
      @change-suctiontop="changeSuctiontop"
      @set-barrage-type="setBarrageType"
    />
    <ChatRoom
      :messageList="messageList"
      :isLockInput="isLockInput"
      :needRrchargeAmount="needRrchargeAmount"
      :isConnected="isConnected"
      :unreadCount="unreadCount"
      :anchorVideoIsShow="anchorVideoIsShow"
      @send="onSendChat"
      @clearUnread="clearUnreadCount"
    />
    <HandicapList
      :suctiontop="suctiontop"
      :matchInfo="{ ...matchInfo, ...moreMatchInfo }"
      :data="marketsListGroupByBettype"
      :filterIndexList="filterIndexList"
    />
  </div>
  <van-popup v-model:show="visibleBetList" class="bet-history-container" position="right">
    <BetHistoryComp v-if="visibleBetList" @closePopup="onClosePopup" isPopup />
  </van-popup>
</template>

<script lang="ts">
import {
  nextTick,
  computed,
  onMounted,
  onBeforeUnmount,
  ref,
  Ref,
  ComputedRef,
  provide,
  watch,
  watchEffect
} from 'vue';
import { useScrollHeader } from '@/hooks/useScrollHeader';
import { DATE_TYPES } from '@/common';
import HandicapList from './components/handicap-list/index.vue';
import GameInfo from './components/game-info/index.vue';
import { useRouter, useRoute, onBeforeRouteUpdate } from 'vue-router';
import ChatRoom from './components/chat-room/index.vue';
import Team from './components/team.vue';
import TimeBar from './components/game-info/time-bar.vue';

import { useStore } from 'vuex';
import { Toast } from 'vant';
import { isEmpty, forEach, uniq, groupBy, flatMap, filter } from 'lodash-es';

import { eventTimeFormat, pickValue, scoreFormat, getTenant } from '@/common/utils';

import { useChat } from '@/hooks/useChat';
import { useEventsData } from './hooks/get-events-data';
import { useAnchorData } from './hooks/anchor-data';
import { queryEventsAndMarkets } from '@/services/sb-api';
import { getVirtualEventVideo } from '@/services';
import { TechId } from '@/common/enums/sportsTechEnum';

import BetHistoryComp from 'h5/views/bet-history/index.vue';

export default {
  name: 'DetailPage',
  components: {
    Team,
    GameInfo,
    ChatRoom,
    TimeBar,
    HandicapList,
    BetHistoryComp
  },
  setup() {
    const router = useRouter();
    const route = useRoute();
    const store = useStore();
    const userInfo = computed(() => store.state.user);

    // 比赛id
    const matchId = Number(route.query.matchId);

    const {
      initChat,
      unreadCount,
      subscribe,
      closeChat,
      sendMessage,
      messageList,
      isConnected,
      clearUnreadCount,
      isLockInput,
      needRrchargeAmount
    } = useChat({ matchId });
    // 主播视频播放
    const anchorVideoIsShow = ref(false);

    // 投注记录可见
    const visibleBetList = ref(false);

    // 是否到顶部
    let isNoTop = ref(true);

    // 页面加载
    const isPageLoading = ref(true);
    // 是否打开了详情 数据 视频 动画 等
    const isOpenDetail = computed(() => store.getters.isOpenDetail);

    const { headerFadeToggle, isRelative } = useScrollHeader();

    // 请求参数
    const form: Ref<any> = ref({});

    // 体育类型
    const sportType = computed(
      () =>
        Number(Array.isArray(route.query.sportId) ? route.query.sportId[0] : route.query.sportId) ||
        gameInfo.value.SportType
    );
    // 是否为串关
    const isParlay = computed(() => route.query.isParlay === 'true');
    // 原始赛事信息
    const gameInfo: Ref<any> = ref({});

    const storeLeagueList = filter(
      store.getters.sportBetList,
      item => +item.LeagueId === Number(route.query?.LeagueId)
    )[0];
    const storeMatchList = storeLeagueList && filter(storeLeagueList.matches, item => item.MatchId === matchId)[0];
    const oddsInfo: Ref<any[]> = ref(pickValue(storeMatchList, 'oddset')); // 原始盘口数据
    const oddsIds: Ref<any> = computed(() => {
      // 当前赛事盘口集合
      return flatMap(marketsList.value, (e: any) => e.OddsId) || [];
    });
    // provide('odds-ids', oddsIds);

    // 是否开赛
    const isLive = computed(() => !!pickValue(matchInfo.value, 'IsLive'));
    provide('isUtil-game-live', isLive); // 提供是否开赛
    const suctiontop = ref(false);
    const matchInfo: ComputedRef<any> = computed(
      () => (!isEmpty(gameInfo.value) && { ...gameInfo.value.matches[0], ...gameInfo.value }) || {}
    );

    // 过滤后的盘口数据(未分组)
    const marketsList: ComputedRef<any[]> = computed(() => {
      if (isEmpty(oddsInfo.value)) return [];
      let tempList: any[] = [];
      oddsInfo.value.forEach((e: any) => {
        !isEmpty(e.sels) && tempList.push(e);
      });
      return tempList;
    });
    // 过滤后的盘口数据(根据Bettype分组)
    const marketsListGroupByBettype: ComputedRef<any> = computed(() => {
      const group = groupBy(marketsList.value, 'Bettype');
      // 电子竞技处理一下相同betType的问题
      if (Number(sportType.value) === 43) {
        const newGroup = groupBy(
          marketsList.value.map(e => ({ ...e, newBettype: `${e.Bettype}${e.Category}` })),
          'newBettype'
        );
        return newGroup;
      }
      // 网球处理一下相同betType的问题
      if (Number(sportType.value) === 5) {
        const newGroup = groupBy(
          marketsList.value.map(e => ({ ...e, newBettype: `${e.Bettype}${e.ResourceId}` })),
          'newBettype'
        );
        return newGroup;
      }
      return group;
    });
    // tab过滤索引
    const filterIndexList = computed(() => {
      const list = marketsList.value;
      if (isEmpty(list)) return [];
      let indexArr: number[] = [];
      forEach(list, (e: any) => {
        indexArr.push(e.Category);
      });
      return uniq(indexArr);
    }); // 过滤列表

    // 其他赛事数据
    const moreMatchInfo = computed(() => {
      const source = matchInfo.value.MoreInfo;
      let aHTScore = '';
      let hHTScore = '';
      const { MatchId } = matchInfo.value;
      if (MatchId) {
        // 取socekt的比赛信息
        const tech = store.getters.getTechById(MatchId);
        if (tech) {
          const [homeHalfScore, awayHalfScore] = tech.get(TechId.HALF_SCORE) || [undefined, undefined];
          aHTScore = awayHalfScore;
          hHTScore = homeHalfScore;
        }
      }
      return {
        homeScore: scoreFormat({ ...source, SportType: Number(sportType.value) }, 'home'),
        guestScore: scoreFormat({ ...source, SportType: Number(sportType.value) }, 'away'),
        // 足球赛事数据
        RedCardA: pickValue(source, 'RedCardA') || 0,
        RedCardH: pickValue(source, 'RedCardH') || 0,
        YellowCardA: pickValue(source, 'YellowCardA') || 0,
        YellowCardH: pickValue(source, 'YellowCardH') || 0,
        htScoreA: aHTScore || pickValue(source, 'ht_away_score') || 0,
        htScoreH: hHTScore || pickValue(source, 'ht_home_score') || 0,
        ...source
        // 篮球赛事数据
      };
    });

    // 文字显示
    const timeText = computed(() => {
      if (!isLive.value) {
        return '未开始';
      }
      return eventTimeFormat({ ...matchInfo.value, ...moreMatchInfo.value });
    });

    provide('time-text', timeText);

    const virtualVideoUrl = ref('');
    provide('virtual-video-url', virtualVideoUrl);

    const getInfoTimer: Ref<any> = ref(null);
    const barragetype = ref('');
    const methods = {
      changeSuctiontop() {
        suctiontop.value = !isNoTop.value && true;
      },
      changeAnchorShow() {
        anchorVideoIsShow.value = !anchorVideoIsShow.value;
      },
      setBarrageType(type) {
        barragetype.value = type;
      },
      onHandleBack: () => {
        router.go(-1);
      },
      getGameInfo: async ({ immediate }: { immediate: boolean } = { immediate: false }) => {
        if (immediate) {
          clearTimeout(getInfoTimer.value);
          getInfoTimer.value = null;
        }
        const periodId = Array.isArray(route.query.periodId) ? route.query.periodId[0] : route.query.periodId;
        const timeout = Number(periodId) === 3 ? 6 * 1000 : 60 * 1000;

        const [res, data] = await queryEventsAndMarkets(form.value);
        if (!isEmpty(data) && res) {
          gameInfo.value = data[0];
          oddsInfo.value = !isEmpty(data[0].matches[0]) && pickValue(data[0].matches[0], 'oddset');
          getInfoTimer.value = setTimeout(methods.getGameInfo, timeout);
          // 虚拟赛事获取赛事视频
          const { StreamingOption, ChannelCode, ParentID, HomeName } = data[0].matches[0];
          // ParentID：0 不是子比赛
          const isVirtual = !!StreamingOption && !!ChannelCode && (ParentID === 0 || HomeName.includes('虚拟'));
          if (!!virtualVideoUrl.value || virtualVideoUrl.value === null) {
            return true;
          }
          if (isVirtual) {
            const [res, d] = await getVirtualEventVideo({
              sportType: 1,
              streamingOption: StreamingOption,
              channelCode: ChannelCode
            });
            if (res && !!d) {
              virtualVideoUrl.value = d.StreamingUrlCN;
            }
            return true;
          }
          return true;
        } else {
          getInfoTimer.value = setTimeout(methods.getGameInfo, timeout);
          return true;
        }
      },
      // 初始化数据
      initPage: async () => {
        Toast.loading({ forbidClick: true });
        const routeQuery = {
          sportId: Array.isArray(route.query.sportId) ? route.query.sportId[0] : route.query.sportId,
          periodId: 0,
          eventIds: matchId,
          isParlay: isParlay.value
        };
        if (!isEmpty(routeQuery) && !!routeQuery) {
          form.value = routeQuery;
          const res = await methods.getGameInfo();
          res && Toast.clear();
          isPageLoading.value = false;
        } else {
          Toast.clear();
          isPageLoading.value = false;
        }
      },
      formatMarketType: (value: number) => {
        const obj = DATE_TYPES.find(e => e.value === value);
        return obj?.index;
      },
      // 打开注单
      openBetSlip: () => {
        visibleBetList.value = true;
      },
      // 关闭注单
      onClosePopup: () => {
        visibleBetList.value = false;
      },
      // 发送聊天信息
      onSendChat: (msg: string) => {
        if (!isConnected.value) {
          Toast('聊天服务器连接失败!');
          return;
        }
        sendMessage(msg);
      }
    };

    // 滚动加固定
    const tabScrollFixed = (isAdd: boolean) => {
      const handicapTabNode = document.getElementsByClassName('handicap-tab')[0];
      const timeBarNodes = document.getElementsByClassName('time-bar');
      const timeBarNode = Array.from(timeBarNodes).filter(e => !e.classList.contains('data-fixed'))[0];
      isNoTop.value = !isAdd;
      if (!!handicapTabNode) {
        if (isOpenDetail.value) {
          handicapTabNode.className = isRelative.value ? 'handicap-tab isUtil-fixed1' : 'handicap-tab';
        } else {
          suctiontop.value = isAdd;
          handicapTabNode.classList.remove('isUtil-fixed1');
          // handicapTabNode.className = isAdd ? 'handicap-tab isUtil-fixed' : 'handicap-tab';
        }
      }
      if (!!timeBarNode) {
        timeBarNode.className = isAdd ? 'time-bar isUtil-fixed' : 'time-bar';
      }
    };

    nextTick(() => {
      headerFadeToggle(
        {
          target: '#sport-header',
          anchor: '.handicap-list',
          navHeight: true
        },
        () => tabScrollFixed(true),
        () => tabScrollFixed(false),
        // @ts-ignore;
        document.getElementById('detail-page') as HTMLElement
      );
    });

    // TODO 获取主播直播信息
    const { anchorInfo } = useAnchorData(matchId);
    provide('anchor-info', anchorInfo);
    // 初始化聊天
    watchEffect(() => {
      const { username, nickName } = userInfo.value;
      if (!!isConnected.value && !!matchId && username && nickName) {
        const tenantCode = getTenant();
        const { liveRoomId } = anchorInfo.value;
        const mid = liveRoomId ? anchorInfo.value.matchId : (matchId as any);
        // 订阅 聊天消息
        subscribe({
          destination: `/topic/${tenantCode}.${mid}.${liveRoomId ? liveRoomId + '.' : ''}message`,
          options: {
            nick: nickName,
            chId: liveRoomId ? `${mid}|${liveRoomId}` : mid
          }
        });
        // 订阅内容: 历史消息
        subscribe({
          destination: `/topic/user.${tenantCode}.${username}.message`
        });
      }
    });
    watchEffect(() => {
      // 进入页面滚动出固定header时，盘口关闭后再开启后，需要将显示球队的header 初始化
      if (isEmpty(marketsListGroupByBettype.value)) {
        if (document.getElementById('sport-header')) {
          (document.getElementById('sport-header') as HTMLElement).style.opacity = '0';
        }
        if (document.getElementsByClassName('handicap-tab')[0]) {
          document.getElementsByClassName('handicap-tab')[0].className = 'handicap-tab';
        }
      }
    });
    const visibilitychange = async () => {
      if (document.visibilityState === 'hidden') {
        console.log('[LOG] screen is off!');
        closeChat();
      } else {
        console.log('重新链接-------');
        initChat();
      }
    };
    onMounted(async () => {
      // 设置串关开关
      // store.dispatch('CHANGE_PARLAY_STATUS', { isParlay: isParlay.value });
      await methods.initPage();
      // 初始化聊天
      initChat();
      // 监听熄屏，重新开屏重连
      document.addEventListener('visibilitychange', visibilitychange, false);
    });
    watch(
      () => route.path,
      () => {
        clearTimeout(getInfoTimer.value);
        getInfoTimer.value = null;
      }
    );
    // watch(marketsListGroupByBettype.value, () => {
    //   console.log('1212' + marketsListGroupByBettype.value);
    // });
    // 路由变化
    onBeforeRouteUpdate(async (from, to) => {
      if (from?.query?.matchId !== to.query.matchId) {
        const routeQuery = {
          sportId: to.query.sportId,
          periodId: to.query.periodId,
          eventIds: to.query.matchId,
          isParlay: to.query.isParlay === 'true'
        };
        form.value = routeQuery;
        await methods.getGameInfo({ immediate: true });
      }
    });

    // 获取足球事件
    const { soccerBallEventsData, bBallAnalysisData, isEmptyFootballEventData } = useEventsData({
      matchId: Number(route.query.matchId),
      sportId: Number(sportType.value)
    });
    onBeforeUnmount(() => {
      // 初始化数据
      store.dispatch('INIT_SPORTS_BET_LIST');
      // 清除定时器
      clearTimeout(getInfoTimer.value);
      getInfoTimer.value = null;
      // 关闭聊天
      closeChat();
      // 移除监听事件
      document.removeEventListener('visibilitychange', visibilitychange, false);
    });

    provide('matchInfo', { ...moreMatchInfo, matchInfo, sportType });
    provide('soccerBallEventsData', soccerBallEventsData);
    provide('bBallAnalysisData', bBallAnalysisData);
    provide('isEmptyFootballEventData', isEmptyFootballEventData);

    provide('matchId', matchId);

    const soccerBallWsTech: ComputedRef<Map<number, any>> = computed(
      () => store.getters.getTechById(matchId) || new Map()
    );

    provide('soccerBallWsTech', soccerBallWsTech);
    provide('soccerBallWsTechIsEmpty', soccerBallWsTech.value.size === 0);

    return {
      oddsIds,
      isLive,
      form,
      isEmpty,
      isNoTop,
      oddsInfo,
      gameInfo,
      sportType,
      marketsList,
      matchInfo,
      isParlay,
      getInfoTimer,
      isPageLoading,
      messageList,
      filterIndexList,
      timeText,
      isOpenDetail,
      visibleBetList,
      soccerBallEventsData,
      marketsListGroupByBettype,
      ...methods,
      moreMatchInfo,
      anchorInfo,
      anchorVideoIsShow,
      suctiontop,
      barragetype,
      clearUnreadCount,
      isLockInput,
      needRrchargeAmount,
      isConnected,
      unreadCount
    };
  }
};
</script>

<style lang="less" scoped>
.menu-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  width: 40px;
  height: 46px;
  color: #fff;
  z-index: 200;
  .svg-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}
.sport-detail {
  width: 100vw;
  height: var(--100vh);
  padding-bottom: 46px;
  overflow: auto;
  background-color: @background-color;
  .sport-header {
    z-index: 50;
    overflow: hidden;
    &:deep(.team-logo) {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.top-team-info {
  transform: scale(0.8);
}

.mark-icon {
  height: 20px;
  font-size: 20px;
  color: #fff;
  padding-right: 10px;
  .van-icon-star-o {
    color: @white;
  }
  .van-icon-star {
    color: #f8b500;
  }
  .svg-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: 10px;
  }
}

:deep(.van-nav-bar__right) {
  padding: 0 !important;
  position: fixed;
  z-index: 20;
  height: 46px;
}
</style>
<style lang="less">
.bet-history-container {
  height: 100vh;
  overflow: hidden;
  width: 80%;
}
</style>
