<template>
  <div class="basketball-score">
    <div class="team-name">
      <div class="item"></div>
      <div class="item">
        <span>{{ homeName }}</span>
      </div>
      <div class="item">
        <span>{{ awayName }}</span>
      </div>
    </div>
    <div class="team-c" v-for="item in info" :key="item.key">
      <div class="item">{{ item.name }}</div>
      <div class="item" :class="{ 'gold-color': item.yellow }">{{ item.home }}</div>
      <div class="item" :class="{ 'gold-color': item.yellow }">{{ item.away }}</div>
    </div>
  </div>
  <div class="basketball-statistics">
    <div class="shot" v-for="item in analysis" :key="item.key">
      <div class="title">{{ item.name }}</div>
      <div class="progress">
        <span class="progress__num">{{ item.home }}</span>
        <div class="progress__wrap">
          <span class="progress__inner" :style="{ width: item.homeProgress }"></span>
        </div>
        <span class="progress__num">{{ item.away }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, inject } from 'vue';

export default defineComponent({
  name: 'BasketballEvents',
  setup() {
    const { matchInfo } = inject('matchInfo') as any;

    const homeName = computed(() => {
      return matchInfo.value.HomeName || '--';
    });
    const awayName = computed(() => {
      return matchInfo.value.AwayName || '--';
    });

    const basketballArr = [
      { name: 'Q1', home: 'H1Q', away: 'A1Q' },
      { name: 'Q2', home: 'H2Q', away: 'A2Q' },
      { name: '半', home: 'ht_home_score', away: 'ht_away_score', yellow: true },
      { name: 'Q3', home: 'H3Q', away: 'A3Q' },
      { name: 'Q4', home: 'H4Q', away: 'A4Q' },
      { name: '加时', home: 'OverTimeH', away: 'OverTimeA' },
      { name: '总分', home: 'ScoreH', away: 'ScoreA', yellow: true }
    ];
    const info = computed(() => {
      const moreInfo = matchInfo.value.MoreInfo || {};
      return basketballArr.map(b => ({
        name: b.name,
        key: b.home + '_key',
        home: moreInfo[b.home] || 0,
        away: moreInfo[b.away] || 0,
        yellow: b.yellow
      }));
    });

    const bBallAnalysisData = inject('bBallAnalysisData') as any;
    const basketballAns = [
      { name: '罚球得分', home: 'home_freeThrowShot', away: 'away_freeThrowShot' },
      { name: '本节犯规数', home: 'home_foul', away: 'away_foul' },
      { name: '三分球数', home: 'home_threePointShot', away: 'away_threePointShot' }
    ];

    const analysis = computed(() => {
      return basketballAns.map(b => {
        const data = bBallAnalysisData.value;
        const home = data[b.home] || 0;
        const away = data[b.away] || 0;
        return {
          name: b.name,
          home,
          away,
          key: b.home + '_key',
          homeProgress: home + away === 0 ? '50%' : `${(home * 100) / (home + away)}%`
        };
      });
    });
    return {
      info,
      analysis,
      homeName,
      awayName
    };
  }
});
</script>

<style lang="less" scoped>
.basketball-score {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .team-name,
  .team-c {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-size: 12px;
  }
  .team-name {
    width: 80px;
    text-align: left;
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }
  .gold-color {
    color: #dfba83;
  }
  .item {
    padding: 2px 0;
  }
  .item:first-child {
    height: 18px;
    line-height: 18px;
    opacity: 0.7;
    transform: scale(0.8);
  }
}

.basketball-statistics {
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
  .shot {
    flex: 1;
    .title {
      font-size: 12px;
      text-align: center;
      color: #fff;
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  &__num {
    font-size: 12px;
    color: #fff;
    width: 20px;
    &:first-child {
      text-align: right;
    }
  }
  &__wrap {
    flex: 1;
    height: 8px;
    background: @primary-color;
    border-radius: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 10px;
  }
  &__inner {
    height: 100%;
    display: block;
    &:first-child {
      background-color: #e20b0b;
    }
  }
}
</style>
