<template>
  <div class="live-events">
    <SoccerballEvents v-if="sportType == '1'" />
    <BasketballEvents v-if="sportType == '2'" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
// import CircleProgress from '@/components/CircleProgress/index.vue';
import SoccerballEvents from './soccerball-events.vue';
import BasketballEvents from './basketball-events.vue';

export default defineComponent({
  name: 'LiveEvents',
  components: { SoccerballEvents, BasketballEvents },
  props: {
    sportType: {
      type: Number
    },
    matchId: {
      type: Number
    }
  },
  setup(props) {
    console.warn(props);

    return {};
  }
});
</script>

<style lang="less" scoped>
.live-events {
  position: relative;
  padding-bottom: 32px;
  height: 160px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.3), rgba(0, 0, 0, 0));
}
</style>
