.week-calendar {
  width: 100%;
  display: flex;
  overflow: hidden;
  background: #fff;
  padding-left: 16px;
  > ul {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    color: #888;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    text-align: left;
    font-size: 0;
    padding: 6px 0;
    background: #fff;
  }
  &-item {
    display: inline-block;
    margin-right: 12px;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 10px;
    position: relative;
    height: 40px;
    background: #f2f2f2;
    border-radius: 4px;
    &.active {
      background: @primary-color;
      .date-label {
        color: #fff;
      }
      .week-label {
        color: #fff;
      }
    }
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .date-label {
        font-size: 14px;
        color: #000;
      }
      .week-label {
        font-size: 12px;
        color: #9a9a9a;
        line-height: 1.2;
        transform: scale(0.85);
      }
    }
  }
}
