<template>
  <div class="b">按钮</div>
</template>

<script lang="ts">
export default {
  name: 'SButton',
  setup() {
    return {};
  }
};
</script>

<style lang="less" scoped>
.b {
  position: relative;
}
</style>
