@button-mini-height: 24px;
@button-mini-padding: 0 @padding-base;
@button-mini-font-size: @font-size-xs;
@button-small-height: 32px;
@button-small-padding: 0 @padding-xs;
@button-small-font-size: @font-size-sm;
@button-normal-padding: 0 15px;
@button-normal-font-size: @font-size-md;
@button-large-height: 50px;
@button-default-height: 44px;
@button-default-line-height: 1.2;
@button-default-font-size: @font-size-lg;
@button-default-color: @text-color;
@button-default-background-color: @white;
@button-default-border-color: @border-color;
@button-primary-color: @white;
@button-primary-background-color: @primary-color;
@button-primary-border-color: @blue;
@button-success-color: @white;
@button-success-background-color: @green;
@button-success-border-color: @green;
@button-danger-color: @white;
@button-danger-background-color: @red;
@button-danger-border-color: @red;
@button-warning-color: @white;
@button-warning-background-color: @orange;
@button-warning-border-color: @orange;
@button-border-width: @border-width-base;
@button-border-radius: @border-radius-sm;
@button-round-border-radius: @border-radius-max;
@button-plain-background-color: @white;
@button-disabled-opacity: @disabled-opacity;
@button-icon-size: 1.2em;
@button-loading-icon-size: 20px;

.van-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: @button-default-height;
  margin: 0;
  padding: 0;
  font-size: @button-default-font-size;
  line-height: @button-default-line-height;
  text-align: center;
  border-radius: @button-border-radius;
  cursor: pointer;
  transition: opacity @animation-duration-fast;
  -webkit-appearance: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: @black;
    border: inherit;
    border-color: @black;
    border-radius: inherit; /* inherit parent's border radius */
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }

  &:active::before {
    opacity: 0.1;
  }

  &--loading,
  &--disabled {
    &::before {
      display: none;
    }
  }

  &--default {
    color: @button-default-color;
    background-color: @button-default-background-color;
    border: @button-border-width solid @button-default-border-color;
  }

  &--primary {
    color: @button-primary-color;
    background-color: @primary-color !important;
    border: @button-border-width solid @primary-color !important;
  }

  &--success {
    color: @button-success-color;
    background-color: @button-success-background-color;
    border: @button-border-width solid @button-success-border-color;
  }

  &--danger {
    color: @button-danger-color;
    background-color: @button-danger-background-color;
    border: @button-border-width solid @button-danger-border-color;
  }

  &--warning {
    color: @button-warning-color;
    background-color: @button-warning-background-color;
    border: @button-border-width solid @button-warning-border-color;
  }

  &--plain {
    background-color: @button-plain-background-color;

    &.van-button--primary {
      color: @button-primary-background-color;
    }

    &.van-button--success {
      color: @button-success-background-color;
    }

    &.van-button--danger {
      color: @button-danger-background-color;
    }

    &.van-button--warning {
      color: @button-warning-background-color;
    }
  }

  &--large {
    width: 100%;
    height: @button-large-height;
  }

  &--normal {
    padding: @button-normal-padding;
    font-size: @button-normal-font-size;
  }

  &--small {
    height: @button-small-height;
    padding: @button-small-padding;
    font-size: @button-small-font-size;
  }

  &__loading {
    color: inherit;
    font-size: inherit;

    .van-loading__spinner {
      color: currentColor;
      width: @button-loading-icon-size;
      height: @button-loading-icon-size;
    }
  }

  &--mini {
    height: @button-mini-height;
    padding: @button-mini-padding;
    font-size: @button-mini-font-size;

    & + .van-button--mini {
      margin-left: @padding-base;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: @button-disabled-opacity;
  }

  &--loading {
    cursor: default;
  }

  &--round {
    border-radius: @button-round-border-radius;
  }

  &--square {
    border-radius: 0;
  }

  // align-items are ignored when flex container isUtil a button in legacy safari
  // see: https://bugs.webkit.org/show_bug.cgi?id=169700
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    // fix icon vertical align
    // see: https://github.com/youzan/vant/issues/7617
    &::before {
      content: ' ';
    }
  }

  &__icon {
    font-size: @button-icon-size;
    line-height: inherit;
  }

  &__icon + &__text,
  &__loading + &__text,
  &__text + &__icon,
  &__text + &__loading {
    margin-left: @padding-base;
  }

  &--hairline {
    border-width: 0;

    &::after {
      border-color: inherit;
      border-radius: @button-border-radius * 2;
    }

    &.van-button--round::after {
      border-radius: @button-round-border-radius;
    }

    &.van-button--square::after {
      border-radius: 0;
    }
  }
}
