.van-checkbox {
  &__icon--round-corner {
    .van-icon {
      border-radius: 3px;
    }
  }
}
.van-checkbox__icon--checked {
  .van-icon {
    color: #fff;
    background-color: @primary-color !important;
    border-color: @primary-color !important;
  }
}
