.van-image {
  position: relative;
  display: inline-block;

  &--round {
    overflow: hidden;
    border-radius: 1000px;

    img {
      border-radius: inherit;
    }
  }

  &__error,
  &__loading {
    background: none !important;
  }
}
