@import './button.less';
@import './checkbox.less';
@import './radio.less';
@import './image.less';
@import './match-item.less';

.van-tabs {
  &__nav {
    &--radius {
      background-color: white;
      border-radius: 100px;
      margin: 8px 15px;
      .van-tab {
        border-radius: 100px;
        padding: 3px 0;
        font-size: 12px;
        &.van-tab--active {
          background-color: @primary-color;
          color: white;
          font-weight: normal;
        }
      }
    }
  }
}
