.sports-match-list {
  text-align: left;
  border-radius: 20px;
  width: 100%;
  padding-top: 5px;
  box-sizing: border-box;
  background-color: @bg-color;

  &.padb80 {
    padding-bottom: 80px;
  }

  .collapse-league-info {
    height: 24px;
    display: flex;
    justify-items: self-start;
    align-items: center;
    background: @white;
    border-radius: 10px;
    font-size: @font-size-md;

    .game-logo {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }

    .league-name {
      .text-overflow();
      flex: 1;

      > span {
        font-size: @font-size-md;
        padding-left: 3px;
      }
    }
  }

  .sports-match-item {
    border-bottom: 1px solid @border-color;
    margin: 0 15px;

    &:last-child {
      border-bottom: none;
    }
  }

  .item_s {
    color: #a3a2a2;
    width: calc(100% - 24px);
  }

  .match-collapse-item {
    margin-bottom: 5px;
    border-radius: 20px;
    overflow: hidden;

    .time-header {
      display: flex;
      align-items: center;
      padding: 8px 0;

      .match-time {
        background: #f1f1f1;
        padding: 0px 6px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        font-size: @font-size-xs;
        color: @gray-6;

        .svg-icon {
          fill: @gray-6;
          margin-left: 3px;
        }

        &.is-live {
          color: @red;

          .svg-icon {
            fill: @red;
          }
        }
      }

      .match-score {
        flex: 1;
        padding: 0 3px;
        display: flex;
        align-items: center;

        > span {
          padding: 0 2px;
          font-size: @font-size-xs;
        }
      }

      .ht-score {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-size: @font-size-xs;

        .tech-info {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 150px;
        }

        .svg-icon {
          width: 15px;
          height: 15px;
          margin: 0 3px;
          fill: @gray-5;
        }

        .corners-icon {
          width: 18px;
          height: 18px;
        }
      }

      .is-neutral {
        display: flex;
        align-items: center;
        float: left;
        margin-left: 3px;

        > .svg-icon {
          display: block;
          width: 14px;
          height: 14px;
          fill: @green;
        }
      }
    }

    .red-score {
      color: @red;
    }
  }

  .match-collapse-item .van-collapse-item__content {
    padding: 0;
  }

  .match-item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 10px 0;
    align-items: center;
    box-sizing: border-box;

    .team-name {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      width: 45%;

      > span.item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        flex: 1;
        justify-content: inherit;
        padding: 2px 10px 2px 0;

        .itemH,
        .itemA {
          display: flex;
          align-items: center;
        }

        span {
          line-height: normal;
          font-size: @font-size-md;
          color: @text-color;
          padding-left: 3px;
          font-size: 13px;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .card {
          display: flex;
          align-items: center;

          .cardY,
          .cardR {
            font-size: @font-size-xs;
            line-height: normal;
            color: #fff;
            margin: 0 1px;
            padding: 0 2px;
            min-width: 7px;
            text-align: center;
            border-radius: 2px;
          }

          .cardY {
            background: #ebba40;
          }

          .cardR {
            background: red;
          }
        }
      }
    }

    .score {
      width: 7%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-content: space-around;
      padding-right: 3%;

      .scorebox_s {
        position: relative;

        &::after {
          content: '';
          width: 5px;
          height: 5px;
          right: -7px;
          transform: translateY(-50%);
          top: 50%;
          background: #45a27d;
          border-radius: 100px;
          position: absolute;
        }
      }

      > span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        font-size: @font-size-md;
        color: @gray-5;
        font-family: 'DINAlternate-Bold';

        &.win-color {
          color: @gray-8;
        }
      }
    }
  }

  .star-icon {
    display: flex;
    align-items: center;
    justify-content: right;

    .marked-icon {
      margin-left: 5px;
      font-size: 16px;
      color: #c2c2c2;
    }

    .van-icon-star {
      color: #f8b500;
    }

    .dateNum {
      display: flex;
      align-items: center;
      > .van-icon-arrow {
        font-size: 12px;
        transform: scale(0.8);
      }
    }

    .nu {
      font-size: 12px;
    }
  }

  .bottom-line {
    text-align: center;
    font-size: @font-size-md;
    color: @gray-5;
    padding: 10px 0;
  }

  .isQIANKUN {
    height: 100px;
  }
}
