<template>
  <svg class="svg-icon" aria-hidden="true">
    <use :xlink:href="iconName" />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SvgIcon',
  props: {
    name: {
      type: String,
      required: true
    }
  },
  setup(props) {
    return { iconName: `#icon-${props.name}` };
  }
});
</script>

<style lang="less">
.svg-icon {
  width: 14px;
  height: 14px;
  vertical-align: -0.15em;
  fill: @primary-color;
  overflow: hidden;
}
</style>
