.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  > img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .dsc {
    text-align: center;
    padding: 10px 0;
    width: 282px;
    height: 102px;
    background-image: url('./assets/text_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    span {
      &:nth-child(1) {
        font-size: 14px;
        line-height: 2;
        color: #000;
      }
      &:nth-child(2) {
        font-size: 14px;
        color: #009944;
        line-height: 2;
      }
    }
  }
}
