.progress {
  box-sizing: border-box;
  width: 100%;

  &.sticky {
    position: sticky;
    top: 45px;
    z-index: 20;
  }

  &.fixed {
    position: fixed;
    z-index: 20;
  }

  :global {
    .van-progress__pivot {
      white-space: nowrap;
    }
  }
}

.track {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  height: 18px;
  background: #bb3537;
  border-radius: 9px 9px 9px 9px;
  opacity: 1;
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
}
