<template>
  <div class="fnexi_box">
    <div class="top_table">
      <table width="100%" cellpadding="20" cellspacing="0" align="center">
        <tr class="table_top">
          <th width="100px" align="left"><span class="frist-color">球队排名</span></th>
          <th class="last-color">赛</th>
          <th class="last-color">胜/平/负</th>
          <th class="last-color">进/失</th>
          <th class="last-color">净</th>
          <th class="last-color">排名</th>
        </tr>
        <tr class="table_content" v-if="homeLeagueJF" align="center">
          <td><AvatarCmt :nametitle="matchInfo.HomeName" :sportId="sportType" :dividerShow="false" /></td>
          <td>{{ homeLeagueJF.scheNum }}</td>
          <td>{{ homeLeagueJF.win }}/{{ homeLeagueJF.stand }}/{{ homeLeagueJF.fail }}</td>
          <td>{{ homeLeagueJF.score }}/{{ homeLeagueJF.loss }}</td>
          <td>{{ homeLeagueJF.clean }}</td>
          <td>{{ homeLeagueJF.order }}</td>
        </tr>
        <tr class="table_content" v-if="guestLeagueJF" align="center">
          <td><AvatarCmt :nametitle="matchInfo.AwayName" :sportId="sportType" :dividerShow="false" /></td>
          <td>{{ guestLeagueJF.scheNum }}</td>
          <td>{{ guestLeagueJF.win }}/{{ guestLeagueJF.stand }}/{{ analylist.leagueJF?.guest.total.fail }}</td>
          <td>{{ guestLeagueJF.score }}/{{ guestLeagueJF.loss }}</td>
          <td>{{ guestLeagueJF.clean }}</td>
          <td>{{ guestLeagueJF.order }}</td>
        </tr>
      </table>
      <div v-if="isEmpty(homeLeagueJF) && isEmpty(guestLeagueJF)" class="Empty_box">暂无排名数据</div>
    </div>
    <div class="content_one">
      <h4>进球分布</h4>
      <div class="comme_box" v-if="!isEmpty(analylist.goalDist)">
        <div class="comme_top">
          <AvatarCmt :nametitle="matchInfo.HomeName" :sportId="sportType" />
          <AvatarCmt :nametitle="matchInfo.AwayName" :sportId="sportType" :flexRver="true" />
        </div>
        <ScoreCmt :goalDist="analylist.goalDist" />
      </div>
      <van-empty class="empty-box" v-else description="暂无分布数据">
        <template #image>
          <svg-icon class="revenge" v-if="defaultTheme === 'darkGold'" name="no_data_darkGold" />
          <svg-icon class="revenge" v-else name="no_data" />
        </template>
      </van-empty>
    </div>
    <div class="content_one">
      <h4>历史交锋</h4>
      <div class="comme_box" v-if="!isEmpty(analylist.hisMatch)">
        <div class="comme_top">
          <AvatarCmt :nametitle="matchInfo.HomeName" :sportId="sportType" :dividerShow="false" />
          <span class="comme_box-tongji">
            近{{ sumArr(scheduleInfo) }}场{{ scheduleInfo[0] }}赢{{ scheduleInfo[2] }}平{{ scheduleInfo[1] }}输
          </span>
        </div>
        <div v-for="(item, index) in analylist.hisMatch.scheduleInfo" :key="index">
          <div class="comme_content" v-if="index <= 4">
            <div class="lishi_content">
              <span class="time_text">{{ item.match_time }}</span>
              <div class="core_box">
                <div class="div_text left">
                  <span class="team_name">{{ item.home_team }}</span>
                  <team-logo :sportId="sportType" size="xxl" :teamName="item.home_team" />
                </div>
                <div class="core_content">
                  <span>{{ item.home_score }}-{{ item.guest_score }}</span>
                </div>
                <div class="div_text">
                  <team-logo :sportId="sportType" size="xxl" :teamName="item.guest_team" />
                  <span class="team_name">{{ item.guest_team }}</span>
                </div>
              </div>
              <span :class="['span_x', filterscore(homeTeamName, item.home_team, item.guest_team, item).color]">
                <!-- {{item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输'}} -->
                {{ filterscore(homeTeamName, item.home_team, item.guest_team, item).Str }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <van-empty class="empty-box" v-else description="暂无交锋数据">
        <template #image>
          <svg-icon class="revenge" v-if="defaultTheme === 'darkGold'" name="no_score_darkGold" />
          <svg-icon class="revenge" v-else name="no_score" />
        </template>
      </van-empty>
    </div>
    <div class="content_one">
      <h4>对战记录 <small>(近5场)</small></h4>
      <div class="comme_box" v-if="IsAnalylist">
        <div class="comme_top">
          <AvatarCmt :nametitle="matchInfo.HomeName" :sportId="sportType" />
          <AvatarCmt :nametitle="matchInfo.AwayName" :sportId="sportType" :flexRver="true" />
        </div>
        <div class="duizhan_content">
          <div class="Echt_box">
            <span style="margintop: 10px">
              {{ homeScheduleInfo[0] }}赢{{ homeScheduleInfo[1] }}输{{ homeScheduleInfo[2] }}平
            </span>
            <p>
              <span
                :class="[its == '赢' ? 'red' : its == '输' ? 'green' : 'hui']"
                v-for="(its, idx) in HomeText"
                :key="idx"
                >{{ its }}</span
              >
            </p>
            <EchartCmt id="left" :arrlist="homeScheduleInfo" />
          </div>
          <div class="Echt_box">
            <span style="margintop: 10px"
              >{{ guestScheduleInfo[0] }}赢{{ guestScheduleInfo[1] }}输{{ guestScheduleInfo[2] }}平</span
            >
            <p>
              <span
                :class="[its == '赢' ? 'red' : its == '输' ? 'green' : 'hui']"
                v-for="(its, idx) in guestText"
                :key="idx"
                >{{ its }}</span
              >
            </p>
            <EchartCmt id="right" :arrlist="guestScheduleInfo" />
          </div>
        </div>
        <div>
          <van-divider dashed>对战详情</van-divider>
          <div class="comme_box" v-if="IsAnalylist">
            <div class="comme_top">
              <AvatarCmt :nametitle="matchInfo.HomeName" :sportId="sportType" :dividerShow="false" />
            </div>
            <div
              class="comme_content"
              v-for="(item, index) in analylist.lastMatch.homeScheduleInfo"
              :key="index + '_home'"
            >
              <div class="lishi_content" v-if="index < 5">
                <span class="time_text">{{ item.match_time }}</span>
                <div class="core_box">
                  <div class="div_text left">
                    <span class="team_name">{{ item.home_team }}</span>
                    <team-logo :sportId="sportType" size="xxl" :teamName="item.home_team" />
                  </div>
                  <div class="core_content">
                    <span>{{ item.home_score }}-{{ item.guest_score }}</span>
                  </div>
                  <div class="div_text">
                    <team-logo :sportId="sportType" size="xxl" :teamName="item.guest_team" />
                    <span class="team_name">{{ item.guest_team }}</span>
                  </div>
                </div>
                <span :class="['span_x', filterscore(homeTeamName, item.home_team, item.guest_team, item).color]">
                  <!-- {{item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输'}} -->
                  {{ filterscore(homeTeamName, item.home_team, item.guest_team, item).Str }}
                </span>
              </div>
            </div>
          </div>
          <div class="comme_box" v-if="IsAnalylist">
            <div class="comme_top">
              <AvatarCmt :nametitle="matchInfo.AwayName" :sportId="sportType" :dividerShow="false" />
            </div>
            <div
              class="comme_content"
              v-for="(item, index) in analylist.lastMatch.guestScheduleInfo"
              :key="index + '_away'"
            >
              <div class="lishi_content" v-if="index < 5">
                <span class="time_text">{{ item.match_time }}</span>
                <div class="core_box">
                  <div class="div_text left">
                    <span class="team_name">{{ item.guest_team }}</span>
                    <team-logo :sportId="sportType" size="xxl" :teamName="item.guest_team" />
                  </div>
                  <div class="core_content">
                    <span>{{ item.guest_score }}-{{ item.home_score }}</span>
                  </div>

                  <div class="div_text">
                    <team-logo :sportId="sportType" size="xxl" :teamName="item.home_team" />
                    <span class="team_name">{{ item.home_team }}</span>
                  </div>
                </div>
                <span :class="['span_x', filterscore(guestTeamName, item.home_team, item.guest_team, item).color]">
                  <!-- {{ item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输' }} -->
                  {{ filterscore(guestTeamName, item.home_team, item.guest_team, item).Str }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <van-empty class="empty-box" v-else description="暂无对战数据">
        <template #image>
          <svg-icon class="revenge" v-if="defaultTheme === 'darkGold'" name="no_score_darkGold" />
          <svg-icon class="revenge" v-else name="no_score" />
        </template>
      </van-empty>
    </div>
  </div>
</template>

<script>
import AvatarCmt from './smallCMT/AvatarCmt.vue';
import ScoreCmt from './smallCMT/ScoreCmt.vue';
import EchartCmt from './smallCMT/EchartCmt.vue';
import { getThemeStyle } from '@/common/utils';
import { inject, reactive, toRefs, computed } from 'vue';
import { isEmpty, sumBy, take, result } from 'lodash-es';

export default {
  name: 'FootballAnalysis',
  components: {
    AvatarCmt,
    ScoreCmt,
    EchartCmt
  },
  props: {
    analylist: {
      type: Object,
      default: () => {}
    }
  },
  setup(props) {
    const defaultTheme = getThemeStyle();
    const date = reactive({
      homeScheduleInfo: [0, 0, 0], //index~ 0赢  1输 2平
      HomeText: [],
      guestScheduleInfo: [0, 0, 0], //index~ 0赢  1输 2平
      guestText: [],
      scheduleInfo: [0, 0, 0],
      homeTeamName: null,
      guestTeamName: null
    });
    const methods = {
      sumArr: function (arr) {
        return sumBy(arr, o => Number(o));
      },
      mapArr: function (arr, str, id = 0, teamate) {
        if (arr.length === 0) return;
        if (!teamate) {
          const [{ home_team, guest_team }, { home_team: home_team_2, guest_team: guest_team_2 }] = arr;
          // 某只队伍 主或客
          teamate = home_team === home_team_2 || home_team === guest_team_2 ? home_team : guest_team;
          id === 1 ? (date.homeTeamName = teamate) : id === 2 ? (date.guestTeamName = teamate) : void 0;
        }
        arr.map(item => {
          if (id == 1) {
            if (item.home_team === teamate) {
              if (item.home_score > item.guest_score) {
                date[str][0] += 1;
                date.HomeText.push('赢');
              } else if (item.home_score < item.guest_score) {
                date[str][1] += 1;
                date.HomeText.push('输');
              } else if (item.home_score == item.guest_score) {
                date[str][2] += 1;
                date.HomeText.push('平');
              }
            } else {
              if (item.guest_score > item.home_score) {
                date[str][0] += 1;
                date.HomeText.push('赢');
              } else if (item.guest_score < item.home_score) {
                date[str][1] += 1;
                date.HomeText.push('输');
              } else if (item.home_score == item.guest_score) {
                date[str][2] += 1;
                date.HomeText.push('平');
              }
            }
          } else if (id == 2) {
            if (item.guest_team === teamate) {
              if (item.guest_score > item.home_score) {
                date[str][0] += 1;
                date.guestText.push('赢');
              } else if (item.guest_score < item.home_score) {
                date[str][1] += 1;
                date.guestText.push('输');
              } else if (item.guest_score == item.home_score) {
                date[str][2] += 1;
                date.guestText.push('平');
              }
            } else {
              if (item.home_score > item.guest_score) {
                date[str][0] += 1;
                date.guestText.push('赢');
              } else if (item.home_score < item.guest_score) {
                date[str][1] += 1;
                date.guestText.push('输');
              } else if (item.home_score == item.guest_score) {
                date[str][2] += 1;
                date.guestText.push('平');
              }
            }
          } else {
            if (teamate === item.home_team) {
              if (item.home_score > item.guest_score) {
                date[str][0] += 1;
              } else if (item.home_score < item.guest_score) {
                date[str][1] += 1;
              } else if (item.home_score == item.guest_score) {
                date[str][2] += 1;
              }
            } else {
              if (item.guest_score > item.home_score) {
                date[str][0] += 1;
              } else if (item.guest_score < item.home_score) {
                date[str][1] += 1;
              } else if (item.guest_score == item.home_score) {
                date[str][2] += 1;
              }
            }
          }
        });
      },
      filterscore: function (canzhao, homeScore, guseScore, item) {
        let obj = {
          Str: '',
          color: ''
        }; //home_score guest_score
        if (canzhao === homeScore) {
          obj.Str = item.home_score > item.guest_score ? '赢' : item.home_score == item.guest_score ? '平' : '输';
          obj.color =
            item.home_score > item.guest_score
              ? 'redgrund'
              : item.guest_score == item.home_score
              ? 'huigrund'
              : 'greengrund';
        } else if (canzhao === guseScore) {
          obj.Str = item.guest_score > item.home_score ? '赢' : item.guest_score == item.home_score ? '平' : '输';
          obj.color =
            item.guest_score > item.home_score
              ? 'redgrund'
              : item.guest_score == item.home_score
              ? 'huigrund'
              : 'greengrund';
        }
        return obj;
      }
    };
    const homeLeagueJF = computed(() => {
      return result(props.analylist, 'leagueJF.home.total');
    });
    const guestLeagueJF = computed(() => {
      return result(props.analylist, 'leagueJF.guest.total');
    });
    const IsAnalylist = computed(() => JSON.stringify(props.analylist) != '{}');
    const IsleagueJF = computed(() => JSON.stringify(props.analylist.leagueJF?.home) != '{}');
    const { matchInfo, sportType, moreMatchInfo } = inject('matchInfo');
    if (IsAnalylist.value) {
      methods.mapArr(take(props.analylist.lastMatch.homeScheduleInfo, 5), 'homeScheduleInfo', 1);
      methods.mapArr(take(props.analylist.lastMatch.guestScheduleInfo, 5), 'guestScheduleInfo', 2);
      methods.mapArr(take(props.analylist.hisMatch.scheduleInfo, 5), 'scheduleInfo', 0, date.homeTeamName);
    }
    return {
      defaultTheme,
      matchInfo,
      ...toRefs(date),
      IsAnalylist,
      IsleagueJF,
      isEmpty,
      ...methods,
      sportType,
      moreMatchInfo,
      homeLeagueJF,
      guestLeagueJF
    };
  }
};
</script>

<style lang="less" scoped>
.Score_box {
  margin: 10px;
}

.red {
  color: #d11313;
}
.green {
  color: #149414;
}
.hui {
  color: #989898;
}
.redgrund {
  background: #c31d1d;
}
.greengrund {
  background: #149414;
}
.huigrund {
  background: #989898;
}
.fnexi_box {
  .top_table {
    background: @white;
    border-radius: 20px;
    margin-top: 5px;
  }
  .content_one {
    width: 100vw;
    margin-top: 10px;
    background: @white;
    border-radius: 20px;
    h4 {
      color: @text-color;
      margin: 0;
      padding: 10px;
      font-size: @font-size-md;
      border-bottom: 1px solid @border-color;
      margin-bottom: 10px;
      > small {
        color: @gray-5;
      }
    }
  }
  .duizhan_content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
    .Echt_box {
      display: flex;
      width: 49%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5px;
      background: @background-color;
      border-radius: 20px;
      > span {
        color: @text-color;
      }
    }
    p {
      margin: 0px;
      margin-bottom: 5px;
      span {
        width: 20px;
        line-height: 20px;
        text-align: center;
        height: 20px;
        font-size: 12px;
        border-radius: 100px;
        box-sizing: border-box;
        display: inline-block;
        margin-right: 2px;
        background: rgba(200, 200, 200, 0.1);
        border: 1px solid #fff;
      }
    }
    .echarts-box {
      width: 45%;
      height: 220px;
      background: #ededed;
      border-radius: 20px;
    }
  }
  .comme_box {
    margin-bottom: 10px;
    padding-bottom: 10px;
    .comme_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 10px;
      &-tongji {
        color: @text-color;
      }
    }
    .comme_content {
      display: flex;
      justify-content: center;
      .lishi_content {
        position: relative;
        width: 90vw;
        height: 70px;
        border-radius: 20px;
        background: @background-color;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .time_text {
          color: #7f7f7f;
        }
        .core_box {
          display: flex;
          width: 90%;
          justify-content: center;
          align-items: center;
          height: 40px;
          .core_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;

            span {
              font-size: 16px;
              font-weight: 600;
            }
          }
          .div_text {
            height: 50px;
            display: flex;
            flex: 1;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            text-align: center;

            .team_name {
              max-width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.left {
              justify-content: flex-end;
            }
          }
        }
        .span_x {
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          transform: scale(0.85);
          color: white;
          font-size: 12px;
        }
      }
    }
  }
  .Empty_box {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626262;
    font-size: 14px;
  }

  .empty-box {
    width: 100%;
    height: 150px;

    .svg-icon {
      width: 100%;
      height: 60px;
    }

    .revenge {
      transform: rotate(180deg);
    }

    :deep(.van-empty__description) {
      margin-top: -10px;
    }
  }
}
table,
tr,
th,
td {
  padding: 10px 2px;
}
table {
  border-collapse: collapse;
}
tr:nth-child(1) {
  border-bottom: 1px solid @border-color;
}
.frist-color {
  font-weight: 600;
  font-size: 14px;
}
.last-color {
  color: #626262;
  font-weight: 200;
}
.table_content td {
  vertical-align: middle;
}
.table_content td:not(:first-child) {
  color: #626262;
}
.table_content td:nth-child(1) {
  font-weight: 550;
}
</style>
