<template>
  <div>
    <van-tabs type="radius" v-model="ActiveIndex" :swipeable="true" :sticky="true" offset-top="10vh" animated>
      <van-tab title="实时" name="a">
        <RealTime :realTimelist="soccerBallEventsData.real" />
      </van-tab>
      <van-tab title="阵容" name="b">
        <FootballLineUp :lineUpData="soccerBallEventsData.lineUp" />
      </van-tab>
      <van-tab title="分析" name="c">
        <Analysis :analylist="soccerBallEventsData.analysis" />
      </van-tab>
      <van-tab title="情报" name="d">
        <IntelliGence :intelllist="soccerBallEventsData.intelligence" />
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import RealTime from './RealItem.vue';
import FootballLineUp from './FootballLineUp.vue';
import Analysis from './Analysis.vue';
import IntelliGence from './IntelliGence.vue';
import { inject } from 'vue';
export default {
  components: {
    Analysis,
    FootballLineUp,
    IntelliGence,
    RealTime
  },
  setup() {
    const soccerBallEventsData = inject('soccerBallEventsData');
    return { soccerBallEventsData };
  }
};
</script>
