<template>
  <div>
    <Team
      :showScore="false"
      class="top-team-info"
      :textcolor="true"
      :teamInfo="{
        guestName: matchInfo.AwayName,
        homeName: matchInfo.HomeName,
        sportType: sportType,
        ...moreMatchInfo
      }"
    />
    <template v-if="lineUpData.homeArray">
      <div class="battle_box">
        <div class="box_top">首发阵容</div>
        <div class="Array_box">
          <div class="box_title">
            <van-row>
              <van-col class="rigth_box" span="12">
                <div class="title_left">
                  <span></span>
                  <span>{{ lineUpData.homeArray }}</span>
                </div>
              </van-col>
              <van-col class="left_box" span="12">
                <div class="title_right">
                  <span>{{ lineUpData.awayArray }}</span>
                  <span></span>
                </div>
              </van-col>
            </van-row>
          </div>
          <div class="box_list" v-if="lineUpData.lineup.home">
            <van-row class="list" v-for="(line, index) in lineUpData.lineup.home" :key="line.id + '_lineup'">
              <van-col class="list_left" span="12">
                <van-image class="img_s red_border" :src="line.logo">
                  <template #error>
                    <div class="home_logo"></div>
                  </template>
                  <template #loading>
                    <div class="home_logo"></div>
                  </template>
                </van-image>
                <div>
                  <div>
                    <span class="red_text">{{ line.no }}</span>
                    <span class="player-name">{{ line.name }}</span>
                  </div>
                  <div class="border"></div>
                </div>
              </van-col>
              <van-col class="list_right" span="12">
                <div>
                  <div>
                    <span class="player-name">{{ lineUpData.lineup.away[index].name }}</span>
                    <span class="orange_text">{{ lineUpData.lineup.away[index].no }}</span>
                  </div>
                  <div class="border right"></div>
                </div>
                <van-image class="img_s orange_border" :src="lineUpData.lineup.away[index].logo">
                  <template #error>
                    <div class="away_logo"></div>
                  </template>
                  <template #loading>
                    <div class="away_logo"></div>
                  </template>
                </van-image>
              </van-col>
            </van-row>
          </div>
        </div>
      </div>
      <div class="battle_box" v-if="lineUpData.backup.home">
        <div class="box_top replace">替补阵容</div>
        <div class="Array_box">
          <div class="box_list">
            <van-row class="list" v-for="(line, index) in lineUpData.backup.home" :key="line.id + '_backup'">
              <van-col class="list_left" span="12">
                <van-image class="img_s red_border" :src="line.logo">
                  <template #error>
                    <div class="home_logo"></div>
                  </template>
                  <template #loading>
                    <div class="home_logo"></div>
                  </template>
                </van-image>
                <div>
                  <div>
                    <span class="red_text">{{ line.no }}</span>
                    <span class="player-name">{{ line.name }}</span>
                  </div>
                  <div class="border"></div>
                </div>
              </van-col>
              <van-col class="list_right" v-if="lineUpData.backup.away[index]" span="12">
                <div>
                  <div>
                    <span class="player-name">{{ lineUpData.backup.away[index].name }}</span>
                    <span class="orange_text">{{ lineUpData.backup.away[index].no }}</span>
                  </div>
                  <div class="border right"></div>
                </div>
                <van-image class="img_s orange_border" :src="lineUpData.backup.away[index].logo">
                  <template #error>
                    <div class="away_logo"></div>
                  </template>
                  <template #loading>
                    <div class="away_logo"></div>
                  </template>
                </van-image>
              </van-col>
            </van-row>
          </div>
        </div>
      </div>
      <div class="battle_box" v-if="injury.length > 0">
        <div class="box_top hurt">伤停情况</div>
        <div class="Array_box">
          <div class="box_list">
            <van-row class="list" v-for="line in injury" :key="line.id + '_injury'">
              <van-col class="list_left" span="12">
                <template v-if="line.home">
                  <van-image class="img_s red_border" :src="line.home.logo">
                    <template #error>
                      <div class="home_logo"></div>
                    </template>
                    <template #loading>
                      <div class="home_logo"></div>
                    </template>
                  </van-image>
                  <div>
                    <div>
                      <span class="red_text">{{ line.home.missed_matches || '' }}</span>
                      <span>{{ line.home.name }}</span>
                    </div>
                    <span class="reason">伤停原因:{{ line.home.reason }}</span>
                  </div>
                </template>
              </van-col>
              <van-col class="list_right" span="12">
                <template v-if="line.away">
                  <div>
                    <div>
                      <span>{{ line.away.name }}</span>
                      <span class="orange_text">{{ line.away.missed_matches || '' }}</span>
                    </div>
                    <span class="reason">伤停原因:{{ line.away.reason }}</span>
                  </div>
                  <van-image class="img_s orange_border" :src="line.away.logo">
                    <template #error>
                      <div class="away_logo"></div>
                    </template>
                    <template #loading>
                      <div class="away_logo"></div>
                    </template>
                  </van-image>
                </template>
              </van-col>
            </van-row>
          </div>
        </div>
      </div>
    </template>
    <div class="Empty_kong" v-else>
      <data-empty dsc="暂无数据" />
    </div>
  </div>
</template>

<script lang="ts">
import Team from '../../team.vue';
import { computed, ComputedRef, inject } from 'vue';
import { FootballEvents } from '../../../hooks/get-events-data';
import defaultImg from '../../assets/sport_player.png';

export default {
  name: 'FootballLineUp',
  components: {
    Team
  },
  props: {
    lineUpData: {
      type: Object,
      default: () => {}
    }
  },
  setup() {
    const { matchInfo, sportType, moreMatchInfo } = inject('matchInfo') as any;
    const soccerBallEventsData = inject('soccerBallEventsData') as ComputedRef<FootballEvents>;
    const injury = computed(() => {
      const { analysis = {} } = soccerBallEventsData.value;
      const { injury = { home: [], away: [] } } = analysis;
      const { home, away } = injury;
      const isHomeMax = home.legth >= away.length;
      return isHomeMax
        ? home.map((h: any, i: number) => ({
            home: h,
            away: away[i],
            id: h.id
          }))
        : away.map((a: any, i: number) => ({
            home: home[i],
            away: a,
            id: a.id
          }));
    });
    return { matchInfo, sportType, moreMatchInfo, injury, defaultImg };
  }
};
</script>

<style lang="less" scoped>
:deep(.top-team-info) {
  .team-name {
    span {
      color: @text-color;
    }
  }
}
.battle_box {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid @border-color;
  border-radius: 20px;

  .box_top {
    width: 80px;
    position: absolute;
    top: -1px;
    left: 50%;
    color: @white;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    background: @primary-color;

    &.replace {
      background: #2d2d2d;
    }

    &.hurt {
      background: #17af75;
    }
  }
  .Array_box {
    .box_title {
      padding: 5px 0px;
      border-bottom: 1px solid @border-color;
      .title_left {
        height: 20px;
        width: 100px;
        margin: 0px 5px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        //background-image: url('~@/assets/real-time/teammate/zhu.png');
        // background: #f7f7f7;
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;
        background: #dddddd;
        &::before {
          width: 30px;
          height: 20px;
          background: #ee0a24;
          content: '主队';
          position: absolute;
          left: 0px;
          font-size: 12px;
          color: white;
          text-align: center;
          line-height: 20px;
          z-index: 2;
        }
        &::after {
          position: absolute;
          display: inline-block;
          content: '';
          left: 20px;
          border-left: 15px #ee0a24 solid;
          border-top: 15px #ee0a24 solid;
          border-bottom: 15px solid transparent;
          border-right: 15px solid transparent;
          transform: rotate(-20deg);
          z-index: 1;
        }
      }
      .left_box {
        display: flex;
        justify-content: flex-end;
      }
      .title_right {
        height: 20px;
        width: 100px;
        margin: 0px 5px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // background-image: url('~@/assets/real-time/teammate/ke.png');
        background-size: 100% 100%;
        position: relative;
        background: #dddddd;
        overflow: hidden;
        &::before {
          width: 30px;
          height: 20px;
          background: @primary-color;
          content: '客队';
          position: absolute;
          right: 0px;
          font-size: 12px;
          color: white;
          line-height: 20px;
          text-align: center;
          z-index: 2;
        }
        &::after {
          position: absolute;
          display: inline-block;
          content: '';
          right: 20px;
          border-right: 15px @primary-color solid;
          border-top: 15px @primary-color solid;
          border-left: 15px solid transparent;
          border-bottom: 15px solid transparent;
          transform: rotate(20deg);
          z-index: 1;
        }
      }
    }
  }
}
.Empty_kong {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_list {
  padding: 5px 0px;
  .list {
    height: 40px;
    border-bottom: 1px solid @border-color;
    .player-name {
      color: @text-color;
    }
    .list_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
    }
    .img_s {
      width: 25px;
      height: 25px;
      border-radius: 100px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    .red_border {
      border: 1px solid #e20b0b /* px */;
    }
    .orange_border {
      border: 1px solid #17af75 /* px */;
    }
    .red_text {
      color: #e20b0b;
      font-weight: 550;
    }
    .home_logo {
      background-image: url('../../assets/sport_player.png');
      background-size: 100% 100%;
      height: 25px;
      width: 25px;
    }
    .away_logo {
      background-image: url('../../assets/sport_player_a.png');
      background-size: 100% 100%;
      height: 25px;
      width: 25px;
    }
    .reason {
      color: #777;
    }
    .border {
      width: 30px;
      height: 1px;
      background-image: linear-gradient(to right, #888 0%, #888 90%, transparent 10%);
      background-size: 15px 1px;
      background-repeat: repeat-x;
      position: absolute;
      left: 30px;
      bottom: 5px;
      &.right {
        left: unset;
        right: 30px;
      }
    }
    .orange_text {
      color: @primary-color;
      font-weight: 550;
    }
    .list_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      text-align: right;
    }
  }
}
</style>
