<!--
 * @Author: your name
 * @Date: 2021-08-03 15:48:58
 * @LastEditTime: 2021-08-04 16:47:14
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \sbsport-h5\src\views\detail\components\game-info\events-data\FootBallEventsData.vue
-->
<template>
  <div class="events-tabs">
    <van-tabs type="radius" :swipeable="true" offset-top="10vh" animated>
      <van-tab title="实时" name="a">
        <RealTime :realTimelist="soccerBallEventsData.real" :data="data" />
      </van-tab>
      <van-tab title="阵容" name="b">
        <FootballLineUp :lineUpData="soccerBallEventsData.lineUp" />
      </van-tab>
      <van-tab title="分析" name="c">
        <Analysis :analylist="soccerBallEventsData.analysis" />
      </van-tab>
      <van-tab title="情报" name="d">
        <IntelliGence :intelllist="soccerBallEventsData.intelligence" />
      </van-tab>
    </van-tabs>
  </div>
</template>

<script lang="ts">
import { inject, ComputedRef } from 'vue';
import RealTime from './RealItem.vue';
import FootballLineUp from './FootballLineUp.vue';
import Analysis from './Analysis.vue';
import IntelliGence from './IntelliGence.vue';
import { FootballEvents } from '../../../hooks/get-events-data';

export default {
  name: 'FootBallEventsData',
  components: {
    IntelliGence,
    RealTime,
    FootballLineUp,
    Analysis
  },
  props: {
    data: {
      type: Object,
      default: () => ({
        HomeName: '',
        AwayName: '',
        sportType: ''
      })
    }
  },
  setup() {
    const soccerBallEventsData = inject('soccerBallEventsData') as ComputedRef<FootballEvents>;
    return { soccerBallEventsData };
  }
};
</script>

<style lang="less">
.events-tabs {
  height: 100%;
  overflow: hidden;
  .van-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    .van-tabs__content {
      flex: 1;
    }
    .van-tab__pane {
      overflow-y: scroll;
      height: 100%;
    }
  }
  :deep(.team-name) {
    span {
      color: @text-color;
    }
  }
}
</style>
