<template>
  <div :class="{ 'text-live': true, realTimelist: realTimelist.length > 0 }">
    <div class="top_box">
      <div class="title_s">
        文字直播
        <van-popover
          v-model:show="showPopover"
          :overlay="true"
          placement="right"
          class="flag-tips"
          :class="getThemeStyle()"
        >
          <van-grid square clickable :border="false" column-num="3" style="width: 255px">
            <div class="Tishi_box">
              <div class="card_item" v-for="(item, index) in tipsLabelList" :key="index">
                <img class="icont_box" :src="item.value" />
                <span class="text_s">{{ item.title }}</span>
              </div>
            </div>
          </van-grid>
          <template #reference>
            <van-icon name="warning" size="0.4rem" />
          </template>
        </van-popover>
      </div>
    </div>
    <div v-if="realTimelist.length > 0">
      <div class="event-item" v-for="(item, index) in textLiveList" :key="index + '_R_KEY'">
        <div>
          <img class="icont_box" :src="soccerBallStatus[item.type].value" />
        </div>
        <div>
          <div class="team-logo" v-if="item.position === 1 || item.position === 0">
            <team-logo :sportId="data.sportType" size="xs" :teamName="data.HomeName" />
            <!-- <span class="time">{{ item.time }}</span> -->
            <span>{{ data.HomeName }}</span>
          </div>
          <div class="team-logo" v-else>
            <team-logo :sportId="data.sportType" size="xs" :teamName="data.AwayName" />
            <!-- <span class="time">{{ item.time }}</span> -->
            <span>{{ data.AwayName }}</span>
          </div>
          <span class="event-text"> {{ item.data }} </span>
        </div>
      </div>
    </div>
    <data-empty v-else description="暂无文字直播" />
  </div>
</template>

<script lang="ts">
import { ref, PropType, computed } from 'vue';

import { soccerBallStatus, tipsLabelList } from './live-events-status';
import { reverse } from 'lodash-es';
import { getThemeStyle } from '@/common';

export default {
  name: 'RealTime',
  props: {
    realTimelist: {
      type: Array as PropType<any[]>,
      default: () => []
    },
    data: {
      type: Object,
      default: () => ({
        HomeName: '',
        AwayName: '',
        sportType: ''
      })
    }
  },
  setup(props) {
    const showPopover = ref(false);
    // 文字直播列表
    const textLiveList = computed(() => (props.realTimelist.length > 0 ? reverse(props.realTimelist) : []));

    return { showPopover, tipsLabelList, soccerBallStatus, textLiveList, getThemeStyle };
  }
};
</script>

<style lang="less" scoped>
.icont_box {
  width: 15px;
  height: 15px;
}
.text-live {
  background-color: @white;
}
.Tishi_box {
  padding: 8px 10px;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .card_item {
    flex: 1;
    width: 25%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 3px;
    justify-content: flex-start;
    min-width: 25%; // 加入这两个后每个item的宽度就生效了
    max-width: 25%;
    .text_s {
      font-size: 12px;
      white-space: nowrap;
      color: #8a8989;
      margin-left: 2px;
      transform: scale(0.8);
    }
  }
}
.title_s {
  font-size: 14px;
  padding: 5px 15px;
  display: flex;
  align-items: center;

  :deep(.van-popover__wrapper) {
    display: flex;
    align-items: center;
    margin-left: 3px;
  }
}
.top_box {
  border-bottom: 1px solid @border-color;
}
.event-item {
  padding: 10px 0;
  border-bottom: 1px solid @border-color;
  display: flex;
  justify-content: flex-start;
  .team-logo {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    & > span {
      margin-left: 5px;
    }
    .time {
      color: @gray-6;
    }
  }
  .event-text {
    font-size: @font-size-xs;
    color: @text-color;
  }
  & > div:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > div:nth-child(2) {
    flex: 7;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    justify-content: space-around;
  }
  .van-icon-warning {
    color: #ddd;
  }
}
</style>
