.top-header {
  position: relative;
  height: 45px;
  &.shadow {
    box-shadow: 0 0.04rem 0.08rem 0 rgb(0 0 0 / 5%);
  }
  &::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    transform: scale(0.5);
  }
  &-content {
    display: flex;
    height: 45px;
    align-items: center;
    position: relative;
    background-color: #fff;
    &.fixed {
      position: fixed;
      z-index: 20;
      left: 0;
      right: 0;
      top: 0;
    }
  }
  &-left,
  &-right {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
  &-left {
    .van-icon {
      color: #414655;
    }
    &-icon {
      width: 24px;
      height: 24px;
      .svg-icon {
        width: 100%;
        height: 100%;
        fill: #000;
      }
    }
  }
  &-right {
    justify-content: right;
    position: absolute;
    right: 0;
  }
  &-center {
    width: 180px;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #414655;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
