<template>
  <div class="bet-history">
    <Sticky>
      <MobileHeader :title="t('lang.sport_common_bettingRecords')" newIcon />
      <div class="bet-history__top">
        <div class="tab-container">
          <div class="filter-tabs">
            <template v-for="(item, i) in TAB_LIST" :key="i + '_T_KEY'">
              <div
                class="filter-tab"
                @click="onTabChange({ key: 'activeTab', index: i }, backTop)"
                :class="{ 'tab--active ': i === activeTab }"
              >
                <a> {{ t(item.label) }}</a>
              </div>
            </template>
          </div>
          <div class="time-filter">
            <span :class="{ active: filterVisible }" class="time-filter-btn" @click="toggleDate">
              <span>{{ t(DATE_LIST[avtiveFilterDate].i18n) }}</span>
              <svg-icon class="icon" name="pull_down" />
            </span>
          </div>
        </div>
        <NoticeBar class="kg-notice-bar" v-show="!!publicityData" @click.stop="handleClickNotive" :text="publicityData">
          <template #left-icon>
            <van-icon class="volume-o" name="volume" />
          </template>
        </NoticeBar>
        <div class="orders-total" v-if="activeTab == 2">
          {{ t('lang.sport_common_recordTotal') }}
          <span class="orders-total-number">{{ betStore.betRecord.length }}</span>
        </div>
        <div class="statice-data" v-if="activeTab == 2">
          <div class="s-d-item">
            {{ t('lang.sport_bet_betAmount') }}: <span>{{ betStore.count.betAmount }}{{ currency }}</span>
          </div>
          <div class="s-d-item">
            {{ t('lang.sport_common_winningAndLosing') }}: <span>{{ betStore.count.winAmount }}{{ currency }}</span>
          </div>
        </div>
      </div>
    </Sticky>
    <PullRefresh v-model="pullLoading" :disabled="pullLoading" @refresh="getData({ isPull: true })">
      <div class="orders-total" v-if="isShow">
        {{ t('lang.sport_common_recordTotal') }}
        <span class="orders-total-number">{{ betStore.betRecord.length }}</span>
      </div>
      <List
        v-model:loading="pullUpLoading"
        :finished="finished"
        :immediate-check="false"
        :finished-text="t('lang.sport_common_lookElsewhere')"
        @load="onListLoad"
        v-if="!isEmpty(betStore.betRecord)"
      >
        <betting-result-item
          v-for="(item, index) in betStore.betRecord"
          :status="form.status"
          :key="index + '_BET_KEY'"
          :data="item"
        />
      </List>
      <DataEmpty type="record" :title="t('lang.sport_common_noBetData')" class="empty" v-else />
    </PullRefresh>
  </div>
  <van-popup safe-area-inset-bottom v-model:show="filterVisible" teleport="#microApp" position="bottom" round>
    <div class="filter-date-list" @click.prevent="toggleDate" @touchmove.prevent>
      <div class="filter-date-item title">
        <span class="cancel"> {{ t('lang.sport_common_cancel') }} </span>
        {{ t('lang.sport_common_selectTime') }}
      </div>
      <div
        v-for="(type, index) in DATE_LIST"
        :class="{ active: index === avtiveFilterDate }"
        class="filter-date-item"
        @click="onTabChange({ key: 'avtiveFilterDate', index }, backTop)"
        :key="index + '_TY_KEY'"
      >
        {{ t(type.i18n) }}
      </div>
      <div class="filter-date-item"></div>
    </div>
  </van-popup>
</template>

<script lang="ts">
import { Icon, NoticeBar, PullRefresh, Sticky, List, Popup } from 'vant';
import { onMounted, toRefs, computed } from 'vue';
import { useRouter } from 'vue-router';
import { usePublicity, useBetRecord, TAB_LIST, DATE_LIST, useI18n } from '@/hooks';
import { DataEmpty } from 'kg-mobile/compoents';

import BettingResultItem from './compoents/record-item.vue';
import { MobileHeader } from '@/components/mobile-header';

import { isEmpty, get } from 'lodash-es';

export default {
  name: 'JBBbettingOrders',
  components: {
    BettingResultItem,
    'van-icon': Icon,
    'van-popup': Popup,
    MobileHeader,
    NoticeBar,
    PullRefresh,
    DataEmpty,
    Sticky,
    List
  },
  setup() {
    const router = useRouter();
    const { publicityData, getPublicityData } = usePublicity();
    const { betStore, getData, form, state, onTabChange, toggleDate, onListLoad } = useBetRecord();
    const { t } = useI18n();
    const isShow = computed(() => {
      return !!(betStore.betRecord.length && state.activeTab !== 2);
    });

    const currency = computed(() => {
      let res = get(betStore, 'betRecord.0.currency');
      return res ? `(${res})` : '';
    });
    const methods = {
      //跳转到公告信息页
      handleClickNotive: () => router.push('/notice'),
      backTop: () => {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      },
      onTabChange,
      toggleDate,
      onListLoad
    };
    onMounted(() => {
      Promise.all([getData(), getPublicityData()]);
    });
    return {
      ...methods,
      isEmpty,
      TAB_LIST,
      t,
      form,
      DATE_LIST,
      getData,
      ...toRefs(state),
      betStore,
      publicityData,
      isShow,
      currency
    };
  }
};
</script>

<style lang="less" scoped>
.bet-history {
  position: relative;
  min-height: 100vh;
  .kg-notice-bar {
    color: #727070;
    height: 36px;
    line-height: 36px;
    background: #f2f2f2 !important;
    font-size: 12px;
  }
  .tab-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }

  .filter-tabs {
    flex: 1;
    display: flex;
    align-items: center;
    .filter-tab {
      box-sizing: border-box;
      line-height: 30px;
      font-size: 14px;
      display: flex;
      padding: 0 12px;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.tab--active {
        a {
          color: #009944;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: #009944;
            height: 2px;
            width: 100%;
            bottom: 0;
          }
        }
      }
    }
  }

  .time-filter {
    position: relative;
    padding: 2px 16px;
    border-radius: 50px;
    min-width: 100px;
    border: 1px solid #9a9a9a;
    display: flex;

    &-btn {
      width: 100%;
      font-size: 14px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #9a9a9a;
      transition: ease-in-out 0.3s;
      > span {
        padding-right: 3px;
      }
      .icon {
        width: 18px;
        height: 18px;
        transform: rotate(0deg);
        transition: ease-in-out 0.3s;
      }
      &.active {
        color: #009944;
        .van-icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__top {
    width: 100%;
    background-color: #fff;
  }
  .statice-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 8px 16px 0 16px;
    padding: 8px 16px;
    height: 68px;
    background: #009944;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: PingFang SC-Medium, PingFang SC;
    font-weight: 500;
    color: #ffffff;
    .s-d-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .orders-total {
    margin-top: 12px;
    margin-left: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #9a9a9a;
    line-height: 16px;

    &-number {
      color: #009944;
    }
  }
  .empty {
    height: 50vh;
    padding: 0;
  }
  .is-bottom-text {
    font-size: 12px;
    text-align: center;
    color: @gray-7;
    padding: 20px;
  }
}

.filter-date-list {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  color: #000000;
  background: @white;
  border-radius: 0px 0px 5px 5px;
  .title {
    position: relative;
    height: 56px;
    background-color: #f2f2f2;
    .cancel {
      position: absolute;
      left: 16px;
      min-width: 32px;
      font-size: 12px;
      color: #9a9a9a;
    }
  }
  .filter-date-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-bottom: 1px solid #f2f2f2;
    &.active {
      color: #009944;
    }
  }
}

.volume-o {
  color: #009944;
  font-size: 16px;
}
</style>
