<template>
  <div class="global-popup" @click="onCloseBet" @touchmove.prevent @mousewheel.prevent>
    <div class="bet-dialog" @click.stop v-if="!isSuccess">
      <div class="keyboard-title">
        <div>投注单</div>
        <div class="amount">
          <RefreshButton type="shaba" transfer />
        </div>
      </div>
      <div class="bet-content-scroll">
        <div class="bet-list">
          <TikcetItem @remove="removeTicket" :data="ticket" />
        </div>
        <div class="filed-container">
          <div class="nubmer-display">
            <span>{{ amount }}</span>
            <div class="limit-label">
              限额
              {{ currency(ticket.oddInfo.MinBet) }}
              ~
              {{ currency(ticket.oddInfo.MaxBet) }}
            </div>
          </div>
          <NumericKeyboard
            v-model:amount="amount"
            :min="ticket.oddInfo.MinBet"
            :max="ticket.oddInfo.MaxBet"
            activeKeyboard
          />
        </div>
      </div>
      <div class="bottomBtn">
        <van-button class="betting" :loading="isBetting" @click="doSingleBet">
          <div class="betText">
            投注 <span>可赢额：{{ winAmountComp }}</span>
          </div>
        </van-button>
      </div>
    </div>
    <BetResult
      :ticket="ticket"
      :winAmount="winAmountComp"
      @close="onCloseBet"
      @to-keep="toKeepBetting"
      :amount="currency(amount)"
      v-else
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref, onBeforeUnmount, onMounted, computed } from 'vue';
import NumericKeyboard from '../Keyboard/index';
import RefreshButton from 'h5/components/refresh-button/index.vue';
import BetResult from '../BetResult/index.vue';
import { useBet } from '@/hooks/useBet';
import TikcetItem from '../TicketItem/index.vue';
import { useStore } from 'vuex';
import { currency } from '@/common/utils';
import { Toast } from 'vant';
import { OddsType } from '@/common';

export default defineComponent({
  name: 'SingleBetDialog',
  components: { NumericKeyboard, RefreshButton, TikcetItem, BetResult },
  setup() {
    const store = useStore();
    const isBetting = ref(false);
    const { ticket, doSingleBetAction, removeTicket, initSingleBetPrams } = useBet();

    const amount: Ref<number | string> = ref('');
    const isSuccess: Ref<boolean> = ref(false);
    let isBetResult: Ref<boolean> = ref(false);
    let showBalance: Ref<boolean> = ref(false);
    const winAmountComp = computed(() => {
      // 欧盘price要减1
      const price =
        ticket.value.betPram.odds_type === OddsType.Europe
          ? Number(ticket.value.oddInfo.Price) - 1
          : Number(ticket.value.oddInfo.Price);
      const money = Number(amount.value) * Number(price);
      return currency(money);
    });

    // 定时器
    const preBetTimer: Ref<any> = ref(null);

    // 清除定时器
    const clearPreTimer = () => {
      clearTimeout(preBetTimer.value);
      preBetTimer.value = null;
    };

    // 获取预投注数据
    const getPreBetData = async ({ immediate }: { immediate: boolean } = { immediate: false }) => {
      immediate && clearPreTimer();
      const res = await store.dispatch('GET_PRE_SINGLR_BET_DATA');
      const timer = setTimeout(() => {
        getPreBetData();
      }, 5000);
      if (res) {
        preBetTimer.value = timer;
        return;
      }
      // 失败隐藏输入框
      isBetting.value = false;
      preBetTimer.value = timer;
    };

    // 金额检查
    const checkAmount = (): boolean => {
      const amountNum = Number(amount.value);
      if (!amountNum) {
        Toast('请输入正确的金额');
        return false;
      }
      // 投注额低于投注下限,请修改
      if (amountNum < ticket.value.oddInfo.MinBet) {
        Toast('投注额低于投注下限,请修改');
        return false;
      }
      if (amountNum > ticket.value.oddInfo.MaxBet) {
        Toast('投注额高于投注上限,请修改');
        return false;
      }
      return true;
    };

    /**
     * 投注
     */
    const doSingleBet = async (e?: any) => {
      e.stopPropagation();
      // 金额监测
      if (!checkAmount()) return;
      console.log('[LOG] 1:单投==>开始投注');
      isBetting.value = true;
      const { isBetSuccess, message } = await doSingleBetAction({
        betTicket: ticket.value,
        amount: amount.value
      });
      if (!isBetSuccess) {
        Toast(message);
      } else {
        clearPreTimer();
      }
      isBetting.value = false;
      isSuccess.value = isBetSuccess;
      isBetResult.value = isBetSuccess;
    };

    // 关闭投注
    const onCloseBet = (e?: any) => {
      e?.stopPropagation();
      if (showBalance.value && e) {
        store.dispatch('GET_SPORTS_BALANCE'); // 刷新余额
        showBalance.value = false;
        isSuccess.value = false;
      } else {
        //  清除定时器
        clearPreTimer();
        // 初始化投注数据
        initSingleBetPrams();
        // 关闭窗口
        store.dispatch('OPEN_BET_DIALOG', false);
      }
    };

    // 继续投注此单
    const toKeepBetting = async () => {
      store.commit('IS_BETTING', false);
      amount.value = '';
      isSuccess.value = false;
      isBetResult.value = isSuccess.value;
      await getPreBetData({ immediate: true });
    };

    onMounted(() => {
      store.dispatch('GET_SPORTS_BALANCE'); // 刷新余额
      getPreBetData();
    });

    // 嘻嘻嘻
    onBeforeUnmount(() => {
      clearPreTimer();
      console.log('[LOG] 关闭了投注窗口.');
    });

    return {
      ticket,
      amount,
      isSuccess,
      doSingleBet,
      currency,
      preBetTimer,
      toKeepBetting,
      onCloseBet,
      winAmountComp,
      removeTicket,
      isBetting,
      showBalance,
      isBetResult
    };
  }
});
</script>

<style lang="less" scoped>
.bet-dialog {
  background: @white;
  border-radius: 20px;
  width: 100%;
  max-height: 85%;
  top: 50%;
  left: 0;
  z-index: 9;
  transform: translateY(-50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  .keyboard-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 30px 20px;
    border-radius: 20px 20px 0 0;
    background: @primary-color;
    color: @white;
    div {
      font-size: 16px;
      font-weight: 500;
    }
    .amount {
      text-align: right !important;
      font-size: 20px;
      display: flex;
      align-items: center;
      .refresh-button-icon {
        fill: #fff;
      }
    }
  }
  .bet-content-scroll {
    overflow-y: scroll;
    margin-top: -20px;
    border-radius: 20px;
    background-color: @white;
    -webkit-overflow-scrolling: touch;
    .filed-container {
      padding: 5px 15px;
      position: relative;
      .nubmer-display {
        padding: 13px 10px 13px 13px;
        border-radius: 10px;
        border: 1px solid @primary-color;
        height: 46px;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
      .limit-label {
        font-size: @font-size-xs;
        color: @gray-5;
      }
    }
  }
  .bet-list {
    min-height: 40px;
  }
  .bottomBtn {
    padding: 10px 15px;
    display: flex;
    .addPlary,
    .betting {
      padding: 8px 20px;
      border-radius: 100px;
      font-size: @font-size-md;
    }
    .addPlary {
      background: @gray-1;
      color: @primary-color;
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
    .betting {
      background: @primary-color;
      border: 1px solid @primary-color;
      font-size: @font-size-md;
      flex: 1;
      height: 40px;
      color: @white;

      .betText {
        font-weight: bold;
      }
    }
  }
}
.bet-plary-limit {
  text-align: right;
  line-height: normal;
  padding: 6px;
  color: @gray-8;
}
</style>
