@main-color: @primary-color;

.img-bg(@url) {
  background-image: url(@url);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.home-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 16px;
  background-color: @white;
  &-logo {
    width: 90px;
    height: 35px;
    .img-bg('./assets/logo@3x.png');
  }
  &-user-info {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    overflow: hidden;

    .nick-name {
      padding-bottom: 3px;
      & > span {
        font-size: 12px;
        line-height: normal;
        color: #9a9a9a;
        text-align: right;
      }
    }
  }
  &-auth-login {
    display: flex;
    align-items: center;
    .btn {
      border-radius: 100px;
      border: 1px solid @main-color;
      padding: 3px 4px;
      display: flex;
      align-items: center;
      margin-left: 8px;
      span {
        font-size: 12px;
        padding: 0 4px;
      }
      &:first-child {
        background: @main-color;
        color: @white;
      }
      &:last-child {
        background: @white;
        color: @main-color;
      }
    }
    .icon-lo {
      width: 20px;
      height: 20px;
      .img-bg('./assets/登录@2x.png');
    }
    .icon-reg {
      width: 20px;
      height: 20px;
      .img-bg('./assets/注册@2x.png');
    }
  }
}
