<template>
  <div class="close" type="button" :style="style">
    <i class="el-dialog__close el-icon el-icon-close"></i>
  </div>
</template>

<script>
import { computed, defineComponent } from 'vue';

export default defineComponent({
  name: 'ButtonClose',
  props: ['size'],
  setup(props) {
    const style = computed(() => {
      const size = props.size ? Number(props.size) : 17;
      return `width: ${size}px;
              height:  ${size}px;
              line-height:  ${size + 1}px;
              font-size:  ${size - 4}px;`;
    });
    return {
      style
    };
  }
});
</script>

<style lang="less" scoped>
.close {
  width: 17px;
  height: 17px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  cursor: pointer;
  align-self: center;
  .el-icon-close {
    color: @primary-color;
    font-weight: bold;
    font-size: 1em;
  }
}
</style>
