<template>
  <div class="Loading"><span class="el-icon-loading"></span></div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: '',
  setup() {
    const mes = 1;
    return {
      mes
    };
  }
});
</script>

<style lang="less" scoped>
.Loading {
  width: 100%;
  height: 100%;
  background: rgba(256, 256, 256, 0.8);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .el-icon-loading {
    font-size: 30px;
    color: #089b71;
  }
}
</style>
