<template>
  <div class="noData">
    <img src="@/assets/web/none_data.png" alt="" />
    <div class="prompt">暂无数据</div>
  </div>
</template>

<style lang="less" scoped>
.noData {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .prompt {
    margin-top: 16px;
    color: #666;
    font-size: 12px;
  }
}
</style>
