/* 比赛样式 */
.match-info {
  position: relative;
  &-header {
    display: flex;
    height: 42px;
    align-items: center;
    .league-name {
      font-size: 14px;
      width: 50%;
      color: #000000;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px 0 24px;
    }
    .match-count,
    .events-types {
      align-items: center;
      width: 50%;
    }
    .match-count {
      display: none;
      justify-content: right;
      > span {
        font-size: 12px;
        line-height: 1;
        color: #fff;
        background-color: #000;
        border-radius: 2px;
        padding: 2px 3px;
        min-width: 16px;
        text-align: center;
      }
    }
    .events-types {
      display: flex;
      > span {
        font-size: 12px;
        color: #9a9a9a;
        flex: 1;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 4px;
      }
    }
  }
  &-tools {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-top: 1px solid #f2f2f2;
    .is-neutral {
      width: 15px;
      height: 15px;
      margin-left: 2px;
      .svg-icon {
        width: 100%;
        height: 100%;
      }
    }
    .mark-icon {
      margin-right: 4px;
    }
    .match-time {
      font-size: 12px;
      span {
        &:first-child {
          color: #999;
        }
        &:last-child {
          color: #000;
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }
    .match-medias {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: right;
      .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        &.is-early .svg-icon {
          fill: #999;
        }
        > .svg-icon {
          width: 16px;
          height: 16px;
          fill: #bc2c2c;
        }
      }
    }
    .more-matchs {
      background: @primary-color;
      border-radius: 100px;
      font-size: 12px;
      color: #fff;
      padding: 2px 5px;
      display: flex;
      align-items: center;
      .svg-icon {
        fill: #fff;
        width: 10px;
        height: 10px;
      }
    }
  }
}

.match-markets {
  display: flex;
  align-items: flex-start;
  padding: 0 12px 6px 16px;
  justify-content: flex-start;
  height: 201px;
  &.selected {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: 1;
      background-color: @primary-color;
      width: 3px;
      border-radius: 10px 0 0 10px;
    }
  }
  .team-info {
    width: 50%;
    height: 100%;
    overflow: hidden;
    .home-team,
    .away-team,
    .evets-statistics-container {
      height: calc(100% / 3);
      display: flex;
      align-items: center;
    }
    .home-team,
    .away-team {
      font-size: 14px;
      color: #000000;
      .team-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .red-card,
    .yellow-card {
      font-family: number-font, Arial, Helvetica, sans-serif;
      font-size: 12px;
      padding: 2px 2px;
      border-radius: 2px;
      margin: 0 2px;
      min-width: 11px;
      text-align: center;
      color: #fff;
    }
    .red-card {
      background-color: #ff2600;
    }
    .yellow-card {
      background-color: #ffc200;
    }
    .team-score {
      color: #9a9a9a;
      margin: 0 20px 0 8px;
      font-family: number-font, Arial, Helvetica, sans-serif;
      &.hight {
        color: #000;
      }
    }
  }
}
