<template>
  <div class="game-event-conut">
    <template v-if="isLive">
      <div class="time is-live">
        {{ timeText }}
      </div>
      <div class="event-data" v-if="sportType === 1">
        <div class="status" v-if="showHTscore">
          <span>{{ matchInfo.htScoreH }}</span>
          <span class="status-tag">HT</span>
          <span>{{ matchInfo.htScoreA }}</span>
        </div>
        <div class="line">
          <svg-icon name="line" />
        </div>
        <div class="status" v-if="cornerData[0] + cornerData[1] > 0">
          <span>{{ cornerData[0] }}</span>
          <span class="status-tag">角球</span>
          <span>{{ cornerData[1] }}</span>
        </div>
      </div>
      <!-- 网球 -->
      <div class="event-data" v-else-if="sportType === 5">
        <div class="status">
          <span>{{ matchInfo.ScoreH }}</span>
          <span class="status-tag">盘</span>
          <span>{{ matchInfo.ScoreA }}</span>
        </div>
        <div class="status">
          <span>{{ tennisScore[0] }}</span>
          <span class="status-tag">局</span>
          <span>{{ tennisScore[1] }}</span>
        </div>
      </div>
      <!-- 羽毛球 -->
      <div class="event-data" v-else-if="sportType === 9">
        <div class="status">
          <span>{{ matchInfo.ScoreH }}</span>
          <span class="status-tag">盘</span>
          <span>{{ matchInfo.ScoreA }}</span>
        </div>
      </div>
      <!-- 乒乓球 -->
      <div class="event-data" v-else-if="sportType === 18">
        <div class="status">
          <span>{{ pingpangScore[0] }}</span>
          <span class="status-tag">局</span>
          <span>{{ pingpangScore[1] }}</span>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="time">{{ toTime(matchInfo.ShowTime, 'MM-DD HH:mm') || '--' }}</div>
      <div class="is-not-start">未开始</div>
    </template>
  </div>
</template>

<script lang="ts">
import { PropType, computed, inject, Ref } from 'vue';
import { toTime } from '@/common/utils';
import { TechId } from '@/common/enums/sportsTechEnum';

export default {
  name: 'EventStatistics',
  props: {
    sportType: {
      type: Number
    },
    matchInfo: {
      type: Object as PropType<any>,
      default: () => {}
    }
  },
  setup(props) {
    // 显示半场比分
    const showHTscore = computed(() => {
      const matchRunTime = props.matchInfo.RunTime as string;
      if (!matchRunTime) return false;
      return Number(matchRunTime.split(':')[0]) >= 45;
    });

    const timeText = inject('time-text');

    // 获取是否开赛
    const isLive = inject('isUtil-game-live');

    const soccerBallWsTech = inject('soccerBallWsTech') as Ref<Map<number, number[]>>;

    const cornerData = computed(() => soccerBallWsTech.value.get(TechId.CORNER) || [0, 0]);

    const tennisScore = computed(() => {
      if (props.sportType !== 5) return [0, 0];
      const { TennisAwayGameScore = [], TennisHomeGameScore = [], TennisCurrentSet = 1 } = props.matchInfo;
      return [TennisHomeGameScore[TennisCurrentSet - 1], TennisAwayGameScore[TennisCurrentSet - 1]];
    });

    const pingpangScore = computed(() => {
      if (props.sportType !== 18) return [0, 0];
      let [home, away] = [0, 0];
      const { GameSession = 1 } = props.matchInfo;
      for (let index = 0; index < GameSession; index++) {
        home += Number(props.matchInfo[`H${index + 1}S`] || 0);
        away += Number(props.matchInfo[`A${index + 1}S`] || 0);
      }
      return [home, away];
    });

    return { timeText, isLive, toTime, showHTscore, cornerData, tennisScore, pingpangScore };
  }
};
</script>

<style lang="less" scoped>
.game-event-conut {
  margin: 3px 15px;
  min-width: 70px;
  .is-not-start {
    text-align: center;
    font-size: @font-size-md;
    color: #bbbbbb;
  }
  .time {
    &.is-live {
      background-color: @red;
      border-color: @red;
      color: #fff;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
    font-family: 'DINAlternate-Bold';
    font-size: @font-size-xs;
    border-radius: 100px;
    padding: 1px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
  }
}
.event-data {
  min-width: 75px;
}
.status {
  color: #fff;
  font-size: @font-size-xs;
  background-image: url(../assets/corner_data_bg.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'DIN Alternate';
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: DIN Alternate;
  line-height: normal;
  padding: 3px 0;
  opacity: 0.8;
  box-sizing: border-box;

  &-tag {
    font-size: 10px;
    transform: scale(0.9);
  }
}
.line {
  height: 1px;
  > .svg-icon {
    display: block;
    height: 1px;
  }
}
</style>
