<template>
  <ChatBarrage v-if="barragetype !== 'data'" :visible="visibleBarrage" :msgList="msgList" />
  <div class="game-info-container" @touchmove.prevent>
    <div class="game-info" :style="{ backgroundImage: `url(${matchBG()})` }">
      <template v-if="oddIsNotEmpty">
        <Team
          class="game-info-team"
          showEvent
          :teamInfo="{
            guestName: matchInfo.AwayName,
            homeName: matchInfo.HomeName,
            homeScore: matchInfo.homeScore,
            guestScore: matchInfo.guestScore,
            sportType: sportType,
            ...matchInfo
          }"
        />
        <div class="game-score">
          <div class="home-score" :class="{ 'is-hight': matchInfo.homeScore > matchInfo.guestScore }">
            {{ matchInfo.homeScore || (isLive ? 0 : '--') }}
          </div>
          <!-- 事件统计 -->
          <EventStatistics :matchInfo="matchInfo" :sportType="sportType" />
          <div class="guest-score" :class="{ 'is-hight': matchInfo.guestScore > matchInfo.homeScore }">
            {{ matchInfo.guestScore || (isLive ? 0 : '--') }}
          </div>
        </div>
      </template>

      <LiveBarTab
        :matchInfo="{ ...matchInfo, sportType }"
        :oddIsNotEmpty="oddIsNotEmpty"
        @change-anchor-show="$emit('change-anchor-show')"
        @change-suctiontop="$emit('change-suctiontop')"
        @set-barrage-type="setBarrageType"
      />
      <div class="neutral-icon" v-if="matchInfo.IsNeutral">
        <svg-icon name="neutral" />
      </div>
    </div>
  </div>
  <div class="operation" v-if="barragetype !== 'data'" :class="{ operationDetail: isOpenDetail }">
    <div class="operation-item" v-if="oddIsNotEmpty && !isOpenDetail">
      <van-popover class="statement-popup" placement="left" v-model:show="showTips" :class="getThemeStyle()">
        <div class="tips">
          <p class="title">免责声明：</p>
          <p class="content">
            本平台将为会员提供赛事数据、直播作为参考。所有投注将以投注时在投注单中显示的正确比分为准。
          </p>
          <p class="content">本平台将尽最大努力确保所显示内容的及时性、正确性，如有偏差，本平台将拥有最终解释权。</p>
        </div>
        <template #reference>
          <svg-icon class="barrag-switch" name="tips_info" />
        </template>
      </van-popover>
    </div>
    <div class="operation-item" @click="handleBarrage">
      <svg-icon class="barrag-switch" :name="visibleBarrage ? 'barrag_on' : 'barrag_off'" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, PropType, inject, computed } from 'vue';
import { useStore } from 'vuex';

import LiveBarTab from './live-bar.vue';
import ChatBarrage from '../chat-room/barrage.vue';
import Team from '../team.vue';
import EventStatistics from './event-statistics.vue';

import { MessageItem } from '@/hooks/useChat';

import GREEN_IMG from '../assets/match_info_bg_green.png';
import GOLDEN_IMG from '../assets/match_info_bg_golden.png';
import DARKGOLD_IMG from '../assets/match_info_bg_darkgolden.png';
import { getThemeStyle } from '@/common';

const matchBgIMG = {
  green: GREEN_IMG,
  golden: GOLDEN_IMG,
  darkGold: DARKGOLD_IMG
};

export default defineComponent({
  name: 'GameInfo',
  components: { LiveBarTab, ChatBarrage, Team, EventStatistics },
  props: {
    matchInfo: {
      type: Object as PropType<any>,
      default: () => {}
    },
    sportType: {
      type: Number,
      default: 1
    },
    msgList: {
      type: Array as PropType<MessageItem[]>,
      default: () => []
    },
    oddIsNotEmpty: {
      type: Boolean,
      default: true
    }
  },
  emits: ['change-anchor-show', 'change-suctiontop', 'set-barrage-type'],
  setup(_, { emit }) {
    const store = useStore();
    const visibleBarrage = ref(true);
    const showTips = ref(false);
    const isOpenDetail = computed(() => store.getters.isOpenDetail);
    const handleBarrage = () => {
      visibleBarrage.value = !visibleBarrage.value;
    };
    const barragetype = ref('');
    const setBarrageType = type => {
      barragetype.value = type;
      emit('set-barrage-type', type);
    };
    // const gameStatusCode = computed(() => {
    //   return (!!props.matchInfo.MoreInfo && props.matchInfo.MoreInfo.game_status) || '';
    // });

    const matchBG = (): string => {
      const themeStyle = getThemeStyle();
      return matchBgIMG[themeStyle];
    };

    // 获取是否开赛
    const isLive = inject('isUtil-game-live');

    return {
      visibleBarrage,
      handleBarrage,
      showTips,
      isLive,
      matchBG,
      getThemeStyle,
      isOpenDetail,
      barragetype,
      setBarrageType
    };
  }
});
</script>

<style lang="less" scoped>
@info-height: 235px;
.game-info-container {
  height: @info-height;
  margin-bottom: 20px;
  position: relative;
}
.game-info {
  position: fixed;
  top: 0;
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: 100% @info-height;
  height: @info-height;
  z-index: 1;

  .team-preview {
    padding-top: 60px;
    :deep(.team-logo) {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .game-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    .guest-score,
    .home-score {
      font-size: 60px;
      font-family: 'DINAlternate-Bold';
      color: @white;
      flex: 1;

      &.is-hight {
        color: #885535 !important;
      }
    }
    .guest-score {
      text-align: left;
    }
    .home-score {
      text-align: right;
    }
  }

  // .operation {
  //   position: absolute;
  //   bottom: 20px;
  //   right: 20px;
  //   &-item {
  //     width: 25px;
  //     height: 25px;
  //     margin: 5px;
  //     float: right;
  //     .barrag-switch {
  //       width: 23px;
  //       height: 23px;
  //       fill: @white;
  //     }
  //   }
  // }
}
.operationDetail {
  right: 20px !important;
  z-index: 200 !important;
}
.tips {
  padding: 3px 10px;
  width: 260px;
  .title {
    font-size: @font-size-xs;
    color: @text-color;
    padding: 3px 0;
    margin: 0;
  }
  .content {
    margin: 0;
    font-size: @font-size-xs;
    color: @gray-6;
    line-height: 1.8;
  }
}

.neutral-icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  > .svg-icon {
    display: block;
    width: 14px;
    height: 14px;
    fill: @green;
  }
}
</style>
