<template>
  <div class="game-live-bar">
    <div class="game-live-bar-inner" :style="{ backgroundImage: `url(${liveBarBG()})` }" v-if="showPortalKey === ''">
      <div class="game-live-bar__item" v-if="!oddIsNotEmpty || isTabHidden">暂无主播/视频/动画/数据</div>
      <template v-else>
        <template v-for="item in liveBarTabs" :key="item.code">
          <div
            class="game-live-bar__item"
            :class="{ 'is-anchor': item.code === 'anchor' }"
            @click="tabChange(item.code, item.liveStatus)"
            v-if="item.visible"
          >
            <div class="anchor-icon-box" v-if="item.code === 'anchor'">
              <van-image class="anchor-img" :src="anchorInfo.photoId">
                <template #error>
                  <div class="anchor-icon"></div>
                </template>
                <template #loading>
                  <div class="anchor-icon"></div>
                </template>
              </van-image>
              <span class="voice" v-if="Number(item.liveStatus) === 1">
                <i class="first"></i>
                <i class="second"></i>
                <i class="third"></i>
                直播中
              </span>
              <span class="voice will" v-else-if="Number(item.liveStatus) === 0">即将开始</span>
              <span class="voice will" v-else>已经结束</span>
            </div>
            <span :class="[item.code === 'anchor' ? 'is-anchor' : '']">{{ item.label }}</span>
          </div>
        </template>
      </template>
    </div>
  </div>
  <teleport to="#game-video-portal">
    <div
      class="portal-frame"
      :class="getThemeStyle() + '-portal-frame'"
      v-if="showMedia"
      :style="{ backgroundColor: `${portalFrameBgColor()}` }"
    >
      <van-icon name="cross" class="close-btn" @click.self="closePortal" />
      <div class="sports-live-area">
        <iframe v-if="showPortalKey === 'animation'" :src="animateUrl"></iframe>
        <LiveVideo v-else-if="showPortalKey === 'anchor'" :url="anchorInfo.m3u8" />
        <LiveVideo v-else :url="videoUrl || virtualVideoUrl" />
      </div>
      <div class="match-info">
        <Team
          :showScore="true"
          :teamInfo="{
            guestName: matchInfo.AwayName,
            homeName: matchInfo.HomeName,
            homeScore: matchInfo.homeScore,
            guestScore: matchInfo.guestScore,
            sportType: matchInfo.sportType
          }"
        />
      </div>
      <TimeBar
        v-if="isLive && oddIsNotEmpty"
        class="data-fixed"
        :data="{
          timeText,
          sportType: matchInfo.sportType,
          LLP: !!matchInfo.LLP ? matchInfo.LLP : '0',
          runTime: matchInfo.RunTime,
          isLive
        }"
      />
    </div>
    <div
      class="portal-frame"
      :class="getThemeStyle() + '-portal-frame'"
      v-else-if="showPortalKey === 'data' && isLive"
      :style="{ backgroundColor: `${portalFrameBgColor()}` }"
    >
      <div class="title-bar">
        <span class="center-text">实时数据</span>
        <div class="more-data-btn" v-if="!isEmptyTechData" @click.self="showDataPopups">更多</div>
      </div>
      <van-icon name="cross" class="close-btn" @click.self="closePortal" />
      <LiveEvents :sportType="matchInfo.sportType" />
      <div class="match-info">
        <Team
          :showScore="true"
          :teamInfo="{
            guestName: matchInfo.AwayName,
            homeName: matchInfo.HomeName,
            homeScore: matchInfo.homeScore,
            guestScore: matchInfo.guestScore,
            sportType: matchInfo.sportType
          }"
        />
      </div>
      <TimeBar
        v-if="isLive && oddIsNotEmpty"
        class="data-fixed"
        :data="{
          timeText,
          sportType: matchInfo.sportType,
          LLP: !!matchInfo.LLP ? matchInfo.LLP : '0',
          runTime: matchInfo.RunTime,
          isLive: true
        }"
      />
    </div>
  </teleport>
  <van-popup
    teleport="body"
    class="date-detail-popup"
    :class="getThemeStyle()"
    v-model:show="showDataPopup"
    position="bottom"
    @closed="onCloseDataPopups"
    :style="{ height: '85%' }"
    safe-area-inset-bottom
  >
    <FootBallEventsData
      :data="{
        HomeName: matchInfo.HomeName,
        AwayName: matchInfo.AwayName,
        sportType: matchInfo.sportType
      }"
      v-if="matchInfo.sportType == '1'"
    />
    <BasKetBallindex v-if="matchInfo.sportType == '2'" />
  </van-popup>
</template>

<script lang="ts">
import { defineComponent, computed, Ref, ref, PropType, onMounted, inject, ComputedRef, watch } from 'vue';
import FootBallEventsData from './events-data/FootBallEventsData.vue';
import BasKetBallindex from './events-data/BasKetBallindex.vue';
// import indexBasKetBall from './events-data/indexBasKetBall.vue';
import { getSportVideoByMatchID } from '@/services/sb-api';
import Team from '../team.vue';
import LiveVideo from 'h5/components/LiveVideo/index.vue';
import LiveEvents from './live-events/index.vue';
import TimeBar from './time-bar.vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { isEmpty } from 'lodash-es';
// import { useLinkChat } from '@/hooks/useLinkCore';
// import { getTenant } from '@/common';
import { AnchorData } from '../../hooks/anchor-data';
import { Toast } from 'vant';

// 主题图片
import GOLDEN_IMG from '../assets/game_info_bar_bg_golden.jpg';
import GREEN_IMG from '../assets/game_info_bar_bg.png';
import DARK_GOLDEN_IMG from '../assets/game_info_bar_bg_darkgolden.png';
import { getThemeStyle } from '@/common';

const LIVE_BAR_BG = {
  green: GREEN_IMG,
  golden: GOLDEN_IMG,
  darkGold: DARK_GOLDEN_IMG
};

const COLOR_LIST = {
  green: '#082f19',
  golden: '#411b18'
};

type PortalKey = 'animation' | 'video' | 'data' | 'anchor';

export default defineComponent({
  name: 'LiveBar',
  components: { Team, LiveVideo, FootBallEventsData, BasKetBallindex, LiveEvents, TimeBar },
  props: {
    matchInfo: {
      type: Object as PropType<any>,
      default: () => {}
    },
    oddIsNotEmpty: {
      type: Boolean,
      default: true
    }
  },
  emits: ['change-anchor-show', 'change-suctiontop', 'set-barrage-type'],
  setup(props, { emit }) {
    // const { isConnected, subscribe } = useLinkChat();
    // const { initChat, isConnected, subscribe } = useLinkChat();

    // const ResData: ComputedRef<any> = computed(() => {
    //   return Resobj;
    // });

    const isEmptyFootballEventData = inject('isEmptyFootballEventData') as any;
    const soccerBallWsTechIsEmpty = inject('soccerBallWsTechIsEmpty') as boolean;

    // const clearChatInit = watchEffect(() => {
    //   if (!!isConnected.value && !!queryMatchId) {
    //     // 订阅内容: 历史消息 聊天消息 消息频繁 用户进入聊天室
    //     subscribe({ destination: `/topic/${getTenant()}.${queryMatchId}.message`, matchId: queryMatchId });
    //     clearChatInit();
    //   }
    // });

    const store = useStore();
    const route = useRoute();

    const showPortalKey: Ref<string> = ref(''); // 当前显示
    const queryMatchId = Array.isArray(route.query.matchId) ? route.query.matchId[0] : route.query.matchId;
    const queryPeriodId = Array.isArray(route.query.periodId) ? route.query.periodId[0] : route.query.periodId;
    const sportId = route.query.sportId;
    // 动画链接
    const animateUrl = computed(() => {
      const animateData = store.getters.videoAndAnimationData.animate;
      const MatchId = props.matchInfo.MatchId || queryMatchId;
      const url = animateData[MatchId];
      if (!!url) {
        return url.replace('http://', 'https://');
      }
      return url;
    });
    const virtualVideoUrl = inject('virtual-video-url') as Ref;

    const isEmptyTechData = inject('isEmptyFootballEventData');

    const IsSportId = computed(() => {
      return sportId == '1';
    });
    // 获取视频地址地址的链接
    const vUrl = ref('');
    // 获取本场赛事的视频
    const getBeforeVideoUrl = async () => {
      const MatchId = props.matchInfo.MatchId || route.query.matchId;
      const unionData = await store.getters.videoAndAnimationData;
      if (isEmpty(unionData.video)) {
        const sportUnionData = await store.dispatch('GET_SPORT_UNION_DATA');
        vUrl.value = await sportUnionData.video[MatchId];
      } else {
        vUrl.value = await unionData.video[MatchId];
      }
      getVideoUrl();
    };

    // 视频直播地址
    const videoUrl = ref('');

    const getVideoUrl = async () => {
      if (!vUrl.value) return;
      const [_res, data] = await getSportVideoByMatchID(vUrl.value);
      if (data.url) {
        videoUrl.value = data.url;
      }
    };

    const anchorInfo = inject('anchor-info') as Ref<AnchorData>;

    const hasTechData = computed(
      () =>
        (Number(sportId) === 2 && isLive.value) || (Number(sportId) === 1 && isLive.value && !soccerBallWsTechIsEmpty)
    );

    const liveBarTabs: ComputedRef<{ label: string; code: PortalKey; visible: boolean; liveStatus?: string }[]> =
      computed(() => {
        return [
          {
            label: anchorInfo.value.name,
            code: 'anchor',
            visible: Boolean(anchorInfo.value.m3u8),
            liveStatus: anchorInfo.value.liveStatus
          },
          {
            label: '视频',
            code: 'video',
            visible: Boolean(videoUrl.value || virtualVideoUrl.value)
          },
          {
            label: '动画',
            code: 'animation',
            visible: !!animateUrl.value
          },
          {
            label: '数据',
            code: 'data',
            visible: Boolean(!isEmptyFootballEventData.value || hasTechData.value)
          }
        ];
      });

    const isTabHidden = computed(() => liveBarTabs.value.filter(l => l.visible).length === 0);

    const showMedia = computed(() => {
      return ['animation', 'video', 'anchor'].includes(showPortalKey.value);
    });

    const showDataPopup = ref(false);

    // 获取是否开赛
    const isLive = inject('isUtil-game-live') as Ref<Boolean>;

    const timeText = inject('time-text');

    // 主题背景
    const liveBarBG = (): string => {
      const themeStyle = getThemeStyle();
      return LIVE_BAR_BG[themeStyle];
    };

    // 背景色
    const portalFrameBgColor = (): string => {
      const themeStyle = getThemeStyle();
      return COLOR_LIST[themeStyle];
    };

    const methods = {
      tabChange: (key: PortalKey, liveStatus?: string) => {
        store.commit('SET_IS_OPEN_DETAIL', true);
        // 处理数据直接弹窗的情况
        if (key === 'data' && (!hasTechData.value || !isLive.value)) {
          methods.showDataPopups();
          return;
        }
        if (showPortalKey.value === key) return;
        if ((key === 'video' || key === 'animation') && !isLive.value) {
          Toast('未开赛');
          return;
        }
        if (key === 'anchor' && liveStatus !== '1') {
          Toast(liveStatus === '0' ? '即将开始' : '直播已结束');
          return;
        }
        if (key === 'video' && !videoUrl.value) {
          getVideoUrl();
        }
        if (key === 'anchor') {
          emit('change-anchor-show');
        }
        showPortalKey.value = key;
      },
      closePortal: () => {
        const handicapTabNode = document.getElementsByClassName('handicap-tab')[0];
        handicapTabNode.classList.remove('isUtil-fixed1');
        store.commit('SET_IS_OPEN_DETAIL', false);
        emit('change-suctiontop', true);
        if (showPortalKey.value === 'anchor') {
          emit('change-anchor-show');
        }
        showPortalKey.value = '';
      },
      showDataPopups: () => {
        showDataPopup.value = true;
      },
      onCloseDataPopups: () => {
        store.commit('SET_IS_OPEN_DETAIL', false);
      },
      getThemeStyle
    };
    watch(
      () => showPortalKey.value,
      () => {
        emit('set-barrage-type', showPortalKey.value);
      }
    );
    onMounted(getBeforeVideoUrl);

    return {
      isEmpty,
      isEmptyTechData,
      liveBarTabs,
      hasTechData,
      queryPeriodId,
      sportId,
      showPortalKey,
      isTabHidden,
      liveBarBG,
      ...methods,
      showDataPopup,
      animateUrl,
      virtualVideoUrl,
      vUrl,
      isLive,
      timeText,
      videoUrl,
      showMedia,
      portalFrameBgColor,
      anchorInfo,
      IsSportId
    };
  }
});
</script>

<style lang="less" scoped>
@bar-height: 30px;
@info-height: 235px;

.game-live-bar {
  height: @bar-height;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);

  .game-live-bar-inner {
    background-image: url('../assets/game_info_bar_bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    align-items: center;
    height: @bar-height;
    margin: 0 auto;
    display: flex;
    width: 80%;
  }

  &__item {
    font-size: @font-size-xs;
    line-height: @bar-height;
    flex: 1;
    color: @white;
    height: 100%;
    text-align: center;
    position: relative;

    &.is-anchor {
      text-align: left;
    }
    .is-anchor {
      padding-left: 40px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::after {
      background: rgba(255, 255, 255, 0.3);
      transform: translateY(-50%);
      position: absolute;
      content: '';
      height: 50%;
      width: 1px;
      top: 50%;
      right: 0;
    }

    .anchor-icon-box {
      position: absolute;
    }

    .anchor-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
    }
    .anchor-icon {
      height: 30px;
      width: 30px;
      background-image: url('../assets/anchor_icon.png');
      background-size: cover;
    }

    .voice {
      position: absolute;
      top: -15px;
      left: 15px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 16px;
      width: 60px;
      background: red;
      border-radius: 0 8px 8px 0;
      font-size: 12px;
      line-height: 12px;
      padding: 0 2px 2px 0;

      &.will {
        background: #3171e2;
      }
    }

    .voice i {
      width: 2px;
      animation-name: toggle;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      background: #fff;
      height: 50%;
      margin: 0 2px;
    }

    i.first {
      animation-delay: 0;
    }

    i.second {
      animation-delay: 0.5s;
    }

    i.third {
      animation-delay: 0.8s;
      animation-duration: 0.4s;
    }

    @keyframes toggle {
      0% {
        height: 10%;
      }
      60% {
        height: 80%;
      }
      100% {
        height: 50%;
      }
    }
  }
}

.portal-frame {
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: @info-height;
  position: fixed;
  background: #082f19;
  border-radius: 0 0 5px 5px;
  &.darkGold-portal-frame {
    background-color: #1c0b01;
  }

  .title-bar {
    // background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    position: relative;
    > .center-text {
      text-align: center;
      font-size: 14px;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    .more-data-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #883d00;
      background: linear-gradient(180deg, #ffe2b5 0%, #ffb77c 100%);
      border-radius: 100px;
      padding: 3px 10px;
      z-index: 9;
    }
  }

  .close-btn {
    background: rgba(0, 0, 0, 0.1);
    font-size: @font-size-md;
    border-radius: 100px;
    position: absolute;
    color: #fff;
    padding: 3px;
    left: 10px;
    top: 10px;
    z-index: 9;
  }
  .sports-live-area {
    height: 235px;
    background-color: #000;
    overflow: hidden;
    > iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .match-info {
    background-color: rgba(0, 0, 0, 0.5);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    // > .team-preview {
    // transform: scale(0.9);
    // }
  }
}
</style>
