<template>
  <div class="time-bar" v-if="[1, 2].includes(data.sportType) && data.isLive">
    <div class="time-bar__progress" :style="{ width: progress }">
      <span>{{ data.timeText }}</span>
    </div>
  </div>
  <div class="time-bar" v-else>
    <div class="time-bar__progress is-no-progress">
      <span>{{ data.timeText }}</span>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';

export default {
  name: 'TimeBar',
  props: {
    data: {
      type: Object,
      default: () => ({
        timeText: '',
        sportType: 0,
        LLP: 0,
        runTime: '',
        isLive: true
      })
    }
  },
  setup(props) {
    const progress = computed(() => {
      const currentTime = props.data.runTime;
      const currentSession = Number(props.data.LLP);
      const sportType = props.data.sportType;
      if (!currentTime && currentTime < 2) return '0';
      const timeArr = currentTime && currentTime.split(':');
      const minute = Number(timeArr[0]);
      const second = Number(timeArr[1]);
      if (sportType === 1) {
        const totalTime = minute * 60 + second;
        const percentage = Math.round((totalTime / (90 * 60)) * 100) + '%';
        return percentage;
      }
      if (sportType === 2 && (!currentSession || props.data.timeText === '半场')) {
        return '50%';
      } else {
        // 篮球比赛 两种 国际篮球比赛 10*4  NBA 12*4 共四节
        // 单节时间  当前节剩余时间
        const b_totalTime = minute * 60 + second;
        // 当前节完毕时间  比如第三节 75%
        const oneLLP = currentSession * 0.25 * 100;
        const b_percentage = Math.round((b_totalTime / (10 * 60)) * 100 * 0.25);
        return oneLLP - b_percentage + '%';
      }
    });
    return { progress };
  }
};
</script>

<style lang="less" scoped>
@time-bar-color: @red;
.time-bar {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  z-index: 1;
  display: none;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background-color: #bbb;

  &.isUtil-fixed {
    position: fixed;
    top: 46px;
    z-index: 100;
    display: block;
    opacity: 1;
  }

  &.data-fixed {
    position: absolute;
    top: 235px;
    z-index: 12;
    display: block;
    opacity: 1;
  }

  &__progress {
    height: 3px;
    background: @time-bar-color;
    border-radius: 100px;
    position: relative;
    transition: 0.1s linear;
    min-width: 25%;
    max-width: 99%;
    &.is-no-progress {
      background: transparent;
      > span {
        right: 50%;
        transform: translateY(-50%) translateX(50%);
      }
    }
    > span {
      background: @time-bar-color;
      color: #fff;
      border-radius: 100px;
      font-size: @font-size-xs;
      position: absolute;
      padding: 2px 5px;
      line-height: 1;
      right: -1%;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }
  }
}
</style>
