.container {
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  &::before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    width: 2px;
    height: 12px;
    background: #009944;
    border-radius: 1px;
  }
}
