<template>
  <div class="live" v-loading="!sportMatchList.length">
    <div class="live-toggle" @click="expand = !expand">{{ expand ? '&gt;	' : '&lt;	' }}</div>
    <template v-if="expand">
      <div class="header">赛事直播</div>
      <!-- 直播类别 -->
      <div class="tag">
        <!--        <div class="item" :class="{ active: active === Tag.HOST }" @click="active = Tag.HOST">-->
        <!--          <i class="icon-live"></i>主播(1)-->
        <!--        </div>-->
        <div class="item" :class="{ active: sportId === SportIdEnum.Football }">
          <sport-icon class="icon" sport-id="1" :green="true" size="25" />足球(1)
        </div>
        <div class="item" :class="{ active: sportId === SportIdEnum.Basketball }">
          <sport-icon class="icon" sport-id="2" :green="true" size="25" />篮球(1)
        </div>
        <div class="item" :class="{ active: sportId === SportIdEnum.ElectronicSports }">
          <sport-icon class="icon" sport-id="43" :green="true" size="25" />电竞(1)
        </div>
      </div>
      <!--      <div class="live-status-tab">-->
      <!--        <el-tabs v-model="activeLiveStatus">-->
      <!--          <el-tab-pane label="进行中" :name="LIVE_STATUS.LIVE" />-->
      <!--          <el-tab-pane label="未开始" :name="LIVE_STATUS.WAIT" />-->
      <!--        </el-tabs>-->
      <!--      </div>-->
      <div class="body" v-if="sportMatch?.matches">
        <!-- 播放器 -->
        <LivePlayer :match="sportMatch?.matches[selectedMatchIndex]" />
        <div class="action">
          <template v-if="active === Tag.HOST">
            <div class="btn active">主播</div>
          </template>
          <template v-else>
            <div class="btn" :class="{ active: liveType === LiveType.VIDEO }" @click="liveType = LiveType.VIDEO">
              视频
            </div>
            <div class="btn" :class="{ active: liveType === LiveType.ANIME }" @click="liveType = LiveType.ANIME">
              动画
            </div>
          </template>
        </div>
        <!-- 主播列表 -->
        <template v-if="!noData && active === Tag.HOST">
          <div class="host-list">
            <host-card :is-live="true" />
            <host-card :is-live="false" />
          </div>
        </template>
        <!-- 联赛列表 -->
        <template v-if="0 && !noData && [Tag.SOCCERBALL, Tag.BASKETBALL, Tag.E_SPORT].includes(active)">
          <div class="league-list">
            <league-card
              v-for="(item, index) in sportMatch?.matches"
              :leagueId="sportMatch.leagueId"
              :key="item.id"
              :match="item"
              @click="selectedMatchIndex = index"
            />
          </div>
        </template>
        <!-- 聊天室 数据分析 -->
        <el-collapse v-model="visibleCollapse">
          <!-- 聊天室 -->
          <el-collapse-item title="聊天室" :name="Collapse.CHAT">
            <chat-room-web />
          </el-collapse-item>
          <el-collapse-item v-if="active === Tag.SOCCERBALL" title="数据分析" :name="Collapse.ANALYZE" class="analyze">
            <analyze />
          </el-collapse-item>
        </el-collapse>
        <no-data v-if="noData" />
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, provide, reactive, toRefs, watch } from 'vue';
import NoData from '@/pages/sb-web/components/common/no-data.vue';
import HostCard from 'web/views/live/components/HostCard.vue';
import LeagueCard from 'web/views/live/components/LeagueCard.vue';
import ChatRoomWeb from 'web/views/live/components/ChatRoom.vue';
import LivePlayer from 'web/views/live/components/Player.vue';
import Analyze from 'web/views/live/components/Analyze/index.vue';
import { useStore } from 'vuex';
import { Collapse, LiveStatus, LiveType, Tag } from '@/common/enums';
import { SportLeagueMatch } from '@/store/types';
import { isEmpty } from 'lodash-es';
import { SportIdEnum } from '@/common';

export default defineComponent({
  name: 'LiveIndex',
  components: { Analyze, LivePlayer, ChatRoomWeb, LeagueCard, HostCard, NoData },
  setup() {
    const store = useStore();
    const data = reactive({
      // 体育类型
      sportId: computed(() => store.state.sports.sportId),
      // 所有联赛
      sportMatchList: computed(() => store.getters.sportMatchList),
      // 联赛详情
      sportMatchDetail: computed(() => store.getters.sportMatchDetail),
      // 直播比赛数据
      sportMatch: {} as SportLeagueMatch,
      // 无比赛flag
      noData: false,
      // 直播比赛类型
      active: Tag.SOCCERBALL,
      // 直播状态
      activeLiveStatus: LiveStatus.LIVE,
      // 直播类型（视频 动画）
      liveType: LiveType.VIDEO,
      // 折叠面板显示
      visibleCollapse: ['chat', 'analyze'],
      // 显示直播侧边栏flag
      expand: true,
      // 所有直播源
      videoList: [],
      // 当前播放源地址
      videoUrl: '',
      // 选中的比赛
      selectedMatchIndex: 0
    });

    onMounted(() => {
      store.dispatch('GET_SPORT_MEDIA_DATA').then(() => {});
    });

    provide('active', data.active);
    provide('TAG', Tag);
    provide('noData', data.noData);

    // 切换比赛时自动切换直播
    watch(
      () => data.sportMatchDetail,
      v => {
        if (isEmpty(v)) {
          // 无数据自动播放当前体育类型第一个直播
          data.sportMatch = data.sportMatchList[0];
          return;
        }
        data.sportMatch = data.sportMatchDetail;
      }
    );

    // 切换体育类型自动播放第一个比赛直播
    watch(
      () => data.sportMatchList,
      v => {
        // 如果已经选择不切换
        if (data.sportMatchDetail && data.sportMatchDetail?.matches.length) {
          return;
        }
        data.sportMatch = v[0];
      }
    );

    return {
      ...toRefs(data),
      Tag,
      LiveType,
      LiveStatus,
      Collapse,
      SportIdEnum
    };
  }
});
</script>

<style lang="less" scoped>
.live {
  display: flex;
  flex-direction: column;
  background: #f8f7f9;
  position: relative;
  width: 430px;
  .live-status-tab {
    :deep(.el-tabs) {
      .el-tabs__active-bar {
        background: linear-gradient(90deg, #35a5a4, #5fde77);
      }
      .el-tabs__nav {
        display: flex;
        background: #fff;
        width: 100%;
        .el-tabs__item {
          flex: 1;
          text-align: center;
          color: #a8a8a8;
          &.is-active {
            color: @primary-color!important;
          }
        }
      }
    }
  }
  .body {
    background: #f8f7f9;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    width: 430px;
  }
  .header {
    height: 35px;
    line-height: 35px;
    position: relative;
    padding: 0 10px;
    color: @primary-color;
    background-color: #fff;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 3px;
      height: 23px;
      background: linear-gradient(0deg, #5ee970, #2eab51);
      border-radius: 0px 2px 2px 0px;
    }
  }
  .tag {
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    padding: 6px 0;
    display: flex;
    .item {
      display: flex;
      width: 103px;
      height: 47px;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      background: #eef7f5;
      color: @primary-color;
      margin: 0 2px;
      cursor: pointer;
      &.active {
        background: linear-gradient(-79deg, #50a6a5, #8add9a);
        color: #fff;
      }
    }
    .icon {
      margin-right: 6px;
    }
  }
  .action {
    text-align: center;
    padding: 8px 0;
    .btn {
      display: inline-block;
      height: 29px;
      line-height: 29px;
      padding: 0 50px;
      border-radius: 14px;
      background: #e9e9e9;
      color: #949494;
      position: relative;
      z-index: 1;
      cursor: pointer;
      &:nth-child(2) {
        margin-left: -30px;
      }
      &.active {
        z-index: 2;
        color: #fff;
        background: linear-gradient(-79deg, #50a6a5, #8add9a);
      }
    }
  }
  .league-list,
  .host-list {
    height: 300px;
    overflow-y: auto;
  }
}
.live-toggle {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: -10px;
  width: 10px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  background: #dff0ec;
  text-align: center;
  cursor: pointer;
}
:deep(.el-collapse) {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}
.analyze {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  :deep(.el-collapse-item__wrap) {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    background: #f8f7f9;
  }
}
:deep(.el-collapse-item__header) {
  position: relative;
  padding: 0;
  height: 27px;
  line-height: 27px;
  background: #dff0ec;
  padding-left: 11px;
  color: #878787;
  font-size: 14px;
  border-radius: 3px;
}
:deep(.el-collapse-item__content) {
  padding: 2px 0;
}
:deep(.el-collapse-item__wrap) {
  border: none;
}
</style>
