.sports-match-item {
  border-top: 1px solid @border-color;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left-info {
    display: flex;
    flex-direction: column;
    .team-name {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      height: 65px;

      > span.item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        flex: 1;
        justify-content: inherit;

        .itemH,
        .itemA {
          display: flex;
          align-items: center;
        }
        .t-logo {
          width: 20px;
          height: 20px;
        }

        span {
          line-height: normal;
          font-size: @font-size-md;
          color: @text-color;
          padding-left: 3px;
          font-size: 13px;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .card {
          display: flex;
          align-items: center;

          .cardY,
          .cardR {
            font-size: @font-size-xs;
            line-height: normal;
            color: #fff;
            margin: 0 1px;
            padding: 0 2px;
            min-width: 7px;
            text-align: center;
            border-radius: 2px;
          }

          .cardY {
            background: #ebba40;
          }

          .cardR {
            background: red;
          }
        }
      }
    }
  }

  .time-header {
    display: flex;
    align-items: center;
    height: 28px;
    justify-content: space-between;
    .match-info-title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .ht-title,
      .match-time {
        margin: 0 5px;
        flex: 1;
        min-width: 44px;
        box-sizing: border-box;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .match-time {
        background: #f1f1f1;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 5px;
        font-size: @font-size-xs;
        color: @gray-6;
      }
    }
  }

  .score-right {
    display: flex;
    width: 100%;
    height: 65px;
    .score {
      flex: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      > span {
        font-size: @font-size-md;
        color: #000;
        height: 50%;
        display: flex;
        align-items: center;
        font-family: 'DINAlternate-Bold';
        &.win-color {
          color: @gray-8;
        }
      }
    }
  }
}
.result-l-name {
  border-bottom: 6px solid #f2f2f2;
  .collapse-panel .expand-icon {
    right: 16px;
    left: unset;
  }
}
