.result {
  height: 100vh;
  padding-top: 45px;
  overflow: auto;
  &Header {
    display: flex;
    padding: 12px 16px;
    font-size: 14px;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    color: #000;
    position: fixed;
    background-color: #fff;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    .labelTitle {
      font-size: 14px;
      font-weight: bold;
      min-width: 60px;
      &:last-child {
        text-align: right;
      }
    }
    .sortSwitch {
      min-width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      :global {
        .svg-icon {
          width: 20px;
          height: 20px;
          fill: #9a9a9a;
        }
      }
    }
  }
}

.sheet {
  display: flex;
  flex-direction: column;
  &Content {
    height: 100%;
    flex: 1;
    .item {
      &.active {
        color: @primary-color;
      }
      padding: 12px 16px;
      text-align: center;
      font-size: 14px;
      border-bottom: 1px solid #f2f2f2;
    }
  }
  &Title {
    background-color: #f2f2f2;
    padding: 20px 16px;
    font-size: 16px;
    color: #000;
    text-align: center;
    position: relative;
    &Cancel {
      font-size: 12px;
      color: #000;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.leagueName {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #000;
}
