.img-bg(@url) {
  background-image: url(@url);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.market-list {
  position: relative;
  background-color: @white;
  border-top: 6px solid @--border-color;
  width: 100%;
  overflow: hidden;
  .is-toggle .match-markets .odds-swiper-container {
    left: -100%;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @--border-color;
    padding: 4px 8px;
    .toggle-icon {
      width: 24px;
      height: 24px;
      margin-right: 4px;
      .img-bg('./assets/两个箭头@3x.png');
      transform: rotate(0deg);
      transition: ease-in 0.3s;
      &.rotate180deg {
        transform: rotate(180deg);
      }
    }
    .curret-ball {
      display: flex;
      align-items: center;
      &-icon {
        width: 24px;
        height: 24px;
        margin-right: 4px;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      &-name {
        font-size: 14px;
        color: #000000;
      }
    }
    .league-icon {
      width: 24px;
      height: 24px;
      padding: 1px;
      > .svg-icon {
        width: 22px;
        height: 22px;
        fill: #000;
      }
    }
    .market-types {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: right;
      &-item {
        background: @white;
        border-radius: 20px;
        line-height: normal;
        color: @primary-color;
        border: 1px solid @primary-color;
        padding: 2px 10px;
        font-size: 12px;
        margin: 4px;
        &.active {
          background: @primary-color;
          color: @white;
        }
      }
    }
  }
}

.show-market {
  display: block;
}
.hide-market {
  display: none;
}

.is-expand .match-info-header {
  .events-types {
    display: none;
  }
  .match-count {
    display: flex;
  }
}
