.dataSheet {
  padding-top: 56px;
  padding-bottom: 20px;
}
.sheetTabs {
  background: #f2f2f2;
  display: flex;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.tabContainer {
  flex: 1;
  overflow: auto;
  position: relative;
  z-index: 0;
}
.sheetTabItem {
  padding: 4px 16px;
  :global {
    .svg-icon {
      width: 20px;
      height: 20px;
      fill: #9a9a9a;
    }
  }
  &.active {
    background: @primary-color;
    border-radius: 16px;
    :global {
      .svg-icon {
        fill: #fff;
      }
    }
  }
}
