.odds-swiper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  position: relative;
  &-container {
    white-space: nowrap;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
    position: absolute;
    .odds {
      width: calc(100% / 3);
      height: 100%;
      display: inline-block;
      overflow: hidden;
      zoom: 1;
      .col {
        height: calc(100% / 3);
        width: 100%;
        overflow: hidden;
        padding: 4px;
        display: table;
      }
      .lock-odds .svg-icon {
        width: 20px;
        height: 20px;
        fill: #9a9a9a;
      }
      .none-odds {
        font-size: 20px;
        color: #9a9a9a;
      }
      .odds-item {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.selected {
          background: @primary-color;
        }
        &.selected .value,
        &.selected .label {
          color: #fff !important;
        }
        .label {
          font-size: 12px;
          color: #000000;
          line-height: 1.5;
        }
        .value {
          font-size: 16px;
          color: #000000;
          line-height: 1.5;
          &.rise {
            color: @primary-color;
          }
          &.fall {
            color: #bc2c2c;
          }
        }
      }
    }
  }
}
