<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <title>Sports Betting</title>
  <script>
    !function (e) {
      const isSit = /localhost|127.|192.|172.|sports-bet.kg999vip.com/i.test(location.host);
      window.DEBUG = isSit;
      var m = e.navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
      var t = e.document, n = t.documentElement, i = e.devicePixelRatio || 1,
        a = 'orientationchange' in e ? 'orientationchange' : 'resize', d = function () {
          var e = n.getBoundingClientRect().width || 360;
          (1 == i || e > 750) && (e = 750), !m && (e = 375), n.style.fontSize = e / 10 + 'px';
        };
      n.setAttribute('data-dpr', i), t.addEventListener && (e.addEventListener(a, d, !1), 'complete' === t.readyState || t.addEventListener('DOMContentLoaded', function () {
        setTimeout(d);
      }, !1));
    }(window);
  </script>
  <style data-sp-theme="theme"></style>
</head>

<body>
  <div id="microApp"></div>
</body>

<!-- <script>
  // 图片太慢, 没得球用
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      document.body.classList.remove('loading');
    }
  }
</script> -->

</html>
