.collapse {
  position: relative;
  background-color: @white;
  &.expand-all .collapse-panel .collapse-panel-content {
    display: unset !important;
  }
  &-panel {
    border-bottom: 1px solid #f2f2f2;
    &.is-expand {
      .collapse-panel-header .expand-icon {
        transform: rotate(180deg);
      }
      .collapse-panel-content {
        display: none;
      }
    }
    &-header {
      height: 40px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      position: relative;
      .expand-icon {
        width: 24px;
        height: 24px;
        transition: ease-in-out 0.1s;
        position: absolute;
        transform: rotate(0deg);
        top: 50%;
        left: 12px;
        margin-top: -12px;
        .svg-icon {
          width: 24px;
          height: 24px;
          fill: #9a9a9a;
        }
      }
      &-conetnt {
        flex: 1;
        width: 100%;
      }
    }
  }
}
