<template>
  <div class="sports-match-list finished-match">
    <van-collapse
      :border="false"
      class="match-collapse-item"
      v-model="activeNamesList"
      @change="onCollapseChange"
      v-for="league in data"
      :key="league.LeagueId + '_finished'"
    >
      <van-collapse-item :name="league.LeagueId">
        <template #title>
          <div class="collapse-league-info">
            <team-logo :sportId="sportId" :leagueName="league.LeagueId" size="md" />
            <div class="league-name">
              <span>{{ league.LeagueName }}</span>
            </div>
          </div>
        </template>
        <div
          class="sports-match-item"
          v-for="match in league.matches"
          :key="match.matchId + '_match'"
          @click="handleTips"
        >
          <div class="time-header">
            <span class="match-time"> {{ match.startTime || '--' }} </span>
            <div class="match-info-title">
              <span class="ht-title" v-if="match.gameId === 1">半场</span>
              <span class="match-time">完场</span>
            </div>
          </div>
          <div class="match-item-content">
            <div class="team-name">
              <span class="item">
                <div class="itemH">
                  <team-logo :sportId="match.gameId" :teamName="match.home" size="xs" />
                  <span>{{ match.home || '--' }}</span>
                </div>
              </span>
              <span class="item">
                <div class="itemA">
                  <team-logo :sportId="match.gameId" :teamName="match.away" size="xs" />
                  <span>{{ match.away || '--' }}</span>
                </div>
              </span>
            </div>
            <div class="score-right">
              <div class="score" v-if="match.gameId === 1">
                <span :class="{ 'win-color': isHight(match.homeHalf, match.awayHalf) }">{{
                  match.homeHalf || '0'
                }}</span>
                <span :class="{ 'win-color': isHight(match.awayHalf, match.homeHalf) }">{{
                  match.awayHalf || '0'
                }}</span>
              </div>
              <div class="score">
                <span :class="{ 'win-color': isHight(match.homeScore, match.awayScore) }">{{
                  match.homeScore || '0'
                }}</span>
                <span :class="{ 'win-color': isHight(match.awayScore, match.homeScore) }">{{
                  match.awayScore || '0'
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </van-collapse-item>
    </van-collapse>
    <div v-if="data.length > 0" class="bottom-line">没有更多数据</div>
    <data-empty v-else />
  </div>
</template>

<script lang="ts">
import { ref, PropType, watch } from 'vue';
import { FinishedMatchItem } from '@/services';
import { Toast } from 'vant';

export default {
  name: 'FinishedMatchList',
  props: {
    data: {
      type: Array as PropType<
        {
          LeagueId: number;
          LeagueName: string;
          matches: FinishedMatchItem[];
        }[]
      >,
      default: () => []
    },
    sportId: {
      type: Number,
      default: -1
    },
    activeNames: {
      type: Array as PropType<number[]>,
      default: () => []
    }
  },
  emits: ['update:activeNames'],
  setup(props, { emit }) {
    const activeNamesList = ref([]);
    watch(
      () => props.activeNames,
      (val: any) => {
        activeNamesList.value = val;
      }
    );

    const onCollapseChange = (activeNamesList: number[]) => {
      emit('update:activeNames', activeNamesList);
    };
    const isHight = (a: number, b: number) => {
      if (a === 0 && b === 0) return false;
      return a >= b;
    };

    const handleTips = () => {
      Toast('沒有更多赛果数据');
    };

    return { activeNamesList, onCollapseChange, isHight, handleTips };
  }
};
</script>

<style lang="less" scoped>
@min-width: 25%;
.finished-match {
  .time-header {
    justify-content: space-between;
  }
  .match-info-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: @min-width;
    .ht-title,
    .match-time {
      padding: 0 5px;
      flex: 1;
      max-width: 44px;
      box-sizing: border-box;
      justify-content: center;
    }
  }
  .match-item-content {
    justify-content: space-between;
  }
  .score-right {
    display: flex;
    min-width: @min-width;
    justify-content: flex-end;
    max-width: 44px;
    .score {
      width: auto;
      flex: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
      max-width: 44px;
      > span {
        color: @gray-5;
        &.win-color {
          color: @gray-8;
        }
      }
    }
  }
}
</style>
