<template>
  <div class="sports-match-list" :class="{ padb80: visibleBetCart }">
    <van-collapse
      :border="false"
      v-model="activeNamesList"
      v-for="(item, index) in matchData"
      @change="onCollapseChange"
      :key="index + '_league_' + item.LeagueId"
    >
      <van-collapse-item
        class="match-collapse-item"
        title-class="item_s"
        :title="item.LeagueName"
        :name="item.LeagueId"
      >
        <template #title>
          <div class="collapse-league-info">
            <team-logo :sportId="item.SportType" :leagueName="item.LeagueId" size="md" />
            <div class="league-name">
              <span>{{ item.LeagueName }}</span>
            </div>
          </div>
        </template>
        <MatchItem
          v-for="matchesItem in item.matches"
          :key="matchesItem.MatchId"
          :itemInfo="{
            ...matchesItem,
            LeagueId: item.LeagueId,
            LeagueName: item.LeagueName,
            SportType: item.SportType
          }"
          :periodId="periodId"
          :isParlay="isParlay"
          :betType="betType"
          @collect-match="collectMatch"
        />
      </van-collapse-item>
    </van-collapse>
    <div class="bottom-line" v-if="matchData.length">没有更多数据</div>
    <van-empty class="empty-follow" :image="emptyIconImg()" v-else-if="periodId == -1" description="">
      <slot>
        <div class="empty-text">
          <p>您还没有关注相关的赛事</p>
          <p>点击<van-icon name="star-o" />关注赛事</p>
        </div>
      </slot>
    </van-empty>
    <data-empty v-else-if="periodId !== -1" />
  </div>
</template>

<script lang="ts">
import { PropType, watch, ref } from 'vue';
import MatchItem from './common/MatchItem.vue';
import { useBet } from '@/hooks/useBet';

import EMPTY_ICON from '@/assets/empty_icon.png';
import EMPTY_ICON_DARK_GOLD from '@/assets/empty_icon_darkGold.png';
import { getThemeStyle } from '@/common';

const icons = {
  green: EMPTY_ICON,
  golden: EMPTY_ICON,
  darkGold: EMPTY_ICON_DARK_GOLD
};

export default {
  name: 'SportsBetList',
  components: { MatchItem },
  props: {
    betType: {
      type: Number
    },
    matchData: {
      type: Array as PropType<any[]>,
      default: () => []
    },
    activeNames: {
      type: Array as PropType<number[]>,
      default: () => []
    },
    periodId: {
      type: Number
    },
    isParlay: {
      type: Boolean
    }
  },
  emits: ['update:activeNames', 'collect-match'],
  setup(props, { emit }) {
    const { visibleBetCart } = useBet();

    const onCollapseChange = (activeNamesList: number[]) => {
      emit('update:activeNames', activeNamesList);
    };

    const activeNamesList = ref([]);

    watch(
      () => props.activeNames,
      (val: any) => {
        activeNamesList.value = val;
      }
    );

    const emptyIconImg = () => {
      return icons[getThemeStyle()];
    };

    const collectMatch = () => {
      emit('collect-match');
    };

    return { emptyIconImg, onCollapseChange, activeNamesList, collectMatch, visibleBetCart };
  }
};
</script>

<style lang="less" scoped>
.van-empty__bottom {
  margin-top: 0 !important;
  p {
    margin: 0;
    text-align: center;
  }
}
.collapse-league-info {
  &:deep(.team-logo) {
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
}
.collapse-league-info-nodata {
  height: 100px;
  &:deep(.van-cell) {
    background-color: #f6f7f8;
  }
  &:deep(.van-icon) {
    display: none !important;
  }
}

.empty-follow {
  :deep(.van-empty__image) {
    width: 80px;
    height: 80px;
  }
  .empty-text {
    color: @text-color;
  }
}
</style>
