<template>
  <div class="captchaWrap">
    <div id="captcha_div" ref="captchaInner" class="captcha_div"></div>
  </div>
</template>

<script>
import initNECaptcha from './captcha';
import { i18n } from '@/i18n/setupI18n';

export default {
  name: 'Captcha',
  props: ['captchaClose', 'data'],
  emits: ['getResult'],
  data() {
    return {
      captchaIns: null
    };
  },
  mounted() {
    this.WYCaptcha();
  },
  methods: {
    async WYCaptcha() {
      // eslint-disable-next-line @typescript-eslint/no-this-alias
      const self = this;
      initNECaptcha(
        {
          element: '#captcha_div',
          captchaId: self.data.captchaId,
          appendTo: this.$refs.captchaInner,
          mode: 'popup',
          width: '320px',
          onClose: self.selfClose,
          lang: i18n.global.locale.value,
          onVerify: function (err, data) {
            if (err) {
              return;
            } else {
              self.$emit('getResult', data);
              self.captchaIns.destroy();
            }
          },
          onClose: function () {
            // 弹出关闭结束后将会触发该函数
          }
        },
        instance => {
          // 初始化成功后得到验证实例instance，可以调用实例的方法
          self.captchaIns = instance;
          self.captchaIns.popUp();
        },
        err => {
          console.error(err);
          // 初始化失败后触发该函数，err对象描述当前错误信息
        }
      );
    },
    // 让父组件自己验证
    verify(err, data) {
      this.callback && this.callback(err, data);
    },
    // 让父组件自己关闭
    selfClose() {
      this.captchaClose && this.captchaClose();
      this.captchaIns.refresh();
    }
  }
};
</script>
<style scoped>
.captchaWrap {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}
.captcha_div {
  margin-top: 20%;
}
</style>
