<template>
  <div class="tab-wrap">
    <ul class="sports-tab" :style="{ backgroundImage: `url(${headerTabBg()})` }">
      <template v-for="(item, index) in DATE_TYPES" :key="index + '_M_KEY'">
        <li class="sports-tab-item" @click="onPeriodIdchange(item, index)" :class="{ active: index === activePeriod }">
          <span>{{ item.label }} {{ resultMarket(strAarr[index]) }}</span>
        </li>
      </template>
    </ul>
    <div class="sports-type-container" v-if="convertSportTypes.length">
      <PartLoading class="sports-type" v-if="isEmpty(sportTypes)" />
      <ul class="sports-type" ref="twoLevelTabs" id="sports-type" v-else>
        <template v-for="(item, index) in convertSportTypes" :key="index + '_S_KEY'">
          <li
            class="sports-type-item"
            :class="{ active: item.sportId == form.sportId }"
            @click="tabChange(item, 'sportId')"
          >
            {{ item.sportName }} ({{ sportCount(item) }})
          </li>
        </template>
      </ul>
      <template v-if="form.periodId !== -1">
        <div class="league-setting" @click="showPopup">
          <div class="icon-wrap">
            <svg-icon :name="getThemeStyle() === 'darkGold' ? 'setting_' : 'setting'" />
          </div>
        </div>
        <div class="league-sort" @click="openLeagueSort">
          <div class="icon-wrap">
            <svg-icon :name="getThemeStyle() === 'darkGold' ? 'league_' : 'league'" />
          </div>
        </div>
      </template>
    </div>
    <div class="sport-sort" v-if="convertSportTypes.length">
      <div
        v-if="activePeriod === 1"
        @click="changeToCompleted"
        class="sport-sort-type"
        :class="{ 'is-toggle': form.isCompleted }"
      >
        <span>未开赛</span>
        <svg-icon class="arr-icon" name="switch" />
        <span>完场</span>
      </div>
      <div v-else class="sport-sort-allbox">
        <div v-if="[0, 4].includes(activePeriod)">
          <span :class="!isShowTonight ? 'colorText' : 'colorS'">全部</span>
        </div>
        <van-dropdown-menu v-else>
          <van-dropdown-item ref="itemtoggle">
            <template #title>
              <div class="all-text">
                <svg-icon name="calendar" />
                <span>{{ calendarLabel }}</span>
              </div>
            </template>
            <ul class="bttom_box_time">
              <!-- 新增 -->
              <template v-if="activePeriod === 3">
                <li
                  :class="['spanbox', activeDay == 100 ? 'back_s' : '']"
                  @click="dayTabChange({ title: '滚球', value: 100 })"
                >
                  <div class="conent-box">滚球</div>
                </li>
                <li
                  :class="['spanbox', activeDay == 101 ? 'back_s' : '']"
                  @click="dayTabChange({ title: '今日', value: 101 })"
                >
                  <div class="conent-box">今日</div>
                </li>
              </template>
              <li
                v-else
                :class="['spanbox', activeDay == 0 ? 'back_s' : '']"
                @click="dayTabChange({ title: '全部', value: 0 })"
              >
                <div class="conent-box">全部</div>
              </li>
              <template v-for="(item, index) in DATE_FIRST" :key="index + '_CA_KEY'">
                <li @click="dayTabChange(item)" :class="['spanbox', activeDay == item.value ? 'back_s' : null]">
                  <div class="conent-box">
                    <span>{{ item.title }}</span>
                    <span>{{ item.date }}</span>
                  </div>
                </li>
              </template>
            </ul>
          </van-dropdown-item>
        </van-dropdown-menu>
      </div>
      <div
        v-if="!form.isCompleted"
        @click="onToggleType(form.switchTypeKey === 'league')"
        class="sport-sort-type"
        :class="{ 'is-toggle': form.switchTypeKey === 'league' }"
      >
        <span>时间</span>
        <svg-icon class="arr-icon" name="switch" />
        <span>联赛</span>
      </div>
      <div class="sport-sort-expand" :class="[isShrinkAll ? 'down' : '']" @click="changeExpand">
        <svg-icon class="sport-sort-expand-icon" name="expand" />
      </div>
    </div>
    <ul class="sort-list" v-show="!form.isCompleted">
      <template v-for="(item, index) in formatBetTypeList" :key="index + '_B_KEY'">
        <li
          class="sort-list-item"
          @click="tabChange(item, 'betType')"
          :class="{ active: item.value === (form.betType || formatBetTypeList[0].value) }"
        >
          {{ item.label }}
        </li>
      </template>
    </ul>
  </div>
  <van-popup
    class="league-sort-container"
    :class="getThemeStyle()"
    lock-scroll
    v-model:show="visibleLesgueSort"
    position="right"
    teleport="body"
  >
    <LeagueFilter
      v-if="visibleLesgueSort"
      @close="closetLeagueSort"
      @confirm-checked="confirmCheckedLeague"
      :isParlay="form.isParlay"
      :sportId="form.sportId"
    />
  </van-popup>
  <van-popup
    :class="getThemeStyle()"
    class="set-popup"
    v-model:show="showSetting"
    teleport="body"
    round
    :style="{ width: '90%' }"
  >
    <Setting />
  </van-popup>
</template>

<script lang="ts">
import { PropType, ref, computed, ComputedRef, Ref, watch } from 'vue';

import { BetTypeList, DATE_TYPES, TabTypeKeys, DATE_FIRST } from '@/common';
import LeagueFilter from '../league-filter';
import { isEmpty, filter, sumBy, debounce, find, isArray } from 'lodash-es';
import Setting from './components/Setting.vue';
import { SortForm, SportSortItem } from '@/services';
import { useStore } from 'vuex';
import { toTime, getThemeStyle } from '@/common/utils';
import { useAuth } from '@/hooks';

import icon_switch from '@/assets/icon_switch.png';
import { useBet } from '@/hooks/useBet';
// import { nextTick } from 'process';

import GREEN_TAB_IMG from '@/assets/header_bg_green_tab.jpg';
import GOLDEN_TAB_IMG from '@/assets/header_bg_golden_tab.jpg';
import DARKGOLDEN_TAB_IMG from '@/assets/header_bg_darkgolden_tab.jpg';

const headerTabBgIMG = {
  green: GREEN_TAB_IMG,
  golden: GOLDEN_TAB_IMG,
  darkGold: DARKGOLDEN_TAB_IMG
};

export default {
  name: 'SportSort',
  components: { LeagueFilter, Setting },
  props: {
    sportTypes: {
      type: Array as PropType<SportSortItem[]>,
      default: () => []
    },
    tabForm: {
      type: Object as PropType<SortForm>,
      required: true
    }
  },
  emits: ['open-league-sort', 'shrink-all', 'update:tabForm', 'sort-change'],
  setup(props, { emit }) {
    const store = useStore();
    const { checkIsLogin } = useAuth();
    const { changeParlayStatus } = useBet();

    const form: Ref<SortForm> = ref({
      sportId: -1,
      periodId: 3,
      selectDate: 0,
      switchTypeKey: 'league',
      leagueIds: '', // 联赛名集合
      eventIds: '', // 关注的赛事ID集合
      isCompleted: false, // 是否完场数据
      betType: 5,
      isParlay: false
    });
    const calendarLabel = ref('全部');
    const activeDay = ref(0);
    const activePeriod = ref(0);
    const showSetting = ref(false);
    const visibleLesgueSort = ref(false); // 联赛筛选可见
    const strAarr = ref(['liveCount', 'todayCount', 'earlyCount', 'parlayCount', 'followdCount']);
    const itemtoggle: Ref<any> = ref([]);
    const twoLevelTabs = ref(null);
    // const keepDomArray = ref([]);
    // 关注的赛事map
    const followMatchs = computed(() => store.getters.collectMatches);

    // 关注统计
    const followCounter = computed(() => {
      let count = 0;
      const fMatchs = followMatchs.value;
      for (let key in fMatchs) {
        count = count + fMatchs[key].length;
      }
      return count;
    });

    const isShrinkAll = ref(false);

    // 类目数统计
    const statistics = computed(() => {
      const typeList = props.sportTypes;
      if (isEmpty(typeList))
        return {
          live: 0,
          today: 0,
          early: 0,
          parlay: 0
        };
      const liveCount = sumBy(typeList, (e: SportSortItem) => (!!e.liveCount ? e.liveCount : 0)) || 0;
      const todayCount = sumBy(typeList, (e: SportSortItem) => (!!e.todayCount ? e.todayCount : 0)) || 0;
      const earlyCount = sumBy(typeList, (e: SportSortItem) => (!!e.earlyCount ? e.earlyCount : 0)) || 0;
      const parlayCount = sumBy(typeList, (e: SportSortItem) => (!!e.parlayCount ? e.parlayCount : 0)) || 0;
      return {
        live: liveCount,
        today: todayCount,
        early: earlyCount,
        parlay: parlayCount
      };
    });
    const leagueFilterPrams = computed(() => {
      return {
        // 赛事区间 1: Today 今日(预设) 、2: Early 早盘 、3: Live 滚球 、4: Follow 关注, 5.plary 串关
        periodId: form.value.periodId,
        // 体育项目ID
        sportId: activeSportsType.value,
        isParlay: form.value.isParlay,
        selectDate: form.value.selectDate
      };
    });

    // 显示的投注类型
    const formatBetTypeList = computed(() => {
      const list = BetTypeList.filter(e => {
        return e.sportVisibleEnum?.includes(activeSportsType.value);
      });
      return list;
    });

    const headerTabBg = (): string => {
      const themeStyle = getThemeStyle();
      return headerTabBgIMG[themeStyle];
    };

    // 过滤列表
    const convertSportTypes: ComputedRef<SportSortItem[]> = computed(() => {
      const typeList = props.sportTypes;
      if (isEmpty(typeList)) return [];
      let list: any[] = [];
      switch (activePeriod.value) {
        case 0:
          list = filter(typeList, (e: SportSortItem) => {
            return e.liveCount && e.liveCount > 0;
          });
          break;
        case 1:
          list = filter(typeList, (e: SportSortItem) => {
            return e.todayCount && e.todayCount > 0;
          });
          break;
        case 2:
          list = filter(typeList, (e: SportSortItem) => {
            return e.earlyCount && e.earlyCount > 0;
          });
          break;
        case 3:
          list = filter(typeList, (e: SportSortItem) => {
            return e.parlayCount && e.parlayCount > 0;
          });
          break;
        // 关注列表
        case 4:
          list = filter(typeList, (e: SportSortItem) => {
            return e.followdCount && e.followdCount > 0;
          });
          if (list.length !== list.length) {
            // twoLevelTabs.value.className = 'active';
          }
          break;
        default:
          break;
      }
      return list;
    });
    watch(convertSportTypes, val => {
      const current = find(val, e => e.sportId === form.value.sportId);
      if (!current && val[0]) {
        methods.tabChange(val[0], 'sportId');
      }
    });
    // 当前选中体育类目
    const activeSportsType: ComputedRef<number> = computed(() => {
      const list = convertSportTypes.value;
      if (isEmpty(list)) return 0;
      return form.value.sportId || list[0].sportId;
    });

    const isShowTonight = computed(() => {
      return activePeriod.value === 2 || activePeriod.value === 3;
    });

    //监听val,输入框变化，val变化则是实现了双向绑定
    watch(
      () => props.tabForm,
      (val: SortForm) => (form.value = val),
      { immediate: true }
    );

    const methods = {
      dayTabChange({ value, title, date }: { date: string; value: number; title: string }) {
        // 标识 滚球100 和 今日101
        if (value === 100) {
          // 处理滚球
          form.value.selectDate = 0;
          form.value.periodId = 3;
        }
        if (value === 101) {
          // 处理今日
          form.value.periodId = 1;
        }
        calendarLabel.value = [0, 8, 100, 101].includes(value) ? title : date;
        activeDay.value = value;
        if (![100, 101].includes(value)) {
          form.value.selectDate = value;
          form.value.periodId = 2;
        }
        emit('update:tabForm', { ...form.value, sportId: activeSportsType.value, leagueIds: '' });
        emit('sort-change');
        itemtoggle.value.toggle();
      },
      changeToCompleted: debounce(() => {
        form.value.isCompleted = !form.value.isCompleted;
        emit('update:tabForm', form.value);
        emit('sort-change', { isCompleted: true });
      }, 500),
      showPopup() {
        showSetting.value = true;
      },
      resultMarket(str: string) {
        const Arrlist = props.sportTypes;
        let result = 0;
        filter(Arrlist, (e: SportSortItem) => {
          result += e[str];
        });
        return result || 0;
      },
      /**
       * 显示体育类目盘口统计
       * @param {string} name 球队名字
       */
      sportCount: (data: SportSortItem): number => {
        if (isEmpty(data)) return 0;
        let count = 0;
        switch (activePeriod.value) {
          case 0:
            count = !!data.liveCount ? data.liveCount : 0;
            break;
          case 1:
            count = !!data.todayCount ? data.todayCount : 0;
            break;
          case 2:
            count = !!data.earlyCount ? data.earlyCount : 0;
            break;
          case 3:
            count = !!data.parlayCount ? data.parlayCount : 0;
            break;
          case 4:
            count = !!data.followdCount ? data.followdCount : 0;
            break;
          default:
            break;
        }
        return count;
      },
      onPeriodIdchange: ({ value }, actIndex: number) => {
        // 关注切换-检查登录
        if (actIndex === 4) {
          if (!checkIsLogin()) return;
        }
        if (activePeriod.value === actIndex) return;
        let isParlay = false;
        form.value.isCompleted = false;
        form.value.periodId = value;
        activePeriod.value = actIndex;
        // UI復位
        const ele = document.getElementById('sports-type');
        !!ele && (ele.scrollLeft = 0);
        if (actIndex === 4) {
          // 关注列表
          form.value.sportId = Number(Object.keys(followMatchs.value)[0]) || -1;
          form.value.eventIds = !!followMatchs.value[form.value.sportId]
            ? followMatchs.value[form.value.sportId].join(',')
            : '';
          if (!form.value.eventIds) {
            form.value.sportId = -1;
            store.commit('SET_SPORT_BET_LIST', []);
          }
        } else if (actIndex === 3) {
          // 选择串关
          form.value.isParlay = true;
          activeDay.value = 100;
          calendarLabel.value = '滚球';
          isParlay = true;
          form.value.sportId = isEmpty(convertSportTypes.value) ? -1 : convertSportTypes.value[0].sportId;
        } else {
          calendarLabel.value = '全部';
          activeDay.value = 0;
          form.value.isParlay = false;
          form.value.sportId = isEmpty(convertSportTypes.value) ? -1 : convertSportTypes.value[0].sportId;
        }
        changeParlayStatus({ isParlay });
        form.value.betType = formatBetTypeList.value.length > 0 ? formatBetTypeList.value[0].value : -1;
        if (actIndex !== 4) {
          // 关注才使用eventids
          form.value.eventIds = '';
          // 赛事筛选之后点击tab需要将leagueIds初始化
          form.value.leagueIds = '';
        }
        emit('update:tabForm', form.value);
        emit('sort-change');
      },
      // 切换选项
      tabChange: (params: any, key: TabTypeKeys) => {
        if (form.value[key] === params.value) return;
        isShrinkAll.value = false;
        emit('shrink-all', isShrinkAll.value);
        // @ts-ignore;
        form.value[key] = params.value;
        switch (key) {
          case 'sportId':
            form.value.sportId = params.sportId;
            form.value.betType = formatBetTypeList.value.length > 0 ? formatBetTypeList.value[0].value : -1;
            break;
          case 'leagueIds':
            if (isArray(params)) {
              form.value.leagueIds = params.join(',');
            }
            break;
          default:
            break;
        }
        // 关注才使用eventids
        if (activePeriod.value === 4) {
          form.value.eventIds = isEmpty(params.followdEventIds) ? '' : params.followdEventIds.join(',');
        } else {
          form.value.eventIds = '';
        }
        form.value.isCompleted = false;
        if (key !== 'leagueIds') {
          form.value.leagueIds = '';
        }
        if (key !== 'betType') {
          emit('sort-change');
        }
      },
      // 切换 时间 or 联赛
      onToggleType: (bool: boolean) => {
        form.value.switchTypeKey = bool ? 'time' : 'league';
        emit('update:tabForm', form.value);
        store.dispatch('SET_SORT_KEY', form.value.switchTypeKey);
      },
      // 展开全部
      changeExpand() {
        isShrinkAll.value = !isShrinkAll.value;
        emit('shrink-all', isShrinkAll.value);
      },
      // 打开联赛筛选
      openLeagueSort: async () => {
        visibleLesgueSort.value = true;
        // 请求赛事列表数据
        await methods.getLeagueList();
      },
      // 关闭联赛筛选
      closetLeagueSort: () => {
        visibleLesgueSort.value = false;
      },
      // 获取赛事列表数据
      getLeagueList: async () => {
        await store.dispatch('GET_LEAGUE_LIST', leagueFilterPrams.value);
      },
      confirmCheckedLeague: (leagueIds: string[]) => {
        methods.tabChange(leagueIds, 'leagueIds');
      },
      getThemeStyle,
      isEmpty,
      toTime
    };

    return {
      calendarLabel,
      strAarr,
      headerTabBg,
      form,
      activePeriod,
      ...methods,
      showSetting,
      activeSportsType,
      isShrinkAll,
      formatBetTypeList,
      DATE_TYPES,
      convertSportTypes,
      statistics,
      followCounter,
      leagueFilterPrams,
      visibleLesgueSort,
      getThemeStyle,
      icon_switch,
      isShowTonight,
      DATE_FIRST,
      itemtoggle,
      activeDay,
      followMatchs,
      twoLevelTabs
    };
  }
};
</script>

<style lang="less" scoped>
:deep(.van-dropdown-menu__bar) {
  background: none;
  box-shadow: none;
}
:deep(.van-dropdown-menu__title--active) {
  color: @primary-color;
}
.tab-wrap {
  position: relative;
  box-sizing: border-box;
  z-index: 9;
}
.sport-sort {
  position: relative;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border-top: 1px solid @border-color;
  background: @white;
  box-sizing: border-box;
  .bttom_box_time {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 55px;
    color: #888;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-size: 0;
    background: @white;
    padding: 5px !important;
    .spanbox {
      border-radius: 5px;
      color: @primary-color;
      background: @background-color;
      align-items: center;
      display: inline-block;
      min-width: 1.6rem;
      height: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 0.32rem;
      vertical-align: middle;
      margin: 0 5px;
      padding: 0 5px;
      &.back_s {
        color: @white;
        background: @primary-color;
      }
      > .conent-box {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &-allbox {
    width: 100px;
    text-align: center;
    display: flex;
    font-size: @font-size-xs;
    justify-content: center;
    align-items: center;
  }
  &-type {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    &.is-toggle {
      .arr-icon {
        transform: rotate(180deg);
      }
      > span {
        &:first-child {
          color: rgba(0, 0, 0, 0.5);
        }
        &:last-child {
          color: @primary-color;
        }
      }
    }
    > span {
      font-size: 12px;
      transition: ease-in-out 0.3s;
      &:first-child {
        color: @primary-color;
      }
      &:last-child {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    > .arr-icon {
      width: 14px;
      height: 14px;
      margin: 0 3px;
      transform: rotate(0);
    }
  }
  &-expand {
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon {
      fill: #828282;
    }
    &.down {
      transform: rotate(-180deg);
    }
  }
}

.sort-list {
  display: flex;
  align-items: center;
  color: #888;
  background-color: @white;
  border-top: 1px solid @border-color;
  &-item {
    padding: 5px;
    flex: 1;
    border-bottom: 3px solid @white; /* no */
    transition: ease-in-out 0.3s;
    text-align: center;
    font-size: @font-size-md;
    &.active {
      color: @primary-color;
      border-bottom: 3px solid @primary-color;
    }
  }
}

.all-text {
  font-size: @font-size-md;
  color: @primary-color;
  display: flex;
  align-items: center;
  > .svg-icon {
    width: 20px;
    height: 20px;
  }
}

.sports-tab {
  height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 12px;
  line-height: normal;
  transition: ease-in-out 0.3s;
  background-position: top center;
  background-size: 100% 100%;
  &-item {
    flex: 1;
    text-align: center;
    height: 32px;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.3);
    > span {
      color: #fff;
      width: 100%;
      height: 100%;
      display: block;
    }
    &:first-child {
      border-radius: 10px 0 0 0;
    }
    &:last-child {
      border-radius: 0 10px 0 0;
    }
    &.active {
      > span {
        border-radius: 10px 10px 0 0;
        color: @primary-color;
        font-weight: bold;
        background: @white;
      }
    }
  }
}

.sports-type-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  background: @white;
}

.sports-type {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 25px;
  color: #888;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  text-align: left;
  font-size: 0;
  padding: 8px 0;
  background: @white;
  &::-webkit-scrollbar {
    display: none;
  }

  &-item {
    display: inline-block;
    min-width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 100px;
    border: 1px solid #dddddd;
    &.active {
      background: @primary-color;
      border: 1px solid @primary-color;
      color: @white;
      border-radius: 20px;
      transition: ease-in-out 0.3s;
    }
  }
}

.league-sort,
.league-setting {
  background-color: @white;
  box-shadow: -3px 0 2px rgb(187 187 187 / 30%);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .icon-wrap {
    padding: 2px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid @white;
  }
  .svg-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
.league-sort {
  box-shadow: none;
}
.colorText {
  color: @primary-color;
}
.colorS {
  color: #999;
}
</style>

<style lang="less">
.van-sticky--fixed .tab-wrap .sports-tab {
  border-radius: 0 !important;
}
.van-sticky--fixed {
  z-index: 9;
}
</style>
