<template>
  <div class="bet-result-dialog" @click.stop>
    <div class="keyboard-title">
      <div class="center-text">
        <van-icon name="checked" />
        <span>投注成功</span>
      </div>
    </div>
    <div class="bet-content-scroll">
      <div class="bet-list" v-if="isParlay">
        <TicketItem
          :showBlock="false"
          v-for="(item, index) in tickets"
          :key="index + '_tkeyx'"
          :data="item"
          :showOperation="false"
        />
        <div class="res-parlay">
          <template v-for="(item, index) in currentCombos" :key="index + '_com_key'">
            <div class="res-parlay-item" v-if="item.stake > 0">
              <div>
                <span>{{ item.bet_count }}*{{ combosLabel(item.combo_type) }}</span>
                <span class="blue">@{{ currency(item.combo_price) }}</span>
              </div>
              <div>
                <span>本金:</span>
                <span>{{ currency(item.stake * item.bet_count) }}</span>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="bet-list" v-else>
        <TicketItem :showBlock="false" :data="ticket" :showOperation="false" />
      </div>
    </div>
    <div class="success-btns">
      <div class="ticket-result">
        <div>投注: {{ amount }}</div>
        <div>可赢: {{ winAmount }}</div>
      </div>
      <van-button type="primary" size="small" block round @click="onCloseBet"> 确认 </van-button>
      <van-button type="default" size="small" block round @click="toKeepBetting"> 继续投注此单 </van-button>
    </div>
  </div>
</template>

<script lang="ts">
import { CommonTypeItem, ParlayComboType } from '@/common';
import { defineComponent } from 'vue';
import TicketItem from '../TicketItem/index.vue';
import { currency } from '@/common';

export default defineComponent({
  name: 'BetResult',
  components: { TicketItem },
  props: {
    winAmount: {
      type: String,
      default: '0.00'
    },
    amount: {
      type: String,
      default: '0.00'
    },
    isParlay: {
      type: Boolean,
      default: false
    },
    ticket: {},
    tickets: {},
    currentCombos: {
      type: Array,
      default: () => []
    }
  },
  emits: ['close', 'to-keep'],
  setup(_props, { emit }) {
    const onCloseBet = () => {
      emit('close');
    };
    const toKeepBetting = () => {
      emit('to-keep');
    };

    const combosLabel = (combo: string) => {
      const parlayObj = ParlayComboType.find((e: CommonTypeItem) => e.code === combo) as any;
      return `${parlayObj.label}`;
    };

    return { onCloseBet, toKeepBetting, combosLabel, currency };
  }
});
</script>

<style lang="less" scoped>
.bet-result-dialog {
  z-index: 101;
  background: @white;
  border-radius: 20px;
  width: 100%;
  max-height: 85%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: fixed;
  display: flex;
  flex-direction: column;

  &.is-cover {
    z-index: 2001;
  }

  .center-text {
    font-size: @font-size-xs;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    > span {
      padding-left: 3px;
    }
  }

  .ticket-result {
    padding: 6px 0;
    font-size: 14px;
    color: @gray-8;
  }

  .success-btns {
    padding: 0 15px 15px;
    > .van-button--primary {
      margin-bottom: 10px;
    }
  }
  .keyboard-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 30px 20px;
    border-radius: 20px 20px 0 0;
    background: @primary-color;
    color: @white;
    div {
      font-size: 16px;
      font-weight: 500;
    }
    .amount {
      text-align: right !important;
      font-size: 20px;
      display: flex;
      align-items: center;
      .refresh-button-icon {
        fill: #fff;
      }
    }
  }
  .bet-content-scroll {
    overflow-y: scroll;
    margin-top: -20px;
    border-radius: 20px;
    background-color: @white;
    -webkit-overflow-scrolling: touch;
    flex: 1;
    max-height: 270px;
    .filed-container {
      padding: 5px 15px;
      position: relative;
      .nubmer-display {
        padding: 13px 10px 13px 13px;
        border-radius: 10px;
        height: 46px;
        box-sizing: border-box;
        border: 1px solid @primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .limit-label {
        font-size: @font-size-xs;
        color: @gray-5;
      }
    }
  }
  .bet-list {
    min-height: 40px;
  }
  .res-parlay {
    padding: 15px;
    border-radius: 20px;
    background: @background-color;
    color: @text-color;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px 0;
      font-size: @font-size-md;
      .blue {
        color: green;
        padding-left: 3px;
      }
    }
  }
}

.bet-plary-limit {
  text-align: right;
  line-height: normal;
  padding: 6px;
  color: @gray-8;
}
</style>
