<template>
  <div class="select-box">
    <div class="league-select">
      <label>联赛：</label>
      <el-select
        size="small"
        multiple
        collapse-tags
        :placeholder="leagueIds.length > 0 ? `已选中${leagueIds.length}个` : '请选择'"
        @click="visibleLeagueFilter = true"
        popper-class="league-filter-dropdown"
      >
        <el-option v-for="item in leagueList" :key="item.leagueId" :label="item.leagueName" :value="item.leagueId" />
      </el-select>
    </div>
    <!-- <div class="league-select">
      <span class="label">赔率：</span>
      <div class="league-check">欧洲盘</div>
    </div> -->
    <div class="sort-box" :class="{ 'is-toggle': !sortByTime }" @click="changeSortKey">
      <span>时间</span>
      <svg-icon class="arr-icon" name="switch" />
      <span>联赛</span>
    </div>
    <div class="refresh-box">
      <svg-icon name="refresh" class="refresh-icon" :class="{ loading: isLoading }" @click="refreshMatchData" />
    </div>
  </div>
  <!-- 联赛选择弹窗 -->
  <popup-league-filter
    :visible="visibleLeagueFilter"
    :data="leagueList"
    @change="onFilterChange"
    @close="visibleLeagueFilter = false"
  />
</template>

<script lang="ts">
import { createLoading } from '@/hooks/useLoading';
import { computed, defineComponent, reactive, ref, toRefs } from 'vue';
import { useStore } from 'vuex';
import PopupLeagueFilter from 'web/views/popup/LeagueFilter.vue';

export default defineComponent({
  name: 'LeagueCheck',
  components: { PopupLeagueFilter },
  setup() {
    const isLoading = ref(false);
    const store = useStore();
    const data = reactive({
      visibleLeagueFilter: false,
      chosenLeagues: [] as string[],
      leagueList: computed(() => store.getters.leagueList),
      leagueIds: computed(() => store.getters.leagueIds)
    });
    const sortByTime = computed(() => store.getters.sortByTime);
    const changeSortKey = async () => {
      createLoading(true, document.querySelector('.right-slide'));
      await store.dispatch('CHANGE_SPORT_SORT');
      createLoading(false);
    };
    const methods = {
      // 返回过滤器结果
      onFilterChange(_data: string[]) {
        store.commit('SET_LEAGUE_IDS', _data);
        store.dispatch('GET_SPORT_EVENT_LIST');
      },
      async refreshMatchData() {
        isLoading.value = true;
        createLoading(true, document.querySelector('.right-slide'));
        await store.dispatch('GET_SPORT_EVENT_LIST');
        isLoading.value = false;
        createLoading(false);
      }
    };
    return {
      isLoading,
      sortByTime,
      changeSortKey,
      ...toRefs(data),
      ...methods
    };
  }
});
</script>

<style lang="less" scoped>
.select-box {
  width: 100%;
  padding: 5px 16px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;

  :deep(.el-select) {
    width: 160px;
    .el-input--small,
    .el-input__icon {
      line-height: 23px;
    }
    .el-input__inner {
      height: 23px;
      line-height: 23px;
    }
  }
  .league-select {
    padding-right: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: relative;

    .label {
      color: #2c2b2b;
    }

    .league-check {
      width: 142px;
      height: 23px;
      background: #f4f6fb;
      border: 1px solid #e6e8ef;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      color: #b0b5c7;
    }
  }

  .sort-box {
    display: flex;
    cursor: pointer;
    margin-right: auto;
    &.is-toggle {
      .arr-icon {
        transform: rotate(-180deg);
      }
      > span {
        &:first-child {
          color: rgba(0, 0, 0, 0.5);
          font-weight: normal;
        }
        &:last-child {
          color: @primary-color;
          font-weight: bold;
        }
      }
    }
    > span {
      font-size: 12px;
      transition: ease-in-out 0.3s;
      &:first-child {
        font-weight: bold;
        color: @primary-color;
      }
      &:last-child {
        color: rgba(0, 0, 0, 0.5);
        font-weight: normal;
      }
    }
    > .arr-icon {
      width: 14px;
      height: 14px;
      margin: 0 3px;
      transform: rotate(180deg);
    }
  }

  .refresh-box {
    width: 23px;
    height: 23px;
    background: #f4f6fb;
    border: 1px solid #e6e8ef;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    .refresh-icon {
      width: 15px;
      height: 15px;
      cursor: pointer;
      &.loading {
        animation: rotate 1s linear infinite;
      }
    }
  }
}
</style>
<style lang="less">
.league-filter-dropdown {
  display: none;
}
</style>
