<template>
  <div class="sport-table">
    <div class="sport-date" v-if="isEarly">
      <div
        class="date-item"
        v-for="date in dateList"
        :key="date.value"
        :class="{ active: date.value === sportDate }"
        @click="changeDate(date.value)"
      >
        <span>{{ date.date }}</span>
        <span>{{ date.title }}</span>
      </div>
    </div>
    <div class="sport-header" @click="changeCollpase">
      <SportImg :sport-id="sportInfo.sportId" class="sport-icon" />
      <span class="sport-name">{{ sportInfo.sportName }}</span>
      <i class="el-icon-arrow" :class="{ active: !sportListCollapse }"></i>
    </div>
    <div class="sport-thead">
      <div class="left-name">赛事</div>
      <div class="sport-th">
        <div class="th-names" v-if="!isFootball">
          <div class="th-name">全场</div>
          <div class="th-name">半场</div>
        </div>
        <div class="th-types">
          <span class="th-item" v-for="odd in showOdds" :key="odd.betType">{{ odd.betTypeName }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { DataTypeEnum, DATE_FIRST, SportIdEnum } from '@/common';
import { MenuItem } from '@/store/types';
import { computed, ComputedRef, defineComponent } from 'vue';
import { useStore } from 'vuex';
import SportImg from 'web/components/sport-img/index.vue';

export default defineComponent({
  name: 'SportHeader',
  components: { SportImg },
  setup() {
    const store = useStore();
    const betTypeNameObj = {
      1: '让球',
      2: '单双',
      3: '大小',
      5: '独赢',
      7: '让球',
      12: '单双',
      8: '大小',
      15: '独赢'
    };
    const isEarly = computed(() => store.getters.periodId === DataTypeEnum.Early);
    const isFootball = computed(() => store.getters.sportId === SportIdEnum.Football);
    const sportDate = computed(() => store.getters.sportDate);
    const dateList = computed(() => [
      {
        title: `(${store.getters.sportInfo.count})`,
        date: '全部',
        value: 0
      },
      ...DATE_FIRST
    ]);
    const sportInfo: ComputedRef<MenuItem> = computed(() => store.getters.sportInfo);
    const sportListCollapse: ComputedRef<boolean> = computed(() => store.getters.sportListCollapse);
    const showOdds: ComputedRef<{ betType: number; betTypeName: string }[]> = computed(() =>
      store.getters.showOdds.map((o: number) => ({
        betType: o,
        betTypeName: betTypeNameObj[o]
      }))
    );
    const changeCollpase = () => {
      store.commit('SET_SPORT_LIST_COLLAPSE', !sportListCollapse.value);
    };
    const changeDate = (sportDate: number) => {
      store.commit('SET_SPORT_DATE', sportDate);
      store.dispatch('GET_SPORT_EVENT_LIST');
    };
    return {
      sportInfo,
      showOdds,
      sportListCollapse,
      isEarly,
      isFootball,
      sportDate,
      dateList,
      changeCollpase,
      changeDate
    };
  }
});
</script>

<style lang="less" scoped>
.sport-table {
  .sport-date {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

    .date-item {
      width: 81px;
      flex: 1;
      height: 44px;
      background: #fff;
      border: 1px solid #bfe5da;
      border-radius: 0px 0px 8px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #2c2b2b;
      cursor: pointer;

      &.active {
        background: linear-gradient(-79deg, #50a6a5, #6fc197);
        color: #fff;
      }

      &:not(:first-child) {
        margin-left: 3px;
      }
    }
  }
  .sport-header {
    width: 100%;
    position: relative;
    background: linear-gradient(-79deg, #50a6a5, #6fc197);
    border-radius: 5px 5px 0 0;
    padding: 5px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;

    .sport-icon {
      width: 17px;
      height: 17px;
    }

    .sport-name {
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      margin-left: 5px;
    }

    .el-icon-arrow {
      position: absolute;
      right: 17px;
      top: 7px;
      transform: rotate(90deg);
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      &.active {
        transform: rotate(-90deg);
      }
      &::before {
        content: '\e6e0';
      }
    }
  }

  .sport-thead {
    width: 100%;
    background: #d1eadd;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-name {
      width: 337px;
      height: 46px;
      background: #f2faf7;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sport-th {
      width: 414px;
      margin-left: 3px;
      flex: 1;
      height: 46px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .th-names {
      display: flex;
      margin-bottom: 4px;
    }

    .th-name {
      width: 50%;
      flex: 1;
      height: 21px;
      border-radius: 3px;
      background: #f2faf7;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        margin-right: 3px;
      }
    }

    .th-types {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    .th-item {
      width: 150px;
      flex: 1;
      height: 100%;
      background: #f2faf7;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:first-child) {
        margin-left: 3px;
      }
    }
  }
}
</style>
