<template>
  <div class="app-page">
    <MenuSlide />
    <div class="right-slide">
      <div class="top-slide">
        <div class="notice-box">
          <notice />
        </div>
        <div class="button-box">
          <div class="left-btns">
            <a @click="goToHome" class="gohome" v-if="menuActiveTabIndex === 2">
              <i class="el-icon el-icon-arrow-left"></i>
              返回
            </a>
            <a @click="betRecordVisible = true">注单历史</a>
            <a @click="isShowCR = true">比赛结果</a>
          </div>
          <div class="right-btns">
            <a @click="settingsVisible = true">
              <span>设置</span>
              <i class="icon-settings"></i>
            </a>
          </div>
        </div>
      </div>
      <router-view v-slot="{ Component }">
        <keep-alive include="HomePage">
          <component :is="Component" />
        </keep-alive>
      </router-view>
    </div>
    <live-index />
    <!-- 设置弹窗 -->
    <popup-settings :visible="settingsVisible" @close="settingsVisible = false" />
    <!-- 我的投注弹窗 -->
    <popup-my-bet-record :visible="betRecordVisible" @close="betRecordVisible = false" />
    <!-- 赛果弹框 -->
    <competition-results-dialog :isShowCR="isShowCR" @closeCRDialog="closeCRDialog" />
    <!-- 规则弹窗 -->
    <popup-sports-rule :visible="sportsRuleVisible" @close="sportsRuleVisible = false" />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive } from 'vue';
import MenuSlide from './components/menu-slide/index.vue';
import PopupSettings from 'web/views/popup/Settings.vue';
import { toRefs } from '@vueuse/core';
import CompetitionResultsDialog from 'web/views/popup/competition-results-dialog.vue';
import PopupMyBetRecord from 'web/views/popup/MyBetRecord/index.vue';
import Notice from 'web/components/Notice.vue';
import { useStore } from 'vuex';
import PopupSportsRule from 'web/views/popup/SportsRule.vue';
import { useRoute, useRouter } from 'vue-router';
import LiveIndex from 'web/views/live/index.vue';
import { setLoginData } from '@/common';
import { gameJumpApi } from '@/services/api/user.api';
export default defineComponent({
  name: 'App',
  components: {
    LiveIndex,
    PopupSportsRule,
    Notice,
    MenuSlide,
    PopupSettings,
    CompetitionResultsDialog,
    PopupMyBetRecord
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const route = useRoute();
    const data = reactive({
      settingsVisible: false,
      betRecordVisible: false,
      sportsRuleVisible: false,
      isShowCR: false //是否展示“赛果”弹窗
    });
    const menuActiveTabIndex = computed(() => store.getters.menuActiveTabIndex);
    const methods = {
      closeCRDialog: (params: boolean) => {
        data.isShowCR = params;
      },
      goToHome: () => {
        store.commit('SET_MENU_ACTIVE_TABINDEX', 1);
        store.commit('SET_ODD_TEMP_DETAIL', {});
        router.push('/web');
      }
    };
    onMounted(async () => {
      // 路由获取登录
      // const loginParamStr = Object.keys(route.query)[0] || '';
      // const loginData = window.atob(window.decodeURIComponent(loginParamStr));
      // console.log(loginData);
      // uid token device-id
      const loginData: any = route.query;
      const { token, account, title, backUrl, tenant } = loginData;
      title && localStorage.setItem('title', title);
      backUrl && localStorage.setItem('backUrl', backUrl);
      tenant && localStorage.setItem('tenant', tenant);
      if (token && account) {
        setLoginData({
          token,
          account
        });
        await gameJumpApi({
          liveCode: 'sb2',
          gameCode: 'APP',
          firstCode: 'sb_sport2'
        });
      }
      // 检查登录状态
      store.dispatch('CHECK_IS_LOGIN');
    });
    // 获取玩法菜单
    store.dispatch('GET_SPORTS_EVENT_SUMMARY');
    // 订阅赛事数据ws
    store.dispatch('SUBSCRIBE_SPORTS_TECH');
    return {
      menuActiveTabIndex,
      ...toRefs(data),
      ...methods
    };
  }
});
</script>

<style lang="less" scoped>
.app-page {
  display: flex;
  width: 100%;
  height: 100vh;
  .right-slide {
    flex: 1;
    padding: 0 12px;
    background: #f9f8f9;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }

  .top-slide {
    height: 71px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 0 0 5px 5px;
    // flex: 1;
    .button-box {
      padding: 8px 16px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-btns {
        a {
          padding: 3px 12px;
          cursor: pointer;
          color: #1d1d1d;
          font-size: 12px;
          cursor: pointer;
          border-radius: 100px;
          &:hover {
            background: linear-gradient(-79deg, #50a6a5, #8add9a);
            color: #fff;
          }
          .el-icon-arrow-left {
            position: relative;
            top: 1px;
          }
        }
      }
      .right-btns {
        a {
          padding: 3px 12px;
          cursor: pointer;
          color: #1d1d1d;
          font-size: 12px;
          cursor: pointer;
          border-radius: 100px;
          border: 1px solid #f9f9f9;
          display: flex;
          align-items: center;
          &:hover {
            background: linear-gradient(-79deg, #50a6a5, #8add9a);
            color: #fff;
          }
        }
      }
      .icon-settings {
        display: inline-block;
        background: url('~@/assets/web/settings.png') no-repeat;
        background-size: contain;
        width: 13px;
        height: 13px;
        vertical-align: middle;
        margin-left: 5px;
      }
      .gohome {
        padding: 0 20px 0 0;
      }
    }
  }

  .content-box {
    width: 800px;
    height: 100%;
    flex: 1;
    overflow: auto;
  }
}
</style>
