.img-bg(@url) {
  background-image: url(@url);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.balance-info {
  display: flex;
  align-items: center;
  padding: 2px 3px;
  border-radius: 100px;
  background-color: #f2f2f2;
  .icon-money {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    background-position: center;
    background-size: contain;
  }
  .text-money {
    font-size: 12px;
    color: #000000;
  }
  .icon-recharge {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    border-radius: 100px;
    overflow: hidden;
    .loading-icon {
      width: 100%;
      height: 100%;
      .svg-icon {
        width: 100%;
        height: 100%;
        fill: #333;
        transform: rotate(0deg);
        transition: ease-in-out 0.1s;
        &.is-load {
          animation: rotate 1s linear infinite;
        }
        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
