:root {
  // 公共变量
  --sp-primary-color: @primary-color;
  --sp-primary-light-color: #99d6b4;
  --sp-light-text-hover: #9a9a9a;
  --sp-bg-color: #f2f2f2;
  --sp-border-color: #f2f2f2;
  --sp-white-color: #fff;
  --sp-black-color: #000;
}

@--primary-color: var(--sp-primary-color);
@--light-primary-color: var(--sp-primary-light-color);
@--border-color: var(--sp-border-color);
@--bg-color: var(--sp-bg-color);

@primary-color: var(--sp-primary-color);
@bg-color: @--bg-color;
@lighter-primary-color: @--light-primary-color;

@black: #000;
@white: var(--sp-white-color);
@gold: @primary-color;
@gray-1: #f6f7f8;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
@red: #c10000;
@blue: #1989fa;
@orange: #ff976a;
@orange-dark: #ed6a0c;
@orange-light: #fffbe8;
@green: #07c160;
@nav-bar-height: 46px;

@gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
@gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

@text-color: @gray-8;
@active-color: @gray-2;
@active-opacity: 0.7;
@disabled-opacity: 0.5;
@background-color: @bg-color;
@background-color-light: #fafafa;
@text-link-color: #576b95;

@padding-base: 4px;
@padding-xs: @padding-base * 2;
@padding-sm: @padding-base * 3;
@padding-md: @padding-base * 4;
@padding-lg: @padding-base * 6;
@padding-xl: @padding-base * 8;

@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;
@font-weight-bold: 500;
@line-height-xs: 14px;
@line-height-sm: 18px;
@line-height-md: 20px;
@line-height-lg: 22px;
@base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto,
  'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
@price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
@number-font: 'number-font';

@animation-duration-base: 0.3s;
@animation-duration-fast: 0.2s;
@animation-timing-function-enter: ease-out;
@animation-timing-function-leave: ease-in;

@border-color: var(--sp-border-color);
@border-width-base: 1px;
@border-radius-sm: 2px;
@border-radius-md: 4px;
@border-radius-lg: 8px;
@border-radius-max: 999px;
