<template>
  <div class="empty">
    <img :src="type === 'data' ? defaultImg() : defaultLockImg()" />
    <div class="dsc" :class="getThemeStyle() + '-dsc'">
      {{ description || (type === 'data' ? '暂无数据' : '盘口已关闭') }}
    </div>
  </div>
</template>

<script lang="ts">
import { PropType } from 'vue';

import EMPTY_ICON_DEFAULT from '@/assets/empty_icon.png';
import EMPTY_ICON_DARKGOLD from '@/assets/empty_icon_darkGold.png';

import ODDS_LOCK_ICON from '@/assets/odds_lock_icon.png';
import ODDS_LOCK_ICON_DARKGOLD from '@/assets/odds_lock_icon_darkGold.png';

import { getThemeStyle } from '@/common';

export default {
  name: 'DataEmpty',
  props: {
    type: {
      type: String as PropType<'data' | 'odds'>,
      default: 'data'
    },
    description: {
      type: String,
      default: ''
    }
  },
  setup() {
    const defaultImg = () => {
      return getThemeStyle() === 'darkGold' ? EMPTY_ICON_DARKGOLD : EMPTY_ICON_DEFAULT;
    };

    const defaultLockImg = () => {
      return getThemeStyle() === 'darkGold' ? ODDS_LOCK_ICON_DARKGOLD : ODDS_LOCK_ICON;
    };

    return { defaultImg, defaultLockImg, getThemeStyle };
  }
};
</script>

<style lang="less" scoped>
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  > img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .dsc {
    font-size: 14px;
    color: @gray-7;
    text-align: center;
    padding: 20px 0;
  }
  .darkGold-dsc {
    color: #ffda90;
    opacity: 0.3;
  }
}
</style>
