<template>
  <van-image lazy-load :src="logoSrc" :class="['team-logo', size]">
    <template #error>
      <div class="default-logo" :style="{ backgroundImage: `url(${defaultTeamLogo || defaultTeamLogo2})` }"></div>
    </template>
    <template #loading>
      <div class="default-logo" :style="{ backgroundImage: `url(${defaultTeamLogo || defaultTeamLogo2})` }"></div>
    </template>
  </van-image>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue';

import defaultTeamLogo2 from '@/assets/defalut_team_logo_green.png';
import { useStore } from 'vuex';

type SizeType = 'xs' | 'md' | 'xxl';

// 例子 'https://kgsapk.pokjhgfc.cn/teamLogo/shaba/1/100.png';

export default defineComponent({
  name: 'TeamLogo',
  description: '球队logo',
  props: {
    teamName: {
      default: '',
      type: String
    },
    leagueName: {
      default: '',
      type: [String, Number]
    },
    source: {
      default: '30',
      type: String
    },
    sportId: {
      default: 1,
      type: Number
    },
    teamId: {
      default: '',
      type: [Number, String]
    },
    size: {
      type: String as PropType<SizeType>,
      default: 'md'
    }
  },
  setup() {
    const store = useStore();
    const defaultTeamLogo = store.getters.defaultLogo;

    const logoSrc = computed(() => {
      return '';
    });
    return { logoSrc, defaultTeamLogo, defaultTeamLogo2 };
  }
});
</script>

<style lang="less" scoped>
.team-logo {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  overflow: hidden;
  :deep(.van-image__error),
  :deep(van-image__loading) {
    background: transparent !important;
  }

  :deep(.van-image__img) {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: unset !important;
  }

  &.xs {
    width: 12px;
    height: 12px;
  }

  &.md {
    width: 18px;
    height: 18px;
  }

  &.xl {
    width: 24px;
    height: 24px;
  }

  &.xxl {
    width: 32px;
    height: 32px;
  }
}

.default-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
</style>
