.detail {
  box-sizing: border-box;
  background: #f2f2f2;

  .sheetBox {
    min-height: 70vh;
  }

  .handicapBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9;
    background: #f2f2f2;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .stickyBox {
    width: 100%;
  }

  .handicapTypes {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    background: #fff;
  }

  .arrowIcon {
    width: 24px;
    height: 24px;
    padding: 8px 0;
    background-size: 100% 100%;
    transition: ease-in-out 0.1s;
    background-image: url('./assets/two_arrow.png');
  }

  .groupBox {
    overflow: auto;
  }

  .groupBoxInner {
    padding: 8px 0;
    display: flex;
  }

  .groupItem {
    font-size: 13px;
    color: @primary-color;
    padding: 4px 10px;
    border: 1px solid @primary-color;
    font-weight: 500;
    border-radius: 20px;
    line-height: normal;
    margin: 0 2px;
    white-space: nowrap;
  }

  .groupActive {
    background: @primary-color;
    color: #fff;
  }

  .oddBox {
    border-top: 6px solid #f2f2f2;
    background: #fff;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    :global {
      .collapse-panel-header {
        padding-left: 30px;
      }
      .expand-icon {
        left: 0;
      }
    }
  }

  .oddsContainer {
    padding-bottom: 12px;
  }

  .oddName {
    font-size: 14px;
    color: #000;
  }

  .oddTeamNameBox {
    margin-bottom: -4px;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: space-between;

    .oddTeam {
      width: 50%;
      padding-bottom: 12px;

      &:last-child {
        text-align: right;
      }
    }
  }

  .oddHandicapItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.oneName {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .oddHandicapCloum {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cloumBox {
    display: flex;
    flex-direction: column;
  }

  .scoreCloumBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .oddItem {
    background: #f2f2f2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    padding: 0 8px;
    box-sizing: border-box;
    margin: 2px 0;
    flex: 1;
    color: #000;
  }

  .otherOddItem {
    width: 100%;
  }

  .oddItemLeft:not(:first-child) {
    margin-left: 4px;
  }

  .oddItemName {
    word-break: break-all;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .oddItemPoint {
    font-size: 16px;
    font-weight: 500;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .active {
    background: var(--sp-primary-color);
    color: #fff;
  }
}
