<template>
  <div class="text-container">
    <transition class="" name="slide" mode="out-in">
      <p class="text" :key="text.id">{{ text.val.msg }}</p>
    </transition>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, onMounted, Ref, onBeforeUnmount } from 'vue';
export default defineComponent({
  name: 'TextScroll',
  props: {
    dataList: {
      type: Array as PropType<{ msg: string }[]>,
      default: () => []
    }
  },
  setup(props) {
    const count = ref(0);
    const intervalId: Ref<any> = ref(null);
    const text = computed(() => ({
      id: count.value,
      val: props.dataList[count.value]
    }));
    const getText = () => {
      const len = props.dataList.length; // 获取数组长度
      if (len === 0) {
        return; // 当数组为空时，直接返回
      }
      if (count.value === len - 1) {
        // 当前为最后一个时
        count.value = 0; // 从第一个开始
      } else {
        count.value++; // 自增
      }
    };
    onMounted(() => {
      intervalId.value = setInterval(() => {
        getText();
      }, 3000);
    });
    onBeforeUnmount(() => {
      clearInterval(intervalId.value);
    });
    return {
      count,
      intervalId,
      text
    };
  }
});
</script>
<style lang="less" scoped>
.text-container {
  width: 100%;
  height: 29px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.text {
  width: 100%;
  margin: 0 0.8rem 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.slide-enter-active,
.slide-leave-active {
  transition: all 0.8s;
}
.slide-enter {
  transform: translateY(20px);
}
.slide-leave-to {
  transform: translateY(-20px);
}
</style>
