<template>
  <div class="score-board">
    <div class="title" @click="totalSwitch">
      <div class="tit-content detail-content-height">
        <span
          class="item"
          v-for="item in data.tabs"
          :key="item.value"
          :class="{ active: data.category === item.value }"
          @click.stop="data.category = item.value"
          >{{ item.label }}</span
        >
        <i class="jt" :class="{ active: data.isOpenNameArr.length === 0 }"></i>
      </div>
    </div>
    <div class="collapse-box">
      <el-collapse v-model="data.isOpenNameArr">
        <el-collapse-item :name="item1.betType" v-for="item1 in data.filterScoreBoardList" :key="item1.betType">
          <template #title>
            <div class="collapse-box-title">
              <span>
                {{ item1.sels[0]?.betTypeName || item1.sels[0][0]?.betTypeName }}
              </span>
              <span class="el-icon-top" @click.stop></span>
            </div>
          </template>
          <!--[405,413,414] 为足球波胆玩法，需要特殊处理样式-->
          <div class="collapse-content" v-if="[405, 413, 414].includes(item1.betType)">
            <div class="list scoreList" v-for="(item2, key) in item1.sels" :key="key">
              <OddItem
                :class="{ width100: true }"
                v-for="(item3, index) in item2"
                :sel="item3"
                :match-info="scoreBoardList.info"
                :key="item3.selKey || index"
              />
            </div>
          </div>
          <div class="collapse-content" v-else>
            <!--[1，7] 为足球让球玩法，需要显示球队名称-->
            <div class="team" v-if="!isEmpty(scoreBoardList.odds) && [1, 7].includes(item1.betType)">
              <div class="item">
                <team-logo :sport-id="scoreBoardList?.info.sportId" :team-name="scoreBoardList.info?.home" />
                <span class="name">{{ scoreBoardList.info.home }}</span>
              </div>
              <div class="item">
                <team-logo :sport-id="scoreBoardList?.info.sportId" :team-name="scoreBoardList.info?.away" />
                <span class="name">{{ scoreBoardList.info.away }}</span>
              </div>
            </div>
            <div class="list" :class="{ 'no-border-radius': [1, 7].includes(item1.betType) }">
              <OddItem
                :class="{
                  width50: true,
                  width30: [467, 416].includes(item1.betType), //上半场/全场波胆
                  flex1: item1.sels.length === 3
                }"
                v-for="(item2, index) in item1.sels"
                :sel="item2"
                :match-info="scoreBoardList.info"
                :key="item2.selKey || index"
              />
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
      <no-data v-if="isEmpty(data.filterScoreBoardList)" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, computed, PropType } from 'vue';
import { isEmpty, filter, includes, forEach, uniq, reduce } from 'lodash-es';
import NoData from '../../components/common/no-data.vue';
import { BetCategoryList } from '@/common/enums/sportsEnum';
import OddItem from 'web/components/odd-item.vue';
// import { SportMatchItem } from '@/store';
export default defineComponent({
  name: 'EventDetail',
  components: { NoData, OddItem },
  props: {
    scoreBoardList: {
      type: Object as PropType<any>,
      default: () => {
        return {
          odds: [],
          info: {}
        };
      }
    },
    sendType: {
      type: Number,
      default: 0
    }
  },
  setup(props) {
    const data = reactive({
      category: -1, // 根据category分类
      isOpenNameArr: new Array<[]>(), // 展开收起的玩法集合
      filterScoreBoardList: computed(() => {
        return data.category === -1
          ? props?.scoreBoardList?.odds.filter((item: any) => !item.sels[0]?.filled)
          : props?.scoreBoardList?.odds.filter(
              (item: any) => !item.sels[0]?.filled && item.sels[0]?.category === data.category
            );
      }),
      tabs: computed(() => {
        const list = props?.scoreBoardList?.odds;
        if (isEmpty(list)) return [];
        let indexArr: number[] = [];
        forEach(list, (e: any) => {
          !e.sels[0]?.filled && indexArr.push(e.sels[0]?.category);
        });
        uniq(indexArr);
        methods.hasCategory(indexArr);
        props.sendType === 0 && methods.openAllList(); // sendType === 0 才需要展开所有的盘口，=1是表示轮训时候的数据变更，不需要展开盘口
        const lists = filter(BetCategoryList, e => includes(indexArr, e.value));
        lists.unshift({
          label: '全部',
          code: '',
          value: -1
        });
        return lists;
      })
    });
    const methods = {
      openAllList: () => {
        /**
         * 展开所有面板数据
         */
        data.isOpenNameArr = reduce(data.filterScoreBoardList, (a: Number[], b: any) => a.concat(b.betType), []);
      },
      totalSwitch: () => {
        if (data.filterScoreBoardList.length === data.isOpenNameArr.length) {
          data.isOpenNameArr = [];
        } else {
          methods.openAllList();
        }
      },
      hasCategory(arr: any[]) {
        /**
         * 列表中没有Category，显示全部
         */
        if (data.category !== -1 && !arr.includes(data.category)) {
          data.category = -1;
        }
      }
    };
    return { data, isEmpty, ...methods };
  }
});
</script>
<style lang="less" scoped>
.score-board {
  .title {
    width: 100%;
    position: relative;
    height: 27px;
    line-height: 27px;
    background: linear-gradient(to right, #6ec197, #50a6a5);
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
    .tit-content {
      position: relative;
      width: 100%;
      overflow: hidden;
      .item {
        cursor: pointer;
        white-space: nowrap;
        padding: 0 15px;
        &.active {
          color: #2c2b2b;
          cursor: default;
        }
      }
      .jt {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        transform-origin: center center;
        transition: all 0.3s;
        &::before {
          content: '';
          display: table;
          clear: both;
          height: 1px;
          width: 8px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform-origin: 0 0;
          transform: rotateZ(-45deg);
        }
        &::after {
          content: '';
          display: table;
          clear: both;
          height: 1px;
          width: 8px;
          background: #fff;
          position: absolute;
          top: 50%;
          right: 50%;
          transform-origin: 100% 100%;
          transform: rotateZ(45deg);
        }
        &.active {
          transform: translateY(-50%) rotateZ(-90deg);
        }
      }
    }
  }
  .collapse-box {
    overflow: scroll;
    flex: 1;
    .collapse-box-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .el-icon-top {
        margin-right: 30px;
        color: white;
        background: #089b71;
        border-radius: 20px;
        display: none;
      }
      // &:hover {
      //   .el-icon-top {
      //     display: inline-block;
      //   }
      // }
    }
    .collapse-content {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      .scoreList:nth-child(2) {
        margin: 0 5px;
      }
      .team {
        width: 100%;
        // flex: 1;
        display: flex;
        height: 27px;
        align-items: center;
        justify-content: center;
        border: 1px solid #e6e8ef;
        border-bottom: none;
        border-radius: 3px 3px 0 0;
        .item {
          flex: 1;
          text-align: center;
          font-size: 12px;
          color: #666;
          display: flex;
          align-items: center;
          justify-content: center;
          &:first-child {
            color: #ff4436;
          }
          .name {
            margin-left: 5px;
          }
        }
      }
      .list {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .flex1 {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
        }
        .flex1:nth-child(2) {
          margin: 0px 5px 0;
        }
        .width50 {
          margin-bottom: 5px;
          width: calc(50% - 2.5px);
        }
        .width30 {
          width: calc(33.33% - 2.5px);
        }
        .width100 {
          margin-bottom: 5px;
          width: 100%;
        }
      }
      .no-border-radius {
        :deep(.odd-item:nth-child(1)) {
          .odd-box {
            border-top-left-radius: 0;
          }
        }
        :deep(.odd-item:nth-child(2)) {
          .odd-box {
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
  :deep(.el-collapse) {
    border-bottom: none;
  }
  :deep(.el-collapse-item__header) {
    position: relative;
    padding: 0;
    height: 27px;
    line-height: 27px;
    background: #dff0ec;
    padding-left: 11px;
    color: #878787;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  :deep(.el-collapse-item__content) {
    padding: 0px;
  }
  :deep(.el-collapse-item__wrap) {
    border: none;
  }
}
</style>
