<template>
  <div class="detail-page">
    <score-result :matchInfo="matchInfo" :leagueName="sportMatchDetail?.leagueName" />
    <!-- 记分牌 -->
    <score-board class="score-board" :info="matchInfo" v-if="matchInfo?.sections" />
    <!-- 实时数据 -->
    <real-time-data class="real-time-data" v-if="[1, 2].includes(sportId) && matchInfo" />
    <!-- 赛事详情列表 -->
    <event-detail
      class="event-detail"
      :sendType="sportMatchDetail?.sendType || 0"
      :scoreBoardList="sportMatchDetail?.matches[0]"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ComputedRef, onMounted } from 'vue';
import { isEmpty } from 'lodash-es';
import ScoreBoard from './score-board.vue';
import ScoreResult from './score-result.vue';
import RealTimeData from './real-time-data.vue';
import EventDetail from './event-detail.vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { createLoading } from '@/hooks/useLoading';

export default defineComponent({
  name: 'DetailPage',
  components: { ScoreBoard, ScoreResult, RealTimeData, EventDetail },
  setup() {
    const store = useStore();
    const route = useRoute();
    // 详情数据
    const sportMatchDetail: ComputedRef<any> = computed(() => store.getters.sportMatchDetail);
    // 赛事信息
    const matchInfo = computed(() => sportMatchDetail.value?.matches[0]?.info);
    // 当前赛事sportId
    const sportId = Number(route.query.sportId);
    // 根据运动sportId 选择对应的背景图
    const bannerImg = computed(() => {
      try {
        return require(`../../../../assets/web/score_board_bg/score_board_bg_${sportId}.jpg`);
      } catch (err) {
        return require(`../../../../assets/web/score_board_bg/default.jpg`);
      }
    });

    onMounted(async () => {
      createLoading(true, document.querySelector('.right-slide'));
      await store.dispatch('GET_SPORT_MATCH_DETAIL'); // 获取赛事详情数据
      createLoading(false);
    });
    return { sportMatchDetail, matchInfo, isEmpty, sportId, bannerImg };
  }
});
</script>
<style lang="less" scoped>
.detail-page {
  flex: 1;
  display: flex;
  flex-flow: column;
  height: calc(100vh - 76px);
  & > div {
    width: 100%;
    height: auto;
  }
  .event-detail {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    overflow: scroll;
  }
}
</style>
