<template>
  <div class="score-board">
    <el-collapse v-model="data.isOpenName">
      <el-collapse-item title="记分牌" name="1">
        <div class="content">
          <!-- 篮球 -->
          <div class="list" v-if="data.info?.sportId === SportIdEnum.Basketball">
            <div class="list-titile">
              <span>对阵</span>
              <span>{{ info?.home }}</span>
              <span>{{ info?.away }}</span>
            </div>
            <div class="item" v-for="(item, index) in data.sectionBasketBall" :key="index">
              <div class="bor">
                <span>{{ item.name }}</span>
              </div>
              <div class="bor">
                <span>{{ item.score[0] }}</span>
              </div>
              <div class="bor">
                <span>{{ item.score[1] }}</span>
              </div>
            </div>
          </div>

          <!-- 网球 -->
          <div class="list" v-else-if="data.info?.sportId === SportIdEnum.Tennis">
            <div class="list-titile">
              <span>对阵</span>
              <span>{{ info.home }}</span>
              <span>{{ info.away }}</span>
            </div>
            <div class="item" v-for="(item, key) in data.info.sections" :key="key">
              <div class="bor">
                <span>{{ key + 1 }}</span>
              </div>
              <div class="bor">
                <span>{{ item[0] }}</span>
              </div>
              <div class="bor">
                <span>{{ item[1] }}</span>
              </div>
            </div>
            <div class="item">
              <div class="bor">
                <span>赛盘</span>
              </div>
              <div class="bor">
                <span>{{ data.info.score[0] }}</span>
              </div>
              <div class="bor">
                <span>{{ data.info.score[1] }}</span>
              </div>
            </div>
            <div class="item">
              <div class="bor">
                <span>得分</span>
              </div>
              <div class="bor">
                <span>{{ data.info.pointScore[0] }}</span>
              </div>
              <div class="bor">
                <span>{{ data.info.pointScore[1] }}</span>
              </div>
            </div>
          </div>

          <!-- 排球、羽毛球、乒乓球 -->
          <div
            class="list"
            v-else-if="
              data.info?.sportId === SportIdEnum.Volleyball ||
              data.info?.sportId === SportIdEnum.Badminton ||
              data.info?.sportId === SportIdEnum.TableTennis
            "
          >
            <div class="list-titile">
              <span>对阵</span>
              <span>{{ info.home }}</span>
              <span>{{ info.away }}</span>
            </div>
            <div class="item" v-for="(item, key) in data.sectionOtherball" :key="key">
              <div class="bor">
                <span>{{ item.name }}</span>
              </div>
              <div class="bor">
                <span>{{ item.score[0] }}</span>
              </div>
              <div class="bor">
                <span>{{ item.score[1] }}</span>
              </div>
            </div>
          </div>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script lang="ts">
import { SportMatchItem } from '@/store/types';
import { sumBy } from 'lodash-es';
import { computed, defineComponent, PropType, reactive, toRef } from 'vue';
import { SportIdEnum } from '@/common/enums';

export default defineComponent({
  name: 'ScoreBoard',
  props: {
    info: {
      type: Object as PropType<SportMatchItem['info']>
    }
  },
  setup(props: any) {
    const data = reactive({
      isOpenName: '1',
      info: toRef(props, 'info'),
      sectionBasketBall: computed(() => {
        let arr: any = [
          {
            name: '第一节',
            keys: [0]
          },
          {
            name: '第二节',
            keys: [1]
          },
          {
            name: '上半场',
            keys: [0, 1]
          },
          {
            name: '第三节',
            keys: [2]
          },
          {
            name: '第四节',
            keys: [3]
          },
          {
            name: '下半场',
            keys: [2, 3]
          },
          {
            name: '总分',
            keys: [0, 1, 2, 3]
          }
        ];
        arr.map(item => {
          item.score = [
            sumBy(item.keys, (key: number) => Number(data.info.sections[key][0])),
            sumBy(item.keys, (key: number) => Number(data.info.sections[key][1]))
          ];
        });
        return arr;
      }),
      sectionOtherball: computed(() => {
        let arr: any = [
          {
            name: '第一局',
            keys: [0]
          },
          {
            name: '第二局',
            keys: [1]
          },
          {
            name: '第三局',
            keys: [2]
          },
          {
            name: '第四局',
            keys: [3]
          },
          {
            name: '第五局',
            keys: [4]
          },
          {
            name: '局',
            keys: [5]
          },
          {
            name: '总分',
            keys: [0, 1, 2, 3, 4]
          }
        ];
        arr.map(item => {
          item.score = [
            sumBy(item.keys, (key: number) => Number(data.info.sections[key][0])),
            sumBy(item.keys, (key: number) => Number(data.info.sections[key][1]))
          ];
        });
        return arr;
      })
    });
    return { data, SportIdEnum };
  }
});
</script>
<style lang="less" scoped>
.score-board {
  .content {
    .title,
    .list {
      display: flex;
      margin-bottom: 2px;
      font-size: 12px;
      .item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 3px;
        .bor {
          width: 100%;
          height: 23px;
          line-height: 23px;
          border: 1px solid #e6e8ef;
          border-radius: 4px;
          text-align: center;
          color: #2c2b2b;
          margin: 1px 0;
        }
      }
      .list-titile {
        min-width: 150px;
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 3px;
        span {
          text-align: center;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 5px;
        }
      }
    }
    .title {
      .list-titile,
      .bor > span {
        color: #666 !important;
      }
    }
  }
  :deep(.el-collapse-item__header) {
    position: relative;
    padding: 0;
    height: 27px;
    line-height: 27px;
    background: linear-gradient(to right, #6ec197, #50a6a5);
    padding-left: 33px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
  }
  :deep(.el-collapse-item__header)::before {
    content: '';
    display: table;
    clear: both;
    width: 17px;
    height: 17px;
    background: url(~@/assets/web/score_board_icon.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  :deep(.el-collapse-item__content) {
    padding: 8px 0;
  }
  :deep(.el-collapse-item__wrap) {
    border: none;
  }
}
</style>
