<template>
  <div class="score-result" v-if="matchInfo" :style="{ backgroundImage: `url(${bannerImg})` }">
    <p class="league">{{ leagueName }}</p>
    <p class="score">
      <span>{{ matchInfo?.home }}</span>
      <span class="value" v-if="matchInfo?.score.length"> {{ matchInfo?.score[0] }} : {{ matchInfo?.score[1] }}</span>
      <span class="value" v-else>-- : --</span>
      <span>{{ matchInfo?.away }}</span>
    </p>
    <p class="time">{{ matchInfo?.date || '' }} {{ matchInfo?.timeText }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useRoute } from 'vue-router';
export default defineComponent({
  name: 'ScoreResult',
  props: {
    matchInfo: {},
    leagueName: {}
  },
  setup() {
    const route = useRoute();
    // 当前赛事sportId
    const sportId = Number(route.query.sportId);
    // 根据运动sportId 选择对应的背景图
    const bannerImg = computed(() => {
      try {
        return require(`../../../../assets/web/score_board_bg/score_board_bg_${sportId}.jpg`);
      } catch (err) {
        return require(`../../../../assets/web/score_board_bg/default.jpg`);
      }
    });
    return {
      bannerImg
    };
  }
});
</script>

<style lang="less" scoped>
.score-result {
  width: 100%;
  height: 105px;
  padding: 13px 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  color: white;
  p {
    width: 100%;
    margin: 0;
    text-indent: 15px;
    font-size: 12px;
  }
  .score {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    .value {
      margin: 0 29px;
    }
  }
}
</style>
