.recommended-match {
  width: 100%;
  display: flex;
  background: @white;
  padding-left: 6px;
  .scroll-container {
    flex: 1;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    user-select: none;
  }
  &-item {
    padding: 6px;
    display: inline-block;
    min-width: 275px;
    height: 100%;
    > .contaier {
      background: @white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
      border-radius: 12px;
      width: 100%;
      height: 100%;
      padding: 12px 8px;
    }
  }
  .rec-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .label {
      font-size: 12px;
      color: #9a9a9a;
      &.is-live {
        color: #ffa200;
      }
    }
    .league-name {
      font-size: 12px;
      color: #000000;
      text-align: center;
      flex: 1;
      min-width: 120px;
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .odd-count {
      background: @primary-color;
      border-radius: 100px;
      font-size: 12px;
      color: @white;
      padding: 2px 5px;
      display: flex;
      align-items: center;
    }
  }
  .teams {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .home-team,
    .away-team {
      height: 80px;
      padding: 12px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100px;
      overflow: hidden;
      .team-name {
        letter-spacing: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;
        line-height: 1.5;
      }
      .t-logo {
        width: 36px;
        height: 36px;
        margin: 0 auto;
        > img {
          display: block;
          width: 100%;
        }
      }
    }
    .center-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .vs,
      .show-score {
        font-size: 20px;
        color: #000000;
        line-height: 1.5;
        font-family: @number-font;
      }
      .odd-type {
        font-size: 12px;
        color: #9a9a9a;
        line-height: 1.5;
        padding: 0 5px;
      }
    }
  }
  .lock-odds {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .svg-icon {
      width: 20px;
      height: 20px;
      fill: #9a9a9a;
    }
  }
  .odds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .odds-item {
      flex: 1;
      margin: 0 4px;
      background: #f2f2f2;
      border-radius: 12px;
      height: 40px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      font-size: 12px;
      &.active {
        background-color: @primary-color;
        color: @white;
        .odds-value {
          color: @white;
        }
      }
      .odds-value {
        font-size: 16px;
        padding-left: 5px;
        color: #000;
      }
    }
  }
}
