<template>
  <div class="v">国际化: {{ t('common.loadingText') }}</div>
  <div class="set-lang">
    设置语言:
    <!-- <van-radio-group v-model="checkedLocale" @change="changeLocale">
      <van-radio name="zh_CN">中文</van-radio>
      <van-radio name="en">EN</van-radio>
    </van-radio-group> -->
  </div>

  <div>{{ selectedKeys }}</div>
  <div>VUEX:L:{{ getLocale }}</div>
  <Button>VANT按钮</Button>

  <div class="theme">
    <div class="main-color">主题颜色</div>
    <div
      v-for="(item, index) in themeList"
      :class="['theme-item', activeTheme === index ? 'active' : '']"
      :key="index"
      :style="{ 'background-color': item.color }"
      @click="changeTheme(item.color, index)"
    ></div>
  </div>
  <!-- {{ sportsData }} -->
  <div>
    <PartLoading />
  </div>
  <hr />

  <div @click="handleClickCopy">复制</div>
  <hr />
  <div>
    <h1>定时器</h1>
    <div>计时:{{ testCounter }}</div>
  </div>
  <div>useTimeoutFn</div>
  <div>isPending: {{ isPending }}</div>
  <RingPieChart :win="33" :lost="20" />
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect, unref, computed, onMounted, onBeforeUnmount } from 'vue';
import { useI18n } from '@/hooks/useI18n';
// import { useLocale } from '@/i18n/useLocale';
import { useStore } from 'vuex';

import RingPieChart from '@/pages/sb-mobile/components/RingPieChart/index.vue';

import { Button } from 'vant';

import { setCssVar } from '@/common/utils';

// import { useGameSet } from '@/hooks/useGameSet';

import { MarketTypeList } from '@/common/enums';
import { useCopyToClipboard } from '@/hooks/useCopyToClipboard';
import { useTimeoutFn } from '@vueuse/core';

const themeList = [
  {
    id: 1,
    color: '#069b71'
  },
  {
    id: 2,
    color: '#ff9000'
  },
  {
    id: 3,
    color: '#d847eb'
  },
  {
    id: 4,
    color: '#303030'
  },
  {
    id: 4,
    color: '#e7c08d'
  }
];

export default defineComponent({
  components: { Button, RingPieChart },
  setup() {
    const selectedKeys = ref<string[]>([]);
    const store = useStore();

    const checkedLocale = ref('en');

    const activeTheme = ref(0);

    // const getLocale = computed(() => store.state.locale.locale);
    const sportsData = computed(() => store.state.sports);

    // const { changeLocale } = useLocale();

    // const { currentOddsType, setOddsType } = useGameSet();

    const oddsType = ref(3);

    watchEffect(() => {
      // selectedKeys.value = [unref(getLocale)];
    });

    const changeTheme = (themeColor: string, index: number) => {
      activeTheme.value = index;
      setCssVar(themeColor);
    };

    function handleClickCopy() {
      const { isSuccessRef } = useCopyToClipboard('复制的内容');
      if (unref(isSuccessRef)) {
        alert('copy success');
      }
    }

    // const changeOddsType = (v: number) => {
    //   setOddsType(v);
    // };

    onMounted(async () => {
      store.dispatch('GET_SPORTS_EVENT_SUMMARY');
    });

    const { t } = useI18n();

    // - --------------------------
    const testCounter = ref(0);
    const { start, isPending, stop } = useTimeoutFn(() => {
      // ...
      fn();
    }, 3000);
    const fn = () => {
      testCounter.value++;
      store.dispatch('GET_SPORTS_EVENT_SUMMARY');
      start();
    };
    // -----------------------------

    onBeforeUnmount(stop);

    return {
      t,
      start,
      isPending,
      testCounter,
      MarketTypeList,
      // changeLocale,
      handleClickCopy,
      // changeOddsType,
      oddsType,
      // currentOddsType,
      selectedKeys,
      // getLocale,
      themeList,
      activeTheme,
      changeTheme,
      checkedLocale,
      sportsData
    };
  }
});
</script>

<style lang="less" scoped>
.v {
  font-size: 30px;
}
.main-color {
  color: @primary-color;
}

.theme {
  color: #fff;
  &-item {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 2px;
    border: 3px solid #fff;

    &.active {
      border: 3px solid rgb(187, 187, 187);
    }
  }
}

.set-lang {
  font-size: 14px;
}
</style>
