<template>
  <data-empty v-if="isEmpty(data)" class="empty-handicap" type="odds" />
  <div class="handicap-list" v-else>
    <div class="handicap-tab">
      <InnerTab
        :isExpandAll="isExpandAll"
        @change-expand="changeExpand"
        @tab-change="onTabChange"
        :filter-tab="filterIndexList"
      />
    </div>
    <div class="content_box" :class="{ 'pad-b-80': visibleBetCart }">
      <van-collapse v-model="activeNames" :border="false">
        <!-- 盘口列表 -->
        <van-collapse-item
          :border="false"
          :name="handicap.name"
          class="odd-item"
          v-for="(handicap, index) in sortData"
          :key="handicap.Bettype + '_detail_key' + index"
          v-show="showItem(handicap.Category)"
        >
          <template #title>
            <div class="title_box">
              <span>
                {{ handicap.BettypeName || '--' }}
              </span>
              <div :class="[handicap.isSort ? 'orange' : '', 'img_box']" @click.stop="onHandleSticky(handicap)">
                <van-icon name="down" />
              </div>
            </div>
          </template>
          <OddTypeList :matchInfo="matchInfo" :oddsInfo="handicap.odds" />
        </van-collapse-item>
      </van-collapse>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType, ref, Ref, computed, watchEffect, watch } from 'vue';
import InnerTab from '../odd-type-tab.vue';
import OddTypeList from './odd-type-list.vue';

import Expand from '@/assets/sport_ic_expand.png';

import { size, forEach, isEmpty, map, reduce } from 'lodash-es';
import { useBet } from '@/hooks/useBet';

export default {
  name: 'HandicapList',
  components: {
    OddTypeList,
    InnerTab
  },
  props: {
    data: {
      type: Object as PropType<any>,
      default: () => ({})
    },
    filterIndexList: {
      type: Array as PropType<number[]>,
      default: () => []
    },
    matchInfo: {
      type: Object as PropType<any>,
      default: () => {
        return {
          MoreInfo: {}
        };
      }
    },
    suctiontop: {
      type: Boolean,
      default: () => false
    }
  },
  setup(props) {
    const { visibleBetCart } = useBet();
    const sortStickyKeys: Ref<any[]> = ref([]);
    // 收起展开数组
    const activeNames: Ref<number[]> = ref([]);
    const currentFilter: Ref<number> = ref(-1);
    // 全部展开
    const isExpandAll = computed(() => size(activeNames.value) === size(handicapKeys.value));
    const handicapKeys = computed(() => {
      // @ts-ignore;
      return Object.keys(props.data);
    });

    const sortData = computed(() => {
      const sort = sortStickyKeys.value;
      const sortArr: any[] = [];
      const unSortArr: any[] = [];
      forEach(handicapKeys.value, h => {
        const odds = props.data[h];
        const [{ Bettype, BettypeName, Category }] = odds;
        if (sort.includes(Number(h))) {
          sortArr.push({
            name: Number(h),
            odds,
            Bettype,
            BettypeName,
            Category,
            isSort: true
          });
        } else {
          unSortArr.push({ name: Number(h), odds, Bettype, BettypeName, Category });
        }
      });
      return [...sortArr, ...unSortArr];
    });
    watch(
      () => props.suctiontop,
      value => {
        document.getElementsByClassName('handicap-tab')[0].className = value
          ? 'handicap-tab handicap-tab-fixed'
          : 'handicap-tab';
      }
    );
    const methods = {
      // 展开全部
      changeExpand() {
        activeNames.value =
          size(activeNames.value) !== size(handicapKeys.value)
            ? reduce(sortData.value, (a, b) => a.concat(b.Bettype), [])
            : [];
      },
      onHandleSticky({ Bettype, isSort }: { Bettype: number; isSort: boolean }) {
        if (isSort) {
          // 取消置顶
          const arr = sortStickyKeys.value;
          const index = arr.indexOf(Bettype);
          index > -1 && arr.splice(index, 1);
        } else {
          // 置顶某条
          sortStickyKeys.value.push(Bettype);
        }
      },
      // tab
      onTabChange(v: number) {
        currentFilter.value = v;
      },
      showItem(Category: string) {
        if (currentFilter.value === -1) return true;
        return currentFilter.value === Number(Category);
      },
      isEmpty
    };
    const stopWatchData = watchEffect(() => {
      if (!isEmpty(props.data)) {
        activeNames.value = Object.keys(props.data).map(Number);
        stopWatchData && stopWatchData();
      }
    });
    watch(
      () => handicapKeys.value,
      (newValue, oldValue) => {
        // 对比新增的betType ，新增的盘口会默认展开
        const addBetType = reduce(
          newValue.map(Number),
          (a: number[], b: number) => (oldValue.map(Number).indexOf(b) === -1 ? a.concat(b) : a),
          []
        );
        map(addBetType, a => {
          activeNames.value.indexOf(a) === -1 && activeNames.value.push(a);
        });
      }
    );
    return {
      Expand,
      currentFilter,
      visibleBetCart,
      isExpandAll,
      activeNames,
      ...methods,
      handicapKeys,
      sortStickyKeys,
      sortData
    };
  }
};
</script>
<style lang="less" scoped>
:deep(.van-cell__right-icon) {
  position: absolute;
  left: 10px;
}

.empty-handicap {
  height: calc(var(--100vh) - 340px);
}
.handicap-list {
  width: 100%;
  min-height: calc(var(--100vh) - @nav-bar-height);
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
  background-color: @background-color;
  position: relative;
  z-index: 30;
  padding-top: 49px;
  .handicap-tab-fixed {
    position: fixed !important;
    top: @nav-bar-height !important;
    z-index: 9;
  }
  .handicap-tab {
    width: 100%;
    height: 44px;
    border-radius: 20px;
    display: flex;
    background: @white;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    &.isUtil-fixed {
      position: fixed;
      top: @nav-bar-height;
      z-index: 9;
    }
    &.isUtil-fixed1 {
      position: fixed;
      top: 235px;
      z-index: 9;
    }
  }
}
.content_box {
  position: relative;
  box-sizing: border-box;
  &.pad-b-80 {
    padding-bottom: 80px;
  }
  .odd-item {
    margin-bottom: 5px;
    border-radius: 20px;
    overflow: hidden;
  }
  .title_box {
    display: flex;
    .img_box {
      text-align: center;
      width: 22px;
      height: 22px;
      overflow: hidden;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: @gray-1;
      transform: rotate(180deg);
      &.orange {
        background: orange;
        color: #fff;
      }
    }
  }
  .title_box {
    margin-left: 25px;
  }
}
</style>
