<template>
  <div class="bet-list">
    <!-- 让球类型 -->
    <template v-if="TYPE_01.includes(betType)">
      <van-row :gutter="10">
        <van-col span="12" class="home-name">
          <team-logo :sportId="matchInfo.SportType" size="xl" :teamName="oddsInfo[0].sels[0].KeyName" />
          <span>{{ oddsInfo[0].sels[0].KeyName }}</span>
        </van-col>
        <van-col span="12" class="away-name">
          <team-logo :sportId="matchInfo.SportType" size="xl" :teamName="oddsInfo[0].sels[1].KeyName" />
          <span>{{ oddsInfo[0].sels[1].KeyName }}</span>
        </van-col>
      </van-row>
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              :marketStatus="item.MarketStatus"
              @add-bet="onAddBet({ ...item, ...o })"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.Point, value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 单双类型 -->
    <template v-else-if="TYPE_02.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.KeyName, value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 显示主客类型 -->
    <template v-else-if="TYPE_03.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: teamFomat[o.Key], value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 大小盘类型 -->
    <template v-else-if="TYPE_04.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.KeyName + (!!o.Point ? o.Point : ''), value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 独赢类型 -->
    <template v-else-if="TYPE_05.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="8" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: OnlyWinKey[o.Key], value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 普通三列 -->
    <template v-else-if="TYPE_07.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="8" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.KeyName, value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 双重机会类型 -->
    <template v-else-if="TYPE_06.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: doubleWinKey[o.Key], value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 波胆类型 -->
    <template v-else-if="TYPE_08.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.KeyName, value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 全场波胆类型 -->
    <template v-else-if="TYPE_09.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="24" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.KeyName, value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!-- 显示大小类型 O U -->
    <template v-else-if="TYPE_10.includes(betType)">
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: bigSmallFomat[o.Key] + (!!o.Point ? o.Point : ''), value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
    <!--其他类型 -->
    <template v-else>
      <template v-for="(item, index) in oddsInfo" :key="index + '_SP_KEY'">
        <van-row :gutter="10">
          <van-col span="12" v-for="(o, i) in item.sels" :key="i + '_I_KEY'">
            <BetItem
              @add-bet="onAddBet({ ...item, ...o })"
              :marketStatus="item.MarketStatus"
              :activeBetItem="storeOddId === item.OddsId + o.Key && isParlayComputed"
              :oddsId="item.OddsId + o.Key"
              :oddInfo="{ type: o.KeyName || o.Point, value: o.Price }"
            />
          </van-col>
        </van-row>
      </template>
    </template>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs, computed, PropType } from 'vue';
import BetItem from './bet-item';
import { pickValue, BetTypeEnum } from '@/common';
import { useStore } from 'vuex';

// 投注
import { useBet } from '@/hooks/useBet';
import { Toast } from 'vant';

const OnlyWinKey = {
  '1': '主',
  x: '和',
  '2': '客'
};

// 双重机会
const doubleWinKey = {
  '1x': '主 或 和',
  '12': '主 或 客',
  '2x': '客 或 和'
};

const teamFomat = {
  h: '主',
  a: '客'
};

const bigSmallFomat = {
  o: '大',
  u: '小'
};

const TYPS_COLLECTION = {
  // 让球类型
  TYPE_01: [1, 7],
  // 单双类型
  TYPE_02: [2, 6, 12, 16, 9078],
  // 显示主客类型
  TYPE_03: [20, 21, 153, 154, 155, 501, 609, 612, 9001, 9002, 9006, 9007, 9008, 9011, 9046, 9049, 9052, 9055],
  // 大小盘类型
  TYPE_04: [3, 8, 156, 401, 402, 403, 404, 461, 462, 463, 464, 468, 469, 615, 616, 9410, 9411, 9428, 9429],
  // 独赢类型
  TYPE_05: [5, 15, 28, 177, 430, 458, 459],
  // 双重机会类型
  TYPE_06: [24],
  // 普通显示3列类型
  TYPE_07: [22, 707, 713],
  // 波胆类型
  TYPE_08: [405, 406, 412, 413, 414, 419],
  // 全场波胆类型
  TYPE_09: [408, 416, 467],
  // 显示大小
  TYPE_10: [702, 705, 709, 9003, 9009, 9013, 9019, 9025, 9029, 9035, 9047, 9053, 9058, 9060, 9070],
  // 其他类型
  OTHERS: []
};

export default {
  name: 'OddTypeList',
  components: { BetItem },
  props: {
    oddsInfo: {
      type: Array as PropType<any[]>,
      default: () => []
    },
    matchInfo: {
      type: Object as PropType<any>,
      default: () => {
        return {
          MoreInfo: {}
        };
      }
    }
  },
  setup(props) {
    const data = reactive({});
    const refData = toRefs(data);
    const store = useStore();
    const betType = computed(() => {
      return Number(pickValue(props.oddsInfo[0], 'Bettype'));
    });

    const storeOddId = computed(() => {
      const mid = props.matchInfo.MatchId;
      const ids = store.getters.currentOddsId;
      return !!ids[mid] ? ids[mid] : '';
    });

    // 投注统计
    const betCounter = computed(() => store.getters.betCounter);
    // 串关缓存id
    const currentOddsId = computed(() => store.getters.currentOddsId);

    // 预投注
    const { addBet, isParlayComputed, removeTicket } = useBet();

    const methods = {
      // 预投注
      onAddBet: (selsItem: any) => {
        // 检查金额
        // if (sbWalletBalance.value <= 0) {
        //   Toast('你没有足够的资金余额进行投注');
        //   return;
        // }
        const betPrams = {
          ...selsItem,
          ...props.matchInfo
        };
        if (isParlayComputed.value) {
          const mid = props.matchInfo.ParentID || props.matchInfo.MatchId;
          if (!currentOddsId.value[mid] && betCounter.value >= 10) {
            Toast('超过最大串关数');
            return;
          }
          const oddsKey = selsItem.OddsId + selsItem.Key;
          const isAcrive = storeOddId.value === oddsKey; // 当前选中
          if (isAcrive) {
            // 移除当前ticket
            removeTicket(selsItem.OddsId);
            // 移除id
            store.dispatch('REMOVE_CURRENT_ODDS_ID', { matchId: mid });
            return;
          } else {
            // 添加当前ID
            store.dispatch('SET_CURRENT_ODDS_ID', { matchId: mid, oddsKey });
          }
        }
        addBet(betPrams);
      }
    };

    // const keyName = () =>{
    //   return pickValue(props.data[0], 'KeyName');
    // }

    return {
      betType,
      teamFomat,
      ...methods,
      ...refData,
      BetTypeEnum,
      storeOddId,
      ...TYPS_COLLECTION,
      isParlayComputed,
      bigSmallFomat,
      doubleWinKey,
      OnlyWinKey
    };
  }
};
</script>
<style lang="less" scoped>
.bet-list {
  width: 100%;
  .home-name,
  .away-name {
    color: @text-color;
    font-size: @font-size-md;
    text-align: left;
    display: flex;
    align-items: center;
    > span {
      padding-left: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex: 1;
    }
  }
}
</style>
