<template>
  <router-view />
  <!-- <router-view v-slot="{ Component }">
    <keep-alive include="HomePage">
      <component :is="Component" />
    </keep-alive>
  </router-view> -->
  <!-- <SingleBetDialog v-if="visibleBetDialog" />
  <ParlayBetCart v-if="visibleBetCart" />
  <InsufficientBalance v-if="isShowInsufficient" /> -->
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, onBeforeUnmount } from 'vue';
// import { useStore } from 'vuex';

// import { useGameSet } from '@/hooks/useGameSet';
// import { useBet } from '@/hooks/useBet';

export default defineComponent({
  name: 'App',
  setup() {
    // const store = useStore();

    const timer: any = ref(null);

    const getUnionData = () => {
      //   store.dispatch('GET_SPORT_UNION_DATA');
      //   timer.value = setTimeout(() => {
      //     // 获取动画视频联合数据 设置定时器
      //     getUnionData();
      //   }, 60 * 1000);
    };

    // 检查登录状态
    // store.dispatch('CHECK_IS_LOGIN');

    // 获取举报类型
    // store.dispatch('GET_REPORT_TYPES');

    onMounted(() => {
      getUnionData();
    });

    onBeforeUnmount(() => {
      clearTimeout(timer.value);
      timer.value = null;
    });

    // 订阅赛事数据ws
    // store.dispatch('SUBSCRIBE_SPORTS_TECH');

    // store.dispatch('GET_TENANT_CONFIG');

    // return { store, visibleBetCart, visibleBetDialog, isShowInsufficient };
    return {};
  }
});
</script>
<style lang="less">
.operation {
  position: fixed;
  top: 180px;
  right: 20px;
  z-index: 21;
  &-item {
    width: 25px;
    height: 25px;
    margin: 5px;
    float: right;
    .barrag-switch {
      width: 25px;
      height: 25px;
      fill: @white;
    }
  }
}
</style>
