.wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 8px;
  .setItem {
    width: calc(50% - 16px);
    margin: 6px 8px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 12px;
    margin-bottom: 8px;
    &.active {
      background: @primary-color !important;
      color: white;
    }
  }
}

.displayBlock {
  display: block;
}
.specCell {
  :global {
    .van-cell__title {
      margin-left: 25px;
    }
  }
}
.titleCell {
  align-items: center;
  &::before {
    content: '';
    height: 12px;
    width: 2px;
    margin-right: 8px;
    border-radius: 2px;
    background-color: @primary-color;
  }
}
.radioCell {
  :global {
    .van-cell__value {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      input {
        width: 18px;
        height: 18px;
      }
    }
    .van-cell__title {
      margin-left: 25px;
    }
  }
}
