@bet-item-height: 32px;

.bet-item {
  height: @bet-item-height;
  line-height: @bet-item-height;
  background: @gray-1;
  border-radius: 100px;
  width: 100%;
  padding: 3px 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
  transition: ease-in-out 0.3s;
  background-image: linear-gradient(to right, #fafafa 50%, @primary-color 50%);
  background-size: 200% 100%;
  background-position: 0 top;
  &.is-bet-active {
    background-position: -100% top;
    color: @white;
    .bet-item__type,
    .is-lock,
    .bet-item__odd-value .odd-number {
      color: @white !important;
      &.up-icon {
        color: @white !important;
      }
      &.down-icon {
        color: @white !important;
      }
    }
  }
  .is-lock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > .svg-icon {
      fill: @gray-4;
      width: 20px;
      height: 20px;
    }
  }
  &__type {
    color: @gray-5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__odd-value {
    color: @text-color;
    font-weight: 700;
    font-family: 'DINAlternate-Bold';
  }
}
