<template>
  <div :class="['avatar_box', flexRver == true ? 'rever' : '']">
    <div v-show="dividerShow" :class="['divider_s', flexRver == true ? 'green' : 'red']"></div>
    <team-logo :sportId="sportId" size="xxl" :teamName="nametitle" />
    <span class="name_s">{{ nametitle }} </span>
  </div>
</template>

<script>
import defaultTeamLogo from '@/assets/default_team_logo.png';
export default {
  props: {
    nametitle: {
      type: String,
      default: ''
    },
    flexRver: {
      type: Boolean,
      default: false
    },
    dividerShow: {
      type: Boolean,
      default: true
    },
    sportId: {
      type: Number,
      default: 1
    },
    teamInfo: {
      type: Object,
      default: () => {}
    }
  },
  setup() {
    return {
      defaultTeamLogo
    };
  }
};
</script>

<style lang="less" scoped>
.avatar_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rever {
  flex-direction: row-reverse;
  .name_s {
    text-align: end;
  }
}
.green {
  background: green;
}
.red {
  background: red;
}
.divider_s {
  width: 5px;
  height: 100%;
}
.mrg {
  margin: 0px 5px;
}
.name_s {
  width: 100px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
</style>
