<template>
  <div class="box">
    <!-- <div :id="id" class="echarts-box" style="width: 165px; height: 130px" ref="chartBox"></div> -->
    <RingPieChart :win="processData[0]" :lost="processData[1]" />
    <div class="process">
      <div class="item">
        <span class="label">胜率</span><span class="win">{{ processData[0] + '%' }}</span>
      </div>
      <div class="item">
        <span class="label">负</span><span class="loss">{{ processData[1] + '%' }}</span>
      </div>
      <div class="item">
        <span class="label">平</span><span class="again">{{ processData[2] + '%' }}</span>
      </div>
    </div>
    <div class="line">
      <div class="point-box">
        <div class="point-one"></div>
        <div class="point-two"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { sum } from 'lodash-es';
import RingPieChart from '@/pages/sb-mobile/components/RingPieChart/index.vue';

export default {
  name: 'Winloststatus',
  components: { RingPieChart },
  props: {
    id: {
      type: String,
      default: 'main'
    },
    arrlist: {
      type: Array,
      default: () => []
    }
  },
  setup(props) {
    const processData = computed(() => {
      const sumData = sum(props.arrlist);
      return sumData === 0 ? ['无', '无', '无'] : props.arrlist.map(o => (o / sumData) * 100);
    });
    return { processData };
  }
};
</script>

<style lang="less" scoped>
.box {
  position: relative;
}
.process {
  display: flex;
  align-items: flex-end;
  padding: 0 0 10px 10px;
  .label {
    color: #7f7f7f;
  }
  .win {
    color: #cf2f22;
    font-size: 18px;
    margin-right: 5px;
  }
  .loss {
    color: #49a23b;
  }
  .again {
    color: #aaa;
  }
}
.line {
  position: absolute;
  left: 15px;
  bottom: 30px;

  .point-box {
    width: 20px;
    height: 80px;
    position: relative;
    border-left: 1px dashed red;
    border-top: 1px dashed red;
  }
  .point-one {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
  }
  .point-two {
    position: absolute;
    left: -3px;
    bottom: -3px;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
  }
}
</style>
