<template>
  <div class="Score_box" v-for="(item, index) in goalDist.home.all.scored" :key="index">
    <span :class="['left', item[0] !== 0 ? 'red' : '']">{{ item[0] }}</span>
    <div style="flex: 8" class="line_box">
      <span>{{ TextLeagueJF[index] }}</span>
      <van-progress
        v-if="!(item[0] == 0 && goalDist.away.all.scored[index][0] == 0)"
        :percentage="(item[1] / (item[1] + goalDist.away.all.scored[index][1])) * 100"
        color="#af2318"
        :track-color="getThemeStyle() === 'darkGold' ? '#ffda90' : '#44974f'"
        stroke-width="5"
        :show-pivot="false"
      />
      <van-progress v-else color="#9e9e9e" stroke-width="5" :show-pivot="false" />
    </div>
    <span :class="['right', item[0] !== 0 ? 'green' : '']">{{ goalDist.away.all.scored[index][0] }}</span>
  </div>
</template>

<script>
import { ref } from 'vue';
import { getThemeStyle } from '@/common/utils';

export default {
  props: {
    goalDist: {
      type: Object,
      default: () => {}
    }
  },
  setup() {
    const TextLeagueJF = ref(['1-15分钟', '16-30分钟', '31-45分钟', '46-60分钟', '61-75分钟', '75-90分钟']);
    return { TextLeagueJF, getThemeStyle };
  }
};
</script>

<style lang="less" scoped>
.Score_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 30px;
  .left {
    font-size: @font-size-xs;
  }
  .red {
    color: #af2318;
  }
  .green {
    color: #44974f;
  }
  .right {
    font-size: @font-size-xs;
  }
  span {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #7b7b7b;
    font-weight: 550;
  }
  .line_box {
    padding-bottom: 5px;
  }
}
</style>
