<template>
  <div class="circle-progress" :style="{ width: size + 'px', height: size + 'px' }">
    <svg viewBox="0 0 1180 1180">
      <path
        d="M 590 590 m 0, -500 a 500, 500 0 1, 0 0, 1000 a 500, 500 0 1, 0 0, -1000"
        class="circle-progress__layer"
      />
      <path
        d="M 590 590 m 0, -500 a 500, 500 0 1, 0 0, 1000 a 500, 500 0 1, 0 0, -1000"
        class="circle-progress__hover"
        :style="{ 'stroke-dasharray': `${(percentage / 100) * 3140}px, ${3140}px` }"
      />
    </svg>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CircleProgress',
  props: {
    size: {
      type: Number,
      default: 28,
      require: false
    },
    /**
     * 进度 0 ~ 100 百分
     */
    percentage: {
      type: Number,
      default: 0
    }
  },
  setup() {
    return {};
  }
});
</script>

<style lang="less" scoped>
.circle-progress {
  > svg {
    width: 100%;
    height: 100%;
  }
  &__layer {
    fill: none;
    stroke: @primary-color;
    stroke-width: 180px;
  }
  &__hover {
    fill: none;
    stroke: #e20b0b;
    stroke-width: 181px;
    stroke-linecap: butt;
  }
}
</style>
