<template>
  <div class="rank">
    <table>
      <tr>
        <th>球队排名</th>
        <th>赛</th>
        <th>胜/平/负</th>
        <th>进/失</th>
        <th>净</th>
        <th>排名</th>
      </tr>
      <tr>
        <td><team-logo />曼联</td>
        <td>36</td>
        <td>20/10/6</td>
        <td>70/42</td>
        <td>28</td>
        <td>2</td>
      </tr>
      <tr>
        <td><team-logo />富勒姆</td>
        <td>36</td>
        <td>20/10/6</td>
        <td>70/42</td>
        <td>28</td>
        <td>2</td>
      </tr>
    </table>
  </div>
  <div class="static">
    <div class="header">进球分布</div>
    <div class="team">
      <div class="item">
        <team-logo />
        <span>曼联</span>
      </div>
      <div class="item">
        <span>富勒姆</span>
        <team-logo />
      </div>
    </div>
    <div class="timeline">
      <div class="item">
        <div class="time">1-15分钟</div>
        <div class="line">
          <span>1</span>
          <div class="progress">
            <el-progress :percentage="100 / 2" :show-text="false" :stroke-width="2" />
          </div>
          <span>1</span>
        </div>
      </div>
      <div class="item">
        <div class="time">1-15分钟</div>
        <div class="line">
          <span>12</span>
          <div class="progress">
            <el-progress :percentage="(34 / 12) * 10" :show-text="false" :stroke-width="2" />
          </div>
          <span>22</span>
        </div>
      </div>
      <div class="item">
        <div class="time">1-15分钟</div>
        <div class="line">
          <span>12</span>
          <div class="progress">
            <el-progress :percentage="(34 / 12) * 10" :show-text="false" :stroke-width="2" />
          </div>
          <span>22</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'AnalyzeData',
  setup() {}
});
</script>

<style lang="less" scoped>
.rank {
  table {
    width: 100%;
    background: #fff;
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
    th,
    td {
      color: #a2a2a2;
      line-height: 18px;
      text-align: center;
      font-weight: normal;
      &:first-child {
        font-weight: bold;
        text-align: left;
        color: #000;
        padding-left: 10px;
        :deep(.el-image) {
          vertical-align: sub;
          margin-right: 5px;
        }
      }
    }
    th {
      padding: 8px 0;
      border-bottom: 1px solid #eee;
    }
    td {
      padding: 5px 0;
    }
  }
}
.static {
  background: #fff;
  border-radius: 8px;
  .header {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding: 6px 10px;
  }
  .team {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 8px auto;
    .item {
      display: flex;
      align-items: center;
      padding: 0 8px;
      &:before {
        content: '';
        width: 2px;
        height: 14px;
        background: #eb3e3e;
        border-radius: 1px;
        margin-right: 10px;
      }
      &:last-child {
        &:before {
          display: none;
        }
        &:after {
          content: '';
          width: 2px;
          height: 14px;
          background: #347dfd;
          border-radius: 1px;
          margin-left: 10px;
        }
      }
      span {
        margin: 0 8px;
      }
    }
  }
  .timeline {
    .item {
      margin-bottom: 15px;
      :deep(.el-progress-bar) {
        .el-progress-bar__outer {
          background: #347dfd;
          .el-progress-bar__inner {
            background: #eb3e3e;
          }
        }
      }
      .time {
        color: #a2a2a2;
        text-align: center;
        margin: -10px 0;
      }
      span {
        width: 30px;
        display: inline-block;
        text-align: center;
        color: #eb3e3e;
        font-weight: bold;
        &:last-child {
          color: #347dfd;
        }
      }
      .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .progress {
          flex: 1;
        }
      }
    }
  }
}
</style>
