<template>
  <div class="analyze">
    <el-tabs v-model="activeTab">
      <el-tab-pane label="实时" name="realtime"><realtime /></el-tab-pane>
      <el-tab-pane label="阵容" name="lineup"><lineup /></el-tab-pane>
      <el-tab-pane label="分析" name="analyze"><analyze-data /></el-tab-pane>
      <el-tab-pane label="情报" name="info"><information /></el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { defineComponent, reactive, toRefs } from 'vue';
import Realtime from './Realtime';
import Lineup from './Lineup';
import AnalyzeData from './Analyze';
import Information from './information';

export default defineComponent({
  name: 'Analyze',
  components: { Information, AnalyzeData, Lineup, Realtime },
  setup() {
    const data = reactive({
      activeTab: 'info'
    });
    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="less" scoped>
.analyze {
  margin: 0 8px;
  overflow-y: auto;
}
:deep(.el-tabs__content) {
  overflow-y: auto;
}
:deep(.el-tabs__nav) {
  margin-top: 3px;
  width: 100%;
  text-align: center;
  height: 33px;
  background: #dff0ec;
  border-radius: 8px 8px 0 0;
}
:deep(.el-tabs__item) {
  padding: 0 35px;
  line-height: 33px;
  color: #878787;
  &.is-active {
    color: #2c2b2b;
    font-weight: bold;
  }
}
:deep(.el-tabs__active-bar) {
  padding: 0 5px;
  margin-left: -5px;
}
:deep(.el-tabs__header) {
  margin: 0;
}
</style>
