<template>
  <div class="information">
    <div class="header">
      <div class="team"><team-logo /><span>曼联</span></div>
      <div class="team"><span>富勒姆</span><team-logo /></div>
    </div>
    <div class="detail">
      <div class="left">
        <div class="good">
          <p class="title">有利情报</p>
          <div class="item">曼联进攻挺稳，近15轮联赛也就3场比赛交出白卷，切场效率高达2.2球。</div>
          <div class="item">
            ***曼联进攻挺稳，近15轮联赛也就3场比赛交出白卷，切场效率高达2.2球。综合来看，本场坐2望3概率不低。
          </div>
        </div>
        <div class="bad">
          <p class="title">不利情报</p>
          <div class="item">曼联进攻挺稳，近15轮联赛也就3场比赛交出白卷，切场效率高达2.2球。</div>
          <div class="item">
            ***曼联进攻挺稳，近15轮联赛也就3场比赛交出白卷，切场效率高达2.2球。综合来看，本场坐2望3概率不低。
          </div>
        </div>
      </div>
      <div class="right">
        <div class="bad">
          <p class="title">不利情报</p>
          <div class="item">富勒姆客场能力糟糕，本赛季联赛18个客场只赢3场，胜率仅为16.7%。</div>
          <div class="item">富勒姆客场能力糟糕，本赛季联赛18个客场只赢3场，胜率仅为16.7%。</div>
          <div class="item">富勒姆客场能力糟糕，本赛季联赛18个客场只赢3场，胜率仅为16.7%。</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Infomation',
  setup() {}
});
</script>

<style lang="less" scoped>
.information {
  background: #fff;
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  .team {
    display: flex;
    align-items: center;
    span {
      margin: 0 8px;
    }
  }
}
.detail {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  .left,
  .right {
    flex: 1;
  }
  .left {
    padding-right: 10px;
    border-right: 1px solid #eee;
  }
  .right {
    padding-left: 10px;
    .title {
      text-align: right;
    }
  }
  .title {
    margin: 8px 0;
  }
  .item {
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 5px 8px;
    line-height: 18px;
  }
  .good {
    .title {
      color: #eb3e3e;
    }
    .item {
      background: #fef3f3;
    }
  }
  .bad {
    .title {
      color: #2f47b3;
    }
    .item {
      background: #eaecf7;
    }
  }
}
</style>
