<template>
  <div class="lineup">
    <div class="header">
      <div class="home"><span>曼联</span><team-logo :size="32" /></div>
      <i class="icon-vs"></i>
      <div class="home"><team-logo :size="32" /><span>富勒姆</span></div>
    </div>
    <div class="detail">
      <div class="score">
        <div class="bg-home"><span>4-2-3-1</span></div>
        <div class="first">首发阵容</div>
        <div class="bg-away"><span>3-4-2-1</span></div>
      </div>
      <ul class="players">
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
        <li>
          <div class="player">
            <img src="" />
            <div class="info">
              <div class="data">
                <span class="number">1</span>
                <span class="name">大卫 德赫亚</span>
              </div>
              <div class="slash">_ _</div>
            </div>
          </div>
          <div class="player">
            <div class="info">
              <div class="data">
                <span class="name">阿方斯 阿雷奥姆</span>
                <span class="number">1</span>
              </div>
              <div class="slash">_ _</div>
            </div>
            <img src="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Lineup',
  setup() {}
});
</script>

<style lang="less" scoped>
.lineup {
  background: #fff;
}
i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px 0;
  .icon-vs {
    width: 26px;
    height: 22px;
    background-image: url('~@/assets/real-time/teammate/vs.png');
    margin: 0 18px;
  }
  .home {
    display: flex;
    align-items: center;
    span {
      font-size: 14px;
      font-weight: bold;
      margin: 0 10px;
    }
  }
}
.detail {
  padding: 0 10px;
  .score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    .bg-home,
    .bg-away {
      width: 115px;
      height: 23px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      font-weight: bold;
      > span {
        width: 64px;
        display: inline-block;
        text-align: center;
      }
    }
    .bg-home {
      background-image: url('~@/assets/real-time/teammate/zhu.png');
      > span {
        margin-left: 40px;
      }
    }
    .bg-away {
      background-image: url('~@/assets/real-time/teammate/ke.png');
      > span {
        margin-left: 10px;
      }
    }
    .first {
      width: 84px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: #fff;
      background: linear-gradient(-79deg, #50a6a5, #8add9a);
      border-radius: 13px;
    }
  }
  .players {
    li {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      &:not(:last-child) {
        border-bottom: solid 1px #eee;
      }
      .player {
        display: flex;
        &:last-child {
          img {
            border-color: #347dfd;
          }
          .info {
            .number {
              color: #347dfd;
              border-right: none;
              border-left: 1px solid #ccc;
            }
            .slash {
              float: right;
            }
          }
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid red;
        }
        .info {
          .number {
            color: red;
            font-weight: bold;
            border-right: 1px solid #ccc;
            padding: 0 8px;
          }
          .name {
            margin: 0 8px;
          }
          .slash {
            font-size: 16px;
            margin: -18px 8px;
            font-weight: bold;
            color: #ccc;
          }
        }
      }
    }
  }
}
</style>
