<template>
  <div class="real-time">
    <div class="title">文字直播</div>
    <div class="realtime">
      <ul>
        <li>
          <i class="icon-corner"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-half"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37‘-随着主裁判一声哨响，上半场比赛结束，目前比分1-1</p>
          </div>
        </li>
        <li>
          <i class="icon-goal"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-free-kick"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-goal-ball"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-half-score"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-begin"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-penalty"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-penalty-end"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-penalty-missed"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-pk"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-red"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-yellow"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37‘-第1张黄牌，裁判出示了本场鄙视第第一张黄牌，给了我（曼联）</p>
          </div>
        </li>
        <li>
          <i class="icon-replace"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-corner-end"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-end"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-foul-ball"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-overtime-end"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-attack"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-possession"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-show-yellow"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-uncomfortable"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-shoot-missed"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-shoot"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-danger"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
        <li>
          <i class="icon-own"></i>
          <div class="detail">
            <p><team-logo :size="11" />37'曼联</p>
            <p>37'-第4个角球</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Realtime',
  setup() {}
});
</script>

<style lang="less" scoped>
.real-time {
  background: #fff;
}
.title {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #e6e8ef;
  padding-left: 10px;
}
.realtime {
  flex: 1;
}
li {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid #e6e8ef;
  padding: 3px 10px;
  p {
    margin: 0;
    line-height: 18px;
    color: #2c2b2b;
  }
  .detail {
    :deep(.el-image) {
      margin-right: 3px;
    }
  }
}
i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  margin-right: 8px;
}
.icon-corner {
  background-image: url('~@/assets/real-time/jiaoqiu.png');
}
.icon-half {
  background-image: url('~@/assets/real-time/zhongchang.png');
}
.icon-goal {
  background-image: url('~@/assets/real-time/jinqiu.png');
}
.icon-free-kick {
  background-image: url('~@/assets/real-time/renyiqiu.png');
}
.icon-goal-ball {
  background-image: url('~@/assets/real-time/qiumenqiu.png');
}
.icon-half-score {
  background-image: url('~@/assets/real-time/banchangbifen.png');
}
.icon-begin {
  background-image: url('~@/assets/real-time/bisaikaishi.png');
}
.icon-penalty {
  background-image: url('~@/assets/real-time/dianqiu.png');
}
.icon-penalty-end {
  background-image: url('~@/assets/real-time/dianqiudazhanjieshu.png');
}
.icon-penalty-missed {
  background-image: url('~@/assets/real-time/dianqiuweijin.png');
}
.icon-pk {
  background-image: url('~@/assets/real-time/duijue.png');
}
.icon-red {
  background-image: url('~@/assets/real-time/hongpai.png');
}
.icon-yellow {
  background-image: url('~@/assets/real-time/huangpai.png');
}
.icon-replace {
  background-image: url('~@/assets/real-time/huanren.png');
}
.icon-corner-end {
  background-image: url('~@/assets/real-time/zhongchang.png');
}
.icon-end {
  background-image: url('~@/assets/real-time/jieshu.png');
}
.icon-foul-ball {
  background-image: url('~@/assets/real-time/jiewaiqiu.png');
}
.icon-overtime-end {
  background-image: url('~@/assets/real-time/jiashisaijieshu.png');
}
.icon-attack {
  background-image: url('~@/assets/real-time/jingong.png');
}
.icon-possession {
  background-image: url('~@/assets/real-time/kongqiulv.png');
}
.icon-show-yellow {
  background-image: url('~@/assets/real-time/lianghuang.png');
}
.icon-uncomfortable {
  background-image: url('~@/assets/real-time/shangtinbushi.png');
}
.icon-shoot-missed {
  background-image: url('~@/assets/real-time/shepian.png');
}
.icon-shoot {
  background-image: url('~@/assets/real-time/shezheng.png');
}
.icon-danger {
  background-image: url('~@/assets/real-time/weixianjingong.png');
}
.icon-own {
  background-image: url('~@/assets/real-time/wulongqiu.png');
}
</style>
