<template>
  <div id="dplayer" ref="player"></div>
  <video class="live-video-test" ref="video"></video>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, onBeforeUnmount } from 'vue';
export default defineComponent({
  name: 'LiveVideo',
  props: {
    url: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const player = ref(null);
    const video = ref<HTMLVideoElement | null>(null);
    let dplayer: any;
    const initPlayer = async () => {
      let isCanPlatHls = '';
      if (video.value) {
        // 判断浏览器是否原生支持播放hls
        isCanPlatHls =
          video.value.canPlayType('application/x-mpegURL') || video.value.canPlayType('application/vnd.apple.mpegURL');
      }
      if (!isCanPlatHls) {
        // 不支持动态加载hls.js 进行软解码
        window.Hls = (await import('hls.js')).default;
      }
      const Dplayer = (await import('dplayer')).default;
      dplayer = new Dplayer({
        container: player.value,
        autoplay: true,
        live: true,
        video: {
          url: props.url,
          type: 'hls'
        }
      });
    };
    onBeforeUnmount(() => {
      dplayer && dplayer.destroy();
      dplayer = null;
    });
    onMounted(async () => {
      const p = player.value;
      !!p && (await initPlayer());
    });

    return { player, video };
  }
});
</script>

<style lang="less">
.dplayer {
  height: 100% !important;
}
.dplayer-controller {
  bottom: 32px !important;
  padding: 0 10px !important;
}
.live-video-test {
  display: none;
}
.dplayer-live-badge {
  display: none;
}
.dplayer-full {
  display: none !important;
  .dplayer-full-in-icon {
    display: none !important;
  }
}
</style>
