.notice-detail {
  overflow: hidden;
}
.notice-list {
  height: 100%;
  overflow-x: auto;
  border-radius: 20px 20px 0px 0px;
  .notice-item {
    padding: 8px 16px;
    border-bottom: 1px solid @border-color;
    .list_top {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 5px 0px;

      .title_text {
        font-size: @font-size-md;
      }
      .title_right {
        color: @gray-8;
        font-size: @font-size-xs;
      }
      p {
        margin: 0px;
      }
    }
    .list_text {
      color: @gray-6;
      line-height: 1.5;
      font-size: @font-size-xs;
      margin: 0px;
    }
  }
}
