<template>
  <el-dialog
    v-model="isVisible"
    title="我的投注"
    center
    width="840px"
    @close="emit('close')"
    custom-class="popup-bet-record colored-header"
  >
    <el-tabs v-model="active" :stretch="true">
      <el-tab-pane label="未结算" name="unsettled">
        <list :data="list" :loaded="loaded" type="unsettled" :status="active" />
      </el-tab-pane>
      <el-tab-pane label="已结算" name="settled">
        <list :data="list" ref="RefSettled" :loaded="loaded" type="settled" @getData="getData" :status="active" />
      </el-tab-pane>
    </el-tabs>
  </el-dialog>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted, reactive, ref, toRefs, watch } from 'vue';
import List from 'web/views/popup/MyBetRecord/List.vue';
import { getBetOrders } from '@/services';

export default defineComponent({
  name: 'PopupMyBetRecord',
  components: { List },
  props: ['visible'],
  setup(props, { emit }) {
    const data = reactive({
      isVisible: false,
      active: 'unsettled',
      loaded: false,
      list: []
    });
    const RefSettled = ref();
    const methods = {
      getData: async (params?) => {
        data.loaded = false;
        const status = data.active === 'unsettled' ? 1 : 2;
        const [res, _data] = await getBetOrders({
          status,
          startTime: params?.startTime,
          endTime: params?.endTime,
          source: 'sb'
        });
        if (res) {
          data.list = _data;
        }
        data.loaded = true;
      }
    };
    watch(
      () => data.active,
      () => {
        nextTick(() => {
          data.list = [];
          if (data.active === 'settled') {
            const RefData = RefSettled.value;
            methods.getData(RefData.DATE_LIST[RefData.activedatalist].value);
          } else {
            methods.getData();
          }
        });
      }
    );
    watch(
      () => props.visible,
      v => {
        if (v) methods.getData();
        data.isVisible = v;
      },
      { immediate: true }
    );
    onMounted(() => {
      methods.getData();
    });
    return {
      RefSettled,
      ...toRefs(data),
      emit,
      ...methods
    };
  }
});
</script>

<style lang="less">
.popup-bet-record {
  .el-dialog__body {
    padding: 0;
  }
  .el-tabs__nav-wrap::after {
    visibility: hidden;
  }
  .el-tabs__active-bar {
    z-index: 2;
    transition: none;
  }
  .el-tabs__header {
    margin: 0;
  }
  .el-tabs__item {
    background: #fafafa;
    padding: 0;
    color: #666;
    height: 34px;
    line-height: 34px;
    &.is-active {
      background: #fff;
      box-shadow: 0 0 2px #ccc;
      z-index: 1;
      color: @primary-color;
    }
  }
}
</style>
