<template>
  <div class="list" v-loading="!loaded" element-loading-spinner="el-icon-loading">
    <div class="list-settled-title" v-if="status === 'settled'">
      总计：{{ data.length }}单，投注额：{{ totalBetMoney }}，输赢：{{ currency(totalWinLostMoney) }}
      <ElPopover
        v-model:visible="isshow"
        placement="bottom-end"
        :append-to-body="false"
        popper-class="selectDate"
        trigger="click"
      >
        <ul>
          <li
            v-for="(list, index) in DATE_LIST"
            :class="{ 'active-date-list': activedatalist === index }"
            :key="index + '_TY_KEY'"
            @click="onHandleDate(list, index)"
          >
            {{ list.title }} ({{ countResult[index] }})
          </li>
        </ul>
        <template #reference>
          <span class="dateName">{{ currentDate }}{{ countResult[activedatalist] }}</span>
        </template>
      </ElPopover>
    </div>
    <div class="inner" v-if="data.length">
      <div
        class="item"
        v-for="item in data"
        :key="item.id"
        :class="[
          { lose: [SettlementEnum.lose].includes(item.ticketStatus) },
          SettlementList.find(v => v.value === Number(item.ticketStatus))?.code
        ]"
      >
        <div class="tag"></div>
        <div class="header">
          <div class="main">
            {{ item.homeName }} vs {{ item.awayName
            }}<span v-if="status === 'unsettled'" class="status">{{
              SettlementList.find(v => v.value === Number(item.ticketStatus))?.label
            }}</span>
          </div>
          <div class="sub">
            <small>{{ item.leagueName }}</small
            ><small>{{ item.matchDate }}</small>
          </div>
          <p class="detail">
            {{ item.betteamName }} {{ item.hdp }}<span class="odds">@{{ item.odds }}</span>
          </p>
          <p class="type">
            <small>{{ item.betTypeName }}</small>
          </p>
        </div>
        <el-divider />
        <div class="body">
          <p>投注额： {{ item.stake || '--' }}</p>
          <p>
            {{ status === 'unsettled' ? '可赢额' : '输赢额' }}：
            <span :style="[SettlementEnum.lose].includes(item.ticketStatus) ? 'color: #07c160' : 'color: red'">
              {{ item.winLostAmount }}
            </span>
          </p>
        </div>
        <el-divider />
        <div class="footer">
          <p class="date">
            <small>{{ item.creationDate }} ({{ MarketTypeList.find(t => t.value === item.oddsType).label }})</small>
          </p>
          <p>
            <small>订单号：</small><input :value="item.id" :size="item.id.toString().length - 3" readonly />
            <span v-if="item.id" class="copy" @click="copy">复制</span>
          </p>
        </div>
      </div>
    </div>
    <no-data v-else />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, toRefs } from 'vue';
import NoData from '../../../components/common/no-data.vue';
import { MarketTypeList, SettlementEnum, SettlementList } from '@/common';
import { ElMessage } from 'element-plus';
import { getBetOrders } from '@/services';
import { currency } from '@/common/utils/currency.util';
import { DATE_LIST } from '@/common/utils';

export default defineComponent({
  name: 'List',
  components: { NoData },
  props: ['data', 'loaded', 'status', 'type'],
  emits: ['getData'],
  setup(props, { emit }) {
    const data = reactive({
      totalBetMoney: computed(() => {
        let total = 0;
        props.data.map(v => {
          total += parseInt(v.stake);
        });
        return total;
      }),
      totalWinLostMoney: computed(() => {
        let total = 0;
        props.data.map(v => {
          total += Number(v.winLostAmount);
        });
        return total;
      })
    });
    // 是否显示ElPopover
    const isshow = ref(false);
    // 选中的date
    const activedatalist = ref(0);
    // 注单条数
    const countResult = ref([0, 0, 0]);
    // 选中的时间日期
    const currentDate = ref('今日');
    const copy = e => {
      const target = e.target;
      target.previousElementSibling.select();
      document.execCommand('copy');
      ElMessage.success('复制成功');
    };
    const onHandleDate = (list, index) => {
      activedatalist.value = index;
      currentDate.value = list.title;
      isshow.value = false;
      emit('getData', { startTime: list.value.startTime, endTime: list.value.endTime });
    };
    const GetlistCount = async () => {
      for (let i = 0; i < DATE_LIST.length; i++) {
        const [res, data] = await getBetOrders({
          status: 2,
          startTime: DATE_LIST[i].value.startTime,
          endTime: DATE_LIST[i].value.endTime,
          source: 'sb'
        });
        if (res) {
          countResult.value[i] = data.length;
        }
      }
    };
    onMounted(() => {
      props.type === 'settled' && GetlistCount();
    });
    return {
      ...toRefs(data),
      props,
      MarketTypeList,
      SettlementList,
      SettlementEnum,
      copy,
      currency,
      currentDate,
      countResult,
      isshow,
      DATE_LIST,
      activedatalist,
      onHandleDate
    };
  }
});
</script>

<style lang="less" scoped>
.list {
  height: 540px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #2c2b2b;
  background: #f5f5f5;
  .list-settled-title {
    width: 100%;
    .selectDate {
      ul {
        li {
          line-height: 28px;
          cursor: pointer;
        }
        .active-date-list {
          color: @primary-color;
        }
      }
    }
    .dateName {
      position: absolute;
      right: 20px;
      cursor: pointer;
    }
  }
  .inner {
    height: 500px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: block;
      width: 16px;
      background: #dadada;
    }
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border: solid 2px #dadada;
    }
  }
  p {
    margin: 0;
  }
  .item {
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
    position: relative;
    width: 99%;
    small {
      font-size: 12px;
      color: #969799;
    }
    .tag {
      position: absolute;
      width: 50px;
      height: 50px;
      right: 15px;
      top: 10px;
      text-align: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 1;
    }
    &.won,
    &.lose,
    &.WinHalf,
    &.LoseHalf {
      .tag-text {
        display: none;
      }
    }
    &.lose .tag {
      background-image: url('~@/assets/lose.png');
    }
    &.won .tag {
      background-image: url('~@/assets/win.png');
    }
    &.WinHalf .tag {
      background-image: url('~@/assets/WinHalf.png');
    }
    &.LoseHalf .tag {
      background-image: url('~@/assets/LoseHalf.png');
    }
    &.won {
      .header {
        .main {
          border-left: 3px solid red;
        }
      }
    }
    .header {
      padding: 0 15px;
      .main {
        font-weight: bold;
        border-left: 3px solid #07c160;
        padding-left: 5px;
        .status {
          font-weight: normal;
          float: right;
          color: @primary-color;
        }
      }
      .sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3px 0;
      }
      .detail {
        margin: 10px 0;
      }
      .type {
        margin-bottom: 15px;
      }
      .odds {
        color: @primary-color;
        margin-left: 10px;
      }
    }
    .body {
      padding: 5px 15px;
      font-weight: bold;
    }
    .footer {
      padding: 0 15px;
      .date {
        margin: 3px 0 5px 0;
      }
      input {
        border: none;
        font-size: 12px;
        color: #969799;
      }
    }
    .copy {
      cursor: pointer;
      padding: 0 5px;
      color: @primary-color;
      font-size: 12px;
    }
  }
  .el-divider--horizontal {
    margin: 0;
  }
}
</style>
