<template>
  <div :class="{ 'loading-icon': true, 'no-bg': !bg }">
    <svg-icon name="loading" />
  </div>
</template>

<script lang="ts">
export default {
  name: 'PartLoading',
  props: {
    bg: {
      type: Boolean,
      default: true
    }
  },
  setup() {
    return {};
  }
};
</script>

<style lang="less" scoped>
.loading-icon {
  position: relative;
  min-height: 20px;
  background: #fff;
  &.no-bg {
    background: transparent;
  }
  > .svg-icon {
    display: block;
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
