.oddsValue {
  &.up {
    color: #f00 !important;
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 3px solid transparent;
      border-bottom: 8px solid red;
      animation: up-animat 0.7s linear 6;
      position: absolute;
      top: 3px;
      right: -7px;
    }
  }
  &.down {
    color: @primary-color !important;
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 3px solid transparent;
      animation: down-animat 0.7s linear 6;
      border-top: 8px solid green;
      position: absolute;
      top: 7px;
      right: -7px;
    }
  }
  @keyframes up-animat {
    0% {
      opacity: 0.5;
      transform: translateY(0px);
    }
    70% {
      opacity: 1;
      transform: translateY(-5px);
    }
    100% {
      opacity: 0.5;
      transform: translate(0px);
    }
  }

  @keyframes down-animat {
    0% {
      opacity: 0.5;
      transform: translateY(0px);
    }
    70% {
      opacity: 1;
      transform: translateY(5px);
    }
    100% {
      opacity: 0.5;
      transform: translate(0px);
    }
  }
}
