@import './transition/index.less';
@import './public.less';
@import './vant/index.less';
@import './element/index.less';
@import './mixin.less';

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

html {
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

.mico-detail-lock {
  height: 100% !important;
}

html,
body {
  width: 100%;
  overflow: scroll !important;
  overflow-x: hidden !important;
  font-size: 12px;
}

@media screen and (min-width: 750px) {
  body {
    width: 750px;
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 100%;
    margin: 0 auto !important;
  }
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}

.key-board-container .van-number-keyboard__keys .van-key__wrapper {
  flex: unset !important;
  width: calc(100% / 3);

  &:nth-child(10) {
    display: none !important;
  }
}

.is-micro-app {
  height: calc(100vh - 50px);
  overflow: hidden;
  box-sizing: border-box;

  .home {
    padding-bottom: 50px !important;
  }
}

/* 修复 el-loading 位置向下偏移 */
.el-loading-spinner {
  margin-top: calc((var(--el-loading-spinner-size)) / -2) !important;
  .el-icon-loading {
    font-size: 30px;
  }
}

// 修改elmui主题色
:root {
  --el-color-primary: @primary-color;
}

// 按钮主色调
.el-button--primary {
  --el-button-background-color: @primary-color;
  --el-button-border-color: @primary-color;
  --el-button-hover-color: #539f8a;
  --el-button-active-font-color: #e6e6e6;
  --el-button-active-background-color: @primary-color;
  --el-button-active-border-color: @primary-color;
}

// 公用弹出按钮
.el-dialog {
  border-radius: 6px !important;
  overflow: hidden;

  // header使用主题色渐变背景
  &.colored-header {
    .el-dialog__header {
      background: linear-gradient(-79deg, #50a6a5, #6fc197);
      height: 33px;
      padding: 0;
      line-height: 33px;
      border-radius: 5px 5px 0 0;

      .el-dialog__title {
        color: #fff;
        line-height: 33px;
        font-size: 16px;
      }

      .el-dialog__headerbtn[aria-label='close'] {
        top: 6px;
        right: 15px;
        background: #fff;

        .el-dialog__close {
          color: @primary-color;
        }
      }
    }
  }

  .el-dialog__body {
    padding-top: 10px;
  }

  .el-dialog__headerbtn[aria-label='close'] {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    line-height: 15px;
    background: @primary-color;

    .el-dialog__close {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &.blank {
    border-radius: 4px;
    overflow: hidden;

    .el-dialog__header {
      display: none;
    }

    .el-dialog__body {
      padding-top: 0;
      padding: 0;
    }
  }
}

.loadingNode {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(255, 255, 255, 0.9);
}

.PositionFixed {
  position: fixed !important;
  top: 0 !important;
}

.main-content {
  height: auto !important;
}
