.text-overflow () {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.transition-default() {
  &-enter-active,
  &-leave-active {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
  }

  &-move {
    transition: transform 0.4s;
  }
}
