#sports-app {
  width: 100%;
}

.global-popup {
  width: 100%;
  height: 100%;
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

.league-sort-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: @white !important;
}

.odd-number {
  font-size: @font-size-md;
  color: @text-color;
  position: relative;
  &.up-icon {
    color: red !important;
  }
  &.up-icon::after {
    content: '';
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 8px solid red;
    animation: up-animat 0.7s linear 6;
    position: absolute;
    top: 3px;
    right: -7px;
  }
  &.down-icon {
    color: green !important;
  }
  &.down-icon::after {
    content: '';
    width: 0;
    height: 0;
    border: 3px solid transparent;
    animation: down-animat 0.7s linear 6;
    border-top: 8px solid green;
    position: absolute;
    top: 7px;
    right: -7px;
  }
}

@keyframes up-animat {
  0% {
    opacity: 0.5;
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0.5;
    transform: translate(0px);
  }
}

@keyframes down-animat {
  0% {
    opacity: 0.5;
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 0.5;
    transform: translate(0px);
  }
}

.clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.date-detail-popup {
  background-color: @background-color !important;
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}
