<template>
  <div class="not-found-page">
    <h2>404</h2>
    <h3>页面已经不知所踪</h3>
    <!-- 404 -->
    <div class="link-to-home"><router-link to="/">回到首页</router-link></div>
  </div>
</template>

<style lang="less" scoped>
.not-found-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2,
  h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: @gray-5;
  }
  > h2 {
    font-size: 150px;
    text-align: center;
  }
  > h3 {
    font-size: 14px;
    text-align: center;
  }
  .link-to-home {
    > a {
      border-radius: 100px;
      padding: 10px 40px;
      border: 1px solid @gray-1;
      font-size: @font-size-md;
      color: @text-color;
      display: block;
      margin: 10px;
    }
  }
}
</style>
