<template>
  <div @click.stop class="bet-odds" v-if="!!oddSet && oddSet.MarketStatus === MarketStatusEnum.running">
    <div
      :class="{
        'bet-odds__item': true,
        active: storeOddId === oddSet.OddsId + item.Key && isParlayComputed
      }"
      v-for="(item, index) in oddSet.sels"
      :key="index + 'odds'"
      :oddid="oddSet.OddsId + item.Key"
      @click.stop="onHandleAddBet({ ...item, ...oddSet }, oddSet.OddsId + item.Key)"
    >
      <div class="odd-left" v-if="item.Price > 0">
        <div class="increase">
          {{
            betType === BetTypeEnum.proposition
              ? propositionEnum[index]
              : betType === BetTypeEnum.jolly
              ? `${item.KeyName}${item.Point}`
              : [BetTypeEnum.winner, BetTypeEnum.windOrLose].includes(betType)
              ? cricketWinerEnum[index]
              : item.Point
          }}
        </div>
        <div class="odds">
          <OddsPrice :key="oddSet.OddsId + item.Key" :value="item.Price" />
        </div>
      </div>
      <svg-icon class="lock-icon" name="lock_h5" v-else />
    </div>
  </div>
  <div @click.stop class="bet-odds" v-else>
    <div
      class="bet-odds__item"
      v-for="(item, index) in betType === BetTypeEnum.proposition ? 3 : 2"
      :key="index + '_odds'"
    >
      <svg-icon class="lock-icon" name="lock_h5" />
    </div>
  </div>
</template>

<script lang="ts">
import { computed } from 'vue';
import { MarketStatusEnum } from '@/common';
import { BetTypeEnum } from '@/common';
import OddsPrice from './OddsPrice.vue';
import { useBet } from '@/hooks/useBet';
import { useAuth } from '@/hooks';
import { Toast } from 'vant';
import { useStore } from 'vuex';
import { OddSelItem } from '@/store/types';

const propositionEnum = ['主', '和', '客'];
const cricketWinerEnum = ['主', '客'];

export default {
  name: 'BetOddsItem',
  components: { OddsPrice },
  props: {
    oddSet: {
      type: Object,
      default: null
    },
    betType: {
      type: Number
    },
    matchId: {
      type: Number,
      default: 0
    },
    parentID: {
      type: Number,
      default: 0
    }
  },
  emits: ['add-bet'],
  setup(props, { emit }) {
    const store = useStore();

    const { isParlayComputed, removeTicket } = useBet();
    const { checkIsLogin } = useAuth();
    // 投注统计
    const betCounter = computed(() => store.getters.betCounter);
    // 串关缓存id
    const currentOddsId = computed(() => store.getters.currentOddsId);

    const storeOddId = computed(() => {
      const ids = store.getters.currentOddsId;
      const mid = ids[props.parentID || props.matchId];
      return !!mid ? mid : '';
    });

    const onHandleAddBet = (betItem: OddSelItem, oddsKey: string) => {
      // 检查是否登录
      if (!checkIsLogin()) return;
      const mid = props.parentID || props.matchId;
      // 先看看有没有钱
      // if (sbWalletBalance.value <= 0) {
      //   Toast('你没有足够的资金余额进行投注');
      //   return;
      // }
      const isAcrive = storeOddId.value === oddsKey; // 当前选中
      if (isParlayComputed.value) {
        if (!currentOddsId.value[mid] && betCounter.value >= 10) {
          Toast('超过最大串关数');
          return;
        }
        if (isAcrive) {
          // 移除当前ticket
          removeTicket(props.oddSet.OddsId);
          // 移除id
          store.dispatch('REMOVE_CURRENT_ODDS_ID', { matchId: mid });
          return;
        } else {
          // 添加当前ID
          store.dispatch('SET_CURRENT_ODDS_ID', { matchId: mid, oddsKey });
        }
      }
      emit('add-bet', { betItem });
    };

    return {
      MarketStatusEnum,
      onHandleAddBet,
      BetTypeEnum,
      storeOddId,
      propositionEnum,
      cricketWinerEnum,
      isParlayComputed
    };
  }
};
</script>

<style lang="less" scoped>
.bet-odds {
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  background-color: @gray-1;
  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 45px;
    &.active {
      background-color: @primary-color;
      &::after {
        display: none;
      }
      .odd-left {
        .increase,
        .odd-number {
          color: @white;
          &.up-icon,
          &.down-icon {
            color: @white !important;
          }
        }
      }
    }
    &::after {
      content: '';
      width: 1px;
      height: 50%;
      background-color: @gray-3;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    .odd-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      .increase {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #a6a7ac;
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #a6a7ac;
      }
      .odds {
        flex: 1;
        display: flex;
        justify-content: center;
        font-size: @font-size-md;
        font-weight: bold;
        color: @text-color;
      }

      .odd-left {
        .increase,
        .odds {
          font-size: @font-size-md;
          border-right: 1px solid @gray-1;
          flex: 1;
          display: flex;
          justify-content: center;
          font-weight: bold;
          color: @text-color;
        }
      }
    }
    .lock-icon {
      fill: @gray-4;
      width: 20px;
      height: 20px;
    }
  }
}
</style>
