<template>
  <div class="sports-match-item" @click="clickPathDetail">
    <TimerHeader :moreInfo="fixedMoreInfo">
      <span class="star-icon">
        <span class="dateNum">
          <span class="nu">
            {{ itemInfo.MarketCount || 0 }}
          </span>
          <van-icon name="arrow" />
        </span>
        <!-- 收藏 -->
        <van-icon class="marked-icon" :name="isFavortsMatch ? 'star' : 'star-o'" @click.stop="handleFavortMatch" />
      </span>
    </TimerHeader>
    <div class="match-item-content">
      <div class="team-name">
        <span class="item">
          <div class="itemH">
            <team-logo :sportId="itemInfo.SportType" size="md" :teamName="itemInfo.HomeName" />
            <span> {{ itemInfo.HomeName }} </span>
          </div>
          <div class="card">
            <span class="cardY" v-if="itemInfo.MoreInfo.YellowCardH !== 0">
              {{ itemInfo.MoreInfo.YellowCardH }}
            </span>
            <span class="cardR" v-if="itemInfo.MoreInfo.RedCardH !== 0">
              {{ itemInfo.MoreInfo.RedCardH }}
            </span>
          </div>
        </span>
        <span class="item">
          <div class="itemA">
            <team-logo :sportId="itemInfo.SportType" size="md" :teamName="itemInfo.AwayName" />
            <span> {{ itemInfo.AwayName }} </span>
          </div>
          <div class="card">
            <span class="cardY" v-if="itemInfo.MoreInfo.YellowCardA !== 0">
              {{ itemInfo.MoreInfo.YellowCardA }}
            </span>
            <span class="cardR" v-if="itemInfo.MoreInfo.RedCardA !== 0">
              {{ itemInfo.MoreInfo.RedCardA }}
            </span>
          </div>
        </span>
      </div>
      <div class="score" v-if="periodId === 3">
        <!-- 排球比分处理 -->
        <template v-if="[6, 9].includes(itemInfo.SportType)">
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.Serve === '1',
              'win-color': isHight(otherSportSocoreH, otherSportSocoreA)
            }"
          >
            {{ otherSportSocoreH }}
          </span>
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.Serve === '2',
              'win-color': isHight(otherSportSocoreA, otherSportSocoreH)
            }"
          >
            {{ otherSportSocoreA }}
          </span>
        </template>
        <!-- 乒乓球比分处理 -->
        <template v-else-if="[18].includes(itemInfo.SportType)">
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.Serve === '1',
              'win-color': isHight(itemInfo.MoreInfo.GetGamesH, itemInfo.MoreInfo.GetGamesH)
            }"
          >
            {{ itemInfo.MoreInfo.GetGamesH || '0' }}
          </span>
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.Serve === '2',
              'win-color': isHight(itemInfo.MoreInfo.GetGamesA, itemInfo.MoreInfo.GetGamesA)
            }"
          >
            {{ itemInfo.MoreInfo.GetGamesA || '0' }}
          </span>
        </template>
        <!-- 网球比分 -->
        <template v-else-if="[5].includes(itemInfo.SportType)">
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.TennisCurrentServe === 1,
              'win-color': isHight(itemInfo.MoreInfo.ScoreH, itemInfo.MoreInfo.ScoreA)
            }"
          >
            {{ itemInfo.MoreInfo.TennisHomePointScore || '0' }}
          </span>
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.TennisCurrentServe === 2,
              'win-color': isHight(itemInfo.MoreInfo.ScoreA, itemInfo.MoreInfo.ScoreH)
            }"
          >
            {{ itemInfo.MoreInfo.TennisAwayPointScore || '0' }}
          </span>
        </template>
        <template v-else>
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.TennisCurrentServe === 1,
              'win-color': isHight(itemInfo.MoreInfo.ScoreH, itemInfo.MoreInfo.ScoreA)
            }"
          >
            {{ itemInfo.MoreInfo.ScoreH || '0' }}
          </span>
          <span
            :class="{
              scorebox_s: itemInfo.MoreInfo.TennisCurrentServe === 2,
              'win-color': isHight(itemInfo.MoreInfo.ScoreA, itemInfo.MoreInfo.ScoreH)
            }"
          >
            {{ itemInfo.MoreInfo.ScoreA || '0' }}
          </span>
        </template>
      </div>
      <BetOddsItem
        :matchId="itemInfo.MatchId"
        :parentID="itemInfo.ParentID"
        :oddSet="getOddSets(betType)"
        @add-bet="onAddBet"
        :betType="betType"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { computed } from 'vue';
import BetOddsItem from './BetOddsItem.vue';
import { useRouter } from 'vue-router';
import { useBet } from '@/hooks/useBet';
import { useStore } from 'vuex';
import { BetTypeEnum } from '@/common';
import TimerHeader from './TimeHeader.vue';
import { sumBy } from 'lodash-es';
import { useAuth } from '@/hooks';

import { useFavortMatch } from '@/hooks';
import { TechId } from '@/common/enums/sportsTechEnum';
import { Toast } from 'vant';
import { OddSelItem } from '@/store/types';

export default {
  name: 'MatchItem',
  components: {
    TimerHeader,
    BetOddsItem
  },
  props: {
    itemInfo: {
      type: Object,
      default: null
    },
    betType: {
      type: Number
    },
    periodId: {
      type: Number,
      default: 3
    },
    isParlay: {
      type: Boolean
    }
  },
  emits: ['collect-match'],
  setup(props, { emit }) {
    const router = useRouter();
    const store = useStore();

    // 预投注
    const { addBet, isParlayComputed } = useBet();

    const { checkIsLogin } = useAuth();

    // 关注hook
    const { mark, isMarkedById } = useFavortMatch();

    // 排球比分 主
    const otherSportSocoreH = computed(() => {
      const { MoreInfo } = props.itemInfo;
      const llp = Number(MoreInfo.LLP);
      let numbeArr: number[] = [];
      for (let index = 1; index <= llp; index++) {
        numbeArr.push(Number(MoreInfo[`H${index}S`]));
      }
      return sumBy(numbeArr) || 0;
    });
    // 排球比分 主
    const otherSportSocoreA = computed(() => {
      const { MoreInfo } = props.itemInfo;
      const llp = Number(MoreInfo.LLP);
      let numbeArr: number[] = [];
      for (let index = 1; index <= llp; index++) {
        numbeArr.push(Number(MoreInfo[`A${index}S`]));
      }
      return sumBy(numbeArr) || 0;
    });

    const fixedMoreInfo = computed(() => {
      const { MoreInfo, MatchId, SportType, ParentID, IsHT } = props.itemInfo;
      let techInfo = {};
      if (SportType === 1) {
        const tech = store.getters.getTechById(MatchId) || new Map();
        const half = store.getters.getHalfById(MatchId) || new Map();
        const [homeCorners, awayCorners] = ParentID > 0 ? [0, 0] : tech.get(TechId.CORNER) || [0, 0];
        const [homeHalfScore, awayHalfScore] =
          tech.get(TechId.HALF_SCORE) || half || (IsHT ? [MoreInfo.ScoreH, MoreInfo.ScoreA] : [0, 0]);
        const iip = (MoreInfo.InPlayTime || '').split(' ')[0];
        const showHt = IsHT || iip === '2H';
        techInfo = { homeCorners, awayCorners, homeHalfScore, awayHalfScore, showHt };
      }
      return { ...MoreInfo, ...props.itemInfo, ...techInfo };
    });

    const methods = {
      handleFavortMatch: async () => {
        // 检查是否登录
        if (!checkIsLogin()) return;
        await mark();
        emit('collect-match');
      },
      clickPathDetail: () => {
        // 检查是否登录
        // console.log(props.itemInfo);
        if (!checkIsLogin()) return;
        router.push({
          path: '/detail',
          query: {
            sportId: props.itemInfo.SportType,
            periodId: props.periodId === -1 ? 0 : props.periodId, // 关注列表参数为0
            matchId: props.itemInfo.MatchId,
            LeagueId: props.itemInfo.LeagueId,
            isParlay: props.isParlay as any
          }
        });
        // sportId=1&periodId=1&oddsType=1&eventIds=42808603
      },
      onAddBet: ({ betItem }: { betItem: OddSelItem }) => {
        // 检查是否登录
        if (!checkIsLogin()) return;
        const betPrams = {
          ...betItem,
          ...props.itemInfo,
          ...props.itemInfo.MoreInfo
        };
        isParlayComputed.value && Toast('添加串关成功');
        addBet(betPrams);
      },
      // 获取oddSet
      getOddSets: (type: number) => {
        let oddSetdata: any[] = [];
        oddSetdata = props.itemInfo.oddset.filter((item: any) => {
          return item.Bettype === type;
        });
        return oddSetdata[0];
        // if (type === BetTypeEnum.proposition) {
        //   return oddSetdata[0];
        // }
        // return maxBy(oddSetdata, 'Sort');
      },
      isHight: (a: number, b: number) => {
        if (a === 0 && b === 0) return false;
        return a >= b;
      }
    };

    return { ...methods, BetTypeEnum, isFavortsMatch, otherSportSocoreH, otherSportSocoreA, fixedMoreInfo };
  }
};
</script>
