<template>
  <div class="odd-number" :class="floatClass">{{ value }}</div>
</template>

<script lang="ts">
import { ref, watch } from 'vue';

export default {
  name: 'OddsPrice',
  props: {
    value: {
      type: Number,
      default: 0
    }
  },
  setup(props) {
    const floatClass = ref('');

    // 监听值
    watch(
      () => props.value,
      (newVal, oldVal) => {
        if (newVal > oldVal) {
          floatClass.value = 'up-icon';
        } else if (newVal < oldVal) {
          floatClass.value = 'down-icon';
        }
        // todo 添加一个代理处理 统一清空class
        setTimeout(() => {
          floatClass.value = '';
        }, 5 * 1000);
      }
    );

    return { floatClass };
  }
};
</script>

<style lang="less" scoped></style>
