<template>
  <div class="video-player">
    <div class="video-player-lines-switch" v-show="urls.length > 1">
      <span class="video-player-current-line" @click="state.showLines = !state.showLines">
        线路{{ state.currentLine + 1 }}
      </span>
      <div class="video-player-candidate-line" v-if="state.showLines">
        <div class="video-player-line-item" v-for="(line, index) in urls" :key="index" @click="switchLine(line, index)">
          线路{{ index + 1 }} <svg-icon name="checked" v-show="state.currentLine === index" />
        </div>
      </div>
    </div>
    <div id="dplayer" ref="player" class="live-video-view"></div>
    <video id="live-video-test" ref="video" style="display: none"></video>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, onBeforeUnmount, reactive, PropType } from 'vue';

export default defineComponent({
  name: 'LiveVideo',
  props: {
    urls: {
      type: Array as PropType<string[]>,
      default: () => []
    }
  },
  setup(props) {
    const player = ref(null);
    const video = ref<HTMLVideoElement | null>(null);
    let dplayer: any;

    const state = reactive({
      showLines: false,
      currentLine: 0
    });

    const switchLine = async (line: string, i: number) => {
      if (state.currentLine === i) return;
      state.currentLine = i;
      state.showLines = false;
      initPlayer(line);
    };

    const initPlayer = async (url?: string) => {
      let isCanPlatHls = '';
      if (video.value) {
        // 判断浏览器是否原生支持播放hls
        isCanPlatHls =
          video.value.canPlayType('application/x-mpegURL') || video.value.canPlayType('application/vnd.apple.mpegURL');
      }
      if (!isCanPlatHls && !window.Hls) {
        // 不支持动态加载hls.js 进行软解码
        window.Hls = (await import(/* webpackChunkName: "hls" */ 'hls.js')).default;
      }
      const Dplayer = (await import(/* webpackChunkName: "hdplayerls" */ 'dplayer')).default;
      dplayer = new Dplayer({
        container: player.value,
        autoplay: true,
        lang: 'en',
        live: true,
        video: {
          url: url || props.urls[0],
          type: 'hls'
        }
      });
    };
    onBeforeUnmount(() => {
      dplayer && dplayer.destroy();
      dplayer = null;
    });
    onMounted(async () => {
      const p = player.value;
      !!p && (await initPlayer());
    });

    return { player, video, state, switchLine };
  }
});
</script>

<style lang="less">
.live-video-view {
  &.dplayer {
    height: 100%;
    .dplayer-mobile-play,
    .dplayer-full-in-icon {
      display: none !important;
    }
  }
}

.video-player {
  height: 100%;
  width: 100%;
  position: relative;
  &-lines-switch {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #000;
    z-index: 1;
    border-radius: 100px;
    padding: 2px 8px;
  }
  &-line-item {
    font-size: 12px;
    border-bottom: 1px solid #f2f2f2;
    padding: 4px 10px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .svg-icon {
      width: 12px;
      height: 12px;
    }
    &:last-child {
      border: none;
    }
  }
  &-candidate-line {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    right: 0;
    top: 30px;
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      right: 20px;
      top: -5px;
    }
  }
  &-current-line {
    font-size: 12px;
    position: relative;
    color: #fff;
  }
}
</style>
