<template>
  <PartLoading v-if="isFreshing" :bg="false" class="refresh-button-lodaing-icon" />
  <span class="wallet-blance" :class="{ 'is-show-btn': !showBtn }" v-else @click.stop="onHandleFresh">
    {{ isLogin ? showBalanceNumber : '--' }}
  </span>
  <div class="refresh-button" v-if="showBtn">
    <svg
      t="1619358105000"
      class="refresh-button-icon"
      :class="{ 'aimation-cicle': isFreshing }"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="2634"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      @click.stop="onHandleFresh"
    >
      <path
        d="M512 998.4c-268.1344 0-486.4-218.17344-486.4-486.4a44.2368 44.2368 0 0 1 44.21632-44.21632A44.2368 44.2368 0 0 1 114.03776 512c0 219.41248 178.54976 397.96224 397.96224 397.96224 107.008 0 207.2064-42.27072 281.05216-116.02944h-84.992a44.17536 44.17536 0 0 1-44.21632-44.21632 44.17536 44.17536 0 0 1 44.22144-44.21632h176.8704a44.288 44.288 0 0 1 38.73792 22.9888c7.7824 14.15168 7.16288 31.39584-1.50528 45.1072C832.13824 914.29376 678.88128 998.4 512 998.4z m442.18368-442.18368a44.2368 44.2368 0 0 1-44.22144-44.21632c0-219.41248-178.54976-397.96224-397.96224-397.96224-107.008 0-207.2064 42.35776-280.96 116.02944h84.98688a44.17536 44.17536 0 0 1 44.21632 44.21632 44.17536 44.17536 0 0 1-44.21632 44.21632H139.15136a44.288 44.288 0 0 1-37.31968-68.00384C191.7696 109.70112 345.11872 25.6 512 25.6c268.1344 0 486.4 218.2656 486.4 486.4a44.2368 44.2368 0 0 1-44.21632 44.21632z"
        p-id="2635"
      />
    </svg>
  </div>
</template>

<script lang="ts">
import { ref, PropType, computed } from 'vue';
import { useStore } from 'vuex';
import PartLoading from '@/components/part-load/index.vue';
import { useBet } from '@/hooks/useBet';
import { useAuth } from '@/hooks';
import { currency } from '@/common/utils';

type BlanceType = 'game' | 'total' | 'shaba';

export default {
  name: 'RefreshButton',
  components: { PartLoading },
  props: {
    // 是否显示刷新按钮
    showBtn: {
      default: true,
      type: Boolean
    },
    // 显示钱包类型
    type: {
      default: 'total',
      type: String as PropType<BlanceType>
    },
    // 是否转账到shaba体育账户
    transfer: {
      default: false,
      type: Boolean
    }
  },
  setup(props) {
    const store = useStore();
    const { gameBalance } = useBet();
    const { checkIsLogin, isLogin } = useAuth();
    const isFreshing = ref(false);

    const onHandleFresh = async () => {
      if (!checkIsLogin()) return;
      if (isFreshing.value) return;
      isFreshing.value = true;
      try {
        props.transfer && (await store.dispatch('TRANSFER_INGAME_AMOUNT', { platformCode: 'SB' }));
        await store.dispatch('GET_SPORTS_BALANCE');
        isFreshing.value = false;
      } catch (error) {
        isFreshing.value = false;
        return;
      }
      isFreshing.value = false;
    };

    // 显示余额
    const showBalanceNumber = computed(() => {
      let balance = 0;
      switch (props.type) {
        case 'total':
          balance = store.getters.totalBalance;
          break;
        case 'game':
          balance = store.getters.gameBalance;
          break;
        case 'shaba':
          balance = store.getters.SBwallet;
          break;
        default:
          break;
      }
      return currency(balance);
    });

    return { onHandleFresh, isFreshing, gameBalance, isLogin, showBalanceNumber };
  }
};
</script>

<style lang="less" scoped>
@width: 15px;
.wallet-blance {
  font-family: DINAlternate-Bold;
  font-size: @font-size-lg;
  font-weight: bold;
  color: #fff;
  min-width: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  &.is-show-btn {
    min-width: unset;
  }
}
.refresh-button {
  width: @width;
  height: @width;
  margin: 0 3px;
  &-icon {
    width: @width;
    height: @width;
    fill: #fff;
    display: block;
  }
  &-lodaing-icon {
    height: 14px;
    width: 30px;
    :deep(img) {
      transform: translate(-50%, -50%) scale(0.6);
    }
  }
}
</style>
