<template>
  <!-- 单投 -->
  <div v-if="!data.parlayData">
    <div class="betting-result-item" :class="tagClassName(data.ticketStatus)">
      <div class="tag"></div>
      <div class="bet-title">
        <div class="title-text">
          <span class="font-text">{{ data.homeName }} vs {{ data.awayName }}</span>
          <span class="font-text">{{ tagTicketName(data.ticketStatus) }}</span>
        </div>
        <div class="match-info">
          <span>{{ data.leagueName || '--' }}</span>
          <span>{{ toTime(data.matchTime, 'YYYY-MM-DD HH:mm:ss') || '--' }}</span>
        </div>
      </div>
      <div class="hr"></div>
      <div class="p-w16 bet-match-info">
        <div class="black-text flex-center f-s-p">
          <div class="information">
            <span>
              <span>{{ data.exculding.BetSelection }} {{ data.exculding.Handicap }}</span>
            </span>
            <span>@{{ data.odds || '--' }}</span>
          </div>
        </div>
        <div class="gray-text bet-information">
          {{ data.betType }}
          <span v-if="!!data.homeScore && !!data.awayScore">
            ({{ `${data.homeScore || '--'}:${data.awayScore || '--'}` }})
          </span>
        </div>
        <div class="black-text bet-match-info-footer">
          <div class="amount">
            {{ t('lang.sport_bet_betAmount') }}
            <span>
              {{ currency(data.stake) || '--' }}
              <span class="amount-kind">({{ data.currency }})</span>
            </span>
          </div>
          <div class="amount">
            {{ status === 0 ? t('lang.sport_bet_winAmount') : t('lang.sport_orders_winLost') }}
            <span :class="status === 0 ? winLostAmountClass(data.winLostAmount) : null">
              {{ currency(data.winLostAmount) || '--' }}<span class="amount-kind">({{ data.currency }})</span>
            </span>
          </div>
        </div>
      </div>
      <div class="p-w16">
        <div class="gray-text">
          {{ toTime(data.creationDate, 'YYYY-MM-DD HH:mm:ss') || '--:--' }} ({{ oddsTypeName(data.oddsType) }})
        </div>
        <div class="gray-text">
          <span> {{ t('lang.sport_orders_orderNumber') }}: {{ data.id || '--' }} </span>
          <span v-if="!!data.id" class="copy-text" @click="handleClickCopy(data.id)">{{
            t('lang.sport_orders_copy')
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 串关 -->
  <div v-if="parlayData.length > 0 && parlayData">
    <div class="betting-result-item" :class="tagClassName(data.ticketStatus)">
      <div class="tag"></div>
      <div class="betting-result-parlayData">
        <div class="bet-title">
          <div class="title-text">
            <span class="font-text">{{ t('lang.sport_orders_parlayBet') }}</span>
            <span class="font-text">{{ tagTicketName(data.ticketStatus) }}</span>
          </div>
          <div class="match-info">
            <span class="match">{{ parlayData.length || 0 }}场: {{ getComboTypeLabel(data.comboType) }}</span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="hr"></div>
      <div class="parlay">
        <div
          class="parlay-item background"
          v-for="item in parlayData"
          :key="item.parlay_id"
          @click.stop="
            toDetailPath({ matchId: item.matchId, sportId: item.sportType, isParlay: true, isLive: item.islive })
          "
        >
          <div class="black-text flex-center">
            <div class="title-parlay-data-text">
              <span class="font-text parlay-data-text">
                {{ item.homeName }} vs {{ item.awayName }}{{ item.exculding.Handicap }}
              </span>
              <span class="black-text" :title="`@${item.odds || '--'}`">
                {{ get(item, 'exculding.BetSelection') }} &nbsp;@{{ item.odds || '--' }}
              </span>
            </div>
          </div>
          <div class="gray-text">
            <span>{{ item.betType }}</span>
          </div>
          <div class="gray-text">{{ item.leagueName }}</div>
          <div class="gray-text">
            {{ toTime(item.matchTime, 'YYYY-MM-DD HH:mm') }}({{ oddsTypeName(item.oddsType) }})
          </div>
        </div>
      </div>
      <div class="p-w16">
        <div class="parlay-item-footer background">
          <div class="amount">
            {{ t('lang.sport_bet_betAmount') }}
            <span>
              {{ data.stake || '--' }}
              <span class="amount-kind">({{ data.currency }})</span>
            </span>
          </div>
          <div class="amount">
            {{ status === 0 ? t('lang.sport_bet_winAmount') : t('lang.sport_orders_winLost') }}
            <span :class="status === 0 ? winLostAmountClass(data.winLostAmount) : null">
              {{ currency(data.winLostAmount) || '--' }}
              <span class="amount-kind">({{ data.currency }})</span>
            </span>
          </div>
        </div>
      </div>
      <div class="p-w16">
        <div class="gray-text">
          {{ toTime(data.creationDate, 'YYYY-MM-DD HH:mm:ss') || '--:--' }} ({{ oddsTypeName(data.oddsType) }})
        </div>
        <div class="gray-text">
          <span> {{ t('lang.sport_orders_orderNumber') }}: {{ data.id || '--' }} </span>
          <span v-if="!!data.id" class="copy-text" @click="handleClickCopy(data.id)">{{
            t('lang.sport_orders_copy')
          }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType, computed } from 'vue';
import { useCopyToClipboard } from '@/hooks/useCopyToClipboard';
import { Toast } from 'vant';
import { MarketTypeList, ParlayComboType, SettlementList } from '@/common/enums';
import { currency, toTime } from '@/common/utils';
import { useI18n } from 'vue-i18n';
import { get } from 'lodash-es';
//注单状态 已结算 8:赢半 6:输半 7. won (赢)5. lose (输)9. draw (平) 未结算2. running (进行中)1. waiting (等待)其他15. reject(拒绝)16. refund（退款）4. void (取消)

interface HistoryItem {
  [name: string]: any;
}

export default {
  name: 'BetRocordItem',
  props: {
    data: {
      type: Object as PropType<HistoryItem>,
      default: () => {}
    },
    status: {
      type: Number
    }
  },

  setup(props) {
    const parlayData = computed(() => props.data.parlayData || []);
    const { t } = useI18n();
    const methods = {
      currency,
      // 盘口名字
      oddsTypeName: (type: number) => {
        const obg = MarketTypeList.find(ty => ty.value === type);
        return t(obg?.label || '--');
      },
      // 复制
      handleClickCopy: (txt: string) => {
        const { isSuccessRef } = useCopyToClipboard(JSON.stringify(txt, null, 2));
        if (isSuccessRef.value) {
          Toast('复制成功');
        }
      },
      // 输赢样式
      winLostAmountClass(numberStr: number) {
        const n = Number(numberStr);
        return n === 0 ? '' : n > 0 ? 'red-text' : 'green-text';
      },
      // 显示标识样式
      tagClassName: (ticketStatus: number) => {
        const obj = SettlementList.find(e => e.value === ticketStatus);
        return obj?.code || '';
      },
      // 显示标识字段
      tagTicketName: (ticketStatus: number): string => {
        const obj = SettlementList.find(e => e.value === ticketStatus);
        return t(obj?.i18n || '');
      },
      // 单个翻译
      getComboTypeLabel: (text: string) => {
        const findObj = ParlayComboType.find(e => text.includes(e.code));
        return !!findObj ? findObj.label : '';
      },
      get,
      toTime
    };
    return { ...methods, parlayData, t };
  }
};
</script>

<style lang="less" scoped>
.flex-center {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.title-text {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title-parlay-data-text {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}

.parlay-data-text {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-text {
  font-weight: 600;
}
.betting-result-item {
  position: relative;
  background-color: @white;
  padding: 10px 0;
  border-bottom: 6px solid @border-color;
  .bet-title {
    position: relative;
    margin: 6px 16px;
    padding-left: 10px;
    &::before {
      content: '';
      position: absolute;
      left: 0px;
      width: 3px;
      height: 100%;
      border-radius: 3px;
      background-color: @green;
      display: block;
    }
  }
  .match-info {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    color: #333;
    font-size: 12px;
    span:first-child {
      max-width: 58%;
    }
    span:last-child {
      text-align: right;
      min-width: 40%;
    }
  }
  .tag {
    position: absolute;
    width: 60px;
    height: 30px;
    right: 16px;
    bottom: 15px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }
  &.won .tag {
    background-image: url('./assets/win.png');
  }
  &.won {
    .bet-title-front-span {
      background-color: red !important;
    }
  }
  &.reject,
  &.draw,
  &.refund,
  &.void {
    .bet-title-front-span {
      background-color: @gray-5 !important;
    }
  }
  &.draw .tag {
    background-image: url('./assets/draw.png');
  }
  &.lose .tag {
    background-image: url('./assets/lose.png');
  }
  &.WinHalf .tag {
    background-image: url('./assets/win_half.png');
  }
  &.LoseHalf .tag {
    background-image: url('./assets/lose_half.png');
  }
  &.won,
  &.WinHalf {
    .bet-title-front-span {
      background-color: @red !important;
    }
  }
  &.lose,
  &.LoseHalf {
    .bet-title-front-span {
      background-color: @green;
    }
  }
  &.lose,
  &.LoseHalf {
    .bet-title-front-span {
      background-color: @primary-color !important;
    }
  }
  &.reject,
  &.draw {
    .bet-title-front-span {
      background-color: @gray-6;
    }
  }

  .bet-match-info {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 153, 68, 0.05);
    margin: 12px 16px;
    border-radius: 12px;

    &-footer {
      padding-top: 30px;
    }
  }
  .bet-information {
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2;
  }
}

.black-text {
  font-size: 14px;
  padding: 5px 0;
  color: @text-color;
}

.gray-text {
  font-size: 12px;
  padding: 3px 0;
  color: @gray-6;
}

.hr {
  border-top: 1px solid @border-color;
}

.p-w16 {
  padding-left: 16px;
  padding-right: 16px;
}

.win-lost-amount {
  color: @text-color;
}

.green-text {
  color: @green !important;
}

.red-text {
  color: @red !important;
}
.red {
  color: rgb(238, 54, 54);
  font-size: 16px;
}
.green {
  color: rgb(25, 145, 25);
  font-size: 16px;
}
.copy-text {
  color: @primary-color;
}

.f-s-p {
  justify-content: space-between;
}

.parlay {
  border-radius: 12px 12px 0 0;
  margin: 12px 16px 0 16px;
  overflow: hidden;
  &-item {
    border-bottom: 1px solid @border-color;
    padding: 6px 12px;
    &-footer {
      padding: 25px 16px 18px 16px;
      border-radius: 0 0 12px 12px;
    }
  }
}

.information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &-kind {
    font-size: 12px;
    font-weight: 500;
    color: #9a9a9a;
  }
}
.background {
  background: rgba(0, 153, 68, 0.05);
}
.betting-result-parlayData {
  margin-bottom: 12px;
  position: relative;
}
</style>
