<template>
  <div class="bet-info">
    <div :class="{ leftInfo: true, 'odd-block': showBlock && !!data.oddInfo.OddStatus }">
      <div class="bet-type">
        <span>{{ data.oddInfo.BettypeName || '--' }}</span>
      </div>
      <div class="game-type">{{ data.matchInfo.LeagueName || '--' }}</div>
      <div class="game-team">
        {{ data.matchInfo.HomeName || '--' }}
        <span>vs</span>
        {{ data.matchInfo.AwayName || '--' }}
      </div>
    </div>
    <div class="right-info">
      <div
        :class="{
          odds: true,
          'is-lock': !!data.oddInfo.OddStatus
        }"
      >
        <span class="odds-icon">@</span>
        <span :class="['odd-number', floatClass]">{{ data.oddInfo.Price || '--' }}</span>
      </div>
      <div class="odds-team">{{ ticketHeader }}</div>
    </div>
    <div class="operate-btns" v-if="showOperation">
      <span class="odd-tips" v-if="data.oddInfo.OddStatus">{{ data.oddInfo.OddStatusLabel || null }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch, PropType, computed } from 'vue';
import { TicketItemComp } from '@/services';

export default defineComponent({
  name: 'TicketItem',
  props: {
    data: {
      type: Object as PropType<TicketItemComp>,
      default: () => {
        return {
          betPram: {},
          matchInfo: {},
          oddInfo: {},
          combos: {}
        };
      }
    },
    showOperation: {
      default: true,
      type: Boolean
    },
    showBlock: {
      default: true,
      type: Boolean
    }
  },
  setup(props) {
    const floatClass = ref('');

    // 监听值
    watch(
      () => props.data,
      (newValue, oldValue) => {
        const newVal = newValue.oddInfo.Price;
        const oldVal = oldValue.oddInfo.Price;
        if (newVal > oldVal) {
          floatClass.value = 'up-icon';
        } else if (newVal < oldVal) {
          floatClass.value = 'down-icon';
        } else if (newVal === oldVal) {
          floatClass.value = '';
        }
        if (floatClass.value === '') return;
        setTimeout(() => {
          floatClass.value = '';
        }, 5 * 1000);
      }
    );

    // 票头
    const ticketHeader = computed(() => {
      const HomeScore = props.data.matchInfo.HomeScore || '0';
      const AwayScore = props.data.matchInfo.AwayScore || '0';
      const point = props.data.oddInfo.Point || '0.0';
      let ticketLabel = props.data.betPram.key_name;
      const betType = props.data.oddInfo.Bettype;
      const key = props.data.betPram.key;
      switch (betType) {
        case 1:
          ticketLabel = key === 'a' ? props.data.matchInfo.AwayName : props.data.matchInfo.HomeName;
          break;
        case 2:
          ticketLabel = key === 'h' ? '单' : '双';
          break;
        case 3:
          ticketLabel = key === 'h' ? '大' : '小';
          break;
        case 5:
          const OnlyWinKey = {
            '1': props.data.matchInfo.HomeName,
            x: '和',
            '2': props.data.matchInfo.AwayName
          };
          ticketLabel = OnlyWinKey[key];
          break;
        default:
          break;
      }
      return `(${HomeScore}:${AwayScore}) ${ticketLabel} ${point}`;
    });

    return { ticketHeader, floatClass };
  }
});
</script>

<style lang="less" scoped>
.bet-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: @background-color;
  padding: 10px 15px;
  border-radius: 20px;
  position: relative;

  .odd-block {
    opacity: 0.5 !important;
  }

  .operate-btns {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    border-radius: 100px 0 0 0;
    overflow: hidden;
    .odd-tips {
      color: @red;
      background: #fae6e5;
      border-radius: 100px 0 0 0;
      padding: 2px 25px 2px 15px;
      margin-right: -10px;
    }
  }
  .leftInfo {
    width: 60%;
    div {
      margin-bottom: 4px;
    }
    .bet-type > span {
      font-size: @font-size-md;
      color: @text-color;
      font-weight: bold;
      padding-right: 3px;
    }
    .game-type {
      color: #a6a7ac;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .game-team {
      font-size: @font-size-md;
      > span {
        font-size: @font-size-xs;
        color: @gray-5;
      }
    }
  }
  .right-info {
    width: 40%;
    .odds {
      text-align: right;
      &.is-lock .odds-icon,
      &.is-lock .odd-number {
        color: @gray-8 !important;
      }
      .odd-number {
        color: @text-color;
        font-size: 24px;
      }
      .odds-icon {
        font-size: 14px;
        font-weight: 600;
        color: @text-color;
      }
      margin-bottom: 8px;
    }
    .odds-team {
      text-align: right;
      color: #a6a7ac;
      font-size: @font-size-xs;
      margin-bottom: 5px;
    }
  }
}
</style>
