<template>
  <div class="bet-info">
    <div :class="{ leftInfo: true, 'odd-block': !!data.oddInfo.OddStatus }">
      <div class="game-league">
        <span>{{ data.matchInfo.LeagueName || '--' }}</span>
      </div>
      <div class="bet-type">
        <span>{{ data.oddInfo.BettypeName || '--' }} {{ ticketHeader }} </span>
        <span class="red-score">({{ data.matchInfo.HomeScore || '0' }}-{{ data.matchInfo.AwayScore || '0' }})</span>
      </div>
      <div class="game-team">
        {{ data.matchInfo.HomeName || '--' }}
        <span>vs</span>
        {{ data.matchInfo.AwayName || '--' }}
      </div>
    </div>
    <div class="right-info">
      <div
        :class="{
          odds: true,
          'is-lock': !!data.oddInfo.OddStatus
        }"
      >
        <span class="odds-icon">@</span>
        <span :class="['odd-number', floatClass]">{{ data.oddInfo.Price || '--' }}</span>
      </div>
    </div>
    <div class="operate-btns" v-if="showOperation">
      <span class="odd-tips" v-show="data.oddInfo.OddStatus">{{ data.oddInfo.OddStatusLabel || null }}</span>
      <span class="del" @click="removeTicket"> 删除 </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch, PropType, computed } from 'vue';
import { TicketItemComp } from '@/services';

export default defineComponent({
  name: 'ParlayTicketItem',
  props: {
    data: {
      type: Object as PropType<TicketItemComp>,
      default: () => {
        return {
          betPram: {},
          matchInfo: {},
          oddInfo: {},
          combos: {}
        };
      }
    },
    showOperation: {
      default: true,
      type: Boolean
    }
  },
  emits: ['remove'],
  setup(props, { emit }) {
    const floatClass = ref('');

    // 监听值
    watch(
      () => props.data,
      (newValue, oldValue) => {
        const newVal = newValue.oddInfo.Price;
        const oldVal = oldValue.oddInfo.Price;
        if (newVal > oldVal) {
          floatClass.value = 'up-icon';
        } else if (newVal < oldVal) {
          floatClass.value = 'down-icon';
        } else if (newVal === oldVal) {
          floatClass.value = '';
        }
        if (floatClass.value === '') return;
        setTimeout(() => {
          floatClass.value = '';
        }, 5 * 1000);
      }
    );

    // 删除
    const removeTicket = () =>
      emit('remove', { marketId: props.data.betPram.market_id || '', matchId: props.data.matchInfo.MatchId });

    // 票头
    const ticketHeader = computed(() => {
      let ticketLabel = props.data.betPram.key_name;
      const betType = props.data.oddInfo.Bettype;
      const key = props.data.betPram.key;
      switch (betType) {
        case 1:
          ticketLabel = key === 'a' ? props.data.matchInfo.AwayName : props.data.matchInfo.HomeName;
          break;
        case 2:
          ticketLabel = key === 'h' ? '单' : '双';
          break;
        case 3:
          ticketLabel = key === 'h' ? '大' : '小';
          break;
        case 5:
          const OnlyWinKey = {
            '1': props.data.matchInfo.HomeName,
            x: '和',
            '2': props.data.matchInfo.AwayName
          };
          ticketLabel = OnlyWinKey[key];
          break;
        default:
          break;
      }
      return `${ticketLabel}`;
    });

    return { ticketHeader, floatClass, removeTicket };
  }
});
</script>

<style lang="less" scoped>
.bet-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: @background-color;
  padding: 10px 15px;
  position: relative;
  border-radius: 20px;
  border-bottom: 1px solid @border-color;
  &:last-child {
    border: none;
  }

  .odd-block {
    opacity: 0.5 !important;
  }

  .operate-btns {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    border-radius: 100px 0 0 0;
    .del {
      color: #999;
      line-height: normal;
      padding: 2px 10px;
      border-radius: 100px 0 100px 0;
      background: @gray-3;
    }
    .odd-tips {
      color: @red;
      background: #fae6e5;
      border-radius: 100px 0 0 0;
      padding: 2px 25px 2px 15px;
      margin-right: -15px;
    }
  }
  .leftInfo {
    width: 70%;
    div {
      margin-bottom: 4px;
    }
    .bet-type {
      .red-score {
        color: @red !important;
      }
      span {
        font-size: @font-size-xs;
        color: @text-color;
        padding-right: 2px;
      }
    }

    .odds-team {
      color: @text-color;
      font-size: @font-size-xs;
    }
    .game-league {
      color: @text-color;
      display: flex;
      align-items: center;
      > span {
        text-overflow: ellipsis;
        font-size: @font-size-md;
        white-space: nowrap;
        overflow: hidden;
      }
      &::before {
        content: '';
        width: 2px; /* no */
        height: 16px;
        margin-right: 3px;
        border-radius: 5px;
        background-color: @primary-color;
        display: inline-block;
      }
    }
    .game-team {
      font-size: @font-size-xs;
      color: @gray-6;
      > span {
        font-size: @font-size-xs;
        color: @gray-5;
      }
    }
  }
  .right-info {
    width: 30%;
    .odds {
      text-align: right;
      &.is-lock .odds-icon,
      &.is-lock .odd-number {
        color: @gray-8;
      }
      .odd-number {
        color: @text-color;
        font-size: 24px;
      }
      .odds-icon {
        font-size: 14px;
        font-weight: 600;
        color: @text-color;
      }
      margin-bottom: 8px;
    }
  }
}
</style>
