<template>
  <div class="ticket-input">
    <div class="ticket-header">
      <div class="parlay-info">
        <div class="parlay-info__name">
          <span>{{ combosLabel(data) }}</span>
          <slot name="ticketPrice"></slot>
        </div>
        <input
          class="parlay-info__amount"
          readonly
          :value="value"
          :placeholder="limit"
          @click.self="handleClickAmount"
        />
      </div>
      <div class="parlay-status">
        <div class="parlay-status__count">
          <span>预计可赢:</span>
          <span>{{ winAmountComp }}</span>
        </div>
        <div class="parlay-status__total">
          <span>小计:</span>
          <span>{{ subtotal }}</span>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { ParlayCombosItem } from '@/services';
import { combosLabel } from '../utils';
import { currency } from '@/common';

export default defineComponent({
  name: 'TicketHeader',
  props: {
    data: {
      type: Object as PropType<ParlayCombosItem>,
      default: () => {}
    },
    value: {
      type: [Number, String],
      default: ''
    }
  },
  emits: ['click-input'],
  setup(props, { emit }) {
    // 可盈
    const winAmountComp = computed(() => {
      return currency(
        Number(props.value) * Number(props.data.odds) - Number(props.value) * Number(props.data.bet_count)
      );
    });
    // 限额
    const limit = computed(() => {
      return `限额${currency(props.data.min_bet)}~${currency(props.data.max_bet)}`;
    });
    // 小计
    const subtotal = computed(() => {
      const val = Number(props.data.bet_count) * Number(props.value);
      return currency(val);
    });

    const handleClickAmount = () => emit('click-input');

    return { combosLabel, winAmountComp, currency, limit, handleClickAmount, subtotal };
  }
});
</script>

<style lang="less" scoped>
.flex-center() {
  display: flex;
  align-items: center;
}

.ticket-input {
  background: @background-color;
  padding: 5px 15px;
  position: relative;
  border-bottom: 1px solid @border-color;
  &:last-child {
    border: none;
  }
}

.ticket-header {
  .parlay-info {
    margin-bottom: 3px;
    .flex-center();
    justify-content: space-between;
    &__name {
      font-size: @font-size-md;
      display: flex;
      align-items: center;
      span:nth-child(1) {
        color: @text-color;
        font-weight: bold;
        .flex-center();
        &::before {
          content: '';
          height: 14px;
          width: 2px;
          display: block;
          border-radius: 5px;
          margin-right: 3px;
          background: @primary-color;
        }
      }
    }
    &__amount {
      font-size: @font-size-xs;
      color: @text-color;
      display: block;
      height: 24px;
      line-height: 18px;
      min-width: 45%;
      box-sizing: border-box;
      padding: 3px 5px;
      background-color: @white;
      border: 1px solid @border-color;
    }
  }
  .parlay-status {
    .flex-center();
    justify-content: space-between;
    span {
      font-size: @font-size-xs;
      color: @gray-6;
    }
    &__count {
      .flex-center();
      span:nth-child(2) {
        color: @red;
        margin-left: 10px;
      }
    }
    &__total {
      .flex-center();
      span:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
</style>
