<template>
  <div>web</div>
</template>

<style lang="less" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.dev-tool {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  > a {
    &:last-child::after {
      display: none;
    }
    &::after {
      content: '|';
      margin: 0 10px;
    }
  }
}
</style>
