<template>
  <el-collapse-item name="2" class="collapse-item">
    <template #title>
      <div class="colapse-header">
        <svg-icon name="silder-title" class="silder-title" />
        <span class="title-text">{{ itemTitleName }}</span>
      </div>
    </template>
    <div class="detail-list">
      <el-collapse class="match-list" v-model="opened">
        <el-collapse-item v-for="item in ItemList" :name="item.leagueId" :key="item.leagueId" class="item">
          <template #title>
            <div class="title">
              {{ item.leagueName }}
            </div>
          </template>
          <div
            class="list"
            :class="{ 'active-item': activeMatch === list.info.id }"
            v-for="list in item?.matches"
            @click="handleItem(item, list)"
            :key="list.info.id"
          >
            <div class="time">
              <p>{{ list.info.timeText }}</p>
            </div>
            <div class="match">
              <div>
                <p>
                  <team-logo :sport-id="sportId" :team-name="list.info.home" />
                  <span class="team-name">{{ list.info.home }}</span>
                </p>
                <p>
                  <span>{{ list.info.score && list.info.score[0] }}</span>
                  <!-- <img
                    class="video-icon"
                    v-if="list.info.IsLive"
                    :src="require('@/assets/web/video_active.png')"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="video-icon"
                    v-else-if="list.info.HasLive"
                    :src="require('@/assets/web/video.png')"
                    alt=""
                    srcset=""
                  /> -->
                </p>
              </div>
              <div>
                <p>
                  <team-logo :sport-id="sportId" :team-name="list.info.away" />
                  <span class="team-name">{{ list.info.away }}</span>
                </p>
                <p>
                  <span>{{ list.info.score && list.info.score[1] }}</span>
                  <!-- <img class="video-icon" :src="require('@/assets/web/court.png')" alt="" srcset="" /> -->
                </p>
              </div>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </el-collapse-item>
</template>
<script lang="ts">
import { defineComponent, ComputedRef, ref, computed, watch } from 'vue';
import { DataTypeEnum, SportIdEnum } from '@/common/enums';
import { useRoute, useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { createLoading } from '@/hooks/useLoading';
export default defineComponent({
  name: 'LeaguesList',
  setup() {
    const store = useStore();
    const route = useRoute();
    const router = useRouter();
    // 当前赛事eventIds，页面刷新的时候从url中获取当前的赛事eventIds
    const activeMatch = ref(Number(route.query.eventIds));
    // 当前赛事详情数据
    const sportMatchList: ComputedRef<any[]> = computed(() => store.getters.sportMatchList);
    // 当前赛事periodId
    const periodId: ComputedRef<DataTypeEnum> = computed(() => store.getters.periodId);
    // 当前赛事sportId
    const sportId: ComputedRef<SportIdEnum> = computed(() => store.getters.sportId);
    // 左侧列表title
    const itemTitleName = computed(() => (periodId.value === 3 ? '滚球赛事' : '精彩赛事'));
    // 左侧列表
    const ItemList: ComputedRef<any[]> = computed(() => {
      const preLeagueId: number = (route.query?.leagueId && +route.query?.leagueId) || 0;
      // 滚球需要显示所所有联赛，其他的只需要显示当前联赛
      return periodId.value !== 3
        ? sportMatchList.value.filter(item => item.leagueId === preLeagueId)
        : sportMatchList.value;
    });
    // 展开收起左侧列表
    const opened = computed(() => ItemList.value.map(item => item.leagueId));
    // 监听默认进来选中的赛事
    watch(
      () => route.path,
      () => {
        activeMatch.value = Number(route.query.eventIds);
      }
    );
    const handleItem = async (item, list) => {
      if (activeMatch.value !== list.info.id) {
        activeMatch.value = list.info.id;
        // 更新路由
        router.push({
          path: '/web/detail',
          query: {
            sportId: sportId.value,
            periodId: periodId.value,
            eventIds: list.info.id,
            leagueId: item.leagueId
          }
        });
        // 获取赛事详情列表
        createLoading(true, document.querySelector('.right-slide'));
        await store.dispatch('GET_SPORT_MATCH_DETAIL', {
          sportId: sportId.value,
          periodId: periodId.value,
          eventIds: list.info.id,
          leagueId: item.leagueId
        });
        createLoading(false);
      }
    };
    return {
      handleItem,
      activeMatch,
      itemTitleName,
      ItemList,
      sportMatchList,
      opened,
      sportId
    };
  }
});
</script>
<style lang="less" scoped>
.collapse-item {
  position: relative;
  .title-text {
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    margin-left: 6px;
  }
  :deep(.el-collapse) {
    div[role='tab'] {
      padding: 0 !important;
    }
  }
}
.detail-list {
  overflow: scroll;
}
.match-list {
  padding: 0 5px;
  border-top: none !important;
  border-bottom: none;
  :deep(.el-collapse-item__header) {
    padding: 0 !important;
    background: white !important;
  }
  :deep(.el-collapse-item__arrow) {
    display: none;
  }

  .item {
    width: 100%;
    cursor: pointer;
    background: white;
    .title {
      font-size: 12px;
      font-weight: bold;
      color: #a2a2a2;
      margin-bottom: 9px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
      margin: 10px 0;
    }
    .list {
      width: 100%;
      height: 60px;
      display: flex;
      margin-bottom: 4px;
      &.active-item .match {
        background: white;
        border: 1px solid #089b71;
        box-sizing: border-box;
        border-left: none;
      }
      &:hover .match {
        background: white;
        border: 1px solid #089b71;
        border-left: none;
      }
      .time {
        width: 58px;
        height: 100%;
        background: linear-gradient(-90deg, #089b71, #6fc197);
        border-radius: 5px 0px 0px 5px;
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
          width: 100%;
          text-align: center;
          margin: 0;
          font-size: 12px;
          color: white;
        }
      }
      .match {
        flex: 1;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 13px 0 11px;
        flex-wrap: wrap;
        border-radius: 0 5px 5px 0;
        background: #eef7f5;
        border: 1px solid #eef7f5;
        transition: ease-in 0.3s;
        border-left: none;
        div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          color: #2c2b2b;
          font-size: 12px;
          align-items: center;
          align-content: center;
        }
        p {
          margin: 0;
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: flex-start;
          .team-name {
            margin-left: 5px;
            width: 80px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .video-icon {
            width: 15px;
            height: 10px;
            margin-left: 8px;
            display: inline-block;
            // color: linear-gradient(-45deg, #50a6a5, #8add9a);
          }
        }
      }
    }
  }
}
</style>
