<template>
  <div class="ontell-box" v-if="IsIntelllist">
    <div class="box_top">
      <AvatarCmt :dividerShow="false" :nametitle="matchInfo.HomeName" :sportId="sportType" />
      <AvatarCmt :dividerShow="false" :nametitle="matchInfo.AwayName" :sportId="sportType" :flexRver="true" />
    </div>
    <div class="box_content">
      <div class="box">
        <div v-if="intelllist.info.good.home && intelllist.info.good.home.length > 0">
          <p class="favorable-p">有利情报</p>
          <p class="favorable-span" v-for="(item, index) in intelllist.info.good.home" :key="index">{{ item[1] }}</p>
        </div>
        <div v-if="intelllist.info.bad.home && intelllist.info.bad.home.length > 0">
          <p class="unfavorable-p">不利情报</p>
          <p class="unfavorable-span" v-for="(item, index) in intelllist.info.bad.home" :key="index">{{ item[1] }}</p>
        </div>
      </div>
      <div class="box">
        <div v-if="intelllist.info.good.away && intelllist.info.good.away.length > 0">
          <p class="favorable-p flex_end">有利情报</p>
          <p class="favorable-span" v-for="(item, index) in intelllist.info.good.away" :key="index">{{ item[1] }}</p>
        </div>
        <div v-if="intelllist.info.bad.away && intelllist.info.bad.away.length > 0">
          <p class="unfavorable-p flex_end">不利情报</p>
          <p class="unfavorable-span" v-for="(item, index) in intelllist.info.bad.away" :key="index">{{ item[1] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="neutual-box" v-if="IsIntelllist && intelllist.info.neutral">
    <p class="text_title">中立情报</p>
    <div class="text_content_box" v-for="(item, index) in intelllist.info.neutral" :key="index">
      <p class="p_s">{{ item[1] }}</p>
    </div>
  </div>
  <data-empty v-else description="暂无情报数据" />
</template>

<script>
import { inject, computed, defineComponent } from 'vue';
import AvatarCmt from '../range-data/smallCMT/AvatarCmt.vue';
export default defineComponent({
  components: {
    AvatarCmt
  },
  props: {
    intelllist: {
      type: Object,
      default: () => {}
    }
  },
  setup(props) {
    const IsIntelllist = computed(() => JSON.stringify(props.intelllist) != '{}');

    const { matchInfo, sportType, moreMatchInfo } = inject('matchInfo');

    return { matchInfo, sportType, moreMatchInfo, IsIntelllist };
  }
});
</script>

<style lang="less" scoped>
.favorable-p {
  color: #d93838;
}
.favorable-span {
  margin: 0px;
  padding: 8px 10px;
  background: #fff5f4;
  color: @text-color;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 5px;
}
.unfavorable-p {
  color: #3547d1;
}
.unfavorable-span {
  margin: 0px;
  padding: 8px 10px;
  background: #3547d133;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}
.ontell-box {
  border-radius: 20px;
  background-color: @white;
  margin-bottom: 15px;
  .box_top {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid @border-color;
  }
  .box_content {
    display: flex;
    .box {
      flex: 1;
      padding: 0px 10px;
    }
  }
}
.neutual-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: @white;
  margin-bottom: 15px;
  .text_content_box {
    width: 90%;
    border-radius: 10px;
    padding: 0px 8px;
    background: #c3c0c045;
    margin: 2px 0px;
  }
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}
</style>
