.key-board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5px;

  .key-board-expand,
  .key-board-numbers {
    position: relative;
    padding: 5px;
    border-radius: 10px;
    background-color: @background-color;
    margin-right: 5px;
    display: flex;
  }

  .key-board-expand {
    width: 75px;
    margin-right: 0;

    .btn-item {
      color: #b08857;

      &.max {
        background-image: linear-gradient(135deg, #e7c59d 0%, #b08857 100%);
        color: #fff;
      }
    }
  }

  .key-board-numbers {
    position: relative;
    flex: 3;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;

    .btn-item {
      color: @gray-8;

      .svg-icon {
        width: 28px;
        height: 28px;
        fill: @gray-8;
      }
    }
  }

  .btn-item-warp {
    width: 100%;
    padding: 3px;

    .btn-item {
      background: #fff;
      border-radius: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      transition: ease-in-out 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
