.favoritStar {
  width: 20px;
  height: 20px;
  &.isMark {
    :global {
      .svg-icon {
        opacity: 1;
      }
    }
  }
  :global {
    .svg-icon {
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
}
