.partial-loading {
  position: relative;
  min-height: 20px;
  background: #fff;
  &.no-bg {
    background: transparent;
  }
  > .svg-icon {
    display: block;
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
