/**
* 赛果弹框-修改element默认样式--begin--(competition-results-dialog.vue)
*/
.competition-results-select {
  .el-select-dropdown__item {
    font-size: 12px;
  }
}
/**
* 赛果弹框-修改element默认样式--end--(competition-results-dialog.vue)
*/
