<template>
  <div class="home-page">
    <LeagueCheck />
    <SportHeader />
    <MatchData />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';
import LeagueCheck from './components/league-check.vue';
import SportHeader from './components/sport-header.vue';
import MatchData from './components/match-data/index.vue';

export default defineComponent({
  name: 'HomePage',
  components: {
    LeagueCheck,
    SportHeader,
    MatchData
  },
  setup() {
    const data = reactive({
      //
    });
    return { data };
  }
});
</script>

<style lang="less" scoped>
.home-page {
  position: relative;
}
</style>
