<template>
  <!-- 单投 -->
  <div v-if="!data.parlayDataJson">
    <div class="betting-result-item" :class="tagClassName(data.ticketStatus)">
      <div class="tag"></div>
      <div class="title-wrap">
        <span class="bet-title-front-span status-res"></span>
        <div class="bet-title black-text flex-center">
          <div class="title-text">
            <span class="font-text">{{ data.homeName }} vs {{ data.awayName }}</span>
          </div>
          <div class="tag-text font-bold">
            <span>{{ tagText(data.ticketStatus) }}</span>
          </div>
        </div>
        <div class="match-info p-w15 flex-center gray-text">
          <span>{{ data.leagueName || '--' }}</span>
          <span>{{ toTime(data.matchTime, 'YYYY-MM-DD HH:mm:ss') || '--' }}</span>
        </div>
      </div>

      <div class="hr"></div>
      <div class="match-info-wrap">
        <div
          class="p-w15 bet-match-info"
          @click.stop="
            toDetailPath({ matchId: data.matchId, sportId: data.sportType, isParlay: false, isLive: data.islive })
          "
        >
          <div class="black-text flex-center f-s-p">
            <div class="match-info">
              <span>{{ data.betTeam }} &nbsp;{{ data.hdp }}</span>
              <span class="font-bold">@{{ data.odds || '--' }}</span>
            </div>
          </div>
          <div class="gray-text">
            {{ data.betTypeName }}
            <span v-if="!!data.homeScore && !!data.awayScore">
              ({{ `${data.homeScore || '--'}:${data.awayScore || '--'}` }})
            </span>
          </div>
          <div class="black-text p-w15">
            <div>投注额: {{ data.stake || '--' }}</div>
            <div>
              {{ status === 1 ? '可赢额' : '输赢额' }}:
              <span :class="status === 2 ? winLostAmountClass(data.winLostAmount) : null">
                {{ currency(data.winLostAmount) || '--' }}
              </span>
            </div>
          </div>
        </div>
        <div class="black-text padding-tb15 p-w15">
          <div class="match-info margin-b8">
            <span>投注额:</span> <span class="font-bold">{{ currency(data.stake) || '--' }}</span>
          </div>
          <div class="match-info">
            <span>{{ status === 1 ? '可赢额' : '输赢额' }}:</span>
            <span class="font-bold" :class="status === 2 ? winLostAmountClass(data.winLostAmount) : null">
              {{ currency(data.winLostAmount) || '--' }}
            </span>
          </div>
        </div>
      </div>
      <div class="hr"></div>
      <div class="p-w15">
        <div class="gray-text">
          {{ toTime(data.creationDate, 'YYYY-MM-DD HH:mm:ss') || '--:--' }} ({{ oddsTypeName(data.oddsType) }})
        </div>
        <div class="gray-text">
          <span> 订单号: {{ data.id || '--' }} </span>
          <span v-if="!!data.id" class="copy-text" @click="handleClickCopy(data.id)">复制</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 串关 -->
  <div v-if="data.parlayDataJson">
    <div class="betting-result-item" :class="status === 2 && tagClassName(data.ticketStatus)">
      <div class="tag"></div>
      <div class="bet-title black-text flex-center">
        <div class="title-text">
          <span class="bet-title-front-span"></span>
          <span class="font-text">{{ data.betTypeName }}投注</span>
        </div>
        <div class="tag-text" v-if="status === 1">
          <span>{{ tagText(data.ticketStatus) }}</span>
        </div>
      </div>
      <div class="p-w15 flex-center gray-text">
        <span class="match">{{ data.parlayDataJson.length || 0 }}场: {{ translatComboType(data.comboType) }}</span>
      </div>
      <div class="hr"></div>
      <div
        class="parlay-item"
        v-for="item in data.parlayDataJson"
        :key="item.parlay_id"
        @click.stop="
          toDetailPath({ matchId: item.match_id, sportId: item.sportType, isParlay: true, isLive: item.islive })
        "
      >
        <div class="black-text flex-center">
          <div class="title-text">
            <span class="font-text">{{ item.HomeTeamName }} vs {{ item.AwayTeamName }}</span>
          </div>
          <div
            v-if="status === 2"
            :class="{
              'green-text': [5, 6].includes(item.ticketStatus),
              'red-text': [8, 7].includes(item.ticketStatus)
            }"
          >
            <span>{{ tagText(item.ticketStatus) }}</span>
          </div>
        </div>
        <div class="black-text flex-center sub-info">
          <span>{{ item.betTeam }}</span>
          <span>{{ item.hdp }}</span>
          <span>@{{ item.odds || '--' }}</span>
        </div>
        <div class="gray-text">
          {{ item.betTypeName }}
          <span v-if="!!item.home_score && !!item.away_score">
            ({{ `${item.home_score || '--'}:${item.away_score || '--'}` }})
          </span>
        </div>
        <div class="gray-text">{{ item.LeagueName }}</div>
        <div class="gray-text">{{ toTime(item.match_datetime, 'YYYY-MM-DD HH:mm') }}</div>
      </div>
      <div class="hr"></div>
      <div class="p-w15">
        <div class="gray-text">
          {{ toTime(data.creationDate, 'YYYY-MM-DD HH:mm:ss') || '--:--' }} ({{ oddsTypeName(data.oddsType) }})
        </div>
        <div class="gray-text">
          <span> 订单号: {{ data.id || '--' }} </span>
          <span v-if="!!data.id" class="copy-text" @click="handleClickCopy(data.id)">复制</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType, unref } from 'vue';
import { toTime } from '@/common/utils';
import { useCopyToClipboard } from '@/hooks/useCopyToClipboard';
import { Toast } from 'vant';
import { MarketTypeList, ParlayComboType, SettlementList } from '@/common/enums';
import { currency } from '@/common/utils';

//注单状态 已结算 8:赢半 6:输半 7. won (赢)5. lose (输)9. draw (平)未结算2. running (进行中)1. waiting (等待)其他15. reject(拒绝)16. refund（退款）4. void (取消)

interface HistoryItem {
  [name: string]: any;
}

export default {
  name: '单条投注记录',
  props: {
    data: {
      type: Object as PropType<HistoryItem>,
      default: () => {}
    },
    status: {
      type: Number
    }
  },
  emits: ['to-detail'],
  setup(_props, { emit }) {
    const methods = {
      currency,
      // 盘口名字
      oddsTypeName: (type: number) => {
        const obg = MarketTypeList.find(ty => ty.value === type);
        return obg?.label || '--';
      },
      // 复制
      handleClickCopy: (txt: string) => {
        const { isSuccessRef } = useCopyToClipboard(JSON.stringify(unref(txt), null, 2));
        if (unref(isSuccessRef)) {
          Toast('复制成功');
        }
      },
      // 输赢样式
      winLostAmountClass(numberStr: number) {
        const n = Number(numberStr);
        return n === 0 ? '' : n > 0 ? 'red-text' : 'green-text';
      },
      tagText: (ticketStatus: number) => {
        const obj = SettlementList.find(e => e.value === ticketStatus);
        return obj?.label || '';
      },
      // 显示标识样式
      tagClassName: (ticketStatus: number) => {
        const obj = SettlementList.find(e => e.value === ticketStatus);
        return obj?.code || '';
      },
      // 单个翻译
      getComboTypeLabel: (text: string) => {
        const findObj = ParlayComboType.find(e => text.includes(e.code));
        return !!findObj ? findObj.label : '';
      },
      // 翻译串关名字
      translatComboType: (comboType: string) => {
        if (!comboType) {
          return '';
        }
        let comboTextArr: string[] = [];
        const textArr = comboType.split(',');
        textArr.map((text: string) => {
          const n = Number(text.split(' ')[1].replace(/[^0-9]/gi, ''));
          comboTextArr.push(`(${methods.getComboTypeLabel(text)} *${n})`);
        });
        return comboTextArr.join('');
      },
      toDetailPath: async ({ matchId, sportId, isParlay }: { matchId: number; sportId: number; isParlay: boolean }) => {
        emit('to-detail', { matchId, sportId, isParlay });
      },
      toTime
    };
    return { ...methods };
  }
};
</script>

<style lang="less" scoped>
.title-wrap {
  padding: 0 15px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 32px;
    display: block;
    width: 2px;
    left: 20px;
    top: 4px;
    background: #009944;
  }
}
.font-bold {
  font-weight: bold;
}
.margin-b8 {
  margin-bottom: 8px;
}
.padding-tb15 {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}
.match-info-wrap {
  // padding: 0 15px;
  margin: 12px 16px;
  border-radius: 12px 12px 12px 12px;
  background: #f1faf6;
  // color: #000;
}
.match-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
}
.flex-center {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.title-text {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.tag-text {
  padding-left: 15px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.p-r {
  padding-right: 10px;
}
.font-cls {
  font-size: 18px;
  font-weight: 600;
}
.font-text {
  font-weight: 600;
}
.flex-s-between {
  display: flex;
  justify-content: space-between;
}
.sub-info span {
  margin-right: 5px;
}
.betting-result-item {
  position: relative;
  background-color: @white;
  border-radius: 20px;
  padding: 10px 0;
  margin-bottom: 10px;
  &.won,
  &.lose,
  &.WinHalf,
  &.LoseHalf {
    .tag-text {
      display: none;
    }
  }

  &.won .tag {
    background-image: url('~@/assets/win.png');
  }
  &.won {
    .bet-title-front-span {
      background-color: red !important;
    }
  }
  &.reject,
  &.draw,
  &.refund,
  &.void {
    .bet-title-front-span {
      background-color: @gray-5 !important;
    }
  }
  &.lose .tag {
    background-image: url('~@/assets/lose.png');
  }
  &.WinHalf .tag {
    background-image: url('~@/assets/WinHalf.png');
  }
  &.LoseHalf .tag {
    background-image: url('~@/assets/LoseHalf.png');
  }

  .tag {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }
  .bet-title {
    padding-left: 12px;
    padding: 0 15px;
    align-items: flex-start !important;
    .bet-title-front-span {
      width: 3px;
      height: 18px;
      border-radius: 3px;
      margin-right: 5px;
      background-color: @green;
      display: block;
      &.status-res {
        background-color: @primary-color;
      }
    }
  }
  &.won,
  &.WinHalf {
    .bet-title-front-span {
      background-color: @red !important;
    }
  }
  &.lose,
  &.LoseHalf {
    .bet-title-front-span {
      background-color: @green;
    }
  }
  &.lose,
  &.LoseHalf {
    .status-res {
      background-color: @primary-color !important;
    }
  }
  &.reject,
  &.draw {
    .bet-title-front-span {
      background-color: @gray-6;
    }
  }

  .bet-match-info {
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 12px;
    background-color: rgba(0, 153, 68, 1, 0.05);
  }

  .match-info {
    justify-content: space-between;
    align-items: flex-start !important;
    span:first-child {
      max-width: 65%;
    }
    span:last-child {
      text-align: right;
    }
  }
}

.black-text {
  font-size: 14px;
  padding: 5px 0;
  color: @text-color;
}

.gray-text {
  font-size: 12px;
  padding: 3px 0;
  color: @gray-6;
}

.hr {
  border-top: 1px solid @border-color;
}

.p-w15 {
  padding-left: 15px;
  padding-right: 15px;
}

.win-lost-amount {
  color: @text-color;
}

.green-text {
  color: @green !important;
}

.red-text {
  color: @red !important;
}
.red {
  color: rgb(238, 54, 54);
  font-size: 16px;
}
.green {
  color: rgb(25, 145, 25);
  font-size: 16px;
}
.copy-text {
  color: @primary-color;
}

.f-s-p {
  justify-content: space-between;
}

.parlay-item {
  border-bottom: 1px solid @border-color;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}
</style>
