<template>
  <div class="bet-history" :class="[activeTab === 0 ? 'status-a' : 'status-b']">
    <div class="bet-history__top">
      <slot name="header"></slot>
      <div class="tab-container">
        <div class="filter-tabs" v-if="activeTopTab === 0">
          <template v-for="(item, index) in tabs" :key="index + '_T_KEY'">
            <div
              class="filter-tab two-tab"
              @click="tabChange(item.value)"
              :class="{ 'two-tab--active ': item.value === activeTab }"
            >
              <a> {{ item.label }} {{ item.value === 0 ? unsettledCount : '' }} </a>
            </div>
          </template>
          <div class="time-filter">
            <van-popover v-model:show="filterVisible" placement="bottom-end">
              <template #reference>
                <span :class="{ active: filterVisible }" class="time-filter-btn" @click.self="toggleDate">
                  <span>{{ DATE_LIST[avtiveFilterDate].title }} </span>
                  <van-icon name="arrow-down" />
                </span>
              </template>
            </van-popover>
          </div>
        </div>
        <div class="statice-data" v-if="activeTopTab == 1">
          <div class="s-d-item">总计: {{ statistics.orderCount }} 单</div>
          <!-- <div class="s-d-item">投注额: {{ statistics.betTotal() }}</div>
          <div class="s-d-item">输赢: {{ statistics.winLostAmount() }}</div> -->
        </div>
      </div>
      <notice-bar @click.stop="handleClickNotive" :text="publicityData">
        <template #left-icon>
          <van-icon class="volume-o" name="volume" />
          <span class="volume-text">赛事公告:公告占位符</span>
        </template>
      </notice-bar>
    </div>
    <PartLoading class="tab-content empty no-bg" v-if="betStore.pullLoading" />
    <div class="tab-content" :class="{ 'active-tab-content': activeTab === 1 }" v-else>
      <van-pull-refresh v-model="betStore.loading" :disabled="betStore.pullLoading" @refresh="getRecordData(true)">
        <template v-if="!isEmpty(betStore.betRecord)">
          <betting-result-item
            :status="form.status"
            @to-detail="toDetailPath"
            v-for="(item, index) in betStore.betRecord"
            :key="index + '_BET_KEY'"
            :data="item"
          />
        </template>
        <data-empty class="empty" v-else />
        <div class="is-bottom-text" v-if="!isEmpty(betStore.betRecord)">没有更多数据了~</div>
      </van-pull-refresh>
      <!-- 币种筛选框 -->
      <van-popup
        @cancle="cancelCurrency"
        round
        v-model:show="showCurrency"
        position="bottom"
        style="height: 80%; width: 100%"
      >
        <CurrencySheet type="currency" />
      </van-popup>
      <!-- 时间筛选框 -->
      <van-popup
        @cancle="cancelCurrency"
        round
        v-model:show="filterVisible"
        position="bottom"
        style="height: 60%; width: 100%"
      >
        <CurrencySheet type="time" />
      </van-popup>
    </div>
  </div>
</template>

<script lang="ts">
import { Toast, Popup, NoticeBar } from 'vant';
import { reactive, ref, onMounted, toRefs, computed } from 'vue';
import { useRouter, useRoute } from 'vue-router';
// import { queryEventsAndMarkets } from '@/services';
import { DATE_LIST, DateType } from '@/common/utils';
import BettingResultItem from './betting-result-item.vue';
import { isEmpty } from 'lodash-es';
import { useStore } from 'vuex';
import { CurrencySheet } from '../../components/index';
// topTabs
import { usePublicity, useBetRecord, tabs } from '@/hooks';
//注单状态 已结算 8:赢半 6:输半 7. won (赢)5. lose (输)9. draw (平)未结算2. running (进行中)1. waiting (等待)其他15. reject(拒绝)16. refund（退款）4.viod(取消)
export default {
  name: '投注记录',
  components: { BettingResultItem, CurrencySheet },
  props: {
    isPopup: {
      default: false,
      type: Boolean
    }
  },
  emits: ['close-popup'],
  setup(_props, { emit }) {
    const showCurrency = ref(false);
    const router = useRouter();
    const route = useRoute();
    const store = useStore();
    console.log(showCurrency.value, '--------');
    const { publicityData, getPublicityData } = usePublicity();
    const { getBettingStatistics, statistics, betStore, getRecordData, form } = useBetRecord();

    // 结算统计
    const onShowCurrency = () => {
      showCurrency.value = !showCurrency.value;
    };
    const unsettledCount = computed(() => betStore.betRecord.length);

    const state = reactive({
      loading: false,
      activeTab: 0,
      activeTopTab: 0,
      filterVisible: false,
      avtiveFilterDate: 0
    });

    const methods = {
      //跳转到公告信息页
      handleClickNotive: () => router.push('/notice'),
      tabChange: async (n: number) => {
        if (state.activeTab === n) return;
        if (n === 0) {
          state.filterVisible = false;
          // 清除日期参数
          methods.initPrams();
        } else {
          form.status = 2;
          form.startTime = DATE_LIST[0].value.startTime;
          form.endTime = DATE_LIST[0].value.endTime;
        }
        state.activeTab = n;
        await getRecordData();
      },
      topTabChange: async (n: number) => {
        if (state.activeTopTab === n) return;
        // if (n === 0) {
        //   state.filterVisible = false;
        //   // 清除日期参数
        //   methods.initPrams();
        // } else {
        //   form.status = 2;
        //   form.startTime = DATE_LIST[0].value.startTime;
        //   form.endTime = DATE_LIST[0].value.endTime;
        // }
        state.activeTopTab = n;
        // await getRecordData();
      },
      onHandleDate: async (item: DateType, i: number) => {
        if (state.avtiveFilterDate === i) return;
        const { startTime, endTime } = item.value;
        form.startTime = startTime;
        form.endTime = endTime;
        state.avtiveFilterDate = i;
        await getRecordData();
      },
      toggleDate: () => {
        state.filterVisible = !state.filterVisible;
      },
      cancelCurrency: () => {
        console.log('取消');
      },
      // 初始化参数
      initPrams: () => {
        state.avtiveFilterDate = 0;
        form.status = 1;
        form.startTime = '';
        form.endTime = '';
      },
      toDetailPath: async ({
        matchId,
        sportId,
        isParlay,
        isLive
      }: {
        matchId: number | string;
        sportId: number;
        isParlay: boolean;
        isLive: string;
      }) => {
        // 是否维护
        const maintainList = store.getters.maintains;
        if (maintainList.includes('sb_sport2')) return;
        // ...
        const quertMid = Array.isArray(route.query.matchId) ? route.query.matchId[0] : route.query.matchId;
        Toast.loading({});
        // 检查是否存在比赛
        // const [, data = []] = await queryEventsAndMarkets({
        //   sportId,
        //   periodId: 0,
        //   eventIds: matchId
        // });
        // if (isEmpty(data)) {
        //   Toast('暂无此比赛信息');
        //   return;
        // }
        if (Number(quertMid) === matchId) {
          emit('close-popup');
          return;
        }
        Toast.clear();
        if (window.__POWERED_BY_QIANKUN__ && window.location.href.includes('/mc/br')) {
          window.location.href = `/micro/bet/detail?sportId=${sportId}&matchId=${matchId}&periodId=${
            isLive === '1' ? '3' : '0'
          }&isParlay=${isParlay}`;
        } else {
          router.push({
            path: '/detail',
            query: {
              sportId: sportId,
              matchId: matchId,
              periodId: isLive === '1' ? 3 : 0,
              isParlay: String(isParlay)
            }
          });
        }
        emit('close-popup');
      },
      isEmpty
    };

    onMounted(() => {
      Promise.all([getBettingStatistics(), getRecordData(), getPublicityData()]);
    });
    return {
      ...methods,
      tabs,
      form,
      DATE_LIST,
      ...toRefs(state),
      betStore,
      statistics,
      unsettledCount,
      publicityData,
      onShowCurrency,
      showCurrency,
      Popup
    };
  }
};
</script>

<style lang="less" scoped>
.top {
  display: flex;
  justify-content: space-between;
  img {
    width: 38px;
    height: 38px;
  }
}
.top-btn {
  width: 36% !important;
  line-height: 0.9rem !important;
}
.two-tab {
  background: none !important;
}
.tab-btns() {
  line-height: 30px;
  font-size: 14px;
  width: 20%;
  text-align: center;
  border-radius: 100px;
  background-color: @gray-1;
  margin: 0 5px;
  border: 1px solid @white;
  box-sizing: border-box;
  &.tab--active {
    background-color: @primary-color;
    border: 1px solid @primary-color;
    color: #fff;
  }
  &.two-tab--active {
    background: none;
    a {
      background-color: none;
      border-bottom: 1px solid @primary-color;
      color: #009944;
      border-radius: 0;
      padding-bottom: 0.2rem;
    }
  }
}
:deep(.van-notice-bar) {
  color: #727070;
  height: 36px;
  line-height: 36px;
  background: transparent !important;
}
.header-bars {
  height: @nav-bar-height;
}

.kg-nav-bar {
  z-index: 9;
}

.bet-history {
  position: relative;
  background-color: @background-color;
  min-height: 100vh;
  &.status-a {
    &::before {
      content: '';
      display: block;
      height: 195px;
    }
    .tab-content {
      height: calc(var(--100vh) - 195px);
    }
  }
  &.status-b {
    &::before {
      content: '';
      display: block;
      height: 195px;
    }
    .tab-content {
      height: calc(var(--100vh) - 195px);
    }
  }
  .tab-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: @white;
    border-radius: 0 0 20px 20px;
    left: 0;
    z-index: 9;
  }

  .filter-tabs {
    padding: 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    .filter-tab {
      float: left;
      .tab-btns();
    }
  }

  &__top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .statice-data {
    padding: 10px 15px;
    border-top: 1px solid @border-color;
    .s-d-item {
      line-height: normal;
      color: @gray-7;
    }
  }
  .time-filter {
    flex: 1;
    line-height: 30px;
    text-align: right;
    float: right;
    position: relative;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    &-btn {
      font-size: 14px;
      align-items: center;
      display: flex;
      color: @text-color;
      transition: ease-in-out 0.3s;
      > span {
        padding-right: 3px;
      }
      .van-icon-arrow-down {
        transform: rotate(0deg);
        transition: ease-in-out 0.3s;
      }
      &.active {
        color: @primary-color;
        .van-icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }
  }
  .tab-content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: 20px 20px 0 0;
    background-color: @background-color;
  }
  .empty {
    height: 50vh;
    padding: 0;
  }
}

.is-bottom-text {
  font-size: 12px;
  text-align: center;
  color: @gray-7;
  padding: 20px;
}

.filter-date-list {
  width: 120px;
  overflow: hidden;
  background: @white;
  border-radius: 0px 0px 5px 5px;

  .filter-date-item {
    height: 20px;
    line-height: 20px;
    margin: 10px;
    color: @text-color;
    &.active {
      color: @primary-color;
    }
  }
}

.volume-o {
  font-size: 16px;
}
.volume-text {
  font-size: 12px;
  padding: 0 3px;
  color: #333 !important;
}
.no-bg {
  background: transparent !important;
}
</style>
<style>
.filter-date-list-pop {
  background: transparent;
  width: 100%;
  height: 100%;
}
</style>
