<template>
  <history-page>
    <template #header>
      <kg-nav-bar @click-left="onHandleBack" :leftArrow="!isPopup">
        <template #title>
          <span v-if="isPopup">注单</span>
          <TopNavlist v-else />
        </template>
      </kg-nav-bar>
    </template>
  </history-page>
</template>

<script lang="ts">
import { useRouter } from 'vue-router';
import TopNavlist from './TopNavlist.vue';
import HistoryPage from './history.vue';

//注单状态 已结算 8:赢半 6:输半 7. won (赢)5. lose (输)9. draw (平)未结算2. running (进行中)1. waiting (等待)其他15. reject(拒绝)16. refund（退款）4.viod(取消)
export default {
  name: '投注记录',
  components: {
    TopNavlist,
    HistoryPage
  },
  props: {
    isPopup: {
      default: false,
      type: Boolean
    }
  },
  emits: ['close-popup'],
  setup() {
    const router = useRouter();
    const methods = {
      // TODO
      onHandleBack: () => {
        router.go(-1);
      }
    };

    return {
      ...methods
    };
  }
};
</script>

<style lang="less" scoped>
.kg-nav-bar {
  z-index: 9;
}
</style>
