<template>
  <div class="notice-list">
    <div class="notice-item" v-for="(item, index) in getMessage" :key="index">
      <div class="list_top">
        <p class="title_text">赛事公告</p>
        <p class="title_right">{{ toTime(item.post_time, 'YYYY-MM-DD HH:mm') }}</p>
      </div>
      <div style="padding: 5px 0px">
        <p class="list_text">{{ item.content }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType } from 'vue';
import { toTime } from '@/common/utils';
export default {
  name: 'NoticeList',
  props: {
    getMessage: {
      type: Array as PropType<any[]>,
      default: () => []
    }
  },
  setup() {
    return {
      toTime
    };
  }
};
</script>

<style lang="less" scoped>
.notice-list {
  height: 100%;
  overflow-x: auto;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .notice-item {
    padding: 0 15px;
    border-bottom: 1px solid @border-color;
    .list_top {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 5px 0px;

      .title_text {
        font-size: @font-size-md;
      }
      .title_right {
        color: @gray-8;
        font-size: @font-size-xs;
      }
      p {
        margin: 0px;
      }
    }
    .list_text {
      color: @gray-6;
      line-height: 1.5;
      font-size: @font-size-xs;
      margin: 0px;
    }
  }
}
</style>
