<template>
  <div class="notice-detail">
    <kg-nav-bar @click-left="onHandleBack" fixed :leftArrow="true" title="所有公告" />
    <NoticeList :getMessage="getMessage" />
  </div>
</template>

<script lang="ts">
import { getPublicMessage } from '@/services';
import { lastSevenDays, today } from '@/common/utils';
import { reactive, toRefs, onBeforeMount, onMounted, ref } from 'vue';
import NoticeList from './NoticeList.vue';
import { useRouter } from 'vue-router';
export default {
  name: 'NoticeDetail',
  components: {
    NoticeList
  },
  setup() {
    const data = reactive({});
    const router = useRouter();
    const getMessage = ref([]);
    const Navlist = ref([
      {
        title: 'KG体育',
        name: 1
      },
      {
        title: 'BTI体育',
        name: 2
      },
      {
        title: '沙巴体育',
        name: 3
      },
      {
        title: '游戏',
        name: 4
      }
    ]);
    const mathods = {
      onHandleBack: () => {
        router.go(-1);
      }
    };
    onBeforeMount(() => {});
    onMounted(async () => {
      const startDate = lastSevenDays();
      const endDate = today();
      const [res, data] = await getPublicMessage({ startDate, endDate });
      if (res) {
        getMessage.value = data;
      }
    });
    const refData = toRefs(data);
    return {
      ...refData,
      ...mathods,
      Navlist,
      getMessage
    };
  }
};
</script>
<style lang="less" scoped>
.notice-detail {
  padding-top: 46px;
  overflow: hidden;
}
</style>
