<template>
  <van-tabs type="card" :swipeable="true" :ellipsis="false">
    <van-tab v-for="(item, index) in sportSourceList" :key="index" :title="item.name" />
  </van-tabs>
</template>

<script lang="ts">
import { reactive, toRefs } from 'vue';
import { sportSourceList } from '@/common';

export default {
  name: 'TopNavList',
  setup() {
    const data = reactive({});
    const refData = toRefs(data);
    return {
      sportSourceList,
      ...refData
    };
  }
};
</script>
<style lang="less" scoped>
:deep(.van-tabs__nav .van-tab) {
  border: none;
  color: rgb(136, 118, 118);
}
:deep(.van-tabs__nav) {
  border: none;
  background: transparent;
}
:deep(.van-tab.van-tab--active) {
  border-radius: 10px;
  background: wihte;
  font-size: 18px;
  color: white;
  background: none;
}
:deep(.van-nav-bar__title) {
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
  overflow-x: scroll;
}
</style>
