<template>
  <div class="quick-bet">
    <template v-if="doBetInfo.doneBet">
      <div class="cart">
        <div class="item confirmed">
          <div class="header">投注单</div>
          <div class="cart-content">
            <p>{{ singlePreBetInfo.betTypeName }}</p>
            <p>{{ singlePreBetInfo.leagueName }}</p>
            <p>{{ singlePreBetInfo.home }} VS {{ singlePreBetInfo.away }}</p>
            <span>{{ teamName }}</span
            ><span>@{{ singlePreBetInfo.price }}</span>
            <div class="text-confirm">
              <span>投注额：</span><span>{{ currency(form.betMoney) }}</span>
            </div>
            <div class="text-confirm">
              <span>可赢额：</span><span>{{ winAmountComp }}</span>
            </div>
            <!-- <p class="status">确认</p> -->
          </div>
        </div>
      </div>
      <!-- <div class="bet">
        <div class="text-confirm"><span>所有投注：</span><span>10.00</span></div>
        <div class="text-confirm"><span>可赢额：</span><span>8.50</span></div>
      </div> -->
      <div class="tip-confirm"><el-icon name="check" />{{ doBetInfo.message }}</div>
      <div class="action">
        <el-button type="primary" @click="cancelBetHandle">确认</el-button>
        <el-button type="primary" @click="keepBetHandle">继续投注此单</el-button>
      </div>
    </template>
    <template v-else>
      <div class="cart">
        <div class="item">
          <div class="header" :class="{ error: singlePreBetInfo.status }">
            <span class="error-info" v-if="singlePreBetInfo.status">{{ singlePreBetInfo.resTest }}</span>
            <span class="title" v-else>投注单</span>
            <ButtonClose class="close" @click="cancelBetHandle" />
          </div>
          <div class="cart-content">
            <p>{{ singlePreBetInfo.betTypeName }}</p>
            <p>{{ singlePreBetInfo.leagueName }}</p>
            <p>{{ singlePreBetInfo.home }} VS {{ singlePreBetInfo.away }}</p>
            <p>{{ teamName }} {{ singlePreBetInfo.name }}</p>
          </div>
          <span class="odds">@{{ singlePreBetInfo.price }}</span>
        </div>
      </div>
      <div class="bet">
        <div>投注</div>
        <div class="item">
          <el-form ref="preForm" :model="form" :rules="rules" class="item">
            <el-form-item prop="betMoney">
              <el-input
                v-model.number="form.betMoney"
                :placeholder="`限额${currency(singlePreBetInfo.minBet || 0)}~${currency(singlePreBetInfo.maxBet || 0)}`"
              />
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="action">
        <el-button type="primary" :disabled="singlePreBetInfo.status !== 0" @click="doBetHandle">确认下注</el-button>
        <el-button @click="cancelBetHandle">取消</el-button>
        <div class="text-confirm">
          <span>投注额：</span><span>{{ currency(form.betMoney) }}</span>
        </div>
        <div class="text-confirm">
          <span>可赢额：</span><span>{{ winAmountComp }}</span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { computed, defineComponent, ref, reactive } from 'vue';
import { useStore } from 'vuex';
import ButtonClose from 'web/components/common/ButtonClose';
import { currency } from '@/common/utils';
import { OddsType } from '@/common';

export default defineComponent({
  name: 'QuickBet',
  components: { ButtonClose },
  setup() {
    const store = useStore();
    const preForm = ref(null);
    const form = reactive({
      betMoney: ''
    });
    const checkBetMoney = (rule, value, callback) => {
      if (!value && value !== 0) {
        return callback('请输入金额');
      }
      if (value < singlePreBetInfo.value.minBet || value > singlePreBetInfo.value.maxBet) {
        return callback(
          `限额${currency(singlePreBetInfo.value.minBet || 0)}~${currency(singlePreBetInfo.value.maxBet || 0)}`
        );
      }
      callback();
    };
    const rules = reactive({
      betMoney: [
        {
          validator: checkBetMoney,
          trigger: 'blur'
        }
      ]
    });
    const singlePreBetInfo = computed(() => store.getters.singlePreBetInfo);
    const doBetInfo = computed(() => store.getters.doBetInfo);
    const teamName = computed(() => {
      return {
        h: singlePreBetInfo.value.home,
        a: singlePreBetInfo.value.away,
        1: singlePreBetInfo.value.home,
        x: '和局',
        2: singlePreBetInfo.value.away
      }[singlePreBetInfo.value.key];
    });

    const winAmountComp = computed(() => {
      const { betType, price } = singlePreBetInfo.value;
      // 欧盘price要减1
      const odds = betType === OddsType.Europe ? Number(price) - 1 : Number(price);
      const money = Number(form.betMoney || 0) * odds;
      return currency(money);
    });
    const doBetHandle = () => {
      preForm.value.validate(valid => {
        if (valid) {
          store.dispatch('DO_SINGLE_BET_ACTION', form.betMoney);
        }
      });
    };
    const cancelBetHandle = () => {
      store.dispatch('CALCEL_PRE_BET_INFO');
    };
    const keepBetHandle = () => {
      store.dispatch('KEEP_PRE_BET_INFO');
    };
    return {
      form,
      preForm,
      rules,
      singlePreBetInfo,
      doBetInfo,
      teamName,
      winAmountComp,
      doBetHandle,
      cancelBetHandle,
      keepBetHandle,
      currency
    };
  }
});
</script>

<style lang="less" scoped>
.quick-bet {
  .bet,
  .action {
    padding: 0 14px;
  }
  .cart {
    padding: 0 6px;
    font-size: 12px;
    .item {
      box-sizing: content-box;
      width: 100%;
      background: #ffffff;
      border: 1px solid #e6e8ef;
      border-radius: 4px;
      position: relative;
      margin-bottom: 5px;
      &.confirmed {
        background: #eef7f5;
        border: none;
        .odds {
          display: none;
        }
      }
      p {
        margin: 0;
        color: #878787;
      }
      .header {
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 25px;
        background: #6ec197;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #fff;
        font-size: 14px;

        &.error {
          background: #ffd9d9;
          font-size: 12px;
          color: #ff0000;
        }
        .close {
          position: absolute;
          right: 5px;
        }
      }
      .odds {
        color: #2c2b2b;
        position: absolute;
        right: 13px;
        bottom: 10px;
      }
      .cart-content {
        padding: 9px 13px;
        .status {
          color: @primary-color;
          margin-bottom: -5px;
        }
      }
    }
  }
  .text-confirm {
    color: #878787;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  .tip-confirm {
    width: 100%;
    height: 23px;
    line-height: 23px;
    background: #e3f6ff;
    color: #34b0ff;
    text-align: center;
    margin: 10px 0;
  }
  .bet {
    font-size: 12px;
    color: #2c2b2b;
    .item {
      margin-bottom: 13px;
    }

    :deep(.el-input__inner) {
      height: 23px;
      background: #f8f8f8;
      border: 1px solid #6ec197;
      color: #2c2b2b;
      border-radius: 4px;
      padding: 0 8px;
    }
  }
  .action {
    .el-button {
      border: none;
      padding: 0;
      display: block;
      width: 100%;
      height: 26px;
      min-height: 26px;
      line-height: 26px;
      border-radius: 4px;
    }
    .el-button + .el-button {
      margin-left: 0;
    }
    .el-button--primary {
      background: linear-gradient(-79deg, #50a6a5, #8add9a);
      margin-bottom: 4px;
    }
    .el-button--default {
      background: #f8f8f8;
      color: #cac9c9;
    }
  }
}
</style>
