<template>
  <div class="match-data">
    <el-collapse v-model="activeMenuNames">
      <el-collapse-item class="league-box" v-for="league in sportMatchList" :key="league.key" :name="league.key">
        <template #title>
          <div class="league-header">
            <team-logo :league-id="league.leagueId" :sport-id="sportId" />
            <span class="league-name">{{ league.leagueName }}</span>
          </div>
        </template>
        <div class="matches">
          <div class="match-item" v-for="match in league.matches" :key="match.info.id">
            <div class="match-box">
              <MatchInfo :info="match.info" :sport-id="sportId" @click="goToDetail(match.info.id, league.leagueId)" />
              <div class="right-box">
                <MatchOdds :odds="match.odds" :info="match.info" />
                <div class="section-score">
                  <template v-for="(section, i) in match.info.sections">
                    <span class="section-item" :key="i" v-if="i <= Number(match.info.current)"
                      >{{ section[0] }} - {{ section[1] }}
                    </span>
                  </template>
                </div>
                <!-- <MatchSection v-if="showSection && match.info.sections" :sport-id="sportId" :info="match.info" /> -->
              </div>
            </div>
          </div>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script lang="ts">
import { SportLeagueMatch } from '@/store/types';
import { computed, ComputedRef, defineComponent, Ref, ref, watch, nextTick } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import MatchInfo from './info.vue';
import MatchOdds from './odds.vue';
// import MatchSection from './section.vue';
import { DataTypeEnum, SportIdEnum } from '@/common/enums';
import { intersection, isEmpty, union } from 'lodash-es';

export default defineComponent({
  name: 'MatchData',
  components: { MatchInfo, MatchOdds },
  setup() {
    const store = useStore();
    const router = useRouter();
    const activeMenuNames: Ref<string[]> = ref([]);
    const sportMatchNames: ComputedRef<string[]> = computed(() => store.getters.sportMatchNames);
    const sportListCollapse: ComputedRef<boolean> = computed(() => store.getters.sportListCollapse);
    watch(sportMatchNames, val => {
      nextTick(() => {
        if (sportListCollapse.value) {
          activeMenuNames.value = [];
        } else {
          activeMenuNames.value = union(intersection(activeMenuNames.value, val), val);
        }
      });
    });
    watch(sportListCollapse, val => {
      nextTick(() => {
        activeMenuNames.value = val ? [] : sportMatchNames.value;
      });
    });
    watch(activeMenuNames, (val, oldVal) => {
      if (isEmpty(val) && !isEmpty(oldVal)) {
        store.commit('SET_SPORT_LIST_COLLAPSE', true);
      }
    });
    const sportMatchList: ComputedRef<SportLeagueMatch[]> = computed(() => store.getters.sportMatchList);
    const periodId: ComputedRef<DataTypeEnum> = computed(() => store.getters.periodId);
    const sportId: ComputedRef<SportIdEnum> = computed(() => store.getters.sportId);
    const showSection: ComputedRef<boolean> = computed(
      () =>
        [
          SportIdEnum.Basketball,
          SportIdEnum.Tennis,
          SportIdEnum.Volleyball,
          SportIdEnum.Badminton,
          SportIdEnum.TableTennis
        ].includes(sportId.value) && periodId.value === DataTypeEnum.Live
    );
    const goToDetail = (id: number, leagueId: any) => {
      store.commit('SET_MENU_ACTIVE_TABINDEX', 2);
      router.push({
        path: '/web/detail',
        query: {
          sportId: sportId.value,
          periodId: periodId.value,
          eventIds: id,
          leagueId: leagueId
        }
      });
    };
    return { sportMatchList, activeMenuNames, goToDetail, sportId, showSection };
  }
});
</script>

<style lang="less" scoped>
.match-data {
  height: calc(100vh - 193px);
  overflow: auto;
}
.league-box {
  .league-header {
    display: flex;
    align-items: center;
    height: 32px;
    line-height: 32px;
  }
  :deep(.el-collapse-item__header) {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    background: #dff0ec;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-top: 5px;

    .el-collapse-item__arrow {
      font-weight: 600;
      transform: rotate(90deg);

      &.is-active {
        transform: rotate(-90deg);
      }
    }
  }
  .league-img {
    width: 17px;
    height: 17px;
  }

  .league-name {
    font-size: 12px;
    font-weight: 500;
    color: #069b71;
    margin-left: 3px;
  }
}
.match-box {
  display: flex;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e8ef;
}

.right-box {
  width: 100%;

  .section-score {
    display: flex;
    .section-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 23px;
      margin: 2px;
      background: #ffffff;
      border: 1px solid #e6e8ef;
      border-radius: 3px;
    }
  }
}
</style>
