<template>
  <div class="match-info">
    <div class="left-info">
      <span class="score-text" v-if="info?.score">{{ info.score[0] }}-{{ info.score[1] }}</span>
      <span class="time-text" v-if="info?.date"> {{ info.date }}</span>
      <span class="time-text"> {{ info?.timeText }}</span>
    </div>
    <div class="middle-info" :class="{ 'is-soccerBall': isFootball }">
      <div class="home-info">
        <team-logo :sport-id="sportId" :team-name="info?.home" />
        <span class="team-name">{{ info?.home }}</span>
        <div class="tech-box">
          <span class="red" v-if="soccerBallTech?.red">{{ soccerBallTech.red[0] }}</span>
          <span class="yellow" v-if="soccerBallTech?.yellow">{{ soccerBallTech.yellow[0] }}</span>
        </div>
      </div>
      <div class="away-info">
        <team-logo :sport-id="sportId" :team-name="info?.away" />
        <span class="team-name">{{ info?.away }}</span>
        <div class="tech-box">
          <span class="red" v-if="soccerBallTech?.red">{{ soccerBallTech.red[1] }}</span>
          <span class="yellow" v-if="soccerBallTech?.yellow">{{ soccerBallTech.yellow[1] }}</span>
        </div>
      </div>
      <div class="tie-text">
        <span>
          {{ isFootball ? '和局' : '比分' }}
        </span>
        <div class="tech-box">
          <span v-if="soccerBallTech && soccerBallTech.half"
            >HT{{ `${soccerBallTech.half[0]}-${soccerBallTech.half[1]}` }}</span
          >
          <span v-if="soccerBallTech && soccerBallTech.corner"
            >角{{ `${soccerBallTech.corner[0]}-${soccerBallTech.corner[1]}` }}</span
          >
        </div>
      </div>
    </div>
    <div class="right-info" :class="{ 'is-soccerBall': isFootball }">
      <svg-icon name="refresh" class="media-icon" />
      <svg-icon name="refresh" class="media-icon" />
      <span class="odd-count">+{{ info?.count }}></span>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import { useStore } from 'vuex';
import { SportMatchItem } from '@/store/types';
import { SportIdEnum } from '@/common';
import { TechId } from '@/common/enums/sportsTechEnum';
export default defineComponent({
  name: 'MatchInfo',
  props: {
    info: {
      type: Object as PropType<SportMatchItem['info']>
    },
    sportId: {
      type: Number as PropType<SportIdEnum>
    }
  },
  setup(props) {
    const store = useStore();
    const isFootball = computed(() => props.sportId === SportIdEnum.Soccerball);
    const soccerBallTech = computed(() => {
      if (!isFootball.value) {
        return null;
      }
      const tech = store.getters.getTechById(props.info?.id) || new Map();
      const half = store.getters.getHalfById(props.info?.id);
      return {
        red: tech.get(TechId.RED),
        yellow: tech.get(TechId.YELLOW),
        corner: tech.get(TechId.CORNER),
        half: tech.get(TechId.HALF) || half
      };
    });
    return { isFootball, soccerBallTech };
  }
});
</script>

<style lang="less" scoped>
.match-info {
  display: flex;
  .left-info {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    border-right: 1px solid #e6e8ef;

    .score-text {
      font-weight: 500;
      color: #069b71;
    }

    .time-text {
      color: #666;
    }
  }

  .middle-info {
    display: flex;
    flex-direction: column;
    // width: 203px;
    width: 212px;
    box-sizing: border-box;
    color: #666;
    padding: 4px 8px;
    border-right: 1px solid #e6e8ef;
    cursor: pointer;
    &.is-soccerBall {
      width: 212px;
    }
    .home-info,
    .away-info {
      display: flex;
      align-items: center;
      padding: 2px 0;
      flex: 1;
      .team-img {
        width: 18px;
        height: 18px;
      }

      .team-name {
        font-weight: 400;
        margin-left: 5px;
      }

      .tech-box {
        margin-left: auto;
        color: #fff;

        .red {
          background-color: #ff4436;
        }

        .yellow {
          background-color: yellow;
        }
      }
    }

    .home-info .team-name {
      color: #ff4436;
    }

    .tie-text {
      display: flex;
      padding: 2px 0 2px 23px;
      flex: 1;

      .tech-box {
        margin-left: auto;
      }
    }
  }

  .right-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // width: 51px;
    width: 42px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-right: 1px solid #e6e8ef;

    &.is-soccerBall {
      width: 42px;
    }

    .media-icon {
      width: 17px;
      height: 12px;
      opacity: 0;
    }

    .odd-count {
      font-size: 12px;
      color: #2c2b2b;
    }
  }
}
</style>
