<template>
  <div class="odd-info">
    <div class="handicap" v-for="odd in odds" :key="odd.betType">
      <OddItem v-for="(sel, index) in odd.sels" :sel="sel" :match-info="info" :key="sel.selKey || index" />
    </div>
  </div>
</template>

<script lang="ts">
import { SportMatchItem } from '@/store/types';
import { defineComponent, PropType } from 'vue';
import OddItem from 'web/components/odd-item.vue';

export default defineComponent({
  name: 'MatchOdds',
  components: { OddItem },
  props: {
    odds: {
      type: Object as PropType<SportMatchItem['odds']>
    },
    info: {
      type: Object as PropType<SportMatchItem['info']>
    }
  }
});
</script>

<style lang="less" scoped>
.odd-info {
  display: flex;
  padding: 5px 5px 5px 2px;
  box-sizing: border-box;
  min-width: 400px;
  flex: 1;
  .handicap {
    flex: 1;
    &:not(:first-child) {
      margin-left: 3px;
    }
    .odd-item:not(:first-child) {
      margin-top: 4px;
    }
  }
}
</style>
