<template>
  <div class="section-box">
    <div class="score-title">记分牌</div>
    <div class="score-item" v-for="(section, index) in sectionScore" :key="index">
      <div class="title">{{ section.name }}</div>
      <div class="score">{{ section.score[0] }}-{{ section.score[1] }}</div>
    </div>
    <template v-if="sportId === SportIdEnum.Tennis">
      <div class="score-item">
        <div class="title">赛盘</div>
        <div class="score">{{ info.score[0] }}-{{ info.score[1] }}</div>
      </div>
      <div class="score-item">
        <div class="title">得分</div>
        <div class="score">{{ info.pointScore[0] }}-{{ info.pointScore[1] }}</div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { sumBy } from 'lodash';
import { computed, defineComponent, PropType } from 'vue';
import { SportIdEnum } from '@/common/enums';
import { SportMatchItem } from '@/store/types';
/**
 * 篮球
 */
const basketballArr = [
  {
    name: '第一节',
    keys: [0]
  },
  {
    name: '第二节',
    keys: [1]
  },
  {
    name: '上半场',
    keys: [0, 1]
  },
  {
    name: '第三节',
    keys: [2]
  },
  {
    name: '第四节',
    keys: [3]
  },
  {
    name: '下半场',
    keys: [2, 3]
  },
  {
    name: '总分',
    keys: [0, 1, 2, 3]
  }
];
/**
 * 排球、羽毛球、乒乓球
 */
const otherBallArr = [
  {
    name: '第一局',
    keys: [0]
  },
  {
    name: '第二局',
    keys: [1]
  },
  {
    name: '第三局',
    keys: [2]
  },
  {
    name: '第四局',
    keys: [3]
  },
  {
    name: '第五局',
    keys: [4]
  },
  {
    name: '局',
    keys: [5]
  },
  {
    name: '总分',
    keys: [0, 1, 2, 3, 4]
  }
];
const numberToCh = ['一', '二', '三', '四', '五', '六', '七'];
export default defineComponent({
  name: 'MatchSection',
  props: {
    sportId: {
      type: Number as PropType<SportIdEnum>,
      default: SportIdEnum.Init
    },
    info: {
      type: Object as PropType<SportMatchItem['info']>,
      default: () => {}
    }
  },
  setup(props: any) {
    const sectionScore = computed(() => {
      if (props.sportId === SportIdEnum.Tennis) {
        return props.info.sections.map((item, index) => ({
          name: `第${numberToCh[index]}盘`,
          score: item
        }));
      }
      const arr = props.sportId === SportIdEnum.Basketball ? basketballArr : otherBallArr;
      return arr.map(item => ({
        name: item.name,
        score: [
          sumBy(item.keys, (key: number) => Number(props.info.sections[key][0])),
          sumBy(item.keys, (key: number) => Number(props.info.sections[key][1]))
        ]
      }));
    });

    return { sectionScore, SportIdEnum };
  }
});
</script>

<style lang="less" scoped>
.section-box {
  display: flex;
  height: 63px;
  align-items: center;
  color: #666;
  font-size: 12px;
  padding: 7px 0;
  box-sizing: border-box;

  .score-title {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .score-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 5px;
    height: 100%;

    .title,
    .score {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 23px;
      background: #ffffff;
      border: 1px solid #e6e8ef;
      border-radius: 3px;
    }

    .score {
      margin-top: 3px;
    }
  }
}
</style>
