<template>
  <div class="sport-img" :style="{ backgroundImage: `url(${sportImg})` }"></div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';

export default defineComponent({
  name: 'SportImg',
  props: {
    sportId: {
      type: Number,
      default: 1
    }
  },
  setup(props) {
    const sportImg = computed(() => require(`./img/${props.sportId}.png`));
    return { sportImg };
  }
});
</script>
<style lang="less" scoped>
.sport-img {
  background-size: 100% 100%;
}
</style>
