<template>
  <div class="set-popup-inner">
    <!-- <h3>
      <span>盘口设置:</span>
    </h3>
    <div class="cap_box">
      <van-radio-group @change="setOddType" v-model="checkedOddType" direction="horizontal">
        <template v-for="(item, index) in MarketTypeList" :key="index + '_key'">
          <van-radio :name="item.value" v-if="item.display">
            {{ item.label }}
          </van-radio>
        </template>
      </van-radio-group>
    </div> -->
    <h3>
      <span>投注设置:</span>
    </h3>
    <div class="upSting_box">
      <van-radio-group @change="setOptionType" v-model="checkedSetType" direction="vertical">
        <van-radio :name="item.value" v-for="(item, index) in BetPreferenceList" :key="index + '+key_'">{{
          item.label
        }}</van-radio>
      </van-radio-group>
    </div>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs } from 'vue';
import { MarketTypeList, BetPreferenceList } from '@/common/enums';
import { useGameSet } from '@/hooks/useGameSet';

export default {
  name: 'Setting',
  setup() {
    const { currentBetOption, setBetOption } = useGameSet();

    const data = reactive({
      // checkedOddType: currentOddsType.value,
      checkedSetType: currentBetOption.value,
      MarketTypeList,
      BetPreferenceList
    });
    const methods = {
      // setOddType: (v: number) => {
      //   setOddsType(v);
      // },
      setOptionType: (v: number) => {
        setBetOption(v);
      }
    };
    const refData = toRefs(data);
    return {
      currentBetOption,
      ...refData,
      ...methods
    };
  }
};
</script>
<style lang="less" scoped>
.set-popup-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  h3 {
    font-size: @font-size-md;
    border-bottom: 1px solid @border-color;
    padding: 10px 15px;
    margin: 0;
  }
  .van-radio {
    margin: 15px;
  }
  span {
    color: @text-color;
    font-size: @font-size-md;
  }
}
.cap_box {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}
</style>
