.loading {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  &Model {
    width: 120px;
    height: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 15px;
    &Img {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 3px;
      :global {
        .svg-icon {
          width: 40px;
          height: 40px;
        }
      }
    }
    &Text {
      margin-top: 3px;
      height: 30px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      i {
        position: relative;
        display: inline-block;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.1s * var(--i));
      }
      @keyframes animate {
        0% {
          transform: translateY(0px);
        }
        20% {
          transform: translateY(-4px);
        }
        40%,
        100% {
          transform: translateY(0px);
        }
      }
    }
  }
}
