<template>
  <el-dialog v-model="data.isShowCR" title="赛果" width="846px" destroy-on-close center :before-close="closeDialog">
    <div class="competition-results-content">
      <div class="date">
        <div
          class="item"
          v-for="(item, key) in DATE_LAST_WEEK"
          :key="key + 'time'"
          :class="{ active: key === data.timeValue }"
          @click="selectDate(item, key)"
        >
          <div>{{ item.date }}</div>
          <div>{{ item.title }}</div>
        </div>
      </div>
      <div class="select">
        <el-select v-model="data.sportId" placeholder="请选择运动项目" popper-class="competition-results-select">
          <el-option
            v-for="item in data.sportData"
            :key="item.sportId + 'Id'"
            :label="item.sportName"
            :value="item.sportId"
          />
        </el-select>
        <el-select
          v-model="data.gameListSelectArr"
          multiple
          collapse-tags
          placeholder="请选择联赛"
          popper-class="competition-results-select"
        >
          <el-option
            v-for="(item, key) in data.completedMatchs"
            :key="key + 'k'"
            :label="item.LeagueName"
            :value="key"
          />
        </el-select>
      </div>
      <div class="gameList">
        <div
          class="list"
          v-for="(item, key) in data.completedMatchs"
          :key="key + 'key'"
          v-show="data.gameListSelectArr.includes(key)"
        >
          <el-collapse v-model="data.gameListCollapseArr">
            <el-collapse-item :title="item.LeagueName" :name="key">
              <div>
                <table v-if="data.sportId !== 2">
                  <thead>
                    <tr>
                      <th>时间</th>
                      <th>队伍</th>
                      <th>半场</th>
                      <th>全场</th>
                    </tr>
                  </thead>
                  <tbody v-for="(item2, key2) in item.matches" :key="key2 + 'key2'">
                    <tr>
                      <td width="20%">{{ item2.startTime || '--' }}</td>
                      <td width="50%">{{ item2.home || '--' }} VS {{ item2.away || '--' }}</td>
                      <td width="15%">{{ item2.awayHalf || '--' }} - {{ item2.homeHalf || '--' }}</td>
                      <td width="15%">{{ item2.awayScore || '--' }} - {{ item2.homeScore || '--' }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- 篮球 -->
                <table v-else>
                  <thead>
                    <tr>
                      <th rowspan="2" width="15%">时间</th>
                      <th rowspan="2" width="40%">队伍</th>
                      <th colspan="4" width="37%">半场</th>
                      <!-- <th></th> -->
                      <!-- <th></th> -->
                      <!-- <th></th> -->
                      <th rowspan="2" width="8%">全场</th>
                    </tr>
                    <tr>
                      <!-- <th></th> -->
                      <!-- <th></th> -->
                      <th>第一节</th>
                      <th>第二节</th>
                      <th>第三节</th>
                      <th>第四节</th>
                      <!-- <th></th> -->
                    </tr>
                  </thead>
                  <tbody v-for="(item2, key2) in item.matches" :key="key2 + 'key2'">
                    <tr>
                      <td>{{ item2.startTime || '--' }}</td>
                      <td>{{ item2.home || '--' }} VS {{ item2.away || '--' }}</td>
                      <td v-for="(v, k) in item2.awayHalf" :key="k + 'k'">
                        {{ v || '--' }} - {{ item2.homeHalf[k] || '--' }}
                      </td>
                      <td>{{ item2.awayScore || '--' }} - {{ item2.homeScore || '--' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
        <no-data v-if="isEmpty(data.completedMatchs) || isEmpty(data.gameListSelectArr)" />
      </div>
    </div>
  </el-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, watch, toRef, computed } from 'vue';
import { isEmpty, map, groupBy } from 'lodash-es';
import { getShaBaResults, FinishedMatchItem } from '@/services';
import { DATE_LAST_WEEK } from '@/common/utils';
import { useStore } from 'vuex';
import NoData from '../../components/common/no-data.vue';
import { createLoading } from '@/hooks/useLoading';

export default defineComponent({
  name: 'CompetitionResults',
  components: { NoData },
  props: {
    isShowCR: {
      type: Boolean,
      default: false
    }
  },
  emits: ['closeCRDialog'],
  setup(props: any, { emit }: any) {
    const store = useStore();
    const data = reactive({
      isShowCR: toRef(props, 'isShowCR'),
      sportId: '',
      timeValue: 0,
      gameListCollapseArr: new Array<any>(), //赛果列表-折叠面板展开、关闭数组
      gameListSelectArr: new Array<any>(), //赛果下拉列表，是否显示、是否选中 数组
      //赛果列表数据
      completedMatchs: new Array<{
        LeagueId: number;
        LeagueName: string;
        matches: FinishedMatchItem[];
      }>(),
      date: {
        startTime: '',
        endTime: ''
      },
      sportData: computed(() => {
        return store.getters.sportTypes.get(1) || [];
      })
    });
    const methods = {
      closeDialog: () => {
        emit('closeCRDialog', false);
      },
      // 获取完场数据
      getCompletedMatchs: async () => {
        createLoading(true, document.querySelector('.competition-results-content'));
        const [isSuccess, res] = await getShaBaResults({
          gameId: data.sportId,
          startTime: data.date.startTime,
          endTime: data.date.endTime
        });
        createLoading(false);
        if (isSuccess) {
          // 数据分组
          let n: Number = -1;
          let arr: any[] = [];
          const newArray = map(groupBy(res.resultsInfo, 'leagueId'), (v, k) => {
            n = Number(n) + 1;
            arr.push(n);
            return {
              LeagueId: Number(k),
              LeagueName: v[0].leagueName,
              matches: v
            };
          });
          data.completedMatchs = newArray;
          data.gameListCollapseArr = arr;
          data.gameListSelectArr = arr;
        }
      },
      selectDate: (item: any, key: number) => {
        data.date = {
          startTime: item.starTime.startTime.split(' ')[0] + ' 00:00:00 00:00:00',
          endTime: item.starTime.endTime + ' 23:59:59'
        };
        data.timeValue = key;
      },
      initData: () => {
        if (isEmpty(data.sportData)) return '';
        data.sportId = data.sportData[0].sportId;
        data.date = {
          startTime: String(DATE_LAST_WEEK[0].starTime.startTime).split(' ')[0] + ' 00:00:00 00:00:00',
          endTime: DATE_LAST_WEEK[0].starTime.endTime + ' 23:59:59'
        };
      }
    };
    watch(
      () => [data.timeValue, data.sportId],
      () => {
        methods.getCompletedMatchs();
      }
    );
    watch(
      () => data.isShowCR,
      val => {
        val && methods.initData();
      }
    );
    return { data, ...methods, DATE_LAST_WEEK, isEmpty };
  }
});
</script>
<style lang="less" scoped>
.competition-results-content {
  position: relative;
  .select {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0 20px;
    margin-bottom: 9px;
  }
  .date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0 4px;
    margin-bottom: 9px;
    .item {
      text-align: center;
      height: 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid #c5e6dd;
      color: #2c2b2b;
      font-size: 12px;
      &.active {
        background: linear-gradient(to top right, #6abd99, #54aaa3);
        color: #fff;
        cursor: default;
        border: 1px solid #c5e6dd !important;
      }
      &:hover {
        border: 1px dashed var(--sp-primary-color);
      }
    }
  }
  .gameList {
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% + 16px);
    padding-right: 8px;
    &::-webkit-scrollbar {
      display: block;
      width: 16px;
      background: #dadada;
    }
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border: solid 1.5px #dadada;
      height: 140px;
    }
    .list {
      margin-bottom: 3px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    table,
    tr,
    td,
    th {
      border: 1px solid #d5ede6;
      text-align: center;
      background: #fff;
      height: 22px;
      line-height: 22px;
      color: #666;
      font-size: 12px;
      font-weight: 300;
    }
  }
}
:deep(.el-dialog__header) {
  padding: 0;
  height: 33px;
  line-height: 33px;
  background: linear-gradient(to right, #6ec197, #50a6a5);
  .el-dialog__title {
    color: #fff;
    font-size: 14px;
  }
}
:deep(.el-dialog__body) {
  padding: 12px 26px;
}
:deep(.el-dialog--center) {
  background: #f1f1f1;
  border-radius: 4px;
  overflow: hidden;
}
:deep(.el-dialog__headerbtn) {
  top: 3px;
  right: 8px;
}
:deep(.el-icon-close) {
  font-size: 14px !important;
  color: #50a6a5 !important;
  background: #fff !important;
  border-radius: 50% !important;
  height: 22px;
  line-height: 22px;
  width: 22px;
}
:deep(.el-collapse-item__header) {
  height: 25px;
  line-height: 25px;
  background: #dff0ec url(~@/assets/web/tit_lf_bg.png) no-repeat left;
  background-size: contain;
  padding-left: 24px;
  color: var(--sp-primary-color);
  font-size: 12px;
}
:deep(.el-collapse-item__arrow) {
  font-weight: bold;
  font-size: 14px;
  color: var(--sp-primary-color);
}
:deep(.el-dialog__headerbtn[aria-label='close']) {
  background: transparent;
}
:deep(.el-select .el-input__inner),
:deep(.el-select .el-input) {
  height: 25px;
  font-size: 12px;
}
:deep(.el-input__suffix) {
  display: flex;
  align-items: center;
}
:deep(.el-tag__close.el-icon-close) {
  height: 14px;
  line-height: 14px;
  width: 14px;
  background: #57aca2 !important;
  color: #fff !important;
}
:deep(.el-select .el-select__tags .el-tag) {
  background: #deebe3;
  height: 19px;
  line-height: 19px;
  margin: 3px 0 3px 7px;
  color: #2c2b2b;
}
:deep(.el-collapse-item__content) {
  padding: 0;
}
</style>
