<template>
  <el-dialog v-model="isVisible" width="660px" @close="emit('close')" custom-class="blank">
    <div class="inner">
      <div class="header">
        <div class="right-option">
          <span @click="selectAll">全选</span>
          <div class="action-right">
            <span @click="emit('close')">取消</span>
          </div>
        </div>
      </div>
      <div class="body">
        <el-checkbox-group v-model="checked">
          <el-checkbox v-for="i in data" :key="i.leagueId" :label="i.leagueId" class="league-item">
            <span class="label"> {{ i.leagueName }} </span>
            <!-- <span class="more">3</span> -->
          </el-checkbox>
        </el-checkbox-group>
      </div>
      <div class="footer">
        <div @click="confirm" class="confirm-btn">确认</div>
      </div>
    </div>
  </el-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch } from 'vue';

export default defineComponent({
  name: 'PopupLeagueFilter',
  props: ['visible', 'data'],
  emits: ['change', 'close'],
  setup(props, { emit }) {
    const data = reactive({
      isVisible: false,
      checked: [] as string[]
    });
    const methods = {
      selectAll: () => {
        if (data.checked.length === props.data.length) {
          data.checked = [];
          return;
        }
        data.checked = [];
        data.checked = props.data.map((e: any) => e.leagueId);
      },
      confirm: () => {
        emit('change', data.checked);
        emit('close');
      }
    };
    watch(
      () => props.visible,
      v => {
        data.isVisible = v;
      },
      { immediate: true }
    );
    return {
      ...toRefs(data),
      ...methods,
      emit
    };
  }
});
</script>
<style lang="less" scoped>
.inner {
  display: flex;
  flex-direction: column;
}
.header {
  background: #069b71;
  padding: 8px 16px;
  span {
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 12px;
  }
  .action-right {
    display: inline-block;
  }
}
.body {
  overflow-y: auto;
  padding: 16px 32px 16px 16px;
  max-height: 330px;
  position: relative;
  .league-item {
    padding: 10px 16px;
    display: flex;
    height: auto;
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    &:hover {
      background: #f1f1f1;
    }
  }
  :deep(.el-checkbox__label) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: normal !important;
  }
  &::-webkit-scrollbar {
    display: block;
    width: 16px;
    background: #dadada;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border: solid 2px #dadada;
  }
  .more {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    background: #e8edea;
    font-size: 12px;
    border-radius: 50%;
    color: @primary-color;
    text-align: center;
  }
}

.footer {
  background: #fff;
  box-sizing: border-box;
  z-index: 9;
  border-top: 1px solid @border-color;
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  > .confirm-btn {
    border-radius: 5px;
    margin: 0 auto;
    background: #069b71;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    width: 240px;
    font-size: 14px;
    cursor: pointer;
  }
}
</style>
