<template>
  <el-dialog v-model="isVisible" title="公告" width="775px" custom-class="popup-notice" center @close="emit('close')">
    <div class="notice-content" v-loading="!loaded">
      <el-table :data="data" height="400">
        <el-table-column type="index" label="编号" align="center" width="60px" />
        <el-table-column prop="post_time" label="时间" align="center" width="100px">
          <template #default="scope">
            <span>{{ dayjs(scope.row.post_time).format('MM/DD HH:MM') }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="content" label="事件" header-align="center" />
      </el-table>
    </div>
  </el-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch } from 'vue';
import dayjs from 'dayjs';

export default defineComponent({
  name: 'PopupNotice',
  props: ['visible', 'data', 'loaded'],
  setup(props, { emit }) {
    const data = reactive({
      isVisible: false
    });
    watch(
      () => props.visible,
      v => {
        data.isVisible = v;
      },
      {
        immediate: true
      }
    );
    return {
      ...toRefs(data),
      dayjs,
      emit
    };
  }
});
</script>

<style lang="less" scoped>
.notice-content {
  height: 400px;
  width: 720px;
  display: flex;
  :deep(.el-table) {
    overflow: visible;
    font-size: 12px;
    thead {
      color: #fff;
      tr {
        background: linear-gradient(-79deg, #50a6a5, #6fc197);
      }
      .el-table__cell {
        padding: 0;
        height: 29px;
        background: none;
      }
      .cell {
        line-height: 29px !important;
      }
    }
    .el-table__body-wrapper {
      width: 745px;
      &::-webkit-scrollbar {
        display: block;
        width: 16px;
        background: #dadada;
      }
      &::-webkit-scrollbar-thumb {
        background: #fff;
        border: solid 2px #dadada;
      }
    }
    tbody {
      .cell {
        line-height: 18px;
      }
      .el-table__cell {
        padding: 5px 0;
      }
    }
    .el-table__row {
      &:nth-child(even) {
        background: #efefef;
      }
      &:nth-child(odd) {
        background: #fcfdfd;
      }
    }
  }
}
</style>
