<template>
  <el-dialog v-model="isVisible" title="设置" width="520px" center custom-class="popup-settings" @close="emit('close')">
    <el-form>
      <!--      <el-form-item label="赔率盘口" label-width="80px">-->
      <!--        <el-radio-group v-model="checkedOdds">-->
      <!--          <el-radio v-for="it in MarketTypeList" :label="it.value" :key="it.label">{{ it.label }}</el-radio>-->
      <!--        </el-radio-group>-->
      <!--      </el-form-item>-->
      <el-form-item label="投注规则" label-width="80px">
        <el-radio-group v-model="checkedRule">
          <el-radio v-for="it in BetPreferenceList" :label="it.value" :key="it.label">{{ it.label }}</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <template #footer>
      <el-button size="small" class="cancel" @click="emit('close')">取消</el-button>
      <el-button size="small" type="primary" class="confirm" @click="confirm">保存</el-button>
    </template>
  </el-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch } from 'vue';
import { useStore } from 'vuex';
import { BetPreferenceList, MarketTypeList } from '@/common';

export default defineComponent({
  name: 'PopupSettings',
  props: ['visible'],
  emits: ['close'],
  setup(props, { emit }) {
    const store = useStore();
    const data = reactive({
      isVisible: false,
      checkedOdds: '',
      checkedRule: store.state.settings.betRuleType
    });
    const confirm = () => {
      store.dispatch('SET_BET_RULE_TYPE', data.checkedRule);
      emit('close');
    };
    watch(
      () => props.visible,
      v => {
        data.isVisible = v;
      },
      { immediate: true }
    );

    return {
      ...toRefs(data),
      BetPreferenceList,
      MarketTypeList,
      confirm,
      emit
    };
  }
});
</script>

<style lang="less">
.popup-settings {
  .el-dialog__body {
    padding-bottom: 0 !important;
  }
  .el-radio {
    display: block;
  }
  .el-button {
    border: none;
    width: 125px;
    border-radius: 10px;
    font-size: 14px;
    &:first-child {
      margin-right: 100px;
    }
  }
  .confirm {
    color: white;
  }
  .cancel {
    color: @gray-8;
    background-color: @gray-3;
  }
}
</style>
