<template>
  <el-dialog
    v-model="isVisible"
    title="体育博彩规则"
    width="775px"
    custom-class="popup-notice"
    center
    @close="emit('close')"
  >
    <div class="header">
      <label>选择体育项目：</label>
      <el-select v-model="selected" placeholder="请选择">
        <el-option v-for="i in sportsList" :value="i" :label="i.label" :key="i.value">{{ i.label }}</el-option>
      </el-select>
    </div>
    <div class="notice-content" v-loading="!loaded">
      <h3>{{ selected && selected.label }}</h3>
    </div>
  </el-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch } from 'vue';
import dayjs from 'dayjs';

export default defineComponent({
  name: 'PopupSportsRule',
  props: ['visible', 'data'],
  setup(props, { emit }) {
    const data = reactive({
      isVisible: false,
      selected: {},
      sportsList: [{ label: '一般体育说明', value: 1 }],
      loaded: true
    });
    watch(
      () => props.visible,
      v => {
        data.isVisible = v;
      },
      {
        immediate: true
      }
    );
    return {
      ...toRefs(data),
      dayjs,
      emit
    };
  }
});
</script>

<style lang="less" scoped>
.notice-content {
  height: 400px;
  width: 720px;
  display: flex;
  h3 {
    font-size: 14px;
    color: @primary-color;
  }
}
.header {
  font-size: 12px;
}
:deep(.el-select) {
  .el-input__inner {
    width: 160px;
    height: 25px;
    background: #f1f1f1;
    border-radius: 2px;
    font-size: 12px;
  }
  .el-input__suffix,
  .el-input__icon {
    line-height: 25px;
  }
}
</style>
