.clearfix {
  *zoom: 1;

  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: '';
  }

  &:after {
    clear: both;
  }
}

.filter-header {
  width: 100%;
  height: 45px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.filter-content {
  overflow-y: scroll;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  background-color: @background-color;

  .none {
    display: none;
  }

  .label {
    padding: 0 12px;
    color: #000;

    &.mt {
      margin-top: 10px;
    }
  }

  .all-league {
    .text-01 {
      font-size: @font-size-md;
      padding: 8px 15px 0;
      color: @text-color;
    }

    :global {
      .van-index-anchor {
        background: #fff;
        color: #000;
      }
    }

    .league-select {
      font-size: 14px;
      display: flex;
      background-color: @white;
      padding: 10px 16px;
      border-bottom: 1px solid #f2f2f2;

      .leagueIcon {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        vertical-align: text-top;
      }
    }

    .league-info {
      width: 320px;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: #2b2b22;

      > .team-logo {
        margin-right: 5px;
      }
    }

    :deep(.van-index-bar__sidebar) {
      right: 5px;

      .van-index-bar__index {
        font-size: 14px;
        padding: 4px 5px;

        &.van-index-bar__index--active {
          // padding: 2px 0;
          border-radius: 50%;
          background: #f7b500;
          color: #000;
        }
      }
    }
  }
}

.nodata {
  background: #fff;
  flex: 1;
}

.league-filter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filter-footer {
  width: 100%;
  padding: 12px 16px;
  padding-top: 14px;
  padding-bottom: 40px;
  background: @white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .console-btn {
    display: flex;
    align-items: center;
    min-width: 50%;
  }

  .invert-checked {
    font-size: 14px;
    color: #333;
    padding: 0 10px;
  }

  .confirm {
    height: 40px;
    max-width: 50%;
    font-size: 16px;
    color: #fff;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: @primary-color;
  }
}
