<template>
  <div class="header" id="home-header" :style="{ backgroundImage: `url(${headerBg()})` }">
    <div class="header-top">
      <div class="left">
        <div class="source-item active">{{ sportName }}</div>
      </div>
      <div class="right">
        <div class="my-balance" v-if="showBalance">
          <RefreshButton type="total" />
        </div>
        <van-button
          v-if="!isQIANKUN()"
          round
          type="primary"
          size="mini"
          class="r-btn"
          @click="push(RouteEnum.BET_HISTORY)"
        >
          投注记录
        </van-button>
      </div>
    </div>
    <MatchSwiper />
  </div>
</template>

<script lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { getThemeStyle } from '@/common';
import { useSportsSource } from '@/hooks/useSportsSource';
import MatchSwiper from './MatchSwiper.vue';
import { RouteEnum } from 'h5/router';

import RefreshButton from '@/pages/sb-mobile/components/refresh-button/index.vue';
import GREEN_IMG from '@/assets/header_bg_green.jpg';
import GOLDEN_IMG from '@/assets/header_bg_golden.jpg';
import DARLGOLDEN_IMG from '@/assets/header_bg_darkgolden.jpg';

const headerBgIMG = {
  green: GREEN_IMG,
  golden: GOLDEN_IMG,
  darkGold: DARLGOLDEN_IMG
};

export default {
  name: 'HomeHeader',
  components: {
    MatchSwiper,
    RefreshButton
  },
  setup() {
    const store = useStore();
    const { push } = useRouter();
    const { getCurrentSportsSource, setSportsSource } = useSportsSource();
    const isQIANKUN = () => {
      return !!window.__POWERED_BY_QIANKUN__;
    };
    const sportName = computed(() => {
      // sportName 是从getTenantConfig接口中获取的，现在子项目有在排除在微服务中不调用次接口，见app.vue中，
      // 由于微服务中也有调用getTenantConfig此接口，而且数据存在浏览器缓存中了所以需要从缓存中读取
      if (window.__POWERED_BY_QIANKUN__) {
        const name = 'SB体育';
        store.commit('SET_SPORT_NAME', name);
      }
      return store.getters.sportName;
    });

    const showBalance = computed(() => store.getters.showBalance);

    const headerBg = (): string => {
      const themeStyle = getThemeStyle();
      return headerBgIMG[themeStyle];
    };

    return {
      push,
      headerBg,
      getCurrentSportsSource,
      setSportsSource,
      RouteEnum,
      sportName,
      showBalance,
      isQIANKUN
    };
  }
};
</script>

<style lang="less" scoped>
.header {
  position: relative;
  height: 180px;
  width: 100%;
  background-size: 100%;
  padding: 45px 0 0 0;
  background-size: 100% 100%;
  box-sizing: border-box;
  &-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 9;
    .left {
      display: flex;
      border-radius: 100px; /* no */
      // border: 1px solid @primary-color;
      padding: 0;
      box-sizing: border-box;

      .source-item {
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        padding: 2px 8px;
        line-height: normal;
        border-radius: 100px; /* no */
        transition: ease-in-out 0.3s;
        display: flex;
        align-items: center;
        &.active {
          background: @primary-color;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
    }
    .r-btn {
      color: #fff;
      background: @primary-color;
      border: none !important;
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
      &.recharge {
        color: #8f6020;
        background: linear-gradient(90deg, #ffe790, #f8da6e);
      }
    }
  }
  .my-balance {
    margin-right: 10px;
    display: flex;
    align-items: center;
    &-num {
      font-size: 18px;
      color: #fff;
    }
    &-num,
    &-btn {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }
    &-btn {
      margin-left: 5px;
      color: @primary-color;
      font-size: 18px;
    }
  }
}
</style>
