<template>
  <van-swipe class="match-swiper" :autoplay="5000">
    <van-swipe-item v-for="(item, index) in transformData" :key="index + '_S_KEY'" @click="pathToDetail(item)">
      <div class="matcht_tiket">
        <div class="title_box">{{ item.league }}</div>
        <div class="content_box">
          <div class="content_temmate">
            <team-logo :sportId="item.gid" size="xxl" :teamName="item.home" />
            <p>{{ item.home }}</p>
          </div>
          <!-- 未开赛 -->
          <div class="content_cneter" v-if="item.status === 0">
            <div class="center_vs">VS</div>
            <div class="center_footer">{{ toTime(item.startDate, 'YYYY-MM-DD') }} {{ item.startTime }}</div>
          </div>
          <div class="content_cneter" v-else>
            <div class="score_tech">
              <div class="home_tech">
                <span class="red" v-if="item.homeRedCards > 0">{{ item.homeRedCards || '0' }}</span>
                <span class="yellow" v-if="item.homeYellowCards > 0">{{ item.homeYellowCards || '0' }}</span>
              </div>
              <div class="score" :class="{ 'is-hight': item.homeScore > item.awayScore }">
                {{ item.homeScore }}
              </div>
              <div class="center_vs">-</div>
              <div class="score" :class="{ 'is-hight': item.homeScore < item.awayScore }">
                {{ item.awayScore }}
              </div>
              <div class="away_tech">
                <span class="yellow" v-if="item.awayYellowCards > 0">{{ item.awayYellowCards || '0' }}</span>
                <span class="red" v-if="item.awayRedCards > 0">{{ item.awayRedCards || '0' }}</span>
              </div>
            </div>
            <div class="center_footer">{{ item.formateStage }} {{ item.formattedGameTime }}</div>
          </div>
          <div class="content_temmate">
            <team-logo :sportId="item.gid" size="xxl" :teamName="item.away" />
            <p>{{ item.away }}</p>
          </div>
        </div>
        <div class="data_box" v-if="item.gid === 1 && item.status > 0">
          <img :src="jqIMG" class="flag" />
          <span>{{ item.homeCorners }} - {{ item.awayCorners }}</span>
          <svg-icon class="ht-icon" name="ht" />
          <span>{{ item.homeHalfScore }} - {{ item.awayHalfScore }}</span>
        </div>
      </div>
    </van-swipe-item>
  </van-swipe>
</template>

<script lang="ts">
import { onMounted } from 'vue';
import { toTime } from '@/common';
import { useRouter } from 'vue-router';
import { isEmpty } from 'lodash-es';
import { useAuth } from '@/hooks';

import { useRecommendedMatch } from '@/hooks';
import { RecommendedMatchData } from '@/services';
import { RouteEnum } from '@/pages/sb-mobile/router';

import jqIMG from '@/assets/live-icon/jiaoqiu@2x.png';

export default {
  nane: 'MatchSwiper',
  setup() {
    const router = useRouter();
    const { checkIsLogin } = useAuth();

    const { getRecommendedData, transformData } = useRecommendedMatch();

    const pathToDetail = (item: RecommendedMatchData) => {
      if (!checkIsLogin()) return;
      const periodId = item.status !== 0 ? '3' : '1';
      router.push({
        path: RouteEnum.SPORT_DETAIL,
        query: {
          sportId: item.gid,
          periodId, // 滚球参数3  非滚球今日是1
          matchId: item.mid
        }
      });
    };

    onMounted(async () => {
      await getRecommendedData();
    });

    return { toTime, pathToDetail, transformData, jqIMG, isEmpty };
  }
};
</script>

<style lang="less" scoped>
.match-swiper {
  height: 135px;
  width: 100%;
  :deep(.van-swipe__indicators) {
    bottom: 5px !important;
  }
  :deep(.van-swipe__indicator) {
    width: 15px;
    border-radius: 100px;
    height: 4px;
    transition: ease-in-out 0.3s;
  }
  :deep(.van-swipe__indicator--active) {
    background: #fff;
    width: 20px;
  }
}

.notice-swipe {
  height: 40px;
  line-height: 40px;
}

.matcht_tiket {
  width: 100%;
  display: flex;
  flex-direction: column;
  .title_box {
    text-align: center;
    color: #fff;
    font-size: @font-size-xs;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .content_box {
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: flex-start;
    .content_temmate {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 30%;
      p {
        padding: 0;
        margin: 0;
        color: white;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        width: 100%;
      }
      img {
        max-height: 32px;
        max-width: 32px;
      }
    }
    .content_cneter {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      width: 40%;
      .center_vs {
        font-size: @font-size-xs * 2.5;
        color: white;
        text-align: center;
        margin-bottom: 10px;
      }
      .score_tech {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        color: #fff;
        .home_tech,
        .away_tech {
          display: flex;
        }
        .yellow {
          background: #ebba40;
          padding: 0 3px;
        }
        .red {
          background: #eb3223;
          padding: 0 5px;
          margin: 0 1px;
        }
      }
      .score {
        font-size: 25px;
        font-family: 'DINAlternate-Bold';
        color: #fff;
      }
      .center_footer {
        width: fit-content;
        border-radius: 100px;
        font-size: @font-size-xs;
        background: @red;
        color: white;
        text-align: center;
        padding: 2px 5px;
        box-sizing: border-box;
        line-height: 1;
      }
      .center_event {
        padding: 0px 5px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        color: @white;
      }
    }
  }
  .data_box {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    color: #fff;
    font-size: 14px;
    align-items: flex-end;
    .flag {
      width: 16px;
      height: 16px;
    }
    .ht-icon {
      fill: #fff;
      margin-left: 10px;
      width: 16px;
      height: 16px;
    }
  }
}
</style>
