.page {
  .header {
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 16px 0 22px;

    &::before {
      position: absolute;
      content: ' ';
      width: 2px;
      height: 12px;
      top: 17px;
      background: #009944;
      left: 16px;
    }
  }

  .box {
    padding: 0 16px;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9a9a9a;
  }

  .tabItem {
    display: flex;
    align-items: center;
    height: 52px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    position: relative;
    flex: 1;
  }

  .away {
    justify-content: flex-end;
  }

  .tabActive {
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background: #009944;
    }
  }

  .liveBox {
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    &:global(.away) {
      .teacher {
        padding-right: 16px;
        align-items: flex-end;
      }

      .country {
        order: -1;
      }

      .awaysHeader {
        justify-content: flex-end;
      }

      .outItem {
        justify-content: flex-end;
      }

      .outNumber {
        text-align: right;
        order: 1;
      }

      .outDoName {
        text-align: right;
      }

      .homeIcon {
        order: 1;
      }
    }
  }

  .teacher {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 12px;
    color: #000;
    font-weight: 600;
  }

  .teach {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #9a9a9a;
    font-weight: 400;
  }

  .country {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
  }

  .tanland {
    background-image: url('./assets/tai_icon.png');
  }

  .aways {
    padding: 0 16px;
  }

  .awaysHeader {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .awaysTitle {
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    font-weight: 600;
  }

  .outItem {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .outNumber {
    font-size: 16px;
    color: #000;
    letter-spacing: 0;
    font-weight: 500;
    width: 32px;
  }

  .outBox {
    display: flex;
    flex-direction: column;
    font-weight: 400;
  }

  .outName {
    font-size: 12px;
    line-height: 17px;
    color: #000;
  }

  .outDoName {
    font-size: 12px;
    line-height: 17px;
    color: #9a9a9a;
  }
}
