.teamLogo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  :global {
    .van-image__error,
    .van-image__loading {
      width: 100%;
      height: 100%;
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &:global(.xs) {
    width: 20px;
    height: 20px;
  }
  &:global(.xxl) {
    width: 36px;
    height: 36px;
  }
}
