.ringPieChartSvg {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: rotate(-90deg);
}

.ringPieChartCircle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: translateY(100px) translateX(100px);
}
