<template>
  <div
    class="bet-cart"
    :class="{
      'is-detail-page': isDetailPath,
      'is-spa-app': isQianKun && !isDetailPath,
      'is-cover': isCoverTabBar
    }"
    id="bet-cart"
    @click.stop
    v-if="!betRes"
  >
    <div
      class="bet-cart-header"
      @touchmove.prevent.stop
      @mousewheel.prevent
      id="bet-cart-header"
      @click.stop="handleToggle"
    >
      <div class="console">
        <div class="title">
          <span class="counter"> {{ betCounter }} </span>
          <span>{{ beLabelCondition ? '串关投注' : `至少选择${maxCombo > 3 ? maxCombo : 3}场比赛` }}</span>
        </div>
        <div class="del-btn" @click.stop="clearTickets">
          <svg-icon name="clear" />
          <span>一键清空</span>
        </div>
      </div>
      <div class="blance">
        <span>余额</span>
        <RefreshButton type="shaba" :showBtn="false" transfer />
        <svg-icon name="expand" :class="[isToggle ? 'down' : '']" />
      </div>
    </div>
    <div class="bet-cart-content" v-if="isToggle">
      <!-- 票头列表 -->
      <div class="bet-cart-body" :style="{ 'max-height': setMaxHeight() }">
        <ParlayTicketItem
          v-for="(ticket, index) in ticketsList"
          :data="ticket"
          @remove="removeThisTicket"
          :key="index + '_T_KEY'"
        />
        <div class="ticket-headers" v-if="visibleTicketCombos">
          <template v-for="(comboItem, index) in ticketsCombos" :key="comboItem.combo_type + '_TH_KEY'">
            <TickerHeader
              :data="comboItem"
              @click-input="onClickInput(index)"
              :value="amountList[index]"
              v-if="isExpand ? true : index < 1"
            >
              <template v-if="index === 0" #ticketPrice>
                <span class="ticker-header-price">{{ tickerHeaderPrice }}</span>
              </template>
              <NumberKeyborad
                v-model:amount="amountList[index]"
                :min="comboItem.min_bet"
                :max="comboItem.max_bet"
                :activeKeyboard="activeKeyboard === index"
              />
            </TickerHeader>
          </template>
        </div>
        <div class="expand-mored-parlay" v-if="visibleTicketCombos">
          <div @click="onExpandMore" :class="{ 'is-expand': isExpand }">
            <span>{{ isExpand ? '收起' : '更多' }}串关类型</span>
            <svg-icon name="arrow" />
          </div>
        </div>
      </div>
      <div class="total-win-amount">
        <span>可赢金额: </span>
        <span>{{ totalWinAmount }}</span>
      </div>
      <div class="bet-cart-footer" @touchmove.prevent.stop @mousewheel.prevent>
        <div class="add-match" @click.stop="handleToggle">
          <svg-icon name="add" />
          <span>添加比赛</span>
        </div>
        <van-button class="betting" @click.stop="doBetAction" :loading="isBetting">
          <span class="bet-text">投注</span>
          <p class="total-number" style="margin: 0">合计：{{ totalBetAmount }}</p>
        </van-button>
      </div>
    </div>
  </div>
  <BetResult
    isParlay
    :currentCombos="currentCombos"
    :amount="totalResBetAmount"
    :winAmount="totalResultWinAmount"
    :tickets="ticketsList"
    :class="{ 'is-cover': isCoverTabBar }"
    @to-keep="toKeepBetting"
    @close="closeCartOverlay"
    v-else
  />
  <van-overlay
    @touchmove.prevent
    @mousewheel.prevent=""
    :show="isToggle"
    v-if="isToggle"
    @click="closeCartOverlay"
    :class="{ 'is-cover': isCoverTabBar }"
    lock-scroll
    class="bet-cart-overlay"
  />
</template>

<script lang="ts">
import { computed, ref, Ref, onMounted, toRaw, onUnmounted, watch } from 'vue';
import { useStore } from 'vuex';
import ParlayTicketItem from '../TicketItem/parlayIndex.vue';
import RefreshButton from '@/components/refresh-button/index.vue';
import TickerHeader from '../TicketItem/TickerHeader.vue';
import NumberKeyborad from '../Keyboard/index';
import BetResult from '../BetResult/index.vue';

import { useBet } from '@/hooks/useBet';
import { Toast } from 'vant';
import { ParlayCombosItem } from '@/services';
import { difference, sortBy } from 'lodash-es';
import { currency } from '@/common';
import { RouteEnum } from '@/pages/sb-mobile/router';
import { useRoute } from 'vue-router';

export default {
  name: 'ParlayBetCart',
  components: { ParlayTicketItem, RefreshButton, TickerHeader, NumberKeyborad, BetResult },
  setup() {
    const store = useStore();
    const route = useRoute();
    const { ticketsList, ticketsCombos, removeTicket, maxCombo, doParlayBetAction, isBetting, sbWalletBalance } =
      useBet();

    const isToggle = ref(false);
    const activeKeyboard = ref(null);
    const amountList: Ref<string[]> = ref([]);
    const visibleTicketCombos = ref(false); // 显示投注头
    const isExpand = ref(false); // 展开票头
    const totalResBetAmount = ref('');

    const totalResultWinAmount = ref(''); // 可赢投注结果 接口计算

    const currentCombos: Ref<ParlayCombosItem[]> = ref([]);

    const betRes = ref(false); // 投注成功
    const isQianKun = ref(false);

    // 投注统计
    const betCounter = computed(() => store.getters.betCounter);

    // 显示可赢
    const totalWinAmount = computed(() => {
      let totalWin = 0;
      ticketsCombos.value.forEach((e, index: number) => {
        const v = !!amountList.value[index] ? amountList.value[index] : 0;
        totalWin = Number(v) * Number(e.odds) - Number(e.bet_count) * Number(v) + totalWin;
      });
      return currency(totalWin);
    });

    // 投注总金额
    const totalBetAmount = computed(() => {
      let total = 0;
      ticketsCombos.value.map((e, index) => {
        const aItem = amountList.value[index];
        if (!!aItem && Number(aItem) > 0 && Number(aItem) !== NaN) {
          total = Number(aItem) * Number(e.bet_count) + total;
        }
      });
      return currency(total);
    });

    // 打开串关的条件
    const beLabelCondition = computed(() => {
      const flag = betCounter.value >= (maxCombo.value > 3 ? maxCombo.value : 3);
      return flag;
    });

    const isDetailPath = computed(() => {
      // if (isToggle.value) return false;
      const FilterRouteList = [RouteEnum.SPORT_DETAIL] as string[];
      return FilterRouteList.includes(route.path);
    });
    // 在首页展开的时候需要覆盖底部导航栏
    const isCoverTabBar = computed(() => {
      return RouteEnum.ROOT === route.path && isToggle.value;
    });

    // 票头赔率显示
    const tickerHeaderPrice = computed(() => {
      if (ticketsList.value.length <= 0) {
        return 0;
      }
      let x = 1;
      ticketsList.value.forEach(e => {
        x = Number(e.oddInfo.Price) * x;
      });
      return currency(x);
    });
    watch(isToggle, val => {
      if (!val) {
        document.body.classList.remove('PositionFixed');
      }
    });
    const methods = {
      // 初始化投注数据
      init: () => {
        // 定时器关闭
        methods.clearPreTimer();
        store.commit('SET_TICKET_COMBOS_SUCCESS', []);
        // 清除金额
        amountList.value = [];
        activeKeyboard.value = null;
        visibleTicketCombos.value = false;
        isExpand.value = false;
        currentCombos.value = [];
      },
      // 抽屉
      handleToggle: () => {
        if (!beLabelCondition.value) {
          Toast('串关数量不足');
          document.body.classList.remove('van-overflow-hidden');
          document.body.classList.remove('PositionFixed');
          return;
        }
        isToggle.value = !isToggle.value;

        if (isToggle.value) {
          document.body.classList.add('van-overflow-hidden');
          document.body.classList.add('PositionFixed');
          methods.getPreBetData({ immediate: true });
        } else {
          document.body.classList.remove('van-overflow-hidden');
          document.body.classList.remove('PositionFixed');
          methods.init();
        }
      },
      // 继续投注此单
      toKeepBetting: async () => {
        store.commit('IS_BETTING', false);
        amountList.value = [];
        betRes.value = false;
        methods.getPreBetData({ immediate: true });
      },
      // 获取预投注数据
      getPreBetData: async ({ immediate }: { immediate: boolean } = { immediate: false }) => {
        immediate && methods.clearPreTimer(); // 刷新重置定时器
        const { isSuccess, message } = await store.dispatch('GET_PARLAY_PRE_BET_DATA');
        if (message === 603) {
          Toast('沙巴用户名为空');
          return;
        }
        const timer = setTimeout(() => {
          methods.getPreBetData();
        }, 5000);
        if (isSuccess) {
          preBetTimer.value = timer;
        } else {
          preBetTimer.value = timer;
        }
        visibleTicketCombos.value = isSuccess;
      },
      doBetAction: async () => {
        const { value } = amountList;
        // 金额监测
        if (!methods.checkAmount(ticketsCombos.value, toRaw(value))) return;
        console.log('1:开始串关投注', value);
        const { isBetSuccess, message, betData } = await doParlayBetAction({
          BetTickets: ticketsList.value,
          ticketsCombos: ticketsCombos.value,
          AmountList: value
        });
        if (isBetSuccess && !!betData) {
          methods.init();

          totalResBetAmount.value = currency(betData.total_stake || 0);
          const combs = betData.current_combos;
          const sortList = sortBy(combs, (e: any) => e.bet_count).filter(e => e.stake > 0) || [];
          currentCombos.value = sortList;
          // (串关） 本金*串关赔率 - 总注数*本金 = 可赢额
          let totalWin = 0;
          sortList.forEach(e => {
            totalWin = Number(e.stake) * Number(e.combo_price) - Number(e.bet_count) * Number(e.stake) + totalWin;
          });
          totalResultWinAmount.value = currency(totalWin);
          // 先排序
        } else {
          Toast(message);
        }
        betRes.value = isBetSuccess;
      },
      // 金额检查
      checkAmount: (parlayCombos: ParlayCombosItem[], amountArr: string[]): boolean => {
        const remove = difference(amountArr, ['', '0', '.', undefined]);
        if (remove.length === 0) {
          Toast('请至少选择一项投注金额');
          return false;
        }
        // 投注额低于投注下限,请修改
        for (const index in remove) {
          const max = parlayCombos[index].max_bet;
          const min = parlayCombos[index].min_bet;
          const amount = Number(remove[index] || 0);
          if (amount < min) {
            Toast('投注额低于投注下限,请修改');
            return false;
          }
          if (amount > max) {
            Toast('投注额高于投注上限,请修改');
            return false;
          }
        }
        // 与钱包金额比对
        let total = 0;
        ticketsCombos.value.map((e: { bet_count: any }, index: string | number) => {
          const aItem = amountList.value[index];
          if (!!aItem && Number(aItem) > 0 && Number(aItem) !== NaN) {
            total = Number(aItem) * Number(e.bet_count) + total;
          }
        });
        if (Number(total) >= Number(sbWalletBalance.value)) {
          store.commit('SET_IS_SHOWINSUFFICIENT', { flag: true, amount: total });
          methods.handleToggle();
          // Toast('余额不足');
          return false;
        }
        return true;
      },
      // 清除定时器
      clearPreTimer: () => {
        clearTimeout(preBetTimer.value);
        preBetTimer.value = null;
      },
      onClickInput: (index: number) => {
        if (index === activeKeyboard.value) return;
        activeKeyboard.value = index as any;
      },
      onExpandMore: () => {
        isExpand.value = !isExpand.value;
      },
      removeThisTicket: ({ marketId, matchId }: { marketId: number; matchId: number }) => {
        removeTicket(marketId);
        store.commit('REMOVE_CURRENT_ODDS_ID_SUCCESS', { matchId });
        amountList.value = [];
        if (!beLabelCondition.value) {
          isToggle.value = false;
          document.body.classList.remove('van-overflow-hidden');
          document.body.classList.remove('PositionFixed');
          document.body.style.setProperty('height', 'auto');
          methods.init();
        } else {
          methods.getPreBetData({ immediate: true });
        }
      },
      // 一键清除
      clearTickets: () => {
        store.commit('SET_TICKET_COMBOS_SUCCESS', []);
        store.commit('ADD_PRE_PARLAY_BET_ITEM_SUCCESS', []);
        store.commit('REMOVE_ALL_CURRENT_ODDS_ID');
        methods.init();
        betRes.value = false;
      },
      // 关闭投注矿
      closeCartOverlay: () => {
        document.body.classList.remove('van-overflow-hidden');
        document.body.classList.remove('PositionFixed');
        document.body.style.setProperty('height', 'auto');
        if (betRes.value) {
          methods.clearTickets();
        } else {
          methods.handleToggle();
        }
      },
      // 设置最大高度
      setMaxHeight: () => {
        const innerHeight = window.innerHeight;
        return innerHeight * 0.85 - 140 + 'px';
      }
    };
    // 预投注定时器
    const preBetTimer: Ref<any> = ref(null);

    onMounted(() => {
      store.dispatch('GET_SPORTS_BALANCE'); // 刷新余额
      // 乾坤样式
      isQianKun.value = !!window.__POWERED_BY_QIANKUN__;
    });

    onUnmounted(() => {
      methods.clearPreTimer();
      document.body.classList.remove('van-overflow-hidden');
      document.body.classList.remove('PositionFixed');
      document.body.style.setProperty('height', 'auto');
    });

    return {
      isQianKun,
      isToggle,
      isExpand,
      maxCombo,
      ...methods,
      betCounter,
      isBetting,
      betRes,
      ticketsCombos,
      totalWinAmount,
      totalResultWinAmount,
      totalBetAmount,
      totalResBetAmount,
      isDetailPath,
      isCoverTabBar,
      amountList,
      currentCombos,
      preBetTimer,
      ticketsList,
      beLabelCondition,
      activeKeyboard,
      tickerHeaderPrice,
      visibleTicketCombos
    };
  }
};
</script>

<style lang="less" scoped>
.bet-cart {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: calc(80px - 35px + env(safe-area-inset-bottom));
  z-index: 101;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  background-color: @primary-color;
  &.is-cover {
    z-index: 2001;
    bottom: 0;
  }

  &.is-detail-page {
    bottom: 46px !important;
  }

  &.is-spa-app {
    .bet-cart-header {
      height: 40px !important;
      padding: 10px 15px 25px !important;
    }
  }
  &.is-cover {
    margin-bottom: 0;
  }
  .expand-mored-parlay {
    display: flex;
    background: @background-color;
    .is-expand {
      .svg-icon {
        transform: rotate(180deg);
      }
    }
    .svg-icon {
      width: 10px;
      height: 10px;
      margin-left: 10px;
      transition: ease-in-out 0.3s;
    }
    > div {
      border-radius: 0 0 5px 5px;
      padding: 3px 8px;
      font-size: 12px;
      color: @gray-5;
    }
  }

  &.is-toggle {
    transition: ease-in-out 0.3s;
  }
  &-header {
    height: 40px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    .console {
      .title {
        display: flex;
        align-items: center;
        > span:nth-child(2) {
          font-size: @font-size-md;
          color: @white;
          margin-left: 5px;
        }
      }
      .del-btn {
        display: flex;
        align-items: center;
        padding-top: 2px;
        .svg-icon {
          fill: @white;
          width: 18px;
          height: 18px;
        }
        span {
          font-size: @font-size-xs;
          color: @white;
          margin-left: 2px;
          opacity: 0.8;
        }
      }
    }
    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 16px;
      height: 16px;
      border-radius: 100px;
      color: @primary-color;
      background: @white;
      font-size: @font-size-xs;
    }
    .blance {
      display: flex;
      align-items: center;
      > span {
        font-size: @font-size-md;
        color: @white;
        margin-right: 5px;
      }
      .down {
        transform: rotate(180deg);
      }
      .svg-icon {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        fill: @white;
        transition: ease-in-out 0.3s;
      }
    }
  }
  .ticket-headers {
    overflow: hidden;
  }
  .total-win-amount {
    text-align: right;
    padding: 3px 15px;
    font-size: @font-size-xs;
    background-color: @white;
    > span:first-child {
      color: @gray-6;
    }
    > span:last-child {
      font-weight: bold;
      color: @text-color;
    }
  }
  &-body {
    min-height: 100px;
    max-height: 400px;
    overflow: scroll;
    background-color: @white;
    border-radius: 20px 20px 0 0;
  }
  &-footer {
    height: 50px;
    padding: 10px 15px;
    background-color: @white;
    display: flex;
    align-items: center;
    .add-match {
      width: 40%;
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      font-size: @font-size-md;
      color: @gray-6;
      .svg-icon {
        width: 16px;
        height: 16px;
        fill: @gray-6;
      }
    }
    .betting {
      width: 60%;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: @font-size-md;
      background: @primary-color;
      border: 1px solid @primary-color;
      flex: 1;
      height: 50px;
      .bet-text {
        font-weight: bold;
        color: @white;
      }
      .total-number {
        font-size: @font-size-xs;
        color: @white;
      }
      span {
        color: @white;
      }
    }
  }
  &-overlay {
    z-index: 100;
    &.is-cover {
      z-index: 2000;
    }
  }
}

.ticker-header-price {
  color: #00d1e1;
  margin-left: 10px;
}
</style>
