<template>
  <div class="Insu_Balance">
    <div class="Insufficientbalance" @click.stop>
      <div class="bg_top">
        <div class="bg_top_inner">
          <svg-icon name="warning" aria-hidden="true" />
          <span>体育钱包余额不足</span>
        </div>
      </div>
      <div class="balance_con">
        <div class="balance">
          <div class="walletTran">
            <div class="wallet">
              <p>体育钱包</p>
              <p>{{ currency(sbWalletBalance) }}</p>
            </div>
            <div>
              <svg-icon @click="tranfer_ingame_amount" name="icon_zz" class="exchange" aria-hidden="true" />
            </div>
            <div class="wallet">
              <p>其他钱包</p>
              <p>{{ currency(balance) }}</p>
            </div>
          </div>
          <p class="tip">
            你还需要
            <span class="difference">{{ currency(insufficientAmount - sbWalletBalance) }}</span> 才能完成该投注
          </p>
        </div>
        <van-button class="betting" @click="toRecharge">
          <div class="betText">立刻充值</div>
        </van-button>
      </div>
    </div>
    <van-overlay
      :show="isShowInsufficient"
      @click="closeCartOverlay"
      class="bet-cart-overlay"
      @touchmove.prevent=""
      @mousewheel.prevent=""
    />
  </div>
</template>

<script lang="ts">
import { useBet } from '@/hooks/useBet';
import { currency, emitParent } from '@/common/utils';
import { useAuth } from '@/hooks';
import { useStore } from 'vuex';
export default {
  name: 'InsufficientBalance',
  setup() {
    const store = useStore();
    const { sbWalletBalance, balance, isShowInsufficient, insufficientAmount } = useBet();
    const { checkIsLogin } = useAuth();
    const toRecharge = () => {
      if (!checkIsLogin()) return;
      emitParent('routeH5MainPath', 'recharge');
      // !!window.toRechargePath ? window.toRechargePath() : null;
    };
    const tranfer_ingame_amount = async () => {
      await store.dispatch('TRANSFER_INGAME_AMOUNT', { firstCode: 'sb_sport2', walletCode: 'sb2' });
      await store.dispatch('GET_SPORTS_BALANCE');
    };
    const closeCartOverlay = () => {
      store.commit('SET_IS_SHOWINSUFFICIENT', { flag: false, amount: 0 });
    };
    return {
      sbWalletBalance,
      currency,
      balance,
      toRecharge,
      tranfer_ingame_amount,
      isShowInsufficient,
      closeCartOverlay,
      insufficientAmount
    };
  }
};
</script>
<style lang="less">
.Insu_Balance {
  .bet-cart-overlay {
    z-index: 120;
  }
}
</style>
<style scoped lang="less">
.Insufficientbalance {
  width: 100%;
  height: 270px;
  margin-top: -50%;
  position: fixed;
  top: 50%;
  background: @white;
  border-radius: 20px;
  overflow: hidden;
  z-index: 130 !important;
  .bg_top {
    height: 140px;
    background: linear-gradient(to bottom, #ee0a24 20%, white 80%);
    .bg_top_inner {
      color: @white;
      text-align: center;
      line-height: 50px;
      font-size: 14px;
      width: 100%;
      .svg-icon {
        width: 16px;
        height: 16px;
        margin-right: 3px;
        position: relative;
        fill: @white;
      }
    }
  }
  .balance_con {
    width: 101%;
    height: 200px;
    overflow: hidden;
    position: relative;
    top: -90px;
    background: rgba(256, 256, 256, 0.6);
    border-radius: 20px 20px 0 0;
    left: -0.5%;
    .balance {
      height: 130px;
      border-radius: 0 0 20px 20px;
      border-bottom: 1px solid @border-color;
      border-left: 1px solid @border-color;
      border-right: 1px solid @border-color;
      clear: both;
      overflow: hidden;
      .walletTran {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        .wallet {
          width: 100px;
          text-align: center;
          p {
            padding: 0;
            margin: 0 0 10px 0;
            color: #542e15;
          }
          & > p:nth-child(2) {
            font-size: 14px;
            font-weight: 600;
            color: #5a3925;
          }
        }
        .exchange {
          width: 36px;
          height: 36px;
          fill: #fff;
          color: #fff;
          background: transparent;
        }
      }
      .tip {
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
        color: #888;
        .difference {
          color: #ee0a24;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    .betting {
      width: 80%;
      margin-left: 10%;
      margin-top: 20px;
      border-radius: 100px;
      background: var(--sp-primary-color);
      color: white;
    }
  }
}
</style>
