.match-type {
  background-color: @white;
  overflow: hidden;
  padding-left: 16px;
  .tabs {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 12px;
    transition: ease-in-out 0.3s;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    &-item {
      flex: 1;
      text-align: center;
      background: @white;
      border-radius: 100px;
      margin: 6px 4px;
      padding: 6px 5px;
      border: 1px solid @primary-color;
      > span {
        font-size: 12px;
        color: @primary-color;
      }
      &.active {
        background: @primary-color;
        > span {
          color: @white;
        }
      }
    }
  }
}

.sports-type-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  background: @white;
  padding-left: 16px;
}

.sports-type {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 56px;
  color: #888;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  text-align: left;
  padding: 8px 0;
  background: @white;
  &::-webkit-scrollbar {
    display: none;
  }

  &-item {
    display: inline-block;
    margin-right: 16px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    &::after {
      content: '';
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('./assets/shadow.png');
      width: 100%;
      height: 18px;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      z-index: 0;
    }
    .sport-icon {
      position: relative;
      z-index: 1;
      width: 26px;
      height: 26px;
      margin: 0 auto;
      .ball {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
        position: absolute;
        img {
          display: block;
          margin: 0 auto;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    &-counter {
      font-size: 12px;
      color: #000000;
      font-weight: 400;
      position: absolute;
      transform: scale(0.8);
      top: -15px;
      left: 28px;
      background-color: @white;
      line-height: normal;
      padding: 2px 5px;
      top: -9px;
      border-radius: 10px;
    }
    &.active {
      background-color: @primary-color;
      .sport-icon .ball {
        animation: ball 0.8s linear infinite;
      }
    }
  }
}

@keyframes ball {
  0% {
    width: 28px;
    height: 28px;
    left: 0;
    bottom: 5px;
  }
  36% {
    width: 28px;
    height: 28px;
    left: 0;
    bottom: 0;
  }
  37% {
    width: 32px;
    height: 24px;
    left: -2px;
    bottom: 0;
  }
  44% {
    width: 32px;
    height: 24px;
    left: -2px;
    bottom: 0;
  }
  78% {
    width: 22px;
    height: 32px;
    left: 2px;
    bottom: 2px;
  }
  95% {
    bottom: 5px;
  }
  100% {
    width: 28px;
    height: 28px;
    left: 0;
    bottom: 5px;
  }
}
