@charset "UTF-8";

@font-face {
  font-family: 'number-font';
  src: url('./number-font.woff2') format('woff2'), url('./number-font.woff') format('woff'),
    url('./number-font.ttf') format('truetype'), url('./number-font.eot') format('embedded-opentype');
  // url('./number-font.svg') format('svg')
  font-weight: normal;
  font-style: normal;
}
