.pull-refresh {
  overflow: hidden;
  user-select: none;

  &__track {
    position: relative;
    height: 100%;
    transition-property: transform;
  }

  &__head {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    color: #000;
    font-size: 12px;
    text-align: center;
    transform: translateY(-100%);
    background-color: #f2f2f2;
  }

  &__loading-icon {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    .svg-icon {
      width: 25px;
      height: 25px;
      display: block;
      margin: 0 auto;
    }
  }
  &__loading-text {
    font-size: 12px;
    color: #9a9a9a;
    padding-top: 6px;
    line-height: 1;
  }

  &__no-data {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    font-size: 12px;
    background-color: #f2f2f2;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #9a9a9a;
  }
}
