<template>
  <div class="notice" @click="noticeVisible = true">
    <i class="icon-speaker"></i>
  </div>
  <popup-notice :visible="noticeVisible" :data="list" :loaded="loaded" @close="noticeVisible = false" />
</template>

<script>
import { computed, defineComponent, onMounted, reactive, toRefs } from 'vue';
import { lastSevenDays, today } from '@/common';
import { getPublicMessage } from '@/services';
import PopupNotice from 'web/views/popup/Notice';

export default defineComponent({
  name: 'Notice',
  components: { PopupNotice },
  setup() {
    const data = reactive({
      noticeVisible: false,
      list: [],
      loaded: false,
      text: computed(() => data.list.map(v => v.content).join('  ')),
      MarqueeTextWidth: computed(() => {
        return document.body.clientWidth - 218 - 44 - 32;
      })
    });
    const methods = {
      // 获取公告列表
      getData: async () => {
        const startDate = lastSevenDays();
        const endDate = today();
        const [res, _data] = await getPublicMessage({ startDate, endDate });
        if (res) {
          Object.freeze(_data); // 阻止响应提升性能
          data.list = _data;
        }
        data.loaded = true;
      }
    };
    onMounted(() => {
      methods.getData();
    });
    return {
      ...toRefs(data),
      ...methods
    };
  }
});
</script>

<style lang="less" scoped>
.notice {
  height: 30px;
  line-height: 30px;
  background: #eef7f5;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  .icon-speaker {
    display: inline-block;
    background: url('~@/assets/web/speaker.png') no-repeat;
    background-size: contain;
    width: 17px;
    height: 15px;
    margin-right: 10px;
  }
  .marquee {
    font-size: 12px;
    color: #069b71;
    white-space: nowrap;
    :deep(.marquee-text-text) {
      margin-left: 500px;
    }
  }
}
</style>
