<template>
  <div class="odd-item">
    <div class="filled locked" v-if="sel.locked">
      <svg-icon name="lock_h5" class="lock-icon" />
    </div>
    <div class="filled" v-else-if="sel.filled">
      <div class="fill-line"></div>
    </div>
    <div class="odd-box" :class="[oddIsActive ? 'active' : '', changeType, changePrice]" @click="getPreBet" v-else>
      <span class="odd-text">{{ sel.name }}</span>
      <span class="odd-number">{{ sel.price }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { OddSelItem, SportMatchItem } from '@/store/types';
import { computed, defineComponent, PropType, ref } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'OddItem',
  props: {
    sel: {
      type: Object as PropType<OddSelItem>,
      default: () => {}
    },
    matchInfo: {
      type: Object as PropType<SportMatchItem['info']>,
      default: () => {}
    }
  },
  setup(prop) {
    const store = useStore();
    const changeType = ref('normal');
    const oddIsActive = computed(() => store.getters.singlePreOddKey === prop.sel.selKey);
    const changePrice = computed(() => prop.sel.change);
    const getPreBet = () => {
      store.dispatch('GET_PRE_SINGLR_BET_DATA', {
        matchInfo: prop.matchInfo,
        sel: prop.sel
      });
    };
    return { changeType, getPreBet, oddIsActive, changePrice };
  }
});
</script>

<style lang="less" scoped>
@keyframes changeOpcity {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.odd-item {
  .filled {
    width: 100%;
    height: 28px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #e6e8ef;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    .lock-icon {
      width: 14px;
    }
    .fill-line {
      width: 11px;
      height: 2px;
      margin: 0 auto;
      background: #c4dbd6;
    }
  }
  .locked {
    justify-content: center;
  }
  .odd-box {
    width: 100%;
    height: 28px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #e6e8ef;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      background: #e2efec;
    }
    &.active {
      background: #6ec197;
      // background: linear-gradient(-79deg, #50a6a5, #8add9a);
      .odd-text {
        color: white;
      }
      .odd-number {
        color: white;
      }
    }
    .odd-text {
      color: #2c2b2b;
      text-align: left;
    }
    .odd-number {
      text-align: right;
      font-weight: 500;
      color: #2c2b2b;
    }
  }
  .reduce {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      display: inline-block;
      border-bottom: 6px solid green;
      border-right: 6px solid green;
      border-top: 6px solid transparent;
      border-left: 6px solid transparent;
      right: 0;
      bottom: 0;
      opacity: 0;
      animation: changeOpcity 3s linear;
    }
  }
  .rise {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      border-bottom: 6px solid transparent;
      border-right: 6px solid red;
      border-top: 6px solid red;
      border-left: 6px solid transparent;
      display: inline-block;
      top: 0;
      right: 0;
      opacity: 0;
      animation: changeOpcity 3s linear;
    }
  }
}
</style>
