<template>
  <div class="sport-icon" :style="style">
    <el-image :src="src" />
  </div>
</template>

<script>
import { computed, defineComponent, toRef } from 'vue';

export default defineComponent({
  name: 'SportIcon',
  props: ['sportId', 'green', 'grey', 'size'],
  setup(props) {
    const iconSize = toRef(props, 'size');
    const style = computed(() => {
      return `width: ${props.size || 16}px;height: ${props.size || 16}px`;
    });
    const src = computed(() => {
      const color = props.green ? '' : '_gold';
      const grey = props.grey ? '_grey' : '';
      return require(`@/assets/sport-icon/${props.sportId}${color}${grey}.png`);
    });
    return {
      src,
      iconSize,
      style
    };
  }
});
</script>

<style scoped></style>
