.demo-anit {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(at 30% 30%, #0000, #000a) red;
  left: 10px;
  top: 200px;
  &.start {
    animation: x 1s linear infinite, y 1s infinite cubic-bezier(0, 0, 0.5, 533);
  }
}

@keyframes x {
  to {
    left: 250px;
  }
}
@keyframes y {
  to {
    top: 199.5px;
  }
}
