<template>
  <div class="menu-box">
    <div class="balance-box">
      <span class="balance-title">余额：</span>
      <div class="balance-int" :class="{ hidden: hideBalance }">
        <div class="hidden-text">****</div>
        <div class="inner">
          <span>{{ currency(balance) }}</span>
        </div>
      </div>
      <svg-icon :name="hideBalance ? 'eye-closed' : 'eye'" class="eye-icon" @click="hideBalance = !hideBalance" />
      <svg-icon name="refresh" class="refresh-icon" @click="refreshBalance" :class="{ loading: isRefreshingBalance }" />
    </div>
    <el-collapse class="el-collapse-container" v-model="activeMenuNames">
      <el-collapse-item name="1" class="collapse-item">
        <template #title>
          <div class="colapse-header">
            <svg-icon name="silder-title" class="silder-title" />
            <span class="title-text">快速投注</span>
          </div>
        </template>
        <div class="bet-box">
          <QuickBet v-if="hasBet" />
          <div v-else class="no-bet">点击赛事投注赔率即可快速投注</div>
        </div>
      </el-collapse-item>
      <el-collapse-item name="2" class="collapse-item" v-if="menuActiveTabIndex === 1">
        <template #title>
          <div class="colapse-header">
            <svg-icon name="silder-title" class="silder-title" />
            <span class="title-text">体育菜单</span>
          </div>
        </template>
        <SportMenu />
      </el-collapse-item>
      <MatchList v-else />
    </el-collapse>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, toRefs, watchEffect } from 'vue';
import SportMenu from './sport-menu.vue';
import MatchList from './MatchList/index.vue';
import { useStore } from 'vuex';
import QuickBet from 'web/components/menu-slide/quick-bet/index.vue';
import { useRoute } from 'vue-router';
import { currency } from '@/common';
export default defineComponent({
  name: 'MenuSlide',
  components: { QuickBet, MatchList, SportMenu },
  setup() {
    const store = useStore();
    const route = useRoute();
    const data = reactive({
      balance: computed(() => store.state.user.SBwallet),
      hideBalance: false,
      isRefreshingBalance: false
    });
    // 快速投注
    const hasBet = computed(() => Boolean(store.getters.singlePreOddKey));
    // 左侧菜单标题 1 ：首页重的体育赛事 2:赛事详情中的滚球赛事|| 推荐赛事
    const activeMenuNames = ref(['1', '2']);
    // 左侧菜单选中的索引
    const menuActiveTabIndex = computed(() => store.getters.menuActiveTabIndex);

    watchEffect(async () => {
      // 页面刷新时需要根据所在页面控制tab标题
      await store.commit('SET_MENU_ACTIVE_TABINDEX', route.path.includes('/web/detail') ? 2 : 1);
    });
    const methods = {
      // 刷新余额
      refreshBalance: async () => {
        data.isRefreshingBalance = true;
        // 先转账再查询余额
        await store.dispatch('TRANSFER_INGAME_AMOUNT', { platformCode: 'SB' });
        await store.dispatch('GET_SPORTS_BALANCE');
        data.isRefreshingBalance = false;
      }
    };
    onMounted(() => {
      methods.refreshBalance();
    });
    return { ...toRefs(data), activeMenuNames, hasBet, menuActiveTabIndex, currency, ...methods };
  }
});
</script>

<style lang="less" scoped>
.menu-box {
  height: 100%;
  width: 218px;
  box-sizing: border-box;
  border-right: 2px solid #82bf9c;
  .balance-box {
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0 5px;

    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      height: 27px;
      width: 4px;
      background: linear-gradient(0deg, #5ee970, #2eab51);
      border-radius: 0 2px 2px 0;
    }

    .balance-title {
      font-size: 14px;
      font-weight: 500;
      color: #878787;
      margin-left: 12px;
    }

    .balance-int {
      font-size: 14px;
      font-weight: 500;
      color: #2c2b2b;
      position: relative;
      &.hidden {
        .inner {
          visibility: hidden;
        }
        .hidden-text {
          visibility: visible;
        }
      }
      .hidden-text {
        position: absolute;
        top: 3px;
        visibility: hidden;
      }

      .balance-dec {
        font-size: 12px;
      }
    }
    .eye-icon {
      width: 18px;
      height: 14px;
      margin-left: 10px;
      cursor: pointer;
    }

    .refresh-icon {
      width: 13px;
      height: 13px;
      margin-left: auto;
      margin-right: 12px;
      cursor: pointer;
      &.loading {
        animation: rotate 1s linear infinite;
      }
    }
  }
  .el-collapse-container {
    height: calc(100vh - 40px);
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    :deep(.collapse-item:nth-child(1)) {
      height: auto;
    }
    :deep(.collapse-item:nth-child(2)) {
      flex-flow: column;
      flex: 1;
      overflow: scroll;
      display: flex;
      & > div:nth-child(1) {
        height: 33px;
      }
      & > div:nth-child(2) {
        flex: 1;
        overflow: auto;
        display: flex;
      }
    }
  }
  :deep(.el-collapse) {
    div[role='tab'] {
      padding: 0 5px;
    }
  }

  .collapse-item {
    position: relative;
    width: 100%;
    .bet-icon {
      width: 19px;
      height: 18px;
    }

    .title-text {
      font-size: 14px;
      font-weight: 500;
      color: #878787;
      margin-left: 6px;
    }

    .bet-box {
      padding: 10px 0;

      .no-bet {
        font-size: 12px;
        color: #a2a2a2;
        text-align: center;
      }
    }

    :deep(.el-collapse-item__header) {
      width: 210px;
      height: 33px;
      background: #eef7f5;
      padding: 0 8px;
      box-sizing: border-box;
      border-radius: 4px;
    }

    :deep(.el-collapse-item__arrow) {
      width: 9px;
      height: 6px;
      font-size: 0;
      // background-image: url('../../assets/arraw.png');
      background-size: 100% 100%;
      transform: rotate(180deg);
      &.is-active {
        transform: rotate(0);
      }
    }
  }
}
:deep(.el-collapse-item__content) {
  flex: 1;
  overflow: scroll;
  padding-bottom: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
