<template>
  <div class="sport-menu">
    <div class="play-types">
      <div
        class="play-item"
        :class="{ active: play.periodId === periodId }"
        v-for="play in menuKey"
        :key="play.periodId"
        @click="changePlayType(play.periodId)"
      >
        <span>{{ play.title }}</span>
      </div>
    </div>
    <div class="sport-list">
      <div
        class="sport-item"
        v-for="sport in sportMenu"
        :class="{ active: sport.sportId === sportId }"
        :key="sport.sportId"
        @click="changeSportType(sport)"
      >
        <SportImg :sport-id="sport.sportId" class="sport-icon" />
        <span class="sport-name">{{ sport.sportName }}</span>
        <span v-if="sport.live" class="sport-live">LIVE</span>
        <div class="sport-number">{{ sport.count }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, ComputedRef, defineComponent } from 'vue';
import { useStore } from 'vuex';
import { DataTypeEnum, SportIdEnum } from '@/common/enums';
import SportImg from '../sport-img/index.vue';
import { MenuItem } from '@/hooks/useMenu.hook';
import { createLoading } from '@/hooks/useLoading';

export default defineComponent({
  name: 'SportMenu',
  components: { SportImg },
  setup() {
    const store = useStore();
    const menuKey = [
      {
        title: '滚球',
        periodId: DataTypeEnum.Live
      },
      {
        title: '今日',
        periodId: DataTypeEnum.Today
      },
      {
        title: '早盘',
        periodId: DataTypeEnum.Early
      },
      {
        title: '串关',
        periodId: DataTypeEnum.Parlay
      }
    ];
    const changePlayType = async (periodId: DataTypeEnum) => {
      store.commit('SET_SPORT_DATE', 0);
      createLoading(true, document.querySelector('.right-slide'));
      await store.dispatch('CHANGE_PERIOD_ID', periodId);
      createLoading(false);
      store.commit('SET_SPORT_LIST_COLLAPSE', false);
    };
    const changeSportType = async (sportInfo: MenuItem) => {
      // 先做足篮球
      // if (
      //   ![
      //     SportIdEnum.Football,
      //     SportIdEnum.Basketball,
      //     SportIdEnum.Volleyball,
      //     SportIdEnum.Badminton,
      //     SportIdEnum.TableTennis
      //   ].includes(sportInfo.sportId)
      // )
      //   return;
      store.commit('SET_SPORT_DATE', 0);
      createLoading(true, document.querySelector('.right-slide'));
      await store.dispatch('CHANGE_SPORT_INFO', sportInfo);
      createLoading(false);
      store.commit('SET_SPORT_LIST_COLLAPSE', false);
    };
    const periodId: ComputedRef<DataTypeEnum> = computed(() => store.getters.periodId);
    const sportId: ComputedRef<SportIdEnum> = computed(() => store.getters.sportId);
    const sportMenu: ComputedRef<MenuItem[]> = computed(() => store.getters.sportMenu);

    return { periodId, sportId, sportMenu, menuKey, changePlayType, changeSportType };
  }
});
</script>

<style lang="less" scoped>
.sport-menu {
  .play-types {
    display: flex;
    align-items: center;
    height: 32px;
  }

  .play-item {
    flex: 1;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #2c2b2b;
    cursor: pointer;

    span {
      position: relative;
    }

    &.active,
    &:hover {
      color: #069b71;
      ::after {
        content: ' ';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 24px;
        height: 2px;
        background: linear-gradient(90deg, #35a5a4, #5fde77);
        border-radius: 1px;
      }
    }
  }

  .sport-list {
    padding: 10px 0;
    overflow: scroll;
  }

  .sport-item {
    width: 210px;
    height: 32px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 14px;
    color: #a2a2a2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.active,
    &:hover {
      background: linear-gradient(-79deg, #50a6a5, #8add9a);
      border-radius: 5px;
      color: #fff;

      .sport-number {
        color: #fff;
        font-size: 12px;
        background: rgba(238, 247, 245, 0.18);
      }
    }

    .sport-icon {
      width: 20px;
      height: 20px;
    }

    .sport-name {
      margin-left: 12px;
    }
    .sport-live {
      width: 38px;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      background: linear-gradient(-79deg, #ff6642, #fec945);
      border-radius: 4px;
      color: #fff;
      text-align: center;
      position: absolute;
      right: 55px;
    }

    .sport-number {
      min-width: 34px;
      height: 16px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(238, 247, 245);
      border-radius: 5px;
      color: #a2a2a2;
    }
  }
}
</style>
