.page {
  .header {
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 16px 0 22px;
    &::before {
      position: absolute;
      content: ' ';
      width: 2px;
      height: 12px;
      top: 17px;
      background: @primary-color;
      left: 16px;
    }
  }
  .cardBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 12px 40px;
    border-bottom: 1px solid #f2f2f2;
  }
  .cardItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }
  .cardIcon {
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-image: url('./assets/card_icon.png');
    margin: 0 16px;
  }
  .cardText {
    font-size: 12px;
    color: #9a9a9a;
  }
  .rangePrecent {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 0;
  }
  .rangeTitle {
    font-size: 12px;
    color: #9a9a9a;
    text-align: center;
  }
  .rangeTextBox {
    display: flex;
    justify-content: space-between;
  }
  .rangeText {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 22px;
  }
  .rangeSplit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rangeSplitItem {
    background: #f2f2f2;
    height: 4px;
    width: 140px;
  }
  .dataBox {
    padding: 24px 16px;
  }
  .dataBg {
    width: 343px;
    height: 188px;
    background-size: 100% 100%;
    background-image: url('./assets/data_bg.png');
    position: relative;
  }
  .techItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
  .rangeCornors {
    top: 56px;
    left: 33px;
  }
  .rangeShootRight {
    top: 33px;
    left: 145px;
  }
  .rangeShotOff {
    top: 9px;
    left: 283px;
  }
  .rangeAttack {
    top: 102px;
    left: 237px;
  }
  .techName {
    font-size: 14px;
    color: #9a9a9a;
  }
  .techBox {
    display: flex;
    justify-content: space-between;
    width: 18px;
    margin-top: 4px;
  }
  .techTeamItem {
    width: 8px;
    height: 50px;
    background: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .techHomeItem {
    width: 100%;
    background: #ff0000;
    transition: ease-in-out 0.8s;
  }
  .techAwayItem {
    width: 100%;
    background: @primary-color;
    transition: ease-in-out 0.8s;
  }
  .otherData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 24px;
  }
  .otherItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .otherItemSvg {
    height: 60px;
    width: 60px;
  }
  .otherIcon {
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ruleIcon {
    background-image: url('./assets/rule_icon.png');
  }
  .anyIcon {
    background-image: url('./assets/any_icon.png');
  }
  .upToIcon {
    background-image: url('./assets/up_to_icon.png');
  }
  .otherText {
    font-size: 14px;
    color: #9a9a9a;
    margin-top: 16px;
  }
  .changeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }
  .changeItem {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    &:not(:first-child) {
      margin-top: 12px;
      &::before {
        position: absolute;
        content: ' ';
        width: 2px;
        height: 24px;
        background: #f2f2f2;
        left: calc(50% - 1px);
        top: -18px;
      }
    }
  }
  .changeTurn {
    flex-direction: row-reverse;
  }
  .flexRight > div {
    justify-content: flex-end;
  }
  .changeContent {
    font-size: 12px;
    color: #000;
    width: 40%;
    flex: 1;
  }
  .changeTime {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin: 0 25px;
  }
  .homeTime {
    border: 1px solid #ff0000;
  }
  .awayTime {
    border: 1px solid @primary-color;
  }
  .changeIcon {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
  }
  .changeOff {
    background-image: url('./assets/change_off_icon.png');
    margin-left: 4px;
  }
  .changeIn {
    background-image: url('./assets/change_in_icon.png');
    margin-right: 4px;
  }
  .changeTop {
    display: flex;
    align-items: center;
  }
  .changeBottom {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
}
