<template>
  <div :class="['barrage-view', visible ? 'show' : 'hidden', isOpenDetail && 'openDetail']">
    <div class="barrage-wrap">
      <ul class="barrage-list">
        <li
          v-for="(item, index) in threeMessages"
          :key="index + '_R_KEUY'"
          :class="{ hidden: index < size(threeMessages) - 3 }"
        >
          <span v-if="item.cmd === 'R03'">{{ secretNickname(item.nick) }} 被禁言</span>
          <span v-else>{{ item.msg }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue';
import { secretNickname } from '@/common/utils';
import { MessageItem } from '@/hooks/useChat';
import { size, filter } from 'lodash-es';
import { useStore } from 'vuex';
export default defineComponent({
  name: 'ChatBarrage',
  props: {
    visible: {
      type: Boolean,
      defult: false
    },
    msgList: {
      type: Array as PropType<MessageItem[]>,
      defult: () => []
    }
  },
  setup(props) {
    const store = useStore();
    const isOpenDetail = computed(() => store.getters.isOpenDetail);
    // 显示的消息列表
    const threeMessages = computed(
      () =>
        !!props.msgList &&
        filter(
          props.msgList,
          item => item.cmd === 'R03' || (item.msg && (item.cmd ? ['M04', 'M02'].indexOf(item.cmd) === -1 : 1))
        ).slice(-5)
    );
    return { threeMessages, size, isOpenDetail, secretNickname };
  }
});
</script>

<style lang="less" scoped>
.barrage-view {
  height: 100px;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 20;
  &.show {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}
.openDetail {
  z-index: 200 !important;
}
.is-full-video li span {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.hidden {
  display: none;
}

.barrage-wrap {
  transition: ease-in-out 0.3s;
}

.barrage-list {
  background: transparent;
  // height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 10;
  transform: scale(0.85);

  li {
    text-align: left;
    min-width: 30px;
    max-width: 180px;
    margin-bottom: 2px;
    box-sizing: border-box;
    animation: fadeIn 0.3s ease-in-out forwards;
    span {
      color: #fff;
      font-size: 12px;
      padding: 3px 6px;
      display: block;
      background: rgba(#000, 0.7);
      border-radius: 11px;
      float: left;
      border: 1px solid rgba(255, 255, 255, 0);
      word-break: break-all;
    }
    .glod-color {
      color: #f7b500;
    }
    .red-color {
      color: #e20b0b;
    }
  }
}

@keyframes fadeIn {
  0% {
    margin-left: 50px;
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    margin-left: 0px;
    opacity: 1;
    transform: scale(1);
  }
}
</style>
