<template>
  <div class="chat_box">
    <div class="inputs_box" @click="onChatToggle">
      <div class="msg-tips">
        <svg-icon class="msg-icon" name="message" />
        <span v-show="unreadCount" class="unread">
          {{ unreadCount }}
          <!-- <template v-if="unreadCount < 10">{{ unreadCount }}</template>
          <svg-icon v-else class="unread-icon" name="ellipsis" /> -->
        </span>
      </div>
      <div class="scroll-text">
        <!-- <div class="scroll-text" v-if="messageList.length">
          <span v-for="(item, index) in messageList" :key="index">
            {{ item.msg }}
          </span>
        </div> -->
        <TextScroll :data-list="scrollMessageList" v-if="scrollMessageList.length" />
        <span v-else> 点击进入聊天室，开始聊天哦~ </span>
      </div>
    </div>
  </div>
  <van-popup position="bottom" class="report-dialog-box" v-model:show="showReportDialog">
    <ReportDialog
      @confirm="reportUser"
      @cancel="initReportDialog"
      @type-change="onReportTypeChange"
      :reportNick="targetUserInfo.nick"
      :reportTypes="reportTypes"
      v-if="showReportDialog"
    />
  </van-popup>
  <!-- chat popup -->
  <van-popup
    v-model:show="visible"
    class="chat_room_pop"
    :class="getThemeStyle()"
    :close-on-click-overlay="false"
    position="bottom"
    @click-overlay="onChatToggle"
    teleport="body"
    @opened="handleListener(true)"
    @closed="handleListener(false)"
  >
    <div class="chat_room_box">
      <div class="chat_room_header">
        <p>
          <span>{{ chatTitle }}</span>
          <van-popover
            class="chat-tips-pop"
            v-model:show="showPopover"
            :overlay="true"
            placement="right"
            :class="getThemeStyle()"
          >
            <van-grid square clickable :border="false">
              <div class="popover_text">任何群,广告均为诈骗，违规者封号处理</div>
            </van-grid>
            <template #reference>
              <van-icon name="warning" size="16px" style="margin-left: 0.05rem" />
            </template>
          </van-popover>
        </p>
        <van-icon name="arrow-down" @click="onChatToggle" size="0.5rem" />
      </div>
      <div class="chat_room_content" id="chat-msg-content">
        <div v-if="messageList.length > 0" class="message-list-wrap" id="message-list-wrap">
          <ChatMsgList @report="openReportDialog" :msgList="messageList" />
        </div>
        <DataEmpty description="暂无数据" v-else />
      </div>
      <div class="chat_room_footer">
        <span
          class="more-message-tip"
          v-show="showMoreMessage && messageList.length !== 0"
          @click.stop="onHandleMoreMsg"
          >有更多消息</span
        >
        <div class="input-inner">
          <span class="lockIcon" v-if="isLockInput">!</span>
          <van-field
            v-model="inputdata"
            :disabled="isLockInput"
            type="textarea"
            :rows="1"
            autosize
            clearable
            class="msg-input"
            :placeholder="placeholderText"
            maxlength="50"
          />
          <div class="send-icon" :class="[inputdata ? 'enable-click' : 'disabled-click']">
            <svg-icon name="send" @click="inputdata ? sendMsg() : handleDisableMsg()" />
          </div>
        </div>
      </div>
    </div>
  </van-popup>
</template>

<script lang="ts">
import { reactive, toRefs, computed, watch, ref, onBeforeUnmount, Ref, inject, PropType } from 'vue';
import TextScroll from 'h5/components/text-scroll/index.vue';
import ChatMsgList from './chat-msg-list.vue';
import ReportDialog from './report-dialog.vue';
import { MessageItem } from '@/hooks/useChat';
import { addReportUser } from '@/services';
import { useStore } from 'vuex';
import { Toast } from 'vant';
import { debounce, filter } from 'lodash-es';
import { AnchorData } from '../../hooks/anchor-data';
import { useAuth } from '@/hooks';
import { getThemeStyle } from '@/common';

export default {
  name: 'ChatRoom',
  description: '聊天室',
  components: {
    ChatMsgList,
    ReportDialog,
    TextScroll
  },
  props: {
    anchorVideoIsShow: {
      type: Boolean,
      default: false
    },
    isConnected: {
      type: Boolean,
      default: false
    },
    isLockInput: {
      type: Boolean,
      default: false
    },
    needRrchargeAmount: {
      type: Number,
      default: 0
    },
    unreadCount: {
      type: Number,
      default: 0
    },
    messageList: {
      type: Array as PropType<any[]>,
      default: () => []
    }
  },
  emits: ['send', 'clearUnread'],
  setup(props, { emit }) {
    const store = useStore();
    const userInfo = computed(() => store.state.user);
    const reportTypes = computed(() => store.getters.reportTypes);

    // 比赛id
    const matchId = inject('matchId') as number;

    const isTouched = ref(false); // 是否被触摸滚动
    const isNewsMsg = ref(false); // 是否为新消息
    // const { onMessage } = useChat({ matchId });
    const showMoreMessage = computed(() => isTouched.value && isNewsMsg.value);
    // 滚动时候排除系统消息与发送消息频繁
    const scrollMessageList = computed(() =>
      filter(props.messageList, item => item.msg && (item.cmd ? ['M04', 'M02'].indexOf(item.cmd) === -1 : item))
    );
    const { checkIsLogin } = useAuth();

    const data = reactive({
      visible: false,
      showPopover: false,
      inputdata: '',
      isReadyInput: true,
      showReportDialog: false,
      targetUserInfo: {
        nick: ''
      },
      reportType: null
    });
    // 输入框placeholderText
    const placeholderText = computed(() =>
      props.isLockInput ? `充值大于${props.needRrchargeAmount}才能发言` : '请您发表聊天'
    );

    const anchorInfo = inject('anchor-info') as Ref<AnchorData>;
    // 直播间title
    const chatTitle = computed(() =>
      props.anchorVideoIsShow && anchorInfo.value.name ? `${anchorInfo.value.name}直播间` : '聊个球'
    );

    watch(
      () => props.messageList,
      list => {
        list.length > 0 && methods.onMsgListScrollBottom();
      },
      { deep: true }
    );

    const methods = {
      // 发送聊天信息
      onSendChat: (msg: string) => {
        emit('send', msg);
      },
      onChatToggle: async () => {
        if (!checkIsLogin()) return;
        data.visible = !data.visible;
        // 清除未读
        if (!!props.unreadCount) {
          emit('clearUnread');
        }
        // 滚动到最底部
        methods.onMsgListScrollBottom();
      },
      handleListener: (isAdd: boolean) => {
        const ChatWrap: HTMLElement = document.getElementById('chat-msg-content') as any;
        if (!ChatWrap) return;
        isAdd
          ? ChatWrap.addEventListener('touchend', methods.onTouchScroll)
          : ChatWrap.removeEventListener('touchend', methods.onTouchScroll);
      },
      sendMsg: () => {
        if (data.isReadyInput) {
          methods.onSendChat(data.inputdata);
          data.inputdata = '';
          data.isReadyInput = false;
        }
        // 防止重复点击
        setTimeout(() => {
          data.isReadyInput = true;
        }, 1000);
      },
      // 提示不能輸入
      handleDisableMsg: () => {
        Toast('请输入消息');
      },
      // 初始化举报窗口
      initReportDialog: () => {
        data.showReportDialog = false;
        data.targetUserInfo = {
          nick: ''
        };
        data.reportType = null;
      },
      // 打开举报窗口
      openReportDialog: (targetReportUserInfo: any) => {
        const { id } = userInfo.value;
        if (Number(id) === Number(targetReportUserInfo.uid)) {
          Toast('用户不能举报自己');
          return;
        }
        if (data.showReportDialog) return;
        data.showReportDialog = true;
        data.targetUserInfo = targetReportUserInfo;
      },
      onBeforeClose: async () => {
        return false;
      },
      onReportTypeChange: (type: any) => {
        data.reportType = type;
      },
      // 举报
      reportUser: async () => {
        if (!data.reportType) {
          Toast('请选择一个类型');
          return;
        }
        const targetUser: MessageItem = data.targetUserInfo as any;
        const { id, nickName, username } = userInfo.value;
        const form: any = {
          uid: id, //当前用户uid
          nick: nickName, //当前用户昵称
          account: username, //当前用户账户
          role: '', //当前用户角色
          targetUid: targetUser.uid, // 被举报人uid
          targetNick: targetUser.nick, // 被举报人昵称
          targetAccount: targetUser.account, //举报人账户
          targetRole: targetUser.role, //被举报用户角色
          msgBody: targetUser.msg, // 消息内容
          // chatRoomType，聊天室所在场景；体育 match， 主播 anchor
          chatroomType: 'match', //房间类型
          reportTypeCode: data.reportType, //举报类型编码
          matchId: matchId, //赛事ID
          chId: matchId //赛事ID
        };
        const [result, resultData] = await addReportUser(form);
        if (result) {
          Toast(resultData || '举报成功');
          methods.initReportDialog();
        } else {
          Toast(resultData || '举报失败');
          methods.initReportDialog();
        }
      },
      // 点击最新
      onHandleMoreMsg: () => {
        isTouched.value = false;
        isNewsMsg.value = false;
        methods.onMsgListScrollBottom();
      },
      // 聊天框滚动条跟随
      onMsgListScrollBottom: debounce(
        () => {
          const ChatWrap: HTMLElement = document.getElementById('chat-msg-content') as any;
          const ChatInner: HTMLElement = document.getElementById('message-list-wrap') as any;
          if (!ChatWrap || !ChatWrap) return;
          const ChatWrapHeight = !!ChatWrap ? (ChatWrap.offsetHeight as number) : 0; // 外框固定
          const ChatInnerHeight = !!ChatInner ? (ChatInner.offsetHeight as number) : 0; // 聊天内容高度
          if (isTouched.value) {
            if (isNewsMsg.value) return;
            isNewsMsg.value = true;
            return;
          }
          if (ChatInnerHeight > ChatWrapHeight) {
            ChatWrap.scrollTop = ChatInnerHeight - ChatWrapHeight;
          }
        },
        200,
        { trailing: true }
      ),
      // 触摸滚动监听
      onTouchScroll: debounce(
        () => {
          const ChatWrap: HTMLElement = document.getElementById('chat-msg-content') as any;
          const ChatInner: HTMLElement = document.getElementById('message-list-wrap') as any;
          const ChatWrapHeight = ChatWrap.offsetHeight as number; // 外框固定
          const ChatInnerHeight = ChatInner.offsetHeight as number; // 聊天内容高度
          const ChatWrapScrollTop = ChatWrap.scrollTop;
          if (ChatWrapScrollTop + 20 >= ChatInnerHeight - ChatWrapHeight) {
            isTouched.value = false;
            isNewsMsg.value = false;
          } else {
            if (isTouched.value === true) return;
            isTouched.value = true;
          }
        },
        200,
        { trailing: true }
      ),
      getThemeStyle
    };

    onBeforeUnmount(() => {
      methods.handleListener(false);
    });
    const refData = toRefs(data);

    return {
      placeholderText,
      showMoreMessage,
      reportTypes,
      chatTitle,
      scrollMessageList,
      ...refData,
      ...methods
    };
  }
};
</script>
<style lang="less">
.chat-container {
  height: calc(100vh - 265px);
}
.popover_text {
  color: #696969;
  padding: 8px;
}
.report-dialog-box {
  border-radius: 15px 15px 0 0;
}
.chat_room_pop {
  height: calc(100% - 300px);
  // height: 300px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: @white;
}
.chat_box {
  width: 100%;
  height: 46px;
  position: fixed;
  bottom: 0px;
  z-index: 40;
  box-sizing: border-box;
  padding: 8px 0;
  background: @white;
  border-top: 1px solid @border-color;

  .inputs_box {
    height: 100%;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    margin: 0 15px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: @background-color;
    padding: 5px 8px;
    color: @gray-6;
    font-size: 12px;
    .msg-tips {
      width: 20px;
      height: 20px;
      position: relative;
      margin-right: 5px;
      .unread {
        width: 16px;
        height: 16px;
        background-color: @red;
        color: #fff;
        border-radius: 100px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        transform: scale(0.8);
        right: -6px;
        top: -6px;
        .unread-icon {
          width: 16px;
          height: 16px;
          fill: #fff;
        }
      }
      .msg-icon {
        width: 20px;
        height: 20px;
        fill: #696969;
      }
    }
    .scroll-text {
      width: 100%;
    }
  }
}

.chat_room_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .chat_room_header {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: @white;
    align-items: center;
    border-bottom: 1px solid @border-color;
    p {
      font-size: 12px;
      font-weight: 800;
      margin: 0;
      display: flex;
      align-items: center;
    }
    .van-icon-warning {
      color: #ddd;
    }
    .van-icon-arrow-down {
      color: #999;
    }
  }
  .chat_room_content {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    > .message-list-wrap {
      position: relative;
    }
  }
  .chat_room_footer {
    width: 100%;
    border-top: 1px solid @border-color;
    box-sizing: border-box;
    padding: 8px 16px;
    position: relative;

    .more-message-tip {
      position: absolute;
      top: -20px;
      left: 50%;
      background-color: @primary-color;
      text-align: center;
      font-size: 12px;
      padding: 3px 8px;
      line-height: 1;
      border-radius: 100px;
      color: #fff;
      transform: translateX(-50%);
    }

    .input-inner {
      background: @gray-1;
      display: flex;
      align-items: center;
      padding: 3px;
      border-radius: 18px;
      .lockIcon {
        width: 14px;
        height: 14px;
        display: inline-block;
        background: red;
        color: white;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        line-height: 14px;
        margin-left: 3px;
      }
    }

    .msg-input {
      margin: 0;
      flex: 1;
      border-radius: 18px;
      height: 100%;
      background: @gray-1;
      font-size: @font-size-xs;
      padding: 0 8px;
      &::after {
        display: none;
      }
    }
  }
}
.send-icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  > .svg-icon {
    display: block;
    width: 100%;
    height: 100%;
  }
  &.disabled-click {
    background-color: @white;
    > .svg-icon {
      fill: #bebebe;
    }
  }
  &.enable-click {
    background-color: @primary-color;
    > .svg-icon {
      fill: #fff;
    }
  }
}
</style>
