.keyboard {
  position: relative;
  &-input {
    display: flex;
    align-items: center;
    margin: 8px 16px;
    &-container {
      border: 1px solid #f2f2f2;
      border-radius: 12px;
      height: 40px;
      background-color: #fff;
      display: flex;
      padding: 0 16px;
      align-items: center;
      flex: 1;
    }
    .currency-code {
      font-size: 14px;
      color: #9a9a9a;
    }
    .placeholder-label {
      font-size: 12px;
      color: #9a9a9a;
      text-align: right;
      flex: 1;
    }
  }
}
.keyboard-container {
  display: flex;
  padding: 8px 12px;
  background: #f2f2f2;
  position: relative;
  &::after {
    position: absolute;
    right: 10%;
    top: -5px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #f2f2f2 transparent;
  }

  .keyboard-expand,
  .keyboard-numbers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .keyboard-expand {
    width: 25%;
    margin-right: 0;

    .btn-item {
      color: #b6a88d;
      &-warp {
        width: 100%;
      }

      &.max {
        background-image: linear-gradient(135deg, #e7c59d 0%, #b08857 100%);
        color: #fff;
      }
    }
  }

  .keyboard-numbers {
    width: 75%;
    .btn-item {
      color: @gray-8;
      &-warp {
        width: calc(100% / 3);
      }

      .svg-icon {
        width: 28px;
        height: 28px;
        fill: @gray-8;
      }
    }
  }

  .btn-item-warp {
    padding: 4px;

    .btn-item {
      background: #fff;
      border-radius: 6px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      transition: ease-in-out 0.1s;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

      &.btn-active {
        background-color: #e0e1e0;
        opacity: 0.7;
      }
    }
  }
}
