<template>
  <div class="login">
    <div class="login-logo">
      <img src="@/assets/kg_logo.png" />
      <div class="tips">*仅测试环境使用*</div>
    </div>
    <div class="login-form">
      <van-form @submit="onSubmit">
        <van-field
          v-model="form.username"
          name="用户名"
          placeholder="用户名"
          autocomplete="username"
          :rules="[{ required: true, message: '请填写用户名' }]"
        />
        <van-field
          v-model="form.password"
          type="password"
          autocomplete="current-password"
          name="密码"
          placeholder="密码"
          :rules="[{ required: true, message: '请填写密码' }]"
        />
        <van-button round class="login-inp" native-type="submit" :loading="isLogining">Sign in</van-button>
      </van-form>
    </div>
  </div>
</template>

<script lang="ts">
import { reactive, ref } from 'vue';
import { captchaCode, jumpGameApi, signInApi, UserLoginForm } from '@/services';

import { Button, Form, Field, Toast } from 'vant';
import { CaptchaType } from '../Captcha';
import { Captcha } from '@/components';
import { jsencrypt, setLoginData, isMobile } from '@/common';

import { useStore } from 'vuex';

export default {
  components: { 'van-button': Button, 'van-form': Form, 'van-field': Field },
  setup() {
    const isLogining = ref(false);
    const store = useStore();

    const form = reactive<UserLoginForm>({
      username: '',
      password: '',
      geetest_seccode: '',
      geetest_validate: '',
      geetest_challenge: ''
    });

    // 打开验证器
    const openCaptcha = async () => {
      if (isLogining.value) return;
      isLogining.value = true;

      const prams = { name: CaptchaType.GEETEST, clientType: 'web' };
      const { data, result } = await captchaCode(prams);
      if (result) {
        const captcha = new Captcha({
          type: CaptchaType.GEETEST,
          config: {
            gt: data.gt,
            challenge: data.challenge
          },
          onSuccess: async (prams: any) => {
            form.geetest_challenge = prams.geetest_challenge;
            form.geetest_seccode = prams.geetest_seccode;
            form.geetest_validate = prams.geetest_validate;
            await onSubmit();
          },
          onClose: () => (isLogining.value = false),
          onFail: () => (isLogining.value = false)
        });
        captcha.open();
      }
    };

    const onSubmit = async () => {
      isLogining.value = true;
      const { data, result, code, message } = await signInApi({
        ...form,
        password: await jsencrypt(form.password)
      });
      isLogining.value = false;
      if (code === 20003) {
        openCaptcha();
        return;
      }
      if (result) {
        const { accessToken, tokenExpireIn, useInfo } = data;
        setLoginData({ account: useInfo.account, token: accessToken, expireIn: tokenExpireIn });
        await store.dispatch('OAUTH_SUCCESS');
        const {
          data: jumpData,
          result: res,
          message
        } = await jumpGameApi({ kindCode: 'IM_SPORT', gameType: 'IMSPORT' });
        if (res) {
          const jumpToken = jumpData.split('token=')[1].split('&')[0];
          setLoginData({ account: useInfo.account, token: accessToken, expireIn: tokenExpireIn, jumpToken });
        } else {
          Toast.fail(message);
          return;
        }
        if (isMobile) {
          await (window.location.href = '/');
        } else {
          await (window.location.href = '/web');
        }
      } else {
        Toast({
          type: 'fail',
          message
        });
      }
    };

    return {
      form,
      isLogining,
      onSubmit,
      openCaptcha
    };
  }
};
</script>

<style lang="less" scoped>
.login {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  z-index: 0;
  padding: 50px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &-logo {
    > img {
      width: 50%;
      display: block;
      margin: 20px auto;
    }
    .tips {
      text-align: center;
      line-height: 2;
      font-size: 12px;
      color: red;
    }
  }
  .login-inp {
    width: 100%;
    margin-top: 50px;
  }
}
</style>
