.page {
  .header {
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 16px 0 22px;

    &::before {
      position: absolute;
      content: ' ';
      width: 2px;
      height: 12px;
      top: 17px;
      background: @primary-color;
      left: 16px;
    }
  }

  .headerIcon {
    width: 16px;
    height: 16px;
    background-image: linear-gradient(156deg, #cacaca 4%, #9a9a9a 100%);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .contentItem {
    margin-top: 12px;
    display: flex;
    padding: 0 16px 12px;
    border-bottom: 1px solid #f2f2f2;
  }

  .liveIcon {
    flex-grow: 0;
    width: 23px;
    height: 23px;
    background-size: 100% 100%;
    flex-shrink: 0;
  }

  .liveTextBox {
    margin-left: 12px;
  }

  .liveHeader {
    display: flex;
    align-items: center;
  }

  .liveTeamName {
    font-size: 12px;
    color: #9a9a9a;
    margin-left: 4px;
  }

  .liveText {
    font-size: 12px;
    color: #000;
    margin-top: 5px;
  }
}

.icont_box {
  width: 15px;
  height: 15px;
}
.Tishi_box {
  padding: 8px 10px;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .card_item {
    flex: 1;
    width: 25%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 3px;
    justify-content: flex-start;
    min-width: 25%; // 加入这两个后每个item的宽度就生效了
    max-width: 25%;

    .text_s {
      font-size: 12px;
      white-space: nowrap;
      color: #8a8989;
      margin-left: 2px;
      transform: scale(0.8);
    }
  }
}

.logo {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
