<template>
  <el-image :src="src" :style="`width: ${size}px;height: ${size}px;`">
    <template #error>
      <div class="default-logo" :style="{ backgroundImage: `url(${defaultTeamLogo || defaultTeamLogo2})` }"></div>
    </template>
    <template #placeholder>
      <div class="default-logo" :style="{ backgroundImage: `url(${defaultTeamLogo || defaultTeamLogo2})` }"></div>
    </template>
  </el-image>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import defaultTeamLogo2 from '@/assets/defalut_team_logo_green.png';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'TeamLogo',
  props: {
    teamName: {
      default: null,
      type: String
    },
    leagueName: {
      default: null,
      type: String
    },
    leagueId: {
      default: null,
      type: Number
    },
    sportId: {
      default: 1,
      type: Number
    },
    teamId: {
      default: null,
      type: Number
    },
    size: {
      default: 18,
      type: Number
    }
  },
  setup() {
    const store = useStore();
    const defaultTeamLogo = store.getters.defaultLogo;

    const src = computed(() => '');
    return {
      src,
      defaultTeamLogo,
      defaultTeamLogo2
    };
  }
});
</script>

<style lang="less" scoped>
.default-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
</style>
